---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/*Ticket Master Style*/

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin transition ($time: 0.35s){
  -webkit-transition: all $time ease;
  -moz-transition: all $time ease;
  -o-transition: all $time ease;
  transition: all $time ease;
}
@mixin  border-radius ($r){
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  border-radius: $r;
}
@mixin font-size-lh($size:1.6, $line: $size * 1.5){
  font-size:   $size + px;
  line-height: $line + px;
}
@mixin img-responsive($display: block) {
  display: $display;
  width: 100% \9; // Force IE10 and below to size SVG images correctly
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}
@mixin rotate($rotate: 0) {
  -webkit-transform: rotate($rotate + deg);
  -moz-transform: rotate($rotate + deg);
  -o-transform: rotate($rotate + deg);
  -ms-transform: rotate($rotate + deg);
  transform: rotate($rotate + deg);
}

@mixin placeholder($color, $opacity: 1 ){
  &::-webkit-input-placeholder {
    color: $color;
    opacity: $opacity;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $color;
    opacity: $opacity;
  }
  &::-moz-placeholder {  /* Firefox 19+ */
    color: $color;
    opacity: $opacity;
  }
  &:-ms-input-placeholder {
    color: $color;
    opacity: $opacity;
  }
}
@mixin width($width,$padding){
  width: $width - $padding*2 + px;
}
@mixin sliced-image($position, $orientation) {
  display: block;
  clear: both;
  content: "";
  width: 100%;
  height: 160px;
  position: absolute;
  @if $orientation == 'right'{
    @if $position == 'top'{
      top: 0;
      background-image: url('../assets/img/slice-top-right.svg');
    }
    @else{
      bottom: 0;
      background-image: url('../assets/img/slice-bottom-right.svg');
    }
  }
  @else{
    @if $position == 'top'{
      top: 0;
      background-image: url('../assets/img/slice-top-left.svg');
    }
    @else{
      bottom: 0;
      background-image: url('../assets/img/slice-bottom-left.svg');
    }
  }
}

/*Ticket Master Style END*/


// Import partials from `sass_dir` (defaults to `_sass`)
@import
"bootstrap",
"fonts",
"vars",
"base",
"layout",
"typography",
"syntax-highlighting",
"pages/home",
"pages/documentation",
"pages/documentation-single",
"pages/products-and-docs",
"pages/partners",
"pages/partners-doc",
"pages/blogs",
"pages/events",
"pages/under_development",
"pages/base-content",
"pages/interactive-console",
"pages/search",
"pages/startups-and-developers",
"pages/branding-guide",
"pages/widget",
"pages/contact-us",
"components/top-bar",
"components/bottom-bar",
"components/table",
"components/aside-menu",
"components/common-dialog",
"components/feedback",
"components/custom-select",
"components/table-collapse",
"components/list-collapse",
"components/slick",
"components/slick-theme",
"components/widget-dialog"
;
