---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/*Ticket Master Style*/

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin transition ($time: 0.35s){
  -webkit-transition: all $time ease;
  -moz-transition: all $time ease;
  -o-transition: all $time ease;
  transition: all $time ease;
}
@mixin  border-radius ($r){
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  border-radius: $r;
}
@mixin font-size-lh($size:1.6, $line: $size * 1.5){
  font-size:   $size + px;
  line-height: $line + px;
}
@mixin img-responsive($display: block) {
  display: $display;
  width: 100% \9; // Force IE10 and below to size SVG images correctly
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}
@mixin rotate($rotate: 0) {
  -webkit-transform: rotate($rotate + deg);
  -moz-transform: rotate($rotate + deg);
  -o-transform: rotate($rotate + deg);
  -ms-transform: rotate($rotate + deg);
  transform: rotate($rotate + deg);
}

@mixin placeholder($color, $opacity: 1 ){
  &::-webkit-input-placeholder {
    color: $color;
    opacity: $opacity;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $color;
    opacity: $opacity;
  }
  &::-moz-placeholder {  /* Firefox 19+ */
    color: $color;
    opacity: $opacity;
  }
  &:-ms-input-placeholder {
    color: $color;
    opacity: $opacity;
  }
}
@mixin width($width,$padding){
  width: $width - $padding*2 + px;
}
@mixin sliced-image($position, $orientation) {
  display: block;
  clear: both;
  content: "";
  width: 100%;
  height: 180px;
  background-color: $white;
  @if $orientation == 'right'{
    transform: matrix(1.06,-0.089,0,1,0,0);
  }
  @if $orientation == 'left'{
    transform: matrix(1.06,0.082,0,1,0,0);
  }
  @if $position == 'bottom'{
    margin-bottom: -235px;
  }
  @else {
    margin: -80px 0;
  }
  @media (max-width: 1440px) {
    height: 143px;
  }
  @media (max-width: 1200px) {
    height: 160px;
  }
}

/*Ticket Master Style END*/


// Import partials from `sass_dir` (defaults to `_sass`)
@import
"bootstrap",
"fonts",
"vars",
"base",
"layout",
"typography",
"syntax-highlighting",
"pages/home",
"pages/documentation",
"pages/documentation-single",
"components/top-bar",
"components/bottom-bar",
"components/table",
"components/aside-menu"
;
