/scripts/vendors/jquery-1.11.3.js
_site
.idea
.sass-cache
.jekyll-metadata

tests/galen/reports-local

# NodeJS libs
node_modules
npm-debug.log


# Ignore Mac DS_Store files
.DS_Store
Gemfile.lock

# Ignore Local automation files
/tests/serenity/target/*
!/tests/serenity/target/site/
/tests/serenity/.idea
/tests/serenity/*.iml
