language: java
dist: trusty
addons:
  firefox: "latest"
node_js:
  - "7.10.0"

jdk:
  - oraclejdk8

env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer
  - TEST_SEVERITY=CRITICAL # set: LOW , MEDIUM , HIGH , CRITICAL

# whitelist
branches:
  only:
    - master
    - dev
    - ran-test

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 10 # give xvfb some time to start
  - sh ./tests/levels/before-run-test.sh #copy content & build

script:
  - jekyll serve &
  - sleep 15 # give jekyll some time to start
  - rake travis:test --trace --verbose

after_success:
  - echo Success
  - rake travis:deploy --trace --verbose
  - rake travis:report --trace --verbose

after_failure:
  - echo FAIL
  - rake travis:report --trace --verbose

after_script:
  - echo AFTER_SCRIPT

notifications:
  email:
    recipients: #will receive notification, if admin turn it on, in https://github.com/settings/
        - oleksandr_kovalov@epam.com
        - de.gratnik@gmail.com
    on_success: never
    on_failure: always
  #slack: ticketmaster:iRbg43K4KnpMyku2u35IIMRg

before_install:
  - rvm install 2.2.4
  - gem install html-proofer
  - gem install github-pages
  - nvm install 7.10
#  - npm install -g galenframework-cli ignored as not needed already
  - export CHROME_BIN=/usr/bin/google-chrome
  - /usr/bin/Xvfb :99 -ac -screen 0 1600x1366x16 -extension RANDR &
  - sudo apt-get update
  - sudo apt-get install -y libappindicator1 fonts-liberation
  - wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
  - sudo dpkg -i google-chrome*.deb

