{
    "swagger": "2.0",
    "info": {
        "title": "Discovery API v1(PIM api test)",
        "description": "Work with assets using this API.\nIf update operation (create, update, delete) fails if at least one operation with items from parameters fails.\n",
        "version": "1.0.7"
    },
    "host": "api.pim.com",
    "schemes": [
        "https"
    ],
    "basePath": "/v1",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/assets/{assetId}": {
            "get": {
                "summary": "Get the asset by id.",
                "description": "Returns the asset.\n",
                "parameters": [
                    {
                        "name": "assetId",
                        "in": "path",
                        "description": "Asset id.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Assets"
                ],
                "responses": {
                    "200": {
                        "description": "An asset.",
                        "schema": {
                            "$ref": "#/definitions/Asset"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/assets": {
            "get": {
                "summary": "Get assets",
                "description": "Returns assets.\n",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "Keyword for search.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "assetType",
                        "in": "query",
                        "description": "Filter by multiple asset types. Example: \"assetType=Product,Component\"\n",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by asset status. Example: \"status=Active,Inactive\"\n",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "startDate",
                        "in": "query",
                        "description": "Filter by asset update time (from the specified date).",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "endDate",
                        "in": "query",
                        "description": "Filter by asset update time (till the specified date).",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "view",
                        "in": "query",
                        "description": "Attributes to return. Comma separated list. Example: \"attr1,attr2\".\n",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Multiple sign-based sort order. No sign - ascending, minus sign - descending. Example: \"sort=displayName,-status\"\n",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number.",
                        "required": false,
                        "type": "number",
                        "format": "integer"
                    },
                    {
                        "name": "resultsPerPage",
                        "in": "query",
                        "description": "Page size.",
                        "required": false,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "Assets"
                ],
                "responses": {
                    "200": {
                        "description": "An array of assets",
                        "schema": {
                            "$ref": "#/definitions/AssetsResult"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "summary": "Create assets.",
                "description": "Returns success or an error.\n",
                "parameters": [
                    {
                        "name": "assets",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/AssetsNew"
                        },
                        "description": "Assets.",
                        "required": true
                    }
                ],
                "tags": [
                    "Assets"
                ],
                "responses": {
                    "200": {
                        "description": "Success."
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "Update assets.",
                "description": "Returns success or an error.\n",
                "parameters": [
                    {
                        "name": "assets",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Assets"
                        },
                        "description": "Assets.",
                        "required": true
                    }
                ],
                "tags": [
                    "Assets"
                ],
                "responses": {
                    "200": {
                        "description": "Success."
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete of asset.",
                "description": "Returns success or an error.\n",
                "parameters": [
                    {
                        "name": "assets",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/AssetIDs"
                        },
                        "description": "Assets for delete.",
                        "required": true
                    }
                ],
                "tags": [
                    "Assets"
                ],
                "responses": {
                    "200": {
                        "description": "Success."
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/assets/bulk/search": {
            "post": {
                "summary": "Bulk search in assets.",
                "description": "Returns search result.\n",
                "parameters": [
                    {
                        "name": "searchRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/BulkSearchRequest"
                        },
                        "description": "Search request.",
                        "required": true
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Multiple sign-based sort order. No sign - ascending, minus sign - descending. Example: \"sort={attrinuteTypeId}\". Note! \"0\" is reserved for keyword column sorting.\n",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number.",
                        "required": false,
                        "type": "number",
                        "format": "integer"
                    },
                    {
                        "name": "resultsPerPage",
                        "in": "query",
                        "description": "Page size.",
                        "required": false,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "Assets"
                ],
                "responses": {
                    "200": {
                        "description": "An array of assets",
                        "schema": {
                            "$ref": "#/definitions/BulkSearchResult"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/assets/search": {
            "get": {
                "summary": "Search in assets. Pagination inside assets array.",
                "description": "Returns assets.\n",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "Keyword for search.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "assetTypeId",
                        "in": "query",
                        "description": "Asset type id for search.\n",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "exclude",
                        "in": "query",
                        "description": "Attributes to exclude from search. Comma separated list. Example: \"attr1,attr2\".\n",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "resultsPerTile",
                        "in": "query",
                        "description": "The amount of TOP elements in each group to return for preview (default, when not set - 3)\n",
                        "required": false,
                        "type": "number",
                        "format": "integer"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number.",
                        "required": false,
                        "type": "number",
                        "format": "integer"
                    },
                    {
                        "name": "resultsPerPage",
                        "in": "query",
                        "description": "Page size.",
                        "required": false,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "Assets"
                ],
                "responses": {
                    "200": {
                        "description": "An array of assets",
                        "schema": {
                            "$ref": "#/definitions/SearchResultWithPagination"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/assets/search/{filterByAssetTypeId}": {
            "get": {
                "summary": "Search in assets and returns assets only specified type. Pagination inside AssetsBytype array.",
                "description": "Returns assets.\n",
                "parameters": [
                    {
                        "name": "filterByAssetTypeId",
                        "in": "path",
                        "description": "Asset type id for filter.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "Keyword for search.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "assetTypeId",
                        "in": "query",
                        "description": "Asset type id for search.\n",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "exclude",
                        "in": "query",
                        "description": "Attributes to exclude from search. Comma separated list. Example: \"attr1,attr2\".\n",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number.",
                        "required": false,
                        "type": "number",
                        "format": "integer"
                    },
                    {
                        "name": "resultsPerPage",
                        "in": "query",
                        "description": "Page size.",
                        "required": false,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "Assets"
                ],
                "responses": {
                    "200": {
                        "description": "An array of assets",
                        "schema": {
                            "$ref": "#/definitions/SearchResultWithPagination"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/assets/{extSource}/{extId}": {
            "get": {
                "summary": "Get the asset by external id.",
                "description": "Returns the asset.\n",
                "parameters": [
                    {
                        "name": "extSource",
                        "in": "path",
                        "description": "External source.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "extId",
                        "in": "path",
                        "description": "Asset external id.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Assets"
                ],
                "responses": {
                    "200": {
                        "description": "An asset.",
                        "schema": {
                            "$ref": "#/definitions/Asset"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/links/{linkId}": {
            "get": {
                "summary": "Get the link by id.",
                "description": "Returns the link.\n",
                "parameters": [
                    {
                        "name": "linkId",
                        "in": "path",
                        "description": "Link id.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Links"
                ],
                "responses": {
                    "200": {
                        "description": "An link.",
                        "schema": {
                            "$ref": "#/definitions/Links"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/links": {
            "get": {
                "summary": "Get links",
                "description": "Returns links.\n",
                "parameters": [
                    {
                        "name": "assetIdLeft",
                        "in": "query",
                        "description": "The left link asset id.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "assetIdRight",
                        "in": "query",
                        "description": "The right link asset id.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number.",
                        "required": false,
                        "type": "number",
                        "format": "integer"
                    },
                    {
                        "name": "resultsPerPage",
                        "in": "query",
                        "description": "Page size.",
                        "required": false,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "Links"
                ],
                "responses": {
                    "200": {
                        "description": "An array of links",
                        "schema": {
                            "$ref": "#/definitions/LinksResult"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "summary": "Create links.",
                "description": "Returns success or an error.\n",
                "parameters": [
                    {
                        "name": "assets",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/LinksNew"
                        },
                        "description": "Links.",
                        "required": true
                    }
                ],
                "tags": [
                    "Links"
                ],
                "responses": {
                    "200": {
                        "description": "Success."
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "Update links.",
                "description": "Returns success or an error.\n",
                "parameters": [
                    {
                        "name": "links",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Links"
                        },
                        "description": "Links.",
                        "required": true
                    }
                ],
                "tags": [
                    "Links"
                ],
                "responses": {
                    "200": {
                        "description": "Success."
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete assets.",
                "description": "Returns success or an error.\n",
                "parameters": [
                    {
                        "name": "links",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/LinkIDs"
                        },
                        "description": "Links for delete.",
                        "required": true
                    }
                ],
                "tags": [
                    "Links"
                ],
                "responses": {
                    "200": {
                        "description": "Success."
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/assettypes/{assettypeId}": {
            "get": {
                "summary": "Get the asset type by id.",
                "description": "Returns the asset type.\n",
                "parameters": [
                    {
                        "name": "assettypeId",
                        "in": "path",
                        "description": "Asset type id.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Metadata",
                    "Asset types"
                ],
                "responses": {
                    "200": {
                        "description": "An asset type.",
                        "schema": {
                            "$ref": "#/definitions/AssetTypeNew"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/assettypes": {
            "get": {
                "summary": "Get asset types",
                "description": "Returns asset types.\n",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number.",
                        "required": false,
                        "type": "number",
                        "format": "integer"
                    },
                    {
                        "name": "resultsPerPage",
                        "in": "query",
                        "description": "Page size.",
                        "required": false,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "Metadata",
                    "Asset types"
                ],
                "responses": {
                    "200": {
                        "description": "An asset type.",
                        "schema": {
                            "$ref": "#/definitions/AssetTypesResult"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "summary": "Сreate asset types.",
                "description": "Returns success or an error.\n",
                "parameters": [
                    {
                        "name": "assetTypes",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/AssetTypesNew"
                        },
                        "description": "Asset types.",
                        "required": true
                    }
                ],
                "tags": [
                    "Metadata",
                    "Asset types"
                ],
                "responses": {
                    "200": {
                        "description": "Success."
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "Update asset types.",
                "description": "Returns success or an error.\n",
                "parameters": [
                    {
                        "name": "assetTypes",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/AssetTypes"
                        },
                        "description": "Asset types.",
                        "required": true
                    }
                ],
                "tags": [
                    "Metadata",
                    "Asset types"
                ],
                "responses": {
                    "200": {
                        "description": "Success."
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete asset types.",
                "description": "Returns success or an error.\n",
                "parameters": [
                    {
                        "name": "assetTypes",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/AssetTypeIDs"
                        },
                        "description": "Asset types for delete.",
                        "required": true
                    }
                ],
                "tags": [
                    "Metadata",
                    "Asset types"
                ],
                "responses": {
                    "200": {
                        "description": "Success."
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/attributetypes/{attributeTypeId}": {
            "get": {
                "summary": "Get the attribute type by id.",
                "description": "Returns the attribute type.\n",
                "parameters": [
                    {
                        "name": "attributeTypeId",
                        "in": "path",
                        "description": "Attribute type id.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Metadata",
                    "Attribute types"
                ],
                "responses": {
                    "200": {
                        "description": "An attribute type.",
                        "schema": {
                            "$ref": "#/definitions/AttributeTypeNew"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/attributetypes": {
            "get": {
                "summary": "Get attribute types",
                "description": "Returns all attribute types.\n",
                "parameters": [
                    {
                        "name": "assetType",
                        "in": "query",
                        "description": "Asset type.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "isRequired",
                        "in": "query",
                        "description": "Is required.",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number.",
                        "required": false,
                        "type": "number",
                        "format": "integer"
                    },
                    {
                        "name": "resultsPerPage",
                        "in": "query",
                        "description": "Page size.",
                        "required": false,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "Metadata",
                    "Attribute types"
                ],
                "responses": {
                    "200": {
                        "description": "An array of attribute types",
                        "schema": {
                            "$ref": "#/definitions/AttributeTypesResult"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "summary": "Create attribute types.",
                "description": "Returns success or an error.\n",
                "parameters": [
                    {
                        "name": "attributeTypes",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/AttributeTypesNew"
                        },
                        "description": "Attribute types.",
                        "required": true
                    }
                ],
                "tags": [
                    "Metadata",
                    "Attribute types"
                ],
                "responses": {
                    "200": {
                        "description": "Success."
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "Update attribute types.",
                "description": "Returns success or an error.\n",
                "parameters": [
                    {
                        "name": "attributeTypes",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/AttributeTypes"
                        },
                        "description": "Attribute types.",
                        "required": true
                    }
                ],
                "tags": [
                    "Metadata",
                    "Attribute types"
                ],
                "responses": {
                    "200": {
                        "description": "Success."
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete attribute types.",
                "description": "Returns success or an error.\n",
                "parameters": [
                    {
                        "name": "attributeTypes",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/AttributeTypeIDs"
                        },
                        "description": "Attribute types for delete.",
                        "required": true
                    }
                ],
                "tags": [
                    "Metadata",
                    "Attribute types"
                ],
                "responses": {
                    "200": {
                        "description": "Success."
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/linkrules/{linkruleId}": {
            "get": {
                "summary": "Get the link rule by id.",
                "description": "Returns the link rule.\n",
                "parameters": [
                    {
                        "name": "linkruleId",
                        "in": "path",
                        "description": "Link rule id.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Metadata",
                    "Link rules"
                ],
                "responses": {
                    "200": {
                        "description": "A link rule.",
                        "schema": {
                            "$ref": "#/definitions/LinkRuleNew"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/linkrules": {
            "get": {
                "summary": "Search in link rules",
                "description": "Returns all link rules.\n",
                "parameters": [
                    {
                        "name": "assetTypeIdLeft",
                        "in": "query",
                        "description": "The first link asset type id.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "assetTypeIdRight",
                        "in": "query",
                        "description": "The second link asset type id.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number.",
                        "required": false,
                        "type": "number",
                        "format": "integer"
                    },
                    {
                        "name": "resultsPerPage",
                        "in": "query",
                        "description": "Page size.",
                        "required": false,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "Metadata",
                    "Link rules"
                ],
                "responses": {
                    "200": {
                        "description": "An array of link rules",
                        "schema": {
                            "$ref": "#/definitions/LinkRulesResult"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "summary": "Create link rules.",
                "description": "Returns success or an error.\n",
                "parameters": [
                    {
                        "name": "linkRules",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/LinkRulesNew"
                        },
                        "description": "Link rules.",
                        "required": true
                    }
                ],
                "tags": [
                    "Metadata",
                    "Link rules",
                    "Bulk"
                ],
                "responses": {
                    "200": {
                        "description": "Success."
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "Update link rules.",
                "description": "Returns success or an error.\n",
                "parameters": [
                    {
                        "name": "linkRules",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/LinkRules"
                        },
                        "description": "Link rules.",
                        "required": true
                    }
                ],
                "tags": [
                    "Metadata",
                    "Link rules"
                ],
                "responses": {
                    "200": {
                        "description": "Success."
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete link rules.",
                "description": "Returns success or an error.\n",
                "parameters": [
                    {
                        "name": "linkRules",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/LinkRuleIDs"
                        },
                        "description": "Link rules for delete.",
                        "required": true
                    }
                ],
                "tags": [
                    "Metadata",
                    "Link rules"
                ],
                "responses": {
                    "200": {
                        "description": "Success."
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/audits/{tableName}": {
            "get": {
                "summary": "Get audits for specified table name",
                "description": "Returns audit entries for specified table name.\n",
                "parameters": [
                    {
                        "name": "tableName",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Table name to get audits for (`asset`, `link`, `asset_type`, `attribute_type`, `link_rule`)\n"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number.",
                        "required": false,
                        "type": "number",
                        "format": "integer"
                    },
                    {
                        "name": "resultsPerPage",
                        "in": "query",
                        "description": "Page size.",
                        "required": false,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "History",
                    "Auditns"
                ],
                "responses": {
                    "200": {
                        "description": "An array of audits",
                        "schema": {
                            "$ref": "#/definitions/AuditsResult"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/audits/{tableName}/{entityId}": {
            "get": {
                "summary": "Get audits for specified table name and entity id",
                "description": "Returns audit entries for specified table name and entity id.\n",
                "parameters": [
                    {
                        "name": "tableName",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Table name to get audits for (`asset`, `link`, `asset_type`, `attribute_type`, `link_rule`)\n"
                    },
                    {
                        "name": "entityId",
                        "in": "path",
                        "type": "integer",
                        "required": true,
                        "description": "Entity id to get audits for (id field from `tableName` table)\n"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number.",
                        "required": false,
                        "type": "number",
                        "format": "integer"
                    },
                    {
                        "name": "resultsPerPage",
                        "in": "query",
                        "description": "Page size.",
                        "required": false,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "History",
                    "Audits"
                ],
                "responses": {
                    "200": {
                        "description": "An array of audits",
                        "schema": {
                            "$ref": "#/definitions/AuditsResult"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "BulkSearchRequest": {
            "type": "object",
            "properties": {
                "keywords": {
                    "type": "array",
                    "description": "Keywords for search.",
                    "items": {
                        "type": "string",
                        "description": "Keyword."
                    }
                },
                "attributeTypeIds": {
                    "type": "array",
                    "description": "Attribute types Ids for search.",
                    "items": {
                        "type": "number",
                        "description": "Attribute type Id."
                    }
                }
            }
        },
        "PageInfo": {
            "type": "object",
            "description": "Pagination object.",
            "properties": {
                "resultsPerPage": {
                    "type": "number",
                    "description": "Page size."
                },
                "totalCount": {
                    "type": "number",
                    "description": "Total elements."
                },
                "totalPages": {
                    "type": "number",
                    "description": "Total pages."
                },
                "pageNumber": {
                    "type": "number",
                    "description": "Page number."
                }
            }
        },
        "BulkSearchResult": {
            "type": "object",
            "properties": {
                "attributeTypeIds": {
                    "type": "array",
                    "description": "Attribute types Ids for search.",
                    "items": {
                        "type": "number",
                        "description": "Attribute type Id."
                    }
                },
                "searchItems": {
                    "type": "array",
                    "description": "Search result items.",
                    "items": {
                        "$ref": "#/definitions/SearchResultItem"
                    }
                },
                "page": {
                    "$ref": "#/definitions/PageInfo"
                }
            }
        },
        "SearchResultItem": {
            "type": "object",
            "properties": {
                "assetId": {
                    "type": "integer",
                    "description": "Asset id."
                },
                "keyword": {
                    "type": "string",
                    "description": "Keyword."
                },
                "attributes": {
                    "type": "array",
                    "description": "Attribute values. Array size is equal to size of attributeTypeIds array.",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "SearchResultWithPagination": {
            "type": "object",
            "properties": {
                "filterByAttributes": {
                    "type": "array",
                    "description": "Top attributes.",
                    "items": {
                        "type": "string",
                        "description": "Attribute."
                    }
                },
                "assetGroups": {
                    "type": "array",
                    "description": "Array of assets grouped by type.",
                    "items": {
                        "$ref": "#/definitions/AssetsByType"
                    }
                },
                "page": {
                    "$ref": "#/definitions/PageInfo"
                }
            }
        },
        "AssetsByType": {
            "type": "object",
            "properties": {
                "assetTypeId": {
                    "type": "integer",
                    "description": "Unique identifier."
                },
                "totalCount": {
                    "type": "number",
                    "description": "Total elements."
                },
                "assets": {
                    "type": "array",
                    "description": "Array of assets.",
                    "items": {
                        "$ref": "#/definitions/Asset"
                    }
                }
            }
        },
        "AssetsResult": {
            "type": "object",
            "properties": {
                "assets": {
                    "type": "array",
                    "description": "Array of assets.",
                    "items": {
                        "$ref": "#/definitions/Asset"
                    }
                },
                "page": {
                    "$ref": "#/definitions/PageInfo"
                }
            }
        },
        "Assets": {
            "type": "object",
            "properties": {
                "assets": {
                    "type": "array",
                    "description": "Array of assets.",
                    "items": {
                        "$ref": "#/definitions/Asset"
                    }
                }
            }
        },
        "AssetIDs": {
            "type": "object",
            "properties": {
                "assets": {
                    "type": "array",
                    "description": "Array of assets's ids.",
                    "items": {
                        "$ref": "#/definitions/AssetID"
                    }
                }
            }
        },
        "AssetsNew": {
            "type": "object",
            "properties": {
                "assets": {
                    "type": "array",
                    "description": "Array of assets.",
                    "items": {
                        "$ref": "#/definitions/AssetNew"
                    }
                }
            }
        },
        "AssetNew": {
            "type": "object",
            "properties": {
                "assetTypeId": {
                    "type": "integer",
                    "description": "Unique identifier."
                },
                "extId": {
                    "type": "string",
                    "description": "External Id."
                },
                "extSource": {
                    "type": "string",
                    "description": "External source."
                },
                "displayName": {
                    "type": "string",
                    "description": "Display name."
                },
                "doc": {
                    "type": "object",
                    "description": "Asset content."
                }
            }
        },
        "Asset": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "description": "Unique identifier."
                },
                "assetTypeId": {
                    "type": "integer",
                    "description": "Unique identifier."
                },
                "extId": {
                    "type": "string",
                    "description": "External Id."
                },
                "extSource": {
                    "type": "string",
                    "description": "External source."
                },
                "displayName": {
                    "type": "string",
                    "description": "Display name."
                },
                "doc": {
                    "type": "object",
                    "description": "Asset content."
                },
                "created": {
                    "type": "string",
                    "description": "Creation time."
                },
                "updated": {
                    "type": "string",
                    "description": "Last update time."
                },
                "user": {
                    "type": "string",
                    "description": "The user who recently updated the asset."
                },
                "deleted": {
                    "type": "boolean",
                    "description": "Flag that shows whether the asset deleted or not."
                }
            }
        },
        "AssetID": {
            "type": "string",
            "description": "Unique identifier."
        },
        "LinksResult": {
            "type": "object",
            "properties": {
                "links": {
                    "type": "array",
                    "description": "Array of links.",
                    "items": {
                        "$ref": "#/definitions/Link"
                    }
                },
                "page": {
                    "$ref": "#/definitions/PageInfo"
                }
            }
        },
        "Links": {
            "type": "object",
            "properties": {
                "links": {
                    "type": "array",
                    "description": "Array of links.",
                    "items": {
                        "$ref": "#/definitions/Link"
                    }
                }
            }
        },
        "LinkIDs": {
            "type": "object",
            "properties": {
                "links": {
                    "type": "array",
                    "description": "Array of link's ids.",
                    "items": {
                        "$ref": "#/definitions/LinkID"
                    }
                }
            }
        },
        "LinksNew": {
            "type": "object",
            "properties": {
                "links": {
                    "type": "array",
                    "description": "Array of links.",
                    "items": {
                        "$ref": "#/definitions/LinkNew"
                    }
                }
            }
        },
        "LinkNew": {
            "type": "object",
            "properties": {
                "linkRuleId": {
                    "type": "integer",
                    "description": "Link rule id."
                },
                "parentAssetId": {
                    "type": "integer",
                    "description": "Unique identifier of the Parent asset."
                },
                "childAssetId": {
                    "type": "integer",
                    "description": "Unique identifier of the Child asset."
                }
            }
        },
        "Link": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "description": "Unique identifier."
                },
                "linkRuleId": {
                    "type": "integer",
                    "description": "Link rule id."
                },
                "parentAssetId": {
                    "type": "integer",
                    "description": "Unique identifier of the Parent asset."
                },
                "childAssetId": {
                    "type": "integer",
                    "description": "Unique identifier of the Child asset."
                },
                "created": {
                    "type": "string",
                    "description": "Creation time."
                },
                "updated": {
                    "type": "string",
                    "description": "Last update time."
                },
                "user": {
                    "type": "string",
                    "description": "The user"
                }
            }
        },
        "LinkID": {
            "type": "string",
            "description": "Unique identifier."
        },
        "AssetTypesResult": {
            "type": "object",
            "properties": {
                "assetTypes": {
                    "type": "array",
                    "description": "Array of asset types.",
                    "items": {
                        "$ref": "#/definitions/AssetType"
                    }
                },
                "page": {
                    "$ref": "#/definitions/PageInfo"
                }
            }
        },
        "AssetTypes": {
            "type": "object",
            "properties": {
                "assetTypes": {
                    "type": "array",
                    "description": "Array of asset types.",
                    "items": {
                        "$ref": "#/definitions/AssetType"
                    }
                }
            }
        },
        "AssetTypeIDs": {
            "type": "object",
            "properties": {
                "assetTypes": {
                    "type": "array",
                    "description": "Array of asset type's ids.",
                    "items": {
                        "$ref": "#/definitions/AssetTypeID"
                    }
                }
            }
        },
        "AssetTypesNew": {
            "type": "object",
            "properties": {
                "assetTypes": {
                    "type": "array",
                    "description": "Array of asset types.",
                    "items": {
                        "$ref": "#/definitions/AssetTypeNew"
                    }
                }
            }
        },
        "AssetType": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "description": "Unique identifier."
                },
                "type": {
                    "type": "string",
                    "description": "Asset type."
                },
                "displayName": {
                    "type": "string",
                    "description": "Asset type display name."
                },
                "created": {
                    "type": "string",
                    "description": "Creation time."
                },
                "updated": {
                    "type": "string",
                    "description": "Last update time."
                },
                "user": {
                    "type": "string",
                    "description": "The user."
                }
            }
        },
        "AssetTypeNew": {
            "type": "object",
            "properties": {
                "type": {
                    "type": "string",
                    "description": "Asset type."
                },
                "displayName": {
                    "type": "string",
                    "description": "Asset type display name."
                }
            }
        },
        "AssetTypeID": {
            "type": "string",
            "description": "Unique identifier."
        },
        "AttributeTypesResult": {
            "type": "object",
            "properties": {
                "attributeTypes": {
                    "type": "array",
                    "description": "Array of attribute types.",
                    "items": {
                        "$ref": "#/definitions/AttributeType"
                    }
                },
                "page": {
                    "$ref": "#/definitions/PageInfo"
                }
            }
        },
        "AttributeTypes": {
            "type": "object",
            "properties": {
                "attributeTypes": {
                    "type": "array",
                    "description": "Array of attribute types.",
                    "items": {
                        "$ref": "#/definitions/AttributeType"
                    }
                }
            }
        },
        "AttributeTypeIDs": {
            "type": "object",
            "properties": {
                "attributeTypes": {
                    "type": "array",
                    "description": "Array of attribute type's ids.",
                    "items": {
                        "$ref": "#/definitions/AttributeTypeID"
                    }
                }
            }
        },
        "AttributeTypesNew": {
            "type": "object",
            "properties": {
                "attributeTypes": {
                    "type": "array",
                    "description": "Array of attribute types.",
                    "items": {
                        "$ref": "#/definitions/AttributeTypeNew"
                    }
                }
            }
        },
        "AttributeTypeNew": {
            "type": "object",
            "properties": {
                "assetTypeId": {
                    "type": "integer",
                    "description": "Asset type."
                },
                "attributeKey": {
                    "type": "string",
                    "description": "Attribute key in JSON."
                },
                "attributeType": {
                    "type": "string",
                    "description": "Attribute type in JSON."
                },
                "displayName": {
                    "type": "string",
                    "description": "Display name."
                },
                "isRequired": {
                    "type": "boolean",
                    "description": "Is required."
                }
            }
        },
        "AttributeType": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "description": "Unique identifier."
                },
                "assetTypeId": {
                    "type": "integer",
                    "description": "Asset type."
                },
                "attributeKey": {
                    "type": "string",
                    "description": "Attribute key in JSON."
                },
                "attributeType": {
                    "type": "string",
                    "description": "Attribute type in JSON."
                },
                "displayName": {
                    "type": "string",
                    "description": "Display name."
                },
                "isRequired": {
                    "type": "boolean",
                    "description": "Is required."
                },
                "created": {
                    "type": "string",
                    "description": "Creation time."
                },
                "updated": {
                    "type": "string",
                    "description": "Last update time."
                },
                "user": {
                    "type": "string",
                    "description": "The user."
                }
            }
        },
        "AttributeTypeID": {
            "type": "string",
            "description": "Unique identifier."
        },
        "LinkRulesResult": {
            "type": "object",
            "properties": {
                "linkTypes": {
                    "type": "array",
                    "description": "Array of link rules.",
                    "items": {
                        "$ref": "#/definitions/LinkRule"
                    }
                },
                "page": {
                    "$ref": "#/definitions/PageInfo"
                }
            }
        },
        "LinkRules": {
            "type": "object",
            "properties": {
                "linkTypes": {
                    "type": "array",
                    "description": "Array of link rules.",
                    "items": {
                        "$ref": "#/definitions/LinkRule"
                    }
                }
            }
        },
        "LinkRuleIDs": {
            "type": "object",
            "properties": {
                "linkRules": {
                    "type": "array",
                    "description": "Array of link rile's ids.",
                    "items": {
                        "$ref": "#/definitions/LinkRuleID"
                    }
                }
            }
        },
        "LinkRulesNew": {
            "type": "object",
            "properties": {
                "linkTypes": {
                    "type": "array",
                    "description": "Array of link rules.",
                    "items": {
                        "$ref": "#/definitions/LinkRuleNew"
                    }
                }
            }
        },
        "LinkRule": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "description": "Unique identifier."
                },
                "parentAssetTypeId": {
                    "type": "integer",
                    "description": "Parent asset type identifier."
                },
                "childAssetTypeId": {
                    "type": "integer",
                    "description": "Child asset type identifier."
                },
                "cardinality": {
                    "type": "string",
                    "description": "link cardinality."
                },
                "type": {
                    "type": "string",
                    "description": "link type."
                },
                "mustLink": {
                    "type": "boolean",
                    "description": "must link."
                },
                "stickyLink": {
                    "type": "boolean",
                    "description": "is sticky."
                },
                "created": {
                    "type": "string",
                    "description": "Creation time."
                },
                "updated": {
                    "type": "string",
                    "description": "Last update time."
                },
                "user": {
                    "type": "string",
                    "description": "The user"
                }
            }
        },
        "LinkRuleNew": {
            "type": "object",
            "properties": {
                "parentAssetTypeId": {
                    "type": "integer",
                    "description": "Parent asset type identifier."
                },
                "childAssetTypeId": {
                    "type": "integer",
                    "description": "Child asset type identifier."
                },
                "cardinality": {
                    "type": "string",
                    "description": "link cardinality."
                },
                "type": {
                    "type": "string",
                    "description": "link type."
                },
                "mustLink": {
                    "type": "boolean",
                    "description": "must link."
                },
                "stickyLink": {
                    "type": "boolean",
                    "description": "is sticky."
                }
            }
        },
        "LinkRuleID": {
            "type": "string",
            "description": "Unique identifier."
        },
        "AuditsResult": {
            "type": "object",
            "properties": {
                "audits": {
                    "type": "array",
                    "description": "Array of audits",
                    "items": {
                        "$ref": "#/definitions/Audit"
                    }
                },
                "page": {
                    "$ref": "#/definitions/PageInfo"
                }
            }
        },
        "Audit": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "description": "Audit identifier"
                },
                "tableName": {
                    "type": "string",
                    "description": "Audit's table name"
                },
                "operation": {
                    "type": "string",
                    "description": "Operation type (create, updated)"
                },
                "operationTime": {
                    "type": "string",
                    "description": "Operation time"
                },
                "delta": {
                    "type": "object",
                    "description": "Difference in [RFC 6902 JSON Patch](http://tools.ietf.org/html/rfc6902) format\n"
                },
                "object": {
                    "type": "object",
                    "description": "The original object"
                }
            }
        },
        "Error": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                },
                "developerMessage": {
                    "type": "string"
                }
            }
        }
    }
}