
.grid-item {
	opacity: 0;
	.slick-cloned & {
		opacity: 1;
	}
}
.startups-and-developers {
	.header-title {
		font: {
			size: 36px;
			weight: bold;
			style: normal;
			stretch: normal;
		}
		line-height: 1.33;
		text-align: center;
		color: #414141;
	}
	header.top-bar.bg-header {
		background: none;
		padding: 0;
		min-height: 703px;
		&.slider-header {
			position: relative;
			overflow: hidden;
		}
		&.no-content-header {
			min-height: 572px;
			margin: 0 0 -120px;
			& + main .products-and-application header{
				padding: 140px 0 0;
			}
		}
		&::before {
			display: none;
		}
		.body-wrapper {
			position: relative;
			top: 0;
			z-index: 2;
			margin-top: 0;
			.search-container {
				margin: 11px 0 0;
				right: -92px;
			}
		}
		.gray {
			border-top: none;
		}
		.slick-slider,
		.sd-carousel {
			@include strech(0);
			margin: 0;
			z-index: 0;
			.no-content {
				background: {
					image: url('/assets/img/S&D/people-1.png');
					position:  0 50%;
					repeat: no-repeat;
					size: cover;
				}
				.slide-content-wrapper {
					max-width: 1400px;
					margin: 0 auto 0;
					padding: 109px 139px 289px;
					.slide-title {
						max-width: 580px;
						font-size: 81px;
						line-height: 1.1;
						margin: 23px 0 40px;
					}
					.slide-descr {
						max-width: 757px;
					}
				}
			}
			.slide-content-wrapper {
				max-width: 924px;
				margin: 0 15% 0;
				padding: 105px 9.2% 275px;
				.slide-title {
					max-width: 458px;
					font-size: 54px;
					font-weight: 900;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.19;
					text-align: left;
					color: #ffffff;
					margin: 23px 0 47px;
				}
				.slide-descr {
					max-width: 270px;
					min-height: 64px;
					font-size: 24px;
					font-weight: bold;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.33;
					color: #ffffff;
				}
			}
			.slick-arrow {
				$distance: 19%;
				background: none !important;
				top: 50%;
				margin: -45px 0 0;
				&.slick-prev {
					left: $distance;
				}
				&.slick-next {
					right: $distance;
				}
				&.slick-prev,
				&.slick-next {
					width: 40px;
				}
			}
			.slider-gradient {
				margin: 0 -15px;
				background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(6, 6, 6, 0.8)), linear-gradient(rgba(79, 113, 185, 0.2), rgba(79, 113, 185, 0.2));
			}
			.item.slick-slide {
				background-size: cover !important;
				background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(6, 6, 6, 0.8)), linear-gradient(rgba(79, 113, 185, 0.2), rgba(79, 113, 185, 0.2));
			}
			.slick-dots {
				bottom: 80px;
				top: initial;
				z-index: 1;
				max-width: 400px;
				margin-left: -200px;
				left: 50%;
				li {
					button {
						&::before {
							font-size: 9px;
							opacity: 0.4;
							color: #88979f;
						}
					}
					&.slick-active {
						button {
							&::before {
								opacity: 0.9;
								color: #ffffff;
							}
						}
					}
				}
			}
			.btn-transparent {
				background: transparent;
				color: #fff;
				text-transform: uppercase;
				font: {
					size: 16px;
					weight: bold;
					style: normal;
					stretch: normal;
				}
				line-height: 1.5;
				letter-spacing: 0.2px;
				text-align: center;
				width: 230px;
				height: 48px;
				border-radius: 4px;
				border: solid 2px #ffffff;
			}
		}
	}
	.products-and-application {
		margin: 0 auto 35px;
		position:relative;
		header {
			position: relative;
			z-index: 0;
		}
		&-header {
			max-width: 555px;
			font: {
				size: 36px;
				weight: bold;
				style: normal;
				stretch: normal;
			}
			line-height: 1.33;
			text-align: center;
			color: #414141;
			margin: auto;
		}
		&-wrapper {
			text-align: center;
			margin: auto;
			max-width: 1146px;
			.nav-tabs {
				border: none;
				display: inline-block;
				margin: 41px auto 37px;
				text-align: center;
				li {
					margin: 0 4px;
					border-bottom: 2px solid rgba(183, 201, 211, 0.2);
					a {
						border: none;
						background: none;
						color: #b7c9d3;
						font: {
							size: 24px;
							weight: normal;
							style: normal;
							stretch: normal;
						}

						line-height: 1.33;
						text-align: left;
					}
					&.active {
						a {
							color: $cerulean;
						}
						border-bottom: 2px solid $cerulean;
					}
				}
			}
			.mobile-dropdown {
				display: none;
			}
			.tab-content {
				text-align: left;
			}
			.grid {
				margin: -15px;
				overflow: hidden;
				max-height: 690px;
				@include transition(max-height 3s);
				&.more {
					max-height: 10000px;
				}
				/* clearfix */
				&::after {
					content: '';
					display: block;
					clear: both;
				}
				.gallery-slide {
					position: relative;
				}
				/* ---- grid-item ---- */
				&-item {
					@include size(293px, 230px);
					float: left;
					margin: 0;
					border: 15px solid transparent;
					&[data-size^="2"] {
						width: 586px;
					}
					&[data-size$="2"] {
						height: 460px;
					}
					.card {
						.front.cardFront {
							background-size: cover;
							position: relative;
							.front-title {
								font-size: 32px;
								font-weight: bold;
								font-style: normal;
								font-stretch: normal;
								color: #ffffff;
								margin: 0;
								padding: 0 0 5px;
								line-height: 37px;
								text-overflow: ellipsis;
								display: block;
								display: -webkit-box;
								-webkit-box-orient: vertical;
								-webkit-line-clamp: 3;
								@include strech(auto, 30px, 30px, 30px)
							}
							a {
								display: none;
							}
						}
						.back.cardBack {
							min-height: 0;
							background-color: rgba(183, 201, 211, 0.2);
							border: solid 1px rgba(118, 134, 146, 0.4);
							a {
								@include strech(0);
								padding: 30px;
							}
						}
						&-title {
							font: {
								size: 16px;
								weight: bold;
								style: normal;
								stretch: normal;
							}
							line-height: 24px;
							color: #414141;
							margin: 0 auto 10px;
						}
						&-summary {
							font: {
								size: 16px;
								weight: normal;
								style: normal;
								stretch: normal;
							}
							line-height: 1.5;
							color: #768692;
						}
					}
				}
				.static-card {
					.front.cardFront {
						@include strech(0);
						background-size: cover;
						position: absolute;
						.front-title {
							display: none;
						}
						a {
							@include strech(0);
							padding: 10px;
							.front-title {
								text-align: left;
								font-size: 16px;
								font-weight: bold;
								font-style: normal;
								font-stretch: normal;
								line-height: 1.5;
								color: #ffffff;
								margin: 10px 0 0;
								text-overflow: ellipsis;
								display: block; // it's needed for IE
								display: -webkit-box;
								-webkit-box-orient: vertical;
								-webkit-line-clamp: 3;
								overflow: hidden;
							}
						}
					}
					.back.cardBack{
						display: none;
					}
				}
				.card, .static-card {
					.front.cardFront {
						&:before {
							background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
							position: absolute;
							left: 0;
							right: 0;
							top: 0;
							bottom: 0;
							content: '';
						}

						a .font-title, .font-title {

						}
					}
				}
			}
		}
		.slick-slide {
			padding: 0;
		}

		.front-title {
			max-height: 111px;
		}
	}
	.top-section {
		margin: 40px auto 86px;
		&-title {
			max-width: 555px;
			margin: auto;
			font: {
				size: 24px;
				weight: bold;
				style: normal;
				stretch: normal;
			}
			line-height: 1.33;
			text-align: center;
			color: #414141;
		}
		&-description {
			max-width: 556px;
			margin: 25px auto;
			font-size: 16px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.5;
			text-align: center;
			color: #768692;
		}
		&-main {
			max-height: 1830px;
			overflow: hidden;
			margin-bottom: 60px;
			@include transition(max-height 3s);
			&.more {
				max-height: 10000px;
			}
			.top-section-item {
				clear: both;
				position: relative;
				@include size(1140px, 560px);
				border: solid 1px #979797;
				margin-bottom: 70px;
				&:last-child {
					margin-bottom: 0;
				}
				.cover {
					@include strech(0);
					background-size: cover;
				}
				.controll-fold {
					float: right;
					width: 264px;
					height: 100%;
					opacity: 0.8;
					background-color: #414141;
					padding: 48px 20px ;
					text-align: center;
					position: relative;
					&-content {
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						left: 20px;
						right: 20px;
					}
					.top-item-title {
						margin: 0 auto 24px;
						font-size: 24px;
						font-weight: bold;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.33;
						text-align: center;
						color: #ffffff;
					}
					.top-item-descr {
						margin: 0 auto 24px;
						font-size: 16px;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.5;
						text-align: center;
						color: #ffffff;
					}
					.btn-see-more {
						border-radius: 4px;
						border: solid 1px #ffffff;
						font-size: 16px;
						font-weight: bold;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.5;
						letter-spacing: 0.2px;
						text-align: center;
						color: #ffffff;
						padding: 11px 52px;
						text-transform: uppercase;
					}
					.tags-section {
						margin: 90px auto 25px;
						position: absolute;
						bottom: 77px;
						.btn-tag {
							border-radius: 2px;
							border: solid 1px rgba(255, 255, 255, 0.2);
							opacity: 0.7;
							font-size: 16px;
							font-weight: normal;
							font-style: normal;
							font-stretch: normal;
							color: #ffffff;
							padding: 0px 8px;
						}
					}
					.top-section-hr {
						width: 224px;
						height: 2px;
						opacity: 0.7;
						border-top: solid 1px #ffffff;
						color: transparent;
						position: absolute;
						bottom: 75px;
					}
					.like-and-share {
						position: absolute;
						bottom: 25px;
						left: 30px;
						right: 73px;
						.btn {
							outline: none;
							background: {
								color: transparent;
								position: 50% 50%;
								size: cover;
								repeat: no-repeat;
							}
							padding: 13px;
							&[disabled] {
								opacity: 0.2;
							}
							&-like{
								background-image: url('/assets/img/ic-like-white.svg');
								float: right;
							}
							&-share{
								float: right;
								background-image: url('/assets/img/ic-share-partners-white.svg');
							}
						}
						.like {
							float: right;
							margin-right: 23px;
							.count {
								opacity: 0.7;
								font-size: 16px;
								font-weight: normal;
								font-style: normal;
								font-stretch: normal;
								line-height: 1.8;
								color: #ffffff;
								float: right;
								padding: 0 5px 0;
								min-width: 37px;
								text-align: right;
							}
						}
					}
				}
			}
		}
	}
	.tm-api-docs {
		position: relative;
		text-align: center;
		background: #f1f4f6;
		padding: 240px 0 50px;
		&-title {
			max-width: 613px;
			margin: auto;
		}
		&-main {
			padding: 25px 0 0;
			.content {
				max-width: 390px;
				font: {
					size: 16px;
					weight: normal;
					style: normal;
					stretch: normal;
				}
				line-height: 1.5;
				text-align: center;
				color: #768692;
				margin: 0 auto 23px;
			}
			.get-tm-api-docs {
				padding: 15px 40px;
				border-radius: 4px;
				background-color: $cerulean;
				margin: auto;
				font-family: TMSansLEADINGFIXED-regular;
				font-size: 16px;
				font-weight: bold;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.5;
				letter-spacing: 0.2px;
				&:hover {
					background-color: #2a7cc7;
					border-color: $white;
					color: $white;
				}
			}
		}
	}
	.slice-top-left.grey::before {
		background-image: url('../assets/img/slice-top-left-grey.svg');
	}
	.slice-bottom-left.grey {
		z-index: 1;
		&::after {
			background-image: url('../assets/img/slice-top-left-grey.svg');
			@include transform(rotateX(180deg));
		}
	}
	.show-more {
		text-align: center;
		margin: 15px 0 7px;
		.btn {
			color: $cerulean;
			font: {
				family: 'TMSansLEADINGFIXED-Regular';
				size: 16px;
				weight: normal;
				style: normal;
				stretch: normal;
			}
			line-height: 1.5;
			text: {
				align: center;
			}
			&:active, &:hover {
				color: #2a7cc7;
				box-shadow: none;
			}
		}
	}
	&__article {
		width: 556px;
		p:not(.lead) {
			font-family: TMSansLEADINGFIXED-regular;
			font-size: 16px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.5;
			letter-spacing: normal;
			color: #768692;
			&:first-child {
				margin-top: 0;
			}
		}
		.aside-block {
			margin-left: 586px;
			width: 262px;
			&.as-bordered {
				height: 144px;
				border: solid 1px $steel-20;
				padding: 15px;
				.as-title {
					font-size: 16px;
					font-weight: bold;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.5;
					text-align: left;
					color: #414141;
					margin: 0 0 15px;
				}
				p {
					font-size: 16px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.5;
					text-align: left;
					color: #414141;
				}
			}
		}
		.row {
			margin-right: -15px;
			margin-left: -15px;
		}
		&--title {
			max-width: 445px;
			text-transform: none;
		}
		.echo {
			width: 555px;
			height: 425px;
			border: solid 1px #e4e7e9;
		}
		.rect-image {
			width: 262px;
			height: 180px;
		}
		.video {
			width: 556px;
			height: 320px;
		}
		.article-tags {
			width: 100%;
			overflow: hidden;
			margin: 50px 0;
		}
	}
}
