<div class="modal modal-common fade" id="js_ls-modal-classification" tabindex="-1" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <div class="row">
          <h3 class="modal-title col-lg-12">Classification Selection</h3>
        </div>
      </div>
      <div class="modal-body">
      <div class="row">
        <form id="js_lazy-sel_form" accept-charset="UTF-8"  method="GET">
          <div class="col-sm-9 clear-padding-right">
            <input id="keyword" placeholder="keyword" autofocus class="search-input"/>
          </div>
          <div class="col-sm-3 text-right">
            <button id="js_classification-modal_btn" type="button" class="btn btn-transparent">GET</button>
          </div>
        </form>
      </div>
      <div id="spinner-ls" style="display: none;"></div>
      <div class="top-hr"></div>
      <div id="classification-jstree"></div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>

