{%if include.add_disqusDIV == 'true'%}<div id="disqus_thread"></div>{%endif%}
<script>
  // Global discus config func.
  window.disqus_config = function () {
		if (window.location.hostname != 'developer.ticketmaster.com') {
		    var pageURL = window.location.href.replace(window.location.host, 'developer.ticketmaster.com');
		    this.page.url = pageURL || "http://developer.ticketmaster.com/";
		}
		else this.page.url = document.URL || "http://developer.ticketmaster.com/";
    this.page.identifier = "{{page.title}}";
  };
  (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//ticketmasterapi.disqus.com/embed.js';
    s.setAttribute('data-timestamp', + new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
