
<div class="modal fade" id="feedback-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h3 class="modal-title col-lg-12">Leave Your Feedback</h3>
      </div>
      <div class="modal-body">
        <form accept-charset="UTF-8" action="#" method="POST">
          <div class="col-lg-6">
            <label for="name">Your name</label>
            <input type="text" id="name" name="name" maxlength="255"  autofocus >
          </div>
          <div class="col-lg-6">
            <label for="email">Your email</label>
            <input type="email" id="email" name="email" required >
          </div>
          <div class="col-lg-12">
            <label for="subject">Subject</label>
            <div class="js_custom_select custom_select">
              <select class="custom_select__field" id="subject">
                <option value="0">General feedback</option>
                <option value="1">Current workflow of the portal</option>
                <option value="2">Technical issues</option>
                <option value="3">Lorem ipsum dolor sit amet</option>
              </select>
              <input  class="custom_select__placeholder" type="text" value="General feedback" readonly>
              <ul class="custom_select__list">
                <li class="custom_select__item custom_select__item-active" data-value="0">General feedback</li>
                <li class="custom_select__item" data-value="1">Current workflow of the portal</li>
                <li class="custom_select__item" data-value="2">Technical issues</li>
                <li class="custom_select__item" data-value="3">Lorem ipsum dolor sit amet</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-12">
            <label for="summary">Summary</label>
            <input type="text" id="summary" name="organization">
          </div>
          <div class="col-lg-12">
            <label for="Description">Description</label>
            <textarea rows="3" name="companyDetail" id="Description"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-submit">send</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Button trigger modal -->
<button type="button" class="btn feedback-btn" data-toggle="modal" data-target="#feedback-modal">feedback</button>