<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% endif %}">
    <title>{% if page.categories[1] == "generated" %}{% assign pageMetaFolder = page.categories[2] %}{% assign pageMetaVersionFolder = page.categories[3] %}{% assign autodocJson = site.data.orgs[pageMetaFolder][pageMetaVersionFolder]['api'] %}{{ autodocJson.info.title | strip }} - {%else%}
            {% if page.title %}{{ page.title | strip }} – {% endif %}{% endif %}{{ site.title }}</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <!-- <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}"> -->
    <script src="{{ "/scripts/vendors/jquery-1.11.3.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/scripts/components/header.js" | prepend: site.baseurl }}"></script>
	  {% if page.layout != 'search' %}<script type="text/javascript" src="https://www.universe.com/embed.js"></script>{% endif %}
		{% seo title=false %}
		<meta property="og:image" content="{% if page.cover %}{{ page.cover | prepend: site.baseurl | prepend: site.url }}{% else %}{{ site.protocols.fb_image | prepend: site.baseurl | prepend: site.url }}{% endif %}" />
		<meta property="og:image:type" content="{{ site.protocols.fb_image_type }}" />
		<meta property="og:image:width" content="{{ site.protocols.fb_image_width }}" />
		<meta property="og:image:height" content="{{ site.protocols.fb_image_height }}" />
</head>
