

<div class="top-bar">
    <div class="row">
        <div class="col-xs-7 col-lg-3 gray">
            <a id="header-logo" href="{{"/" | prepend: site.baseurl}}"><img src="/assets/img/header/tm-developer-logo-p-1.png"></a>
        </div>
        <nav id="menu" class="col-xs-12 col-lg-6">
            <a class="one nav-item" href="{{"/products-and-docs/apis/documentation/" | prepend: site.baseurl}}">Products & Docs</a>
            <a class="two nav-item" href="#">Partners</a>
            <a class="three nav-item" href="#">Support</a>
            <a class="four nav-item" href="#">Blogs</a>
            <a class="five nav-item" href="#">Events</a>
            <a class="six nav-item" href="#">Open Source</a>
        </nav>
        <div class="col-xs-5 col-lg-3 gray">
            <a id="menu-btn"></a>
            <a id="search"></a>
        </div>
        <ul id="menu-dropdown" class="col-xs-12 col-sm-6 col-lg-3 closed" tabindex="-1">
            <li><a href="{{"/products-and-docs/apis/documentation/" | prepend: site.baseurl}}">Products & Docs</a></li>
            <li><a href="#">Partners</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Blogs</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Open Source</a></li>
        </ul>
        <div id="rainbow">
            <span class="one"></span>
            <span class="two"></span>
            <span class="three"></span>
            <span class="four"></span>
            <span class="five"></span>
            <span class="six"></span>
        </div>
    </div>
</div>


