<div class="top-bar{% if page.category != "home" %} bg-header slice-bottom-left{% endif %}">
    <div class="body-wrapper">
        <div class="row">
            <div class="col-xs-7 col-lg-3 gray">
                <a id="header-logo" href="{{"/" | prepend: site.baseurl}}">
                    {% if page.category == "home" %}
                        <img src="/assets/img/header/tm-developer-logo-p-1.svg">
                    {% else %}
                        <img src="/assets/img/header/tm-developer-logo.svg">
                    {% endif %}
                </a>
            </div>
            <nav id="menu" class="col-xs-12 col-lg-6">
                <a {% if page.category == "home" or page.category == "documentation" or page.categories[0] == "documentation" or page.category == "under_development" %} class="one nav-item" {% else %} class="gray" {% endif %} href="{{"/products-and-docs/apis/getting-started/" | prepend: site.baseurl}}">Products & Docs</a>
                <a {% if page.category == "home" or page.category == "partners" or page.category == "under_development" %} class="two nav-item" {% else %} class="gray" {% endif %} href="{{"/products-and-docs/under-development" | prepend: site.baseurl}}">Partners</a>
                <a {% if page.category == "home" or page.category == "support" or page.category == "under_development" %} class="three nav-item" {% else %} class="gray" {% endif %} href="{{"/products-and-docs/under-development" | prepend: site.baseurl}}">Support</a>
                <a {% if page.category == "home" or page.category == "blogs" or page.category == "under_development" %} class="four nav-item" {% else %} class="gray" {% endif %} href="{{"/products-and-docs/under-development" | prepend: site.baseurl}}">Blogs</a>
                <a {% if page.category == "home" or page.category == "events" or page.category == "under_development" %} class="five nav-item" {% else %} class="gray" {% endif %} href="{{"/products-and-docs/under-development" | prepend: site.baseurl}}">Events</a>
                <a {% if page.category == "home" or page.category == "opensource" or page.category == "under_development" %} class="six nav-item" {% else %} class="gray" {% endif %} href="{{"/products-and-docs/under-development" | prepend: site.baseurl}}">Open Source</a>
            </nav>
            <div class="col-xs-5 col-lg-3 gray">
                <a id="menu-btn" {% if page.category != "home" %} class="white"{% endif %}></a>
                <a id="search" {% if page.category != "home" %} class="white"{% endif %}></a>
            </div>
            <div id="rainbow">
                <span class="one"></span>
                <span class="two"></span>
                <span class="three"></span>
                <span class="four"></span>
                <span class="five"></span>
                <span class="six"></span>
            </div>
        </div>
    </div>
</div>
<ul id="menu-dropdown" class="col-xs-12 col-sm-6 col-lg-3 closed{% if page.category == "home" %} long{% endif %}" tabindex="-1">
    <li><a href="{{"/products-and-docs/apis/getting-started/" | prepend: site.baseurl}}">Products & Docs</a></li>
    <li><a href="#">Partners</a></li>
    <li><a href="#">Support</a></li>
    <li><a href="#">Blogs</a></li>
    <li><a href="#">Events</a></li>
    <li><a href="#">Open Source</a></li>
</ul>


