<div id="footer" class="slice-top-right xs-center">
    <div class="row footer-nav">
        <div class="row-container">
            <div class="col-xs-12 col-sm-2">
                <h5 class="white">Products & Documentation</h5>
                <ul>
                    <li><a href="#">APIs</a></li>
                    <li><a href="#">SDKs</a></li>
                    <li><a href="#">Widgets</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-2">
                <h5 class="white">Partners</h5>
                <ul>
                    <li><a href="#">Clients & vendors</a></li>
                    <li><a href="#">Other partners</a></li>
                    <li><a href="#">Developers</a></li>
                    <li><a href="#">Affiliates</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-2">
                <h5 class="white">Support</h5>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Forums</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Branding Guide</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-2">
                <h5 class="white">Blogs</h5>
                <ul>
                    <li><a href="#">Ticketmaster Tech</a></li>
                    <li><a href="#">Android Blog</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-2">
                <h5 class="white">Events</h5>
                <ul>
                    <li><a href="#">Hackatons</a></li>
                    <li><a href="#">Meetups</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-2">
                <h5 class="white">Open Source</h5>
                <ul>
                    <li><a href="#">Android</a></li>
                    <li><a href="#">Backend</a></li>
                    <li><a href="#">iOS</a></li>
                    <li><a href="#">Web</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px;">
        <div class="row-container">
            <div class="col-xs-12">
                <p>
                    <img src="/assets/img/footer/ticketmaster-logo-white.svg">
                    <span>© 1999–2015 Ticketmaster. All rights reserved.</span>
                </p>
            </div>
        </div>
    </div>
</div>