<div class="top-bar">
    <div class="row">
        <div class="col-xs-8 col-lg-3 gray">
            <a id="header-logo" href="{{"/" | prepend: site.baseurl}}"><img src="/assets/img/header/tm-developer-logo-p-1.png"></a>
        </div>
        <nav id="menu" class="col-xs-12 col-lg-6">
            <a class="one nav-item" href="{{"/products-and-docs/apis/documentation/" | prepend: site.baseurl}}">Products & Docs</a>
            <a class="two nav-item" href="#">Partners</a>
            <a class="three nav-item" href="#">Support</a>
            <a class="four nav-item" href="#">Blogs</a>
            <a class="five nav-item" href="#">Events</a>
            <a class="six nav-item" href="#">Open Source</a>
        </nav>
        <div class="col-xs-4 col-lg-3 gray">
            <a id="menu-btn"></a>
            <a id="search"></a>
        </div>
    </div>
</div>


