<!-- Modal Map -->
<div id="js_widget_modal_map" class="modal modal-common fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
				<div class="row">
					<h3 class="modal-title col-lg-12">Select Location</h3>
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12">
						<div class="map-holder">
							<input id="pac_input" class="controls" type="text" placeholder="Enter a location">
							<div id="map_latlong"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div id="map_address">
					<div id="map_address_country"></div>
					<div id="map_address_street"></div>
				</div>
				<button id="js_widget_modal_map__close" type="button" class="btn btn-submit text-center">SELECT</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Map end-->

