
<div class="modal modal-common fade" id="js_ls-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div></div><!--map-->

      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <div class="row">
          <h3 class="modal-title col-lg-12">Find <span>event</span> by keyword</h3>
        </div>
      </div>
      <div class="modal-body">

        <form id="js_lazy-sel_form" accept-charset="UTF-8"  method="GET">
          <div class="col-sm-9 clear-padding-right">
            <input required type="text" placeholder="keyword" id="keyword" autofocus >
          </div>
          <div class="col-sm-3 text-right">
            <button id="js_ls-modal_btn" type="button" class="btn btn-transparent">GET</button>
          </div>
        </form>

        <div id="spinner-ls" style="display: none;"></div>
        <div class="ms-selection">
          <div class="col-sm-9">
            <ul class="ms-list">
            </ul>
          </div>
          <div class="col-sm-3 text-right">
            <button id="js_ms-use-btn" type="button" class="btn btn-submit">Use</button>
          </div>
        </div>
        <hr id="js_ls-top-hr" style="display: none;">

        <div class="wrapper-list-group">
          <ul id="js_lazy-sel_list" class="list-group"></ul>
          <div class="list-footer text-center" style="display: none;" id="load-more-box">
            <button id="js_ls-more_btn" type="button" class="btn btn-submit">SHOW MORE EVENTS</button>
          </div>
        </div>

      </div>
      <!--<div class="modal-footer" >-->
      <!--</div>-->
    </div><!-- /.modal-content -->

      <div class="wrapper-map" class="" style="background-color: aliceblue;">
        <button style="display: none;" id="close1" class="button-close-map" aria-controls="m1"></button>
        <div id="map-canvas" class="" style="background-color: aliceblue;"></div>
      </div>

  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Modal alert-->
<!--<div id="get-eventId-alert-modal" class="modal modal-common modal-common-sm fade" role="dialog">
  <div class="modal-dialog">

    &lt;!&ndash; Modal content&ndash;&gt;
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="modal-title col-lg-12 text-center">Thank you for contacting us!</h3>
        <p class="text-center">We will review and respond promptly.</p>
        <div class="modal-footer">
          <button id="js_get-eventId_btn_alert_ok" type="button" class="btn btn-submit text-center">Ok</button>
        </div>
      </div>
    </div>

  </div>
</div>-->
<!-- Modal alert end-->