<h3 class="menu-header">
    Partners
    <span class="expanded" id="side-menu-btn"></span>
</h3>
<ul class="support-aside-menu" id="scrollable-element">
    <li>
        <ul class="categories">
            <li><a href="/partners/distribution-partners/" class="{% if page.categories[0] == "partners" and page.categories[1] == "distribution" %}active{% endif %}" >Distribution Partners</a>
            <li><a href="/partners/certified-partners/" class="{% if page.categories[0] == "partners" and page.categories[1] == "certified" %}active{% endif %}" >Certified Partners</a>
                {% if page.categories[0] == "partners" and page.categories[1] == "certified" %}
                    <ul class="sections menu-highlight">
                        <li>
                            <a href="/partners/certified-partners/nexus/" class="{% if page.categories[0] == "partners" and page.categories[1] == "certified" and page.categories[2] == "nexus" %}active{% endif %}">Join the Nexus program</a>
                        </li>
                        {% for partner in site.pages %}
                            {% if partner.available AND partner.categories[0] == "partner" AND partner.categories[1] == "certified" %}
                                <li class="{% if partner.pname == page.pname %}active{% endif %}">
                                    <a href="/partners/list/{{partner.name | replace:'.md',''}}">{{ partner.pname | capitalize }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
            <li><a href=" https://darwin.affiliatewindow.com/login" >Affiliates</a></li>
            <li><a href="/partners/startups-and-developers/" class="{% if page.categories[0] == 'startup_and_development' %}active{% endif %}" >Startups & Developers</a>
                {% if page.categories[0] == "startup_and_development" %}
                <ul class="sections menu-highlight sd-tags-list"></ul>
                {% endif %}
            </li>
        </ul>
    </li>
</ul>
