<h3 class="menu-header">
    Partners
    <span class="expanded" id="side-menu-btn"></span>
</h3>
<ul class="support-aside-menu" id="scrollable-element">
    <li>
        <ul class="categories">
            <li><a href="/partners/distribution-partners/" class="{% if page.categories[0] == 'partners' and page.categories[1] == 'distribution' %}active{% endif %}" >Distribution Partners</a>
                {% if page.categories[0] == "partners" and page.categories[1] == "distribution" %}
                <ul class="sections menu-highlight">
                    <li>
                        <a href="https://member.impactradius.com/bla/Ticketmasterdirect/login.user">Affiliate Sign In</a>
                    </li>
                </ul>
                {% endif %}
						</li>
            <li><a href="/partners/certified-partners/" class="{% if page.categories[0] == 'partners' and page.categories[1] == 'certified' %}active{% endif %}" >Certified Partners</a>
                {% if page.categories[0] == "partners" and page.categories[1] == "certified" %}
                    <ul class="sections menu-highlight">
												{% if page.categories[2] == 'nexus' %}
                        <li>
                            <a href="/partners/certified-partners/nexus/" class="{% if page.categories[0] == "partners" and page.categories[1] == "certified" and page.categories[2] == "nexus" %}active{% endif %}">Join the Nexus program</a>
                        </li>
												{% endif %}
												{% if page.categories[2] != 'nexus' %}

													{%comment%} <!-- find unique groups names --> {%endcomment%}
													{% assign groups_uniq = "" | split:"|"  %}
													{% for partner in site.pages %}
															{% if partner.categories[0] == "partner" and partner.categories[1] == "certified" %}
																{% if partner.group %}
																	{% assign groups_uniq = groups_uniq | push: {{partner.group}} | uniq %}
																{% endif %}
														{% endif %}
													{% endfor %}
													{% if groups_uniq.size >=2 %}
													{% for groupName in groups_uniq %}
														{%assign id = groupName | lstrip	| downcase	| replace: ' ' , '-'	| replace: '[' , '-'	| replace: ']' , '-'	| replace: '/' , '-'	| replace: '\' , '-'	| replace: '(' , '-'	| replace: ')' , '-' %}
															<li>
																<a href="/partners/certified-partners/#{{id}}"
																	 aria-controls="{{id}}"
																	 class="{% if page.groupName == {{groupName}} and page.categories[1] == 'certified' and page.categories[2] != 'nexus' %}active{% endif %}">{{groupName}}</a>
															</li>
														{%assign id = nil%}
													{% endfor %}
													{% endif %}
												{% endif %}

                        {% for partner in site.pages %}
                            {% if partner.available AND partner.categories[0] == "partner" AND partner.categories[1] == "certified" %}
                                <li class="{% if partner.pname == page.pname %}active{% endif %}">
                                    <a href="/partners/list/{{partner.name | replace:'.md',''}}">{{ partner.pname | capitalize }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
            <!--<li><a href="https://member.impactradius.com/bla/Ticketmasterdirect/login.user" >Affiliates</a></li>-->
            <li><a href="/partners/startups-and-developers/" class="{% if page.categories[0] == 'startup_and_development' %}active{% endif %}" >Startups & Developers</a>
                {% if page.categories[0] == "startup_and_development" %}
                <ul class="sections menu-highlight sd-tags-list"></ul>
                {% endif %}
            </li>
        </ul>
    </li>
</ul>
