<ul class="aside-menu" id="scrollable-element">
    <li>
        <h4>APIs</h4>
        <ul class="categories">
            <li><a href="/products-and-docs/apis/getting-started/">Getting Started</a>
                {% if page.categories[0] == "documentation" and page.categories[1] == "getting-started" %}
                <ul class="sections menu-highlight">
                    <li><a href="#introduction">Introduction</a></li>
                    <li><a href="#data-hierarchy">Data Hierarchy</a></li>
                    <li><a href="#available-resources">Available Resources</a></li>
                </ul>
                {% endif %}
            </li>
            <li><a href="/products-and-docs/apis/discovery/">Discovery API</a>
                {% if page.categories[0] == "documentation" and page.categories[1] == "discovery" %}
                <ul class="sections menu-highlight">
                    <li><a href="#srch-events">Search Events</a></li>
                    <li><a href="#event-details">Get Event Details</a></li>
                    <li><a href="#event-img">Search Event Images</a></li>
                    <li><a href="#search-attractions">Search Attractions</a></li>
                    <li><a href="#attraction-details">Get Attraction Details</a></li>
                    <li><a href="#search-categories">Search Categories</a></li>
                    <li><a href="#category-details">Get Category Details</a></li>
                    <li><a href="#search-venues">Search Venues</a></li>
                    <li><a href="#venue-details">Get Venue Details</a></li>
                </ul>
                {% endif %}
            </li>
            <li><a href="/products-and-docs/apis/commerce/">Commerce API</a>
                {% if page.categories[0] == "documentation" and page.categories[1] == "commerce" %}
                <ul class="sections menu-highlight">
                    <li><a href="#event-offers">Event Offers</a></li>
                </ul>
                {% endif %}
            </li>
            <li><a href="/products-and-docs/apis/partner/">Partner-App API</a>
                {% if page.categories[0] == "documentation" and page.categories[1] == "partner" %}
                <ul class="sections menu-highlight">
                    <li><a href="#overview">Overview</a></li>
                    <li><a href="#event-details">Retrieve Event Details</a></li>
                    <li><a href="#inventory-management">Event Availability</a></li>
                    <li><a href="#ticket-availability">Ticket Availability</a></li>
                    <li><a href="#retrieve-event">Retrieve an Event</a></li>
                    <li><a href="#ticket-reservation">Get captcha page</a></li>
                    <li><a href="#post-captcha">Post captcha solution</a></li>
                    <li><a href="#reserve-tickets">Reserve tickets and create a Cart</a></li>
                    <li><a href="#encrypt-cert">Encryption Certificate</a></li>
                    <li><a href="#post-card">Post credit card information</a></li>
                    <li><a href="#purchase-tickets">Purchase Tickets</a></li>
                    <li><a href="#delete-cart">Delete a Cart</a></li>
                    <li><a href="#order-mangement">Unredeemed orders</a></li>
                    <li><a href="#unredeemed-orders">Unredeemed orders</a></li>
                    <li><a href="#polling">Poll</a></li>
                    <li><a href="#error-responses">Group Error Responses</a></li>
                    <li><a href="#examples">Group Examples</a></li>
                    <li><a href="#versions">Group Versions</a></li>
                    <li><a href="#appendix">Group Appendix</a></li>
                </ul>
                {% endif %}
            </li>
            
            <li><a href="/products-and-docs/apis/interactive-console/">Interactive Docs</a></li>
        </ul>
    </li>
    <li>
        <h4>SDKs</h4>
        <!--<ul class="categories">
            <li><a href="/products-and-docs/under-development/">Getting Started</a></li>
            <li><a href="/products-and-docs/under-development/">Installation instruction</a></li>
            <li><a href="/products-and-docs/under-development/">Documentation</a></li>
            <li><a href="/products-and-docs/under-development/">Code samples</a></li>
        </ul>-->
    </li>
    <li>
        <h4>Wigets</h4>
        <!--<ul class="categories">
            <li><a href="/products-and-docs/under-development/">Getting started</a></li>
            <li><a href="/products-and-docs/under-development/">Configuration Docs</a></li>
            <li><a href="/products-and-docs/under-development/">Installation instructions</a></li>
        </ul>-->
    </li>
</ul>

