<h3 class="menu-header">Products & Docs</h3>
<div id="sideMenu" class="sidebar">
    <ul class="lvl-1">
        <li>
            <h4>APIs</h4>
            <ul class="lvl-2">
                <li><a href="/products-and-docs/apis/getting-started/">Getting started</a></li>
                <li><a href="/products-and-docs/apis/discovery/">Discovery API</a>
                    {% if page.categories == "products-and-docs/apis/discovery/" %}
                    <ul class="lvl-3">
                        <li><a href="#srch-evets">Searching for events</a></li>
                        <li><a href="#get-enent-det">Getting event details</a></li>
                        <li><a href="#srch-event-img">Searching for event images</a></li>
                        <li><a href="#srch-att">Searching for attractions</a></li>
                        <li><a href="#get-attr-det">Getting attraction details</a></li>
                        <li><a href="#srch-cat">Searching for categories</a></li>
                        <li><a href="#get-cat-det">Getting category details</a></li>
                        <li><a href="#srch-venues">Searching venues </a></li>
                        <li><a href="#get-venues-det">Getting venue details</a></li>
                    </ul>
                    {% endif %}
                </li>
                <li><a href="/products-and-docs/apis/commerce/">Commerce API</a>
                    {% if page.categories == "products-and-docs/apis/commerce/" %}
                    <ul class="lvl-3">
                        <li><a href="#">Getting event offers</a></li>
                    </ul>
                    {% endif %}
                </li>
                <li><a href="/products-and-docs/apis/pantheon/">Commerce API for partners</a>
                    {% if page.categories == "products-and-docs/apis/pantheon/" %}
                    <ul class="lvl-3">
                        <li><a href="#">Pantheon</a></li>
                    </ul>
                    {% endif %}
                </li>
                <li><a href="/products-and-docs/apis/interactive-console/">Interactive console</a>
                <li><a href="/products-and-docs/apis/samples/">Samples</a>
                    {% if page.categories == "products-and-docs/apis/samples/" %}
                    <ul class="lvl-3">
                        <li><a href="#headers">headers</a></li>
                        <li><a href="#lead">lead</a></li>
                        <li><a href="#body">body</a></li>
                        <li><a href="#caption">caption</a></li>
                        <li><a href="#pull-quote">pull-quote</a></li>
                        <li><a href="#code-example">code example</a></li>
                        <li><a href="#table">table</a></li>
                    </ul>
                    {% endif %}
                </li>
            </ul>
        </li>
       <!-- <li>
            <h4>SDK</h4>
            <ul>
                <li>Getting started</li>
                <li>Instalation Instructions</li>
                <li>Documentation</li>
                <li>Code Samples</li>
            </ul>
        </li>
        <li>
            <h4>Wigets</h4>
            <ul>
                <li>Getting started</li>
                <li>Configuration Docs</li>
                <li>Instalation Instructions</li>
            </ul>
        </li>-->
    </ul>
</div>