<ul class="aside-menu" id="scrollable-element">
    <li>
        <h4><a href="/products-and-docs/apis/getting-started/">APIs</a></h4>
        <ul class="categories">
            <li><a href="/products-and-docs/apis/getting-started/">Getting Started</a>
                {% if page.categories[0] == "documentation" and page.categories[1] == "getting-started" %}
                <ul class="sections menu-highlight">
                    <li><a href="#introduction">Introduction</a></li>
                    <li><a href="#uri-format">URI Format</a></li>
                    <li><a href="#rate-limit">Rate Limit</a></li>
                    <li><a href="#cors-support">CORS Support</a></li>
                    <li><a href="#available-resources">Available Resources</a></li>
                </ul>
                {% endif %}
            </li>
            <li><a href="/products-and-docs/apis/discovery/">Discovery API</a>
                {% if page.categories[0] == "documentation" and page.categories[1] == "discovery" %}
                <ul class="sections menu-highlight">
                    <li><a href="#overview">Overview</a></li>
                    <li><a href="#srch-events">Search Events</a></li>
                    <li><a href="#event-details">Get Event Details</a></li>
                    <li><a href="#event-img">Search Event Images</a></li>
                    <li><a href="#search-attractions">Search Attractions</a></li>
                    <li><a href="#attraction-details">Get Attraction Details</a></li>
                    <li><a href="#search-categories">Search Categories</a></li>
                    <li><a href="#category-details">Get Category Details</a></li>
                    <li><a href="#search-venues">Search Venues</a></li>
                    <li><a href="#venue-details">Get Venue Details</a></li>
                    <li><a href="#supported-markets">Supported Markets</a></li>
                    <li><a href="#supported-domains">Supported Domains</a></li>
                    <li><a href="#supported-sources">Supported Sources</a></li>
                    <li><a href="#supported-locales">Supported Locales</a></li>
                </ul>
                {% endif %}
            </li>
            <li><a href="/products-and-docs/apis/commerce/">Commerce API</a>
                {% if page.categories[0] == "documentation" and page.categories[1] == "commerce" %}
                <ul class="sections menu-highlight">
                    <li><a href="#event-offers">Event Offers</a></li>
                </ul>
                {% endif %}
            </li>
            <li><a href="/products-and-docs/apis/partner/">Partner API</a>
                {% if page.categories[0] == "documentation" and page.categories[1] == "partner" %}
                <ul class="sections menu-highlight">
                    <li><a href="#overview">Overview</a></li>
                    <li class="sub-section">
                        <span class="sub-section-label">Inventory</span>
                        <ul class="sections menu-highlight">
                            <li><a href="#event-details">Event Details</a></li>
                            <li><a href="#inventory-management">Event Inventory</a></li>
                            <li><a href="#ticket-availability">Ticket & Seat Inventory</a></li>
                        </ul>
                    </li>
                    <li class="sub-section">
                        <span class="sub-section-label">Cart Management</span>
                        <ul class="sections menu-highlight">
                            <li><a href="#ticket-reservation">Get captcha page</a></li>
                            <li><a href="#post-captcha">Solve captcha</a></li>
                            <li><a href="#reserve-tickets">Reserve Tickets</a></li>
                            <li><a href="#get-shipping-options">Get Shipping Options</a></li>
                            <li><a href="#add-shipping-option">Add Shipping Option</a></li>
                            <li><a href="#encrypt-cert">Encryption Certificate</a></li>
                            <li><a href="#post-card">Add Billing Information</a></li>
                            <li><a href="#purchase-tickets">Commit Transactions</a></li>
                            <li><a href="#delete-cart">Delete Cart</a></li>
                            <li><a href="#poll">Polling</a></li>
                        </ul>
                    </li>
                    <li class="sub-section">
                        <span class="sub-section-label">Order Management</span>
                        <ul class="sections menu-highlight">
                            <li><a href="#order-mangement">Order information</a></li>
                            <li><a href="#unredeemed-orders">Unredeemed orders</a></li>
                        </ul>
                    </li>
                    <li><a href="#error-responses">Error Responses</a></li>
                    <li><a href="#examples">Examples</a></li>
                    <li><a href="#versions">Versions</a></li>
                    <li><a href="#appendix">Appendix</a></li>
                </ul>
                {% endif %}
            </li>
            <li><a href="/products-and-docs/apis/publish/">Publish API</a>
                 {% if page.categories[0] == "documentation" and page.categories[1] == "publish" %}
                 <ul class="sections menu-highlight">
                     <li><a href="#overview">Overview</a></li>
                     <li><a href="#publish-events">Publish Events</a></li>
                     <li><a href="#supported-markets">Supported Markets</a></li>
                     <li><a href="#supported-sources">Supported Sources</a></li>
                     <li><a href="#supported-locales">Supported Locales</a></li>
                 </ul>
                 {% endif %}
            </li>            
            <li><a href="/products-and-docs/apis/deals-api/">Deals API</a>
                {% if page.categories[0] == "documentation" and page.categories[1] == "deals-api" %}
                <ul class="sections menu-highlight">
                    <li><a href="#overview">Overview</a></li>
                    <li><a href="#group-ticket-deals">Group Ticket Deals</a></li>
                    <li><a href="#search-events-deals">Search for Events with Deals</a></li>
                    <li><a href="#search-events-specified-deals">Search for Events with a Specified Deal</a></li>
                    <li><a href="#group-error-responses">Group Error Responses</a></li>
                    <li><a href="#group-appendix">Group Appendix: Market IDs</a></li>
                </ul>
                {% endif %}
            </li>
            <li><a href="/products-and-docs/apis/international-discovery/">International Discovery API</a>
                {% if page.categories[0] == "documentation" and page.categories[1] == "international-discovery" %}
                <ul class="sections menu-highlight">
                    <li><a href="#overview">Overview</a></li>
                    <li><a href="#event-search">Event Search</a></li>
                    <li><a href="#event-details">Event Details</a></li>
                    <li><a href="#updated-events">Updated Events</a></li>
                    <li><a href="#event-prices">Event Prices</a></li>
                    <li><a href="#event-seatmap">Event Seatmap</a></li>
                    <li><a href="#event-areas">Event Areas</a></li>

                    <li><a href="#attraction-search">Attraction Search</a></li>
                    <li><a href="#attraction-details">Attraction Details</a></li>
                    <li><a href="#attraction-suggestions">Attraction Suggestions</a></li>
                    <li><a href="#similar-attractions">Similar Attractions</a></li>

                    <li><a href="#venue-search">Venue Search</a></li>
                    <li><a href="#venue-details">Venue Details</a></li>
                    <li><a href="#countries-list">Countries List</a></li>
                    <li><a href="#domains-list">Domains List</a></li>
                    <li><a href="#cities-list">Cities List</a></li>
                    <li><a href="#categories-list">Categories List</a></li>
                </ul>
                {% endif %}
            </li>
            <li><a href="/products-and-docs/apis/interactive-console/">Interactive Docs</a></li>
            <li><a href="http://vmenshutin.github.io/">API Explorer</a></li>
        </ul>
    </li>
    <li>
        <h4><a href="/products-and-docs/sdks/" {% if page.categories[0] == "documentation" and page.categories[1] == "sdks" %} class="active" {% endif %} >SDKs</a></h4>
        <!--<ul class="categories">
            <li><a href="/products-and-docs/under-development/">Getting Started</a></li>
            <li><a href="/products-and-docs/under-development/">Installation instruction</a></li>
            <li><a href="/products-and-docs/under-development/">Documentation</a></li>
            <li><a href="/products-and-docs/under-development/">Code samples</a></li>
        </ul>-->
    </li>
    <li>
        <h4><a href="/products-and-docs/widgets/" {% if page.categories[0] == "documentation" and page.categories[1] == "widgets" %} class="active" {% endif %} >Widgets</a></h4>
        <!--<ul class="categories">
            <li><a href="/products-and-docs/under-development/">Getting started</a></li>
            <li><a href="/products-and-docs/under-development/">Configuration Docs</a></li>
            <li><a href="/products-and-docs/under-development/">Installation instructions</a></li>
        </ul>-->
    </li>
</ul>

