<div class="share-button-container">
	<div class="fb-share-button socialbutton-wrapper"
			 data-href="http://ticketmaster-api-staging.github.io{{page.url}}"
			 data-layout="button_count"
			 data-action="like"
			 data-size="large"
			 data-mobile-iframe="true">
	</div>
	<p></p>
	<div class="fb-like"
			 data-href="http://ticketmaster-api-staging.github.io{{page.url}}"
			 data-layout="button_count"
			 data-action="like"
			 data-size="large"
			 data-show-faces="false"
			 data-share="true"
			 data-width="600">
	</div>
	<p></p>
	<a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ 'http://ticketmaster-api-staging.github.io'| append: page.url | url_encode }}" target="_blank">Share on Facebook</a>

</div>

