<ul class="support-aside-menu" id="scrollable-element">
    <li>
        <ul class="categories">
            <li><a href="/support/faq">FAQ</a>
                {% if page.categories[0] == "support" and page.categories[1] == "faq" %}
                <ul class="sections">
                    <li><a href="#general">General</a></li>
                    <li><a href="#account">Account</a></li>
                    <li><a href="#affiliates">Affiliates</a></li>
                </ul>
                {% endif %}
            </li>
            <li><a href="/support/forums/">Forums</a></li>
            <li><a href="/support/terms-of-use/">Terms of Use</a></li>
            <li><a href="/support/branding-guide/">Branding Guide</a></li>
        </ul>
    </li>
</ul>

