<h3 class="menu-header">
    Support
    <span class="expanded" id="side-menu-btn"></span>
</h3>
<ul class="support-aside-menu" id="scrollable-element">
    <li>
        <ul class="categories">
            <li><a href="/support/faq/">FAQ</a>
                {% if page.categories[0] == "support" and page.categories[1] == "faq" or page.categories[0] == "faq-api"%}
                <ul class="sections menu-highlight">
                    <li><a href="#general-a">General</a></li>
                    <li><a href="#account-a">Data</a></li>
                    <li><a href="#affiliates-a">Affiliates</a></li>
                    {% assign faq_items = site.pages | sort: 'title' %}
                    {%for item in faq_items %}
                        {% if item.categories[0] == "faq-api" and item.content.size > 1 and item.questions and item.title%}
                            <li><a href="{{ item.titleId | prepend:'#' }}">{{item.title}}</a></li>
                        {% endif %}
                    {%endfor%}
                </ul>
                {% endif %}
            </li>
            {% comment %}<li><a href="#">Forums</a></li>{% endcomment %}
            <li><a href="/support/terms-of-use/">General Terms of Use</a>
                {% if page.categories[0] == "support" and page.categories[1] == "terms-of-use" %}
                <ul class="sections menu-highlight">
                    <li><a href="#license">Licensed Uses and Restrictions</a></li>
                    <li><a href="#ownership">Ownership and Relationship of Parties</a></li>
                    <li><a href="#support">Support</a></li>
                    <li><a href="#warranty">Warranty Disclaimer</a></li>
                    <li><a href="#release">Release and Waiver</a></li>
                    <li><a href="#indemnity">Hold Harmless and Indemnity</a></li>
                    <li><a href="#terms">General Terms</a></li>
                </ul>
                {% endif %}
            </li>
            <li><a href="/support/terms-of-use/partner">Partner API Terms of Use</a>
                {% if page.categories[0] == "support" and page.categories[1] == "terms-of-use-partner" %}
                <ul class="sections menu-highlight">
                    <li><a href="#licensed-uses-and-restrictions">Licensed Uses and Restrictions</a></li>
                    <li><a href="#ownership-and-relationship-of-parties">Ownership and Relationship of Parties</a></li>
                    <li><a href="#support">Support</a></li>
                    <li><a href="#warranty-disclaimer">Warranty Disclaimer</a></li>
                    <li><a href="#release-and-waiver">Release and Waiver</a></li>
                    <li><a href="#hold-harmless-and-indemnity">Hold Harmless and Indemnity</a></li>
                    <li><a href="#general-terms">General Terms</a></li>
                </ul>
                {% endif %}
            </li>
            <li><a href="/support/branding-guide/">Branding Guide</a>
                {% if page.categories[0] == "support" and page.categories[1] == "branding-guide" %}
                <ul class="sections menu-highlight">
                    <li><a href="#brand-logo">Logo</a></li>
                    <li><a href="#verified-tickets">Verified Tickets</a></li>
                    <li><a href="#legal-stuff">Legal Stuff</a></li>
                </ul>
                {% endif %}
            </li>
            <li><a href="/support/partner-api-faq/">Partner-api-FAQ</a>
                {% if page.categories[0] == "support" and page.categories[1] == "partner-api-faq" %}
                <ul class="sections menu-highlight">
                    <li><a href="#partner-api-general">Partner Api General</a></li>
                    <li><a href="#oauth">Oauth</a></li>
                    <li><a href="#captcha">Captcha</a></li>
                    <li><a href="#events">Events</a></li>
                    <li><a href="#polling">Polling</a></li>
                    <li><a href="#event-details">Event Details</a></li>
                    <li><a href="#event-availability">Event Availability</a></li>
                    <li><a href="#event-reserve">Event Reserve</a></li>
                    <li><a href="#adding-payment">Adding Payment</a></li>
                    <li><a href="#shipping">Shipping</a></li>
                    <li><a href="#commit-cart">Commit Cart</a></li>
                    <li><a href="#fulfillment">Fulfillment</a></li>
                </ul>
                {% endif %}
            </li>
            <li><a href="/support/contact-us/">Contact Us</a>
        </ul>
    </li>
</ul>

