<!-- :api-name:{{page.categories[2]}}  api-version: {{page.categories[3]}} -->

{% assign pageMetaFolder        = page.categories[2] %}
{% assign pageMetaVersionFolder = page.categories[3] %}

{% assign swagger               = site.data.orgs[pageMetaFolder][pageMetaVersionFolder]['api'] %}
{% assign methodsDescription    = site.data.orgs[pageMetaFolder][pageMetaVersionFolder].methods-metadata %}

{%if methodsDescription or swagger%}
{%else%}
    {% assign swagger = site.data.orgs[pageMetaFolder]['api'] %}
    {% assign methodsDescription = site.data.orgs[pageMetaFolder].methods-metadata %}
{%endif%}

{% if !swagger %}{%else%}
    <p>No file found: <b>api.json</b> in _data/orgs/{{page.categories[2]}}/{{page.categories[3]}}</p>
{% endif %}

{% if methodsDescription %}{%else%}
    <p>These 'pageMetaVersionFolder':<b>{{pageMetaVersionFolder}}</b> or 'pageMetaFolder':<b>{{pageMetaFolder}}</b> are not correct. Please fix it.</p>
{% endif %}

<h1>{{ swagger.info.title | upcase}}</h1>

{{content}}

<p class="lead article">{{ swagger.info.description }}</p>

<h4 class="aside gray" id="developer-console">Developer Console</h4><p>Make live API calls right now in the interactive docs:</p><p><a href="/products-and-docs/apis/interactive-console/" class="button">INTERACTIVE DOCS</a></p>

{% if swagger.host or swagger.basePath or methodsDescription.overview | size > 0 %}
<h2 class="article" id="overview">Overview</h2>

    {% if methodsDescription.overview | size > 0%}
        {% for overviewItem in methodsDescription.overview %}
            <h3>{{overviewItem.title}}</h3>
            <p>{{overviewItem.description}}</p>
        {%endfor%}
    {%endif%}

    {% if swagger.host %}
    <p>
        <strong>Host URL: </strong><code>{{ swagger.host }}</code>
    </p>{% endif %}
    {% if swagger.basePath %}
    <p>
        <strong>Base Path: </strong><code>{{ swagger.basePath }}</code>
    </p>{% endif %}
{% endif %}

<!--
{% comment %}
    {% if swagger.tags %}
    <strong>tags: </strong>
        {% for tagItem in swagger.tags %}
            <p><code>{{ tagItem.name }}</code> - {{ tagItem.description }}</p>
        {% endfor %}
    {% endif %}
{% endcomment %}
-->

{% for route in swagger.paths %}

    {% for tag in methodsDescription.method %}
        {% if tag.pathsParent == route[0] %}
            {% assign _id = tag.id | append: '-' | append: page.categories[3] %}
            {% assign _title = tag.title %}
            {% assign _reqres = tag.reqres %}
            {% assign _codePath = tag.codePath %}
            {% assign _preContent = tag.preContent %}
            {% assign _postContent = tag.postContent %}
        {% endif %}
    {% endfor %}

    {% assign indexLoop = forloop.index0 %}

    {% for method in route[1] %}

        <h2 class="article {% if _title %}console-link{% endif %}" id="{% if _id %}{{ _id }}{% else %}{{ method[1].summary
        | lstrip
        | downcase
        | replace: ' ' , '-'
        | replace: '[' , '-'
        | replace: ']' , '-'
        | replace: '/' , '-'
        | replace: '\' , '-'
        | replace: '(' , '-'
        | replace: ')' , '-'
        | append: '-'
        | append: indexLoop
        | append: '-'
        | append: page.categories[3] | lstrip }}{% endif %}">{% if _title %}{{ _title }}{% else %}{{ method[1].summary }}{% endif %}</h2>
        <!--{% comment %} Add post content if it defined in metadata.json {% endcomment %}-->
        {% if _preContent %}
        {% assign preContent = _preContent | prepend: 'apis-code-examples/' %}
        <div class="pre-content">
            {% include {{ preContent }} %}
        </div>
        {% endif %}
        <p><strong>Method: </strong><span class="swagger-method-{{method[0]}}">{{ method[0] | upcase }}</span></p>
        <p><strong>Summary: </strong>{{ method[1].summary }}</p>
        {%if method[1].description %}<p><strong>Description: </strong>{{ method[1].description }}</p>{% endif %}

        {%if method[1].tags and swagger.tags %}
        <p><strong>API name: </strong>
            {% for tagItem in method[1].tags %}
                {% for topTagItem in swagger.tags %}
                    {% if topTagItem.name contains tagItem %}
                        <em>{{ topTagItem.name }}</em> description: <em>{{ topTagItem.description }}</em></br>
                    {% endif %}
                {% endfor %}

            {% endfor %}

        </p>
        {% endif %}

        <p class="code red">{{ route[0] }}</p>
        <div class="">
            {% assign tableUrlParam = false %}
            {% assign tableQueryParam = false %}
            {% assign tableBodyHeaderFormdataParam = false %}
            {% assign tableOtherParam = false %}

            {% for parameter in method[1].parameters %}
                {% case parameter.in %}
                    {% when 'path' %}
                        {% assign tableUrlParam = true %}
                    {% when 'query' %}
                        {% assign tableQueryParam = true %}
                    {% when 'body' or 'header' or 'formData'%}
                        {% assign tableBodyHeaderFormdataParam = true %}
                        <!-- If 'in' is "header", "formData" or "body".-->
                    {% else %}
                        {% assign tableOtherParam = true %}
                {% endcase %}
            {% endfor %}

            {% if tableUrlParam %}
            <div class="swagger-parameters">
                <h3>URL parameters:</h3>
                <table class="swagger-parameters-table">
                    <thead>
                    <tr>
                        <th>Parameter</th><!--name-->
                        <th>Description</th><!--in-->
                        <th>Type</th><!--Type-->
                        <th>Default Value</th><!--default-->
                        <th>Required</th><!--required-->
                    <tr>
                    </thead>
                    <tbody>
                    {% for parameter in method[1].parameters %}
                    {% if parameter.in contains 'path' %}
                    <tr>
                        <td>
                            {% if parameter.required %}
                                            <span class="swagger-parameter-required">
                                            {% endif %}
                                            <code>{{ parameter.name }}</code>
                                            {% if parameter.required %}
                                            </span>
                            {% endif %}
                        </td>
                        <td>{{ parameter.description }}</td>
                        <!--"query", "header", "path", "formData" or "body"-->
                        <td>
                            {% if parameter.type %}
                            {{ parameter.type | capitalize }}
                            {% if parameter.items %}
                            of {{ parameter.items.type | capitalize }}
                            {% endif %}

                            {% if parameter.enum %}
                            {{ parameter.enum | prepend: ' enum:' | capitalize | join: ', ' }}
                            {% endif %}
                            {% else %}
                            <!--Not defined in json-->
                            {% endif %}
                        </td>
                        <td>
                            {% if parameter.default %}{{ parameter.default | capitalize | join: ', ' }}{% endif %}
                        </td>
                        <td>{% if parameter.required == false %}No{%else%}Yes{%endif%}</td>

                    </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}

            {% if tableQueryParam %}
                <div class="swagger-parameters">
                        <h3>Query parameters:</h3>
                        <table class="swagger-parameters-table">
                            <thead>
                            <tr>
                                <th>Parameter</th><!--name-->
                                <th>Description</th><!--in-->
                                <th>Type</th><!--Type-->
                                <th>Default Value</th><!--default-->
                                <th>Required</th><!--required-->
                            <tr>
                            </thead>
                            <tbody>
                            {% for parameter in method[1].parameters %}
                            {% if parameter.in contains 'query' %}
                            <tr>
                                <td>
                                    {% if parameter.required %}
                                            <span class="swagger-parameter-required">
                                            {% endif %}
                                            <code>{{ parameter.name }}</code>
                                            {% if parameter.required %}
                                            </span>
                                    {% endif %}
                                </td>
                                <td>{{ parameter.description }}</td>
                                <td>
                                    {% if parameter.type %}
                                    {{ parameter.type | capitalize }}
                                    {% if parameter.items %}
                                    of {{ parameter.items.type | capitalize }}
                                    {% endif %}

                                    {% if parameter.enum %}
                                    {{ parameter.enum | prepend: ' enum:' | capitalize | join: ', ' }}
                                    {% endif %}
                                    {% else %}
                                    <!--Not defined in json-->
                                    {% endif %}
                                </td>
                                <td>
                                    {% if parameter.default %}{{ parameter.default | capitalize | join: ', ' }}{% endif %}
                                </td>
                                <td>{% if parameter.required == false %}No{%else%}Yes{%endif%}</td>

                            </tr>
                            {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
            {% endif %}

            {% if tableBodyHeaderFormdataParam %}
                <div class="swagger-parameters">
                    <h3>Other parameters:</h3>
                    <table class="swagger-parameters-table">
                        <thead>
                            <tr>
                                <th>Parameter</th><!--name-->
                                <th>In</th><!--name-->
                                <th>Description</th><!--in-->
                                <th>Type</th><!--Type-->
                                <th>Default Value</th><!--default-->
                                <th>Required</th><!--required-->
                            <tr>
                        </thead>
                        <tbody>
                            {% for parameter in method[1].parameters %}
                            {% if parameter.in contains 'body' or parameter.in contains 'header' parameter.in contains 'formData' %}
                            <tr>
                                <td>
                                    {% if parameter.required %}
                                    <span class="swagger-parameter-required">
                                    {% endif %}
                                    <code>{{ parameter.name }}</code>
                                    {% if parameter.required %}
                                    </span>
                                    {% endif %}
                                </td>
                                <td>{{ parameter.in }}</td>
                                <td>{{ parameter.description }}<br/>
                                    {%if parameter.schema %}
                                        {% assign paramsSchema = parameter.schema %}
                                        {% if parameter.schema['$ref'] %}
                                            {% assign schemaRes = paramsSchema['$ref'] | replace: '#/',''  | replace:'/',' ' %}
                                            {% assign schemaSplit = schemaRes | split: ' ' %}
                                            <h5 class="code blue" data-ref-path="{{ schemaSplit[1] }}">
                                                {{ schemaSplit[1] }}
                                                {% for schemaSplitType in schemaSplit[1] %}
                                                    <span class="body">({{ swagger.definitions[schemaSplitType].type }})</span>
                                                {% endfor %}
                                            </h5>
                                            {% assign pathFirsLvl = schemaSplit[0] %}
                                            {% assign pathScdLvl = schemaSplit[1] %}
                                            <pre><code class="language-json">{{ swagger.[pathFirsLvl][pathScdLvl].properties | jsonify }}</code></pre>

                                         <!--{% comment %} Parse inner prop
                                         <ul class="nested-list">
                                        {% for pathFirsLvl in schemaSplit[0] %}
                                        {% for pathScdLvl in schemaSplit[1] %}
                                        {% for property in swagger.[pathFirsLvl][pathScdLvl].properties %}
                                            <li>
                                                <code class="highlighter-rouge">{{ property[0] }}</code> {% if property[1].type %}({{ property[1].type | lstrip }}){% endif %} - {% if property[1].description %}{{ property[1].description }}{% elsif property[1].format %}{{ property[1].format }}{%else%}No description specified{% endif %}{% if property[1].$ref %}{{ property[1].$ref }}{% endif %}{% if property[1].items or property[1]['$ref'] %}
                                                <ul>
                                                    {% for item in property[1].items %}
                                                    <li><code class="highlighter-rouge">{{ item[0] }}</code> - {{ item[1] }}{% if item[0] == '$ref'%}
                                                        <ul>
                                                            {% assign schemaResInner = item[1] | replace: '#/',''  | replace:'/',' ' %}
                                                            {% assign schemaSplitInner = schemaResInner | split: ' ' %}
                                                            {% for schemaSplitInnerEnd in schemaSplitInner[1] %}
                                                            {% for innerRef in swagger.definitions.[schemaSplitInnerEnd].properties %}
                                                            <li><code class="highlighter-rouge">{{ innerRef[0] }}</code> {% if property[1].type %}({{ property[1].type }}){% endif %} - {% if property[1].description %}{{ property[1].description }}{% elsif property[1].format %}{{ property[1].format }}{%else%}No description specified{% endif %}{% if property[1].$ref %}{{ property[1].$ref }}{% endif %}
                                                            </li>
                                                            {% endfor %}
                                                            {% endfor %}
                                                        </ul>
                                                        {%endif%}
                                                    </li>
                                                    {% endfor %}
                                                    {% if property[1]['$ref'] %}
                                                    <li><code class="highlighter-rouge">$ref</code> - {{ property[1]['$ref'] }}
                                                        <ul>
                                                            {% assign schemaPageInner = item[1] | replace: '#/',''  | replace:'/',' ' %}
                                                            {% assign schemaPageSplitInner = schemaResInner | split: ' ' %}
                                                            {% for schemaPageSplitInnerEnd in schemaPageSplitInner[1] %}
                                                            {% for innerRefPage in swagger.definitions.[schemaPageSplitInnerEnd].properties %}
                                                            <li><code class="highlighter-rouge">{{ innerRefPage[0] }}</code> {% if property[1].type %}({{ property[1].type }}){% endif %} - {% if property[1].description %}{{ property[1].description }}{% elsif property[1].format %}{{ property[1].format }}{%else%}No description specified{% endif %}{% if property[1].$ref %}{{ property[1].$ref }}{% endif %}</li>
                                                            {% endfor %}
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                    {% endif %}
                                                </ul>
                                                {% endif %}
                                            </li>
                                            {% endfor %}
                                            {% endfor %}
                                            {% endfor %}
                                        </ul>
                                        {% endcomment %}-->

                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if parameter.type %}
                                    {{ parameter.type | capitalize }}
                                        {% if parameter.items %}
                                            of {{ parameter.items.type | capitalize }}
                                        {% endif %}

                                        {% if parameter.enum %}
                                            {{ parameter.enum | prepend: ' enum:' | capitalize | join: ', ' }}
                                        {% endif %}
                                    {% else %}
                                     <!--Not defined in json-->
                                    {% endif %}
                                </td>
                                <td>
                                    {% if parameter.default %}{{ parameter.default | capitalize | join: ', ' }}{% endif %}
                                </td>
                                <td>{% if parameter.required == false %}No{%else%}Yes{%endif%}</td>

                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}

            {% if method[1].responses %}
            <div class="swagger-response">
                <h3>Response structure:</h3>
                {% for response in method[1].responses %}
                <p>
                    <span class="swagger-response-code">{{ response[0] }}</span>
                    {{ response[1].description }}
                </p>
                {% if response[1].schema['type'] %}

                <!--{% comment %} Parse inner prop if its obj or arr
                <ul>
                    {% for item in response[1].schema  %}
                        {% assign collection = item[1] %}
                        {% for itemCollection in collection  %}
                            {%if itemCollection[0] %}
                                <li><code class="highlighter-rouge">{{itemCollection[0]}}</code> - ( {{itemCollection[1].type }} ) - {{itemCollection[1].description }}</li>
                            {% endif %}
                        {% endfor %}
                        {% assign collection = '' %}
                    {% endfor %}
                </ul>
                {% endcomment %}-->

                <ul class="nested-list">
                    {% if response[1].schema.type == 'string'%}
                    <li>
                        <code class="highlighter-rouge">schema</code>{% if response[1].schema.type %} ({{ response[1].schema.type | lstrip }}){% endif %} - {% if response[1].schema.description %}{{ response[1].schema.description | lstrip}}{% elsif response[1].schema.format %}{{ response[1].schema.format | lstrip}}{%else%}A simple string response{% endif %}
                        <ul>
                            {% for item in response[1].schema  %}
                            <!--if obj-->
                            {% assign collection = item[1] %}
                            {% for itemCollection in collection  %}
                                {%if itemCollection[0] %}
                                <li><code class="highlighter-rouge">{{itemCollection[0]}}</code> - ( {{itemCollection[1].type }} ) - {{itemCollection[1].description }}</li>
                                {% endif %}
                            {% endfor %}
                            {% assign collection = '' %}
                            <!--if obj-->
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}<!--{% comment %} END response[1].schema['type'] {% endcomment %}-->

                {% if response[1].schema['$ref'] %}
                {% assign schemaRes = response[1].schema['$ref'] | replace: '#/',''  | replace:'/',' ' %}
                {% assign schemaSplit = schemaRes | split: ' ' %}
                <!--{% assign schemaJoin = schemaSplit | join '.'  %}-->
                <h5 class="code blue" data-ref-path="{{ schemaSplit[1] }}">
                    {{ schemaSplit[1] }}
                    {% for schemaSplitType in schemaSplit[1] %}
                    <span class="body">({{ swagger.definitions[schemaSplitType].type }})</span>
                    {% endfor %}
                </h5>
                <ul class="nested-list">
                    {% for pathFirsLvl in schemaSplit[0] %}
                    {% for pathScdLvl in schemaSplit[1] %}
                    {% for property in swagger.[pathFirsLvl][pathScdLvl].properties %}
                    <li>
                        <code class="highlighter-rouge">{{ property[0] }}</code> {% if property[1].type %}({{ property[1].type | lstrip }}){% endif %} - {% if property[1].description %}{{ property[1].description }}{% elsif property[1].format %}{{ property[1].format }}{%else%}No description specified{% endif %}{% if property[1].$ref %}{{ property[1].$ref }}{% endif %}{% if property[1].items or property[1]['$ref'] %}
                        <ul>
                            {% for item in property[1].items %}
                            <li><code class="highlighter-rouge">{{ item[0] }}</code> - {{ item[1] }}{% if item[0] == '$ref'%}
                                <ul>
                                    {% assign schemaResInner = item[1] | replace: '#/',''  | replace:'/',' ' %}
                                    {% assign schemaSplitInner = schemaResInner | split: ' ' %}
                                    {% for schemaSplitInnerEnd in schemaSplitInner[1] %}
                                    {% for innerRef in swagger.definitions.[schemaSplitInnerEnd].properties %}
                                    <li><code class="highlighter-rouge">{{ innerRef[0] }}</code> {% if property[1].type %}({{ property[1].type }}){% endif %} - {% if property[1].description %}{{ property[1].description }}{% elsif property[1].format %}{{ property[1].format }}{%else%}No description specified{% endif %}{% if property[1].$ref %}{{ property[1].$ref }}{% endif %}
                                    </li>
                                    {% endfor %}
                                    {% endfor %}
                                </ul>
                                {%endif%}
                            </li>
                            {% endfor %}
                            {% if property[1]['$ref'] %}
                            <li><code class="highlighter-rouge">$ref</code> - {{ property[1]['$ref'] }}
                                <ul>
                                    {% assign schemaPageInner = item[1] | replace: '#/',''  | replace:'/',' ' %}
                                    {% assign schemaPageSplitInner = schemaResInner | split: ' ' %}
                                    {% for schemaPageSplitInnerEnd in schemaPageSplitInner[1] %}
                                        {% for innerRefPage in swagger.definitions.[schemaPageSplitInnerEnd].properties %}
                                            <li><code class="highlighter-rouge">{{ innerRefPage[0] }}</code> {% if property[1].type %}({{ property[1].type }}){% endif %} - {% if property[1].description %}{{ property[1].description }}{% elsif property[1].format %}{{ property[1].format }}{%else%}No description specified{% endif %}{% if property[1].$ref %}{{ property[1].$ref }}{% endif %}</li>
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                    {% endfor %}
                    {% endfor %}
                </ul>
                {% endif %}<!--{% comment %} END response[1].schema['$ref'] {% endcomment %}-->

                {% if response[1].schema['type'] == 'array' %}
                <p>schema['type'] is : {{response[1].schema['type']}}</p>
                {% endif %}

                <!--{% comment %}
                {% for schema_details in schemaRes %}
                    <p>{{ swagger.schema_details }}</p>
                    <h4 class="14"> schemaRes14 : {{ swagger.schema_details.schemaRes }}</h4>
                    <h4 class="15"> schemaRes15 : {{ swagger.schema_details.['schemaRes'] }}</h4>
                {% endfor %}-->

                <!--
                {% for content_type in swagger.produces %}
                    {% if response[1].examples[content_type] %}
                    {% assign example = response[1].examples[content_type] %}
                        {% if content_type contains 'json' %}
                        {% highlight json %}{{ example }}{% endhighlight %}
                        {% elsif content_type contains 'xml' %}
                        {% highlight xml %}{{ example }}{% endhighlight %}
                        {% else %}
                        {% highlight http %}{{ example }}{% endhighlight %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% endcomment %}
                -->
                {% endfor %}
            </div>
            {% endif %}
        </div>


{% if _codePath %}
    {% assign codePath = _codePath | prepend: 'apis-code-examples/' %}
    <blockquote class="aside lang-selector" tabindex="-1">
            <p><a href="#js" class="active">JavaScript</a>
                <a href="#curl">cURL</a></p>
    </blockquote>
    {% include {{codePath}} %}
{%endif%}

{% endfor %}

<div class="article">
    {% if _reqres %}
        {% assign resreq = _reqres | prepend: 'apis-code-examples/' %}
        <blockquote class="reqres" style="margin-right: 0px;">
            <p><a href="#req">Request</a>
                <a href="#res">Response</a></p>
        </blockquote>
        {% include {{resreq}} %}
    {% endif %}
</div>

<!--{% comment %} Add post content if it defined in metadata.json {% endcomment %}-->
{% if _postContent %}
{% assign postContent = _postContent | prepend: 'apis-code-examples/' %}
<div class="article">
    {% include {{ postContent}} %}
</div>
{% endif %}

<!--{% comment %} Clear meta data {% endcomment %}-->
    {% assign _id = tag.id %}
    {% assign _title = tag.title %}
    {% assign _reqres = tag.resreq %}
    {% assign _codePath = tag.codePath %}
    {% assign _preContent = tag.preContent %}
    {% assign _postContent = tag.postContent %}

{% endfor %}


<!--
<script type="text/javascript">
// Helpers

var slice = Array.prototype.slice;

function s(expr, parent) {
    return typeof expr === "string" ? (parent || document).querySelector(expr) : expr || null;
}

function ss(expr, parent) {
    return slice.call((parent || document).querySelectorAll(expr));
}

s.bind = function(element, o) {
    if (element) {
        for (var event in o) {
            var callback = o[event];

            event.split(/\s+/).forEach(function (event) {
                element.addEventListener(event, callback);
            });
        }
    }
};

s.toggleDetails = function (element) {
    if (element.classList.contains('open')) {
        element.classList.remove('open');
    }
    else {
        element.classList.add('open');
    }
}

// Initialization

function init() {
    ss('.swagger-method-title').forEach(function (title) {
        s.bind(title, {
            'click': function (e) {
                var details = s('.swagger-method-details', title.parentNode)
                s.toggleDetails(details);
                e.preventDefault();
            }
        });
    });
}


// DOM already loaded?
if (document.readyState !== "loading") {
    init();
}
else {
    // Wait for it
    document.addEventListener("DOMContentLoaded", init);
}
</script>
-->