{% if page.data %}
{% assign swagger = site.data[page.data] %}
{% else %}
{% assign swagger = page %}
{% endif %}

<h1>{{ swagger.info.title | upcase}}</h1>
<p class="lead article">{{ swagger.info.description }}</p>

<h2 class="article">Overview</h2>
{% if swagger.basePath %}
<p>
    <strong>Base Path: </strong><code>{{ swagger.basePath }}</code>
</p>{% endif %}
{% if swagger.host %}
<p>
    <strong>Host URL: </strong><code>{{ swagger.host }}</code>
</p>{% endif %}

{% comment %}
{% if swagger.tags %}
    <h3>Tags:</h3>
    {% for tag in swagger.tags %}
    <div>
        <p> name: {{ tag.name }} , <br /> description: {{ tag.description }}</p>
    </div>
    {% endfor %}
{% endif %}
{% endcomment %}

{% for route in swagger.paths %}
<!--<div class="swagger-paths">-->
    {% for method in route[1] %}
    <h2 class="article console-link" id="{{ method[1].id | append: '-v2'}}">{{ method[1].summary }}</h2>
    <div class="">
        <!--<div class="swagger-method swagger-method-{{ method[0] }}">-->
        <!--<h3 class="swagger-method-title">
            <a href="#" class="swagger-method-link">
                <span class="swagger-method-name">{{ method[0] | upcase }}</span>
                {{ method[1].summary }}
            </a>
        </h3>-->
        <p><strong>Method: </strong>{{ method[0] | upcase }}</p>
        <p class="code red">{{ route[0] }}</p>
        <div class="">
            {% if method[1].parameters %}
            <div class="swagger-response">
                <h4>Responses</h4>
                {% for response in method[1].responses %}
                <h5>
                    <span class="swagger-response-code">{{ response[0] }}</span>
                    {{ response[1].description }}
                </h5>
                {% for content_type in swagger.produces %}

                {% if response[1].examples[content_type] %}
                {% assign example = response[1].examples[content_type] %}
                {% if content_type contains 'json' %}
                {% highlight json %}{{ example }}{% endhighlight %}
                {% elsif content_type contains 'xml' %}
                {% highlight xml %}{{ example }}{% endhighlight %}
                {% else %}
                {% highlight http %}{{ example }}{% endhighlight %}
                {% endif %}
                {% endif %}
                {% endfor %}




                {% endfor %}
            </div>
            {% endif %}
            {% if method[1].responses %}
            <div class="swagger-parameters">
                <h4>Parameters</h4>
                <table class="swagger-parameters-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Located in</th>
                            <th>Required</th>
                            <th>Type</th>
                        <tr>
                    </thead>
                    <tbody>
                        {% for parameter in method[1].parameters %}
                        <tr>
                            <td>
                                {% if parameter.required %}
                                <span class="swagger-parameter-required">
                                {% endif %}
                                {{ parameter.name }}
                                {% if parameter.required %}
                                </span>
                                {% endif %}
                            </td>
                            <td>{{ parameter.in }}</td>
                            <td>{{ parameter.description }}</td>
                            <td>
                                {% if parameter.type %}
                                {{ parameter.type | capitalize }}
                                {% if parameter.items %}
                                of {{ parameter.items.type | capitalize }}
                                {% endif %}
                                {% else %}
                                String
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>

    </div>
    {% endfor %}

    <blockquote class="aside lang-selector" tabindex="-1">
            <p><a href="#js" class="active">JavaScript</a>
                <a href="#curl">cURL</a></p>
    </blockquote>
{% highlight js %}
$.ajax({
    type:"GET",
    url:"https://app.ticketmaster.com/discovery/v2/events/k7vGFKzleBdwS.json?{apikey}",
    async:true,
    dataType: "json",
    success: function(json) {
            console.log(json);
            // Parse the response.
            // Do other things.
            },
    error: function(xhr, status, err) {
            // This time, we do not end up here!
    }
});
{% endhighlight %}

{% highlight bash %}
curl \
--include 'https://app.ticketmaster.com/discovery/v2/events/k7vGFKzleBdwS.json?{apikey}'
{% endhighlight %}


{% for method in route[1] %}
<div class="article"></div>
    {% if method[1].responses.resreq %}
    <blockquote class="article reqres" style="margin-right: 0px;">
        <p><a href="#req">Request</a>
            <a href="#res">Response</a></p>
    </blockquote>
    {% highlight json %}{{ method[1].responses.resreq.request }}{% endhighlight %}
    {% highlight json %}{{ method[1].responses.resreq.response }}{% endhighlight %}
    {% endif %}

{% endfor %}

{% endfor %}

<!--
<script type="text/javascript">
// Helpers

var slice = Array.prototype.slice;

function s(expr, parent) {
    return typeof expr === "string" ? (parent || document).querySelector(expr) : expr || null;
}

function ss(expr, parent) {
    return slice.call((parent || document).querySelectorAll(expr));
}

s.bind = function(element, o) {
    if (element) {
        for (var event in o) {
            var callback = o[event];

            event.split(/\s+/).forEach(function (event) {
                element.addEventListener(event, callback);
            });
        }
    }
};

s.toggleDetails = function (element) {
    if (element.classList.contains('open')) {
        element.classList.remove('open');
    }
    else {
        element.classList.add('open');
    }
}

// Initialization

function init() {
    ss('.swagger-method-title').forEach(function (title) {
        s.bind(title, {
            'click': function (e) {
                var details = s('.swagger-method-details', title.parentNode)
                s.toggleDetails(details);
                e.preventDefault();
            }
        });
    });
}


// DOM already loaded?
if (document.readyState !== "loading") {
    init();
}
else {
    // Wait for it
    document.addEventListener("DOMContentLoaded", init);
}
</script>
-->