<div id="footer-white" class="xs-center{% if page.category == "under_development" or page.category == "documentation" or page.categories[0] == "documentation" %} slice-top-left{% else %} slice-top-right{% endif %}">
<div class="row footer-nav">
    <div class="row-container">
        <div class="col-xs-12 col-sm-2">
            <a href="{{"/products-and-docs" | prepend: site.baseurl}}"><h5 class="blue">Products & Docs</h5></a>
            <ul>
                <li><a href="{{"/products-and-docs/apis/getting-started/" | prepend: site.baseurl}}">APIs</a></li>
                <li><a href="{{"/products-and-docs/under-development" | prepend: site.baseurl}}">SDKs</a></li>
                <li><a href="{{"/products-and-docs/under-development" | prepend: site.baseurl}}">Widgets</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-2">
            <a href="{{"/products-and-docs/under-development" | prepend: site.baseurl}}"><h5 class="blue">Partners</h5></a>
            <ul>
                <li><a href="{{"/products-and-docs/under-development" | prepend: site.baseurl}}">Clients & vendors</a></li>
                <li><a href="{{"/products-and-docs/under-development" | prepend: site.baseurl}}">Other partners</a></li>
                <li><a href="{{"/products-and-docs/under-development" | prepend: site.baseurl}}">Developers</a></li>
                <li><a href="{{"/products-and-docs/under-development" | prepend: site.baseurl}}">Affiliates</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-2">
            <a href="{{"/support" | prepend: site.baseurl}}"><h5 class="blue">Support</h5></a>
            <ul>
                <li><a href="{{"/support/faq" | prepend: site.baseurl}}">FAQ</a></li>
                <li><a href="{{"/products-and-docs/under-development" | prepend: site.baseurl}}">Forums</a></li>
                <li><a href="{{"/support/terms-of-use" | prepend: site.baseurl}}">Terms of Use</a></li>
                <li><a href="{{"/products-and-docs/under-development" | prepend: site.baseurl}}">Branding Guide</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-2">
            <a href="{{"/blogs" | prepend: site.baseurl}}"><h5 class="blue">Blogs</h5></a>
            <ul>
                <li><a href="http://tech.ticketmaster.com/">Ticketmaster Tech</a></li>
                <li><a href="https://medium.com/ticketmaster-tech">Ticketmaster Medium Publication</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-2">
            <a href="{{"/products-and-docs/under-development" | prepend: site.baseurl}}"><h5 class="blue">Events</h5></a>
            <ul>
                <li><a href="{{"/products-and-docs/under-development" | prepend: site.baseurl}}">Hackatons</a></li>
                <li><a href="{{"/products-and-docs/under-development" | prepend: site.baseurl}}">Meetups</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-2">
            <a href="{{"/products-and-docs/under-development" | prepend: site.baseurl}}"><h5 class="blue">Open Source</h5></a>
            <ul>
                <li><a href="http://code.ticketmaster.com">Android</a></li>
                <li><a href="http://code.ticketmaster.com">Backend</a></li>
                <li><a href="http://code.ticketmaster.com">iOS</a></li>
                <li><a href="http://code.ticketmaster.com">Web</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row bottom-logo" style="margin-bottom: 10px;">
    <div class="row-container">
        <div class="col-xs-12">
            <a href="{{"/" | prepend: site.baseurl}}">
            <img src="/assets/img/footer/ticketmaster-logo-grey.svg">
            <span>© 1976–2015 Ticketmaster. All rights reserved.</span>
            </a>
        </div>
    </div>
</div>
</div>