<form accept-charset="UTF-8" action="#" method="POST" class="js_nexus_form">
  <div class="col-lg-12">
    <label for="name">API Key</label>
    <input type="text" id="first-name" name="firstName">
  </div>
  <div class="col-lg-12">
    <label for="last-name">Themes</label>
    <div class="tab-buttons">
      <button type="button" class="active">1</button>
      <button type="button" disabled>2</button>
      <button type="button" disabled>3</button>
    </div>
  </div>
  <div class="col-lg-12">
    <label for="last-name">Color Scheme</label>
    <div class="tab-buttons">
      <button type="button" class="active">Light</button>
      <button type="button" disabled>Dark</button>
    </div>
  </div>
  <div class="col-lg-12">
    <label for="last-name">Layout</label>
    <div class="tab-buttons">
      <button type="button" class="active" disabled>Vertical</button>
      <button type="button" disabled>Horizontal</button>
    </div>
  </div>
  <div class="col-lg-12">
    <label for="email">Width (px)</label>
    <input type="range" max="600" min="300">
  </div>
  <div class="col-lg-12">
    <label for="email">Corner Radius (px)</label>
    <input type="range" max="600" min="300">
  </div>
  <div class="col-sm-6">
    <button type="button" type="submit" class="button-blue">GET CODE</button>
    <button type="button" type="submit" class="button-blue">RESET</button>
  </div>
</form>