
<form accept-charset="UTF-8" class="main-widget-config-form common_tabs">


  <ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active">
      <a href="#widget-config-setup" data-toggle="tab">Technical</a>
    </li>
    <li>
      <a href="#widget-config-styling" data-toggle="tab">Visual</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade active" id="widget-config-setup">
      <div class="row">
        <div class="col-lg-12">
          <label for="w-tm-api-key">API Key</label>
          <input type="text" id="w-tm-api-key" name="w-tm-api-key" value="KRUnjq8y8Sg5eDpP90dNzOK70d4WiUst">
        </div>
        <div class="col-lg-12">
          <label for="w-keyword">Keyword</label>
          <input type="text" id="w-keyword" name="w-keyword" value="">
        </div>
        <div class="col-lg-12">
          <label>Period</label>
          <div class="tab-buttons">
            <input checked id="w-period-day" type="radio" value="day" name="w-period">
            <label for="w-period-day">Today</label>
            <input checked id="w-period-week" type="radio" value="week" name="w-period">
            <label for="w-period-week">Week</label>
            <input id="w-period-month" type="radio" value="month" name="w-period">
            <label for="w-period-month">Month</label>
            <input id="w-period-year" type="radio" value="year" name="w-period">
            <label for="w-period-year">Year</label>
          </div>
        </div>
        <div class="col-lg-6">
          <label for="w-postalcode">ZIP Code</label>
          <input type="text" id="w-postalcode" name="w-postalcode" value="90015">
        </div>
        <div class="col-lg-6">
          <label for="w-size">Event Count</label>
          <input type="text" id="w-size" name="w-size" value="25">
        </div>

        <div class="col-lg-12">
          <label for="w-attractionid">Attraction ID</label>
          <input type="text" id="w-attractionid" name="w-attractionid" value="">
        </div>

        <div class="col-lg-12">
          <label for="w-promoterid">Promoter ID</label>
          <input type="text" id="w-promoterid" name="w-promoterid" value="">
        </div>

        <!--<div class="col-lg-12">-->
          <!--<label for="w-radius">Radius</label>-->
          <!--<input type="text" id="w-radius" name="w-radius" value="2">-->
        <!--</div>-->
      </div>
    </div>

    <div class="tab-pane fade" id="widget-config-styling">
      <div class="row">
        <div class="col-lg-12">
          <label>Themes</label>
          <div class="tab-buttons">
            <input checked id="w-theme-simple" type="radio" value="simple" name="w-theme">
            <label for="w-theme-simple">Poster</label>
            <input id="w-theme-oldschool" type="radio" value="oldschool" name="w-theme">
            <label for="w-theme-oldschool">Oldskool</label>
            <input id="w-theme-newschool" type="radio" value="newschool" name="w-theme">
            <label for="w-theme-newschool">Color Block</label>
          </div>
        </div>
        <div class="col-lg-12">
          <label>Color Scheme</label>
          <div class="tab-buttons">
            <input checked disabled id="w-colorscheme-light" type="radio" value="light" name="w-colorscheme">
            <label for="w-colorscheme-light">Light</label>
            <input disabled id="w-colorscheme-dark" type="radio" value="dark" name="w-colorscheme">
            <label for="w-colorscheme-dark">Dark</label>
          </div>
        </div>
        <div class="col-lg-12">
          <label>Layout</label>
          <div class="tab-buttons">
            <input checked id="w-layout-vertical" type="radio" value="vertical" name="w-layout">
            <label for="w-layout-vertical">Vertical</label>
            <input id="w-layout-horizontal" type="radio" value="horizontal" name="w-layout">
            <label for="w-layout-horizontal">Horizontal</label>
          </div>
        </div>
        <div class="col-lg-12">
          <label for="w-width">Width (px)</label>
          <input type="range" id="w-width" name="w-width" max="500" min="350" value="350">
        </div>
        <!--<div class="col-lg-12 base-margin">
          <input type="checkbox" id="w-border">
          <label for="w-border"><span></span>Include Border</label>
        </div>-->
        <div class="col-lg-12">
          <label for="w-borderradius">Corner Radius (px)</label>
          <input type="range" id="w-borderradius" name="w-borderradius" max="20" min="0" value="4">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <button id="js_get_widget_code" type="button" class="btn btn-submit button-blue">GET CODE</button>
      <button id="js_reset_widget" type="button" class="btn button-white-gray-border">RESET</button>
    </div>
  </div>

</form>
