
<form accept-charset="UTF-8" class="main-widget-config-form common_tabs" method="post" autocomplete="off">

  <!--Use for mobile devices 'Go' button-->
  <button type="submit" class="hidden"></button>

  <ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active">
      <a href="#widget-config-setup" data-toggle="tab">Technical</a>
    </li>
    <li>
      <a id="js_styling_nav_tab" href="#widget-config-styling" data-toggle="tab">Visual</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade in active" id="widget-config-setup">
      <div class="row row-native">
        <div class="col-lg-12 col-md-6 col-sm-6">
          <div class="widget_api_key">
            <label for="w-tm-api-key">
              API Key <span class="config_field__description">(Required)</span>
            </label>
            <a href="https://developer-acct.ticketmaster.com/user/login" class="pull-right">Get your own</a>
            <div class="widget_api_key__field custom_select" id="js_custom_select_key">
              <input type="text" id="w-tm-api-key" name="w-tm-api-key" value="">
							<a href="/support/faq/" class="widget_api_key__question"></a>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-6 col-sm-6">
          <label for="w-id">
            Event Id <span class="config_field__description">(Required)</span>
          </label>
          <input type="text" id="w-id" name="w-id" value="vvG1VZfp5YNjko" class="js_lazy-selector double-margin-bottom">
        </div>
      </div>

    </div>

    <div class="tab-pane fade" id="widget-config-styling">
      <div class="row row-native">
        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-sm-theme">
          <label>Themes</label>
          <div class="tab-buttons">
            <input checked id="w-theme-simple" type="radio" value="simple_countdown" name="w-theme">
            <label for="w-theme-simple">Poster</label>
            <input id="w-theme-fullwidth" type="radio" value="fullwidth" name="w-theme">
            <label for="w-theme-fullwidth">Full-width</label>
          </div>
        </div>-->

        <div class="col-lg-12 col-md-12 col-sm-12 col-sm-layout" id="js-layout-box">
          <div class="row base-margin-bottom">
            <label>Layout</label>
            <div class="col-lg-12 js-fixed-size-buttons radio-buttons">
              <div class="row">
                <div class="col-lg-6 col-sm-2 col-xs-6 widget__various-width">
                  <input id="w-fixed-300x600" type="radio" value="xxl" name="w-proportion">
                  <label for="w-fixed-300x600">300x600</label>
                </div>
                <div class="col-lg-6 col-sm-2 col-xs-6 widget__various-width">
                  <input id="w-fixed-300x250" type="radio" value="m" name="w-proportion">
                  <label for="w-fixed-300x250">300x250</label>
                </div>
								<div class="col-lg-6 col-sm-2 col-xs-6 widget__various-width">
									<input id="w-layout-fullwidth" type="radio" value="fullwidth" name="w-proportion">
									<label for="w-layout-fullwidth">Fullwidth</label>
								</div>
                <div class="col-lg-6 col-sm-2 col-xs-6 widget__various-width">
                  <input checked id="w-custom" type="radio" value="custom" name="w-proportion">
                  <label for="w-custom">Custom</label>
                </div>
              </div>
            </div>
            <div class="col-lg-12 js-tab-buttons radio-buttons">
              <div class="row">
                <div class="col-lg-12 line"></div>
                <div class="col-xs-6 widget__various-width">
                  <input checked id="w-layout-vertical" type="radio" value="vertical" name="w-layout">
                  <label for="w-layout-vertical">Vertical</label>
                </div>
                <div class="col-xs-6 widget__various-width">
                  <input id="w-layout-horizontal" type="radio" value="horizontal" name="w-layout">
                  <label for="w-layout-horizontal">Horizontal</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row row-native">
				<div class="col-lg-12 js_widget_width_slider">
					<label for="w-width">
						Width <span class="config_field__description">(px)</span>
					</label>
					<div class="row row-native">
						<div class="col-lg-6">
							<input id="w-width" name="w-width" type="number" size="6" min="200" max="1920" value="350" />
						</div>
						<div class="col-lg-6">
							<span class="config_field__description max">max width is 1920 px</span>
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<label for="w-borderradius">
						Corner Radius <span class="config_field__description">(px)</span>
					</label>
					<div class="row row-native">
						<div class="col-lg-6">
							<input id="w-borderradius" name="w-borderradius" type="number" min="0" value="4" />
						</div>
						<div class="col-lg-6">
							<span class="config_field__description max">max radius is 50 px</span>
						</div>
					</div>
				</div>
      </div>
    </div>

    <div class="row row-native visible-lg">
      <div class="col-lg-6 col-md-3 col-sm-3">
        <button type="button" class="js_get_widget_code btn btn-block button button-blue widget_config__btn">GET CODE</button>
      </div>
      <div class="col-lg-6 col-md-3 col-sm-3">
        <button type="button" class="js_reset_widget btn btn-block button-white-gray-border widget_config__btn">RESET</button>
      </div>
    </div>
  </div>

</form>

