
<form accept-charset="UTF-8" class="main-widget-config-form common_tabs" method="post" autocomplete="off">

	<!--Use for mobile devices 'Go' button-->
	<button type="submit" class="hidden"></button>

	<ul class="nav nav-tabs" data-tabs="tabs">
		<li class="active">
			<a href="#widget-config-setup" data-toggle="tab">Technical</a>
		</li>
		<li>
			<a id="js_styling_nav_tab" href="#widget-config-styling" data-toggle="tab">Visual</a>
		</li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane fade in active" id="widget-config-setup">
			<div class="row row-native">
				<div class="col-lg-12 col-md-12 col-sm-6">
					<div class="widget_api_key">
						<label for="w-tm-api-key">
							API Key <span class="config_field__description">(Required)</span>
						</label>
						<a href="https://developer-acct.ticketmaster.com/user/login" class="pull-right">Get your own</a>
						<div class="widget_api_key__field custom_select" id="js_custom_select_key">
							<input type="text" id="w-tm-api-key" name="w-tm-api-key" value="">
							<a href="/support/faq/" class="widget_api_key__question"></a>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-6">
					<label for="w-googleapikey">
						Google API Key <span class="config_field__description">(Required)</span>
					</label>
					<input type="text" id="w-googleapikey" name="w-googleapikey" value="">
				</div>
				<div class="col-lg-12 col-md-12 col-sm-6">
					<label for="w-keyword">Keyword</label>
					<input type="text" id="w-keyword" name="w-keyword" value="">
				</div>
			</div>
			<div class="row row-native">
				<div class="col-lg-12 base-margin-bottom">
					<label>Period</label>
					<div class="row radio-buttons">
						<div class="col-lg-3 col-sm-2 col-xs-6 widget__various-min-width">
							<input checked id="w-period-day" type="radio" value="day" name="w-period">
							<label for="w-period-day">Today</label>
						</div>
						<div class="col-lg-3 col-sm-2 col-xs-6 widget__various-min-width">
							<input checked id="w-period-week" type="radio" value="week" name="w-period">
							<label for="w-period-week">Week</label>
						</div>
						<div class="col-lg-3 col-sm-2 col-xs-6 widget__various-min-width">
							<input id="w-period-month" type="radio" value="month" name="w-period">
							<label for="w-period-month">Month</label>
						</div>
						<div class="col-lg-3 col-sm-2 col-xs-6 widget__various-min-width">
							<input id="w-period-year" type="radio" value="year" name="w-period">
							<label for="w-period-year">Year</label>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-native">
			  <div class="col-lg-12 col-md-12 col-sm-12">
					<div class="loclatlong">
						<div class="widget__location">
							<p>You can input locaton data or <span>use Geoposition</span></p>
							<div class="row row-native">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<label for="w-countryCode">Country Code</label>
									<div class="js_custom_select custom_select">
										{% assign countryCodesData = site.data.orgs['discovery-api']['v2'].countryCode %}
										<select id="w-countryCode" class="custom_select__field" name="w-countryCode" tabindex="0">
											{% for country in countryCodesData.CountryCode %}
											<option value="{{country | truncatewords: 1,''}}">{{country | slice: 2, 99 | replace: '(','' | replace: ')','' | strip }}</option>
											{% endfor %}
										</select>
										<input type="hidden" id="h-countryCode" name="h-countryCode" value="">
										<input class="custom_select__placeholder" type="text" value="{{countryCodesData.CountryCode[0] | slice: 2, 99 | replace: '(','' | replace: ')','' | strip}}" readonly="">
										<ul class="custom_select__list js_widget_custom__list mh-300">
											{% for country in countryCodesData.CountryCode %}
											<li class="custom_select__item" data-value="{{country | truncatewords: 1,''}}">{{country | slice: 2, 99 | replace: "(","" | replace: ")","" | strip }}</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
							<div class="row row-native">
								<div class="col-lg-5 col-md-5 col-sm-5">
									<label for="w-postalcode">Postal Code</label>
										<input type="text" id="w-postalcode" name="w-postalcode" value="">
									  <input type="hidden" id="h-postalcode" name="h-postalcode" value="">
								</div>
								<div class="col-lg-7 col-md-7 col-sm-7">
									<label for="w-city">City</label>
									<input type="text" id="w-city" name="w-city" value="Los Angeles">
									<input type="hidden" id="h-city" name="h-city" value="">
								</div>
							</div>
						</div>
						<div class="widget__latlong hidn">
							<p>You can use Geoposition or <span>input Location data</span></p>
							<div class="row row-native">
								<div class="col-lg-8 col-md-8 col-sm-8 latlong-holder">
								  <label for="w-latlong">Geoposition <span class="config_field__description">(Latitude, Longitude)</span></label>
								  <input type="text" id="w-latlong" name="w-latlong" value="">
									<a href="#" id="js_widget_modal_map__open" class="latlong-picker"></a>
								  <input type="hidden" id="h-latlong" name="h-latlong" value="34.0390107, -118.2672801">
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4">
									<label for="w-radius">
										Radius <span class="config_field__description">(miles)</span>
									</label>
									<input class="js_widget__number js_numeric_input text-center" type="number" id="w-radius" name="w-radius" value="25" min="1" max="19999">
							  </div>
								<div class="col-lg-12 col-md-12 col-sm-12">
									<input type="checkbox" name="w-geoposition" id="w-geoposition" value="off">
									<label for="w-geoposition">«Near Me» button is enabled *</label>
									<p><small>* «Near Me» button function is available only with SSL connection</small></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row row-native">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<label for="w-source">Source</label>
					<div class="js_custom_select custom_select">
						<select id="w-source" class="custom_select__field" name="w-source" tabindex="0">
							<option value="" label="none">none</option>
							<option value="ticketmaster">ticketmaster</option>
							<option value="tmr">ticketmaster resale platform</option>
							<option value="universe">universe</option>
							<option value="frontgate">frontgate</option>
						</select>
						<input class="custom_select__placeholder" type="text" value="none" readonly="">
						<ul class="custom_select__list js_widget_custom__list">
							<li class="custom_select__item" data-value="" >none</li>
							<li class="custom_select__item" data-value="ticketmaster">ticketmaster</li>
							<li class="custom_select__item" data-value="tmr">tmr (ticketmaster resale platform)</li>
							<li class="custom_select__item" data-value="universe">universe</li>
							<li class="custom_select__item" data-value="frontgate">frontgate</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12">
					<label for="w-classificationname">Classification Name</label>
					<input type="text" id="w-classificationname" name="w-classificationname" value="" class="js_lazy-selector-classification">
				</div>
			</div>

			<div class="row row-native">
				<div class="col-lg-6 col-md-6 col-sm-3">
					<label for="w-attractionid">Attraction ID</label>
					<input type="text" id="w-attractionid" name="w-attractionid" value="" class="js_lazy-selector-attractions">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-3">
					<label for="w-promoterid">Promoter ID</label>
					<input type="text" id="w-promoterid" name="w-promoterid" value="">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-3">
					<label for="w-venueid">Venue ID</label>
					<input type="text" id="w-venueid" name="w-venueid" value="" class="js_lazy-selector-venues">
				</div>
			</div>

			<div class="row row-native">
				<div class="col-lg-12 col-md-6 col-sm-6">
					<label for="w-size">
						Event Count <span class="config_field__description">(1-100)</span>
					</label>
				</div>
				<div class="col-lg-3 col-md-2 col-sm-2 widget__various-width">
					<input class="js_widget__number js_numeric_input text-center double-margin-bottom" type="number" id="w-size" name="w-size" value="25" max="100" min="1" required>
				</div>
			</div>
		</div>

		<div class="tab-pane fade" id="widget-config-styling">
			<div class="row row-native">
				<div class="col-lg-12 col-md-12 col-sm-12 col-sm-color_scheme">
					<div class="widget__color_scheme_control" style="display: none">
						<label>Color Scheme</label>
						<div class="tab-buttons">
							<input checked id="w-colorscheme-light" type="radio" value="light" name="w-colorscheme">
							<label for="w-colorscheme-light">Light</label>
							<input id="w-colorscheme-dark" type="radio" value="dark" name="w-colorscheme">
							<label for="w-colorscheme-dark">Dark</label>
						</div>
					</div>
				</div>

				<div class="col-lg-12 col-md-12 col-sm-12 col-sm-layout">
					<div class="row base-margin-bottom">
						<label>Layout</label>
						<div class="col-lg-12 js-fixed-size-buttons radio-buttons">
							<div class="row">
								<div class="col-lg-4 col-sm-2 col-xs-2  widget__various-width">
									<input id="w-fixed-300x600" type="radio" value="m" name="w-proportion">
									<label for="w-fixed-300x600">300x600</label>
								</div>
								<div class="col-lg-6 col-sm-2 col-xs-2  widget__various-width">
									<input id="w-fixed-300x250" type="radio" value="s" name="w-proportion">
									<label for="w-fixed-300x250">300x250</label>
								</div>
								<div class="col-lg-6 col-sm-2 col-xs-2  widget__various-width">
									<input checked id="w-custom" type="radio" value="custom" name="w-proportion">
									<label for="w-custom">Custom</label>
								</div>
							</div>
						</div>
						<div class="col-lg-12 js-tab-buttons radio-buttons">
							<div class="row">
								<div class="col-lg-12 line"></div>
								<div class="col-lg-4 col-sm-2 col-xs-2  widget__various-width">
									<input checked id="w-layout-vertical" type="radio" value="vertical" name="w-layout">
									<label for="w-layout-vertical">Vertical</label>
								</div>
								<div class="col-lg-4 col-sm-2 col-xs-2  widget__various-width">
									<input id="w-layout-horizontal" type="radio" value="horizontal" name="w-layout">
									<label for="w-layout-horizontal">Horizontal</label>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="row row-native">
				<div class="col-lg-12 js_widget_width_slider">
					<label for="w-width">
						Width <span class="config_field__description">(px)</span>
					</label>
					<div class="bootstrap_slider bootstrap_slider-horizontal">
						<input id="w-width" name="w-width" type="text" data-slider-min="350" data-slider-max="500" data-slider-step="1" data-slider-value="350">
					</div>
				</div>
				<div class="col-lg-12 double-margin-bottom">
					<label for="w-borderradius">
						Corner Radius <span class="config_field__description">(px)</span>
					</label>
					<div class="bootstrap_slider bootstrap_slider-horizontal">
						<input id="w-borderradius" name="w-borderradius" type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="4">
					</div>
				</div>
			</div>
		</div>

		<div class="row row-native visible-lg">
			<div class="col-lg-6 col-md-3 col-sm-3">
				<button type="button" class="js_get_widget_code btn btn-block button button-blue widget_config__btn">GET CODE</button>
			</div>
			<div class="col-lg-6 col-md-3 col-sm-3">
				<button type="button" class="js_reset_widget btn btn-block button-white-gray-border widget_config__btn">RESET</button>
			</div>
		</div>
	</div>

</form>
