/*Interstate*/
@font-face {
  font-family: "InterstateWGL-Black";
  src: url("../assets/fonts/Interstate/Interstate%20Web%20Fonts/Interstate-WGL-Black/b2b70f79-f67e-4018-8328-fc80a7c3b0c2-2.eot");
  src: url("../assets/fonts/Interstate/Interstate%20Web%20Fonts/Interstate-WGL-Black/b2b70f79-f67e-4018-8328-fc80a7c3b0c2-2.eot?") format("embedded-opentype"),
  url("../assets/fonts/Interstate/Interstate%20Web%20Fonts/Interstate-WGL-Black/b2b70f79-f67e-4018-8328-fc80a7c3b0c2-3.woff") format("woff"),
  url("../assets/fonts/Interstate/Interstate%20Web%20Fonts/Interstate-WGL-Black/b2b70f79-f67e-4018-8328-fc80a7c3b0c2-1.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "InterstateWGL-Bold";
  src: url("../assets/fonts/Interstate/Interstate%20Web%20Fonts/Interstate-WGL-Bold/ede4a173-d762-4150-851f-9efb69bab129-2.eot");
  src: url("../assets/fonts/Interstate/Interstate%20Web%20Fonts/Interstate-WGL-Bold/ede4a173-d762-4150-851f-9efb69bab129-2.eot?") format("embedded-opentype"),
  url("../assets/fonts/Interstate/Interstate%20Web%20Fonts/Interstate-WGL-Bold/ede4a173-d762-4150-851f-9efb69bab129-3.woff") format("woff"),
  url("../assets/fonts/Interstate/Interstate%20Web%20Fonts/Interstate-WGL-Bold/ede4a173-d762-4150-851f-9efb69bab129-1.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "InterstateWGL-Light";
  src: url("../assets/fonts/Interstate/Interstate%20Web%20Fonts/Interstate-WGL-Light/fb36d2cd-a433-4526-a8e3-39f811410334-2.eot");
  src: url("../assets/fonts/Interstate/Interstate%20Web%20Fonts/Interstate-WGL-Light/fb36d2cd-a433-4526-a8e3-39f811410334-2.eot?") format("embedded-opentype"),
  url("../assets/fonts/Interstate/Interstate%20Web%20Fonts/Interstate-WGL-Light/fb36d2cd-a433-4526-a8e3-39f811410334-3.woff") format("woff"),
  url("../assets/fonts/Interstate/Interstate%20Web%20Fonts/Interstate-WGL-Light/fb36d2cd-a433-4526-a8e3-39f811410334-1.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "InterstateWGL-Regular";
  src: url("../assets/fonts/Interstate/Interstate%20Web%20Fonts/Interstate-WGL-Regular/50851f63-49a2-4339-bb32-67ff8c181feb-2.eot");
  src: url("../assets/fonts/Interstate/Interstate%20Web%20Fonts/Interstate-WGL-Regular/50851f63-49a2-4339-bb32-67ff8c181feb-2.eot?") format("embedded-opentype"),
  url("../assets/fonts/Interstate/Interstate%20Web%20Fonts/Interstate-WGL-Regular/50851f63-49a2-4339-bb32-67ff8c181feb-3.woff") format("woff"),
  url("../assets/fonts/Interstate/Interstate%20Web%20Fonts/Interstate-WGL-Regular/50851f63-49a2-4339-bb32-67ff8c181feb-1.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/*Interstate END*/

/*TMSansLEADINGFIXED*/
@font-face {
  font-family: "TMSansLEADINGFIXED-Light";
  src: url("../assets/fonts/tmSans%20LEADING%20FIXED/TMSansLEADINGFIXED-Light.otf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "TMSansLEADINGFIXED-Regular";
  src: url("../assets/fonts/tmSans%20LEADING%20FIXED/TMSansLEADINGFIXED-Regular.otf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "TMSansLEADINGFIXED-Italic";
  src: url("../assets/fonts/tmSans%20LEADING%20FIXED/TMSansLEADINGFIXED-Italic.otf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "TMSansLEADINGFIXED-Bold";
  src: url("../assets/fonts/tmSans%20LEADING%20FIXED/TMSansLEADINGFIXED-Bold.otf");
  font-style: normal;
  font-weight: normal;
}
/*TMSansLEADINGFIXED END*/


@font-face {
  font-family: "SourceCodePro-Regular";
  src: url("../assets/fonts/Other%20fonts/SourceCodePro-Regular.ttf");
  src: url("../assets/fonts/Other%20fonts/SourceCodePro-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "fontawesome";
  src: url("../assets/fonts/Other%20fonts/fontawesome-webfont.ttf");
  src: url("../assets/fonts/Other%20fonts/fontawesome-webfont.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*TMSans*/
@font-face {
  font-family: "TMSans-Regular";
  src: url("../assets/fonts/tmSans/tmSans_Web/TMSans-Regular.eot");
  src: url("../assets/fonts/tmSans/tmSans_Web/TMSans-Regular.eot?") format("embedded-opentype"),
  url("../assets/fonts/tmSans/tmSans_Web/TMSans-Regular.woff") format("woff"),
  url("../assets/fonts/tmSans/tmSans_Web/TMSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "TMSans-Light";
  src: url("../assets/fonts/tmSans/tmSans_Web/TMSans-Light.eot");
  src: url("../assets/fonts/tmSans/tmSans_Web/TMSans-Light.eot?") format("embedded-opentype"),
  url("../assets/fonts/tmSans/tmSans_Web/TMSans-Light.woff") format("woff"),
  url("../assets/fonts/tmSans/tmSans_Web/TMSans-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "TMSans-Italic";
  src: url("../assets/fonts/tmSans/tmSans_Web/TMSans-Italic.eot");
  src: url("../assets/fonts/tmSans/tmSans_Web/TMSans-Italic.eot?") format("embedded-opentype"),
  url("../assets/fonts/tmSans/tmSans_Web/TMSans-Italic.woff") format("woff"),
  url("../assets/fonts/tmSans/tmSans_Web/TMSans-Italic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "TMSans-Bold";
  src: url("../assets/fonts/tmSans/tmSans_Web/TMSans-Bold.eot");
  src: url("../assets/fonts/tmSans/tmSans_Web/TMSans-Bold.eot?") format("embedded-opentype"),
  url("../assets/fonts/tmSans/tmSans_Web/TMSans-Bold.woff") format("woff"),
  url("../assets/fonts/tmSans/tmSans_Web/TMSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*TMSans END*/