/**
 * Sliced images
 */
.slice-bottom-right{
  &:after{
    @include sliced-image('bottom', 'left');
  }
}

.slice-bottom-left{
  &:after{
    @include sliced-image('bottom', 'right');
  }
}

.slice-top-right{
  &:before{
    @include sliced-image('top', 'right');
  }
}
.slice-top-left{
  &:before{
    @include sliced-image('top', 'left');
  }
}
.slice-bottom-right,
.slice-bottom-left,
.slice-top-right,
.slice-top-left{
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.slice-top-right,
.slice-top-left{
  &>div:first-child{
    margin-top: 140px;
    @media (max-width: 767px){
      margin-top: 101px;
    }
  }
}
.slice-bottom-right,
.slice-bottom-left{
  padding-bottom: 150px;
  &>div:first-child{
    margin-bottom: 90px;
    @media (max-width: 767px){
      margin-bottom: 64px;
    }
  }
}

