h1 {
  color: $n1;
  font-family: $font-h1;
  font-size:$size-h1;
  line-height: $line-height-h1;
  text-transform: uppercase;
  @media (max-width: 767px){
    font-size:$size-h3;
    line-height: $line-height-h3;
    padding: 0;
  }
}
h2 {
  font-family: $font-h2 ;
  font-size: $size-h2;
  color: $n1;
  line-height: $line-height-h2;
  @media (max-width: 767px){
    font-size:$size-h3;
    line-height: $line-height-h3;
  }
}

h3 {
  font-family: $font-h3;
  font-size: $size-h3;
  color: $n1;
  line-height: $line-height-h3;
  @media (max-width: 767px){
    font-size:$size-h4;
    line-height: $line-height-h4;
  }
}

h4 {
  color: $n1;
  font-family: $font-h4;
  font-size: $size-h4;
  margin-bottom: $spacing-header;
  margin-top: $spacing-header;
  line-height: $line-height-h4;
}
h5 {
  color: $n1;
  font-family: $font-h5;
  font-size: $size-h5;
  margin-bottom: $spacing-header;
  margin-top: $spacing-header;
  line-height: $line-height-h5;
}
h6 {
  color: $n1;
  font-family: $font-h6;
  font-size: $size-h6;
  margin-bottom: $spacing-header;
  margin-top: $spacing-header;
  line-height: $line-height-h6;
  @media (max-width: 767px){
    font-family: $font-h5;
    font-size:$size-h5;
    line-height: $line-height-h5;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}

b,strong {
  font-family: $font-bold-p;
  color: $n1;
  font-weight: normal;
}

.lead {
  font-family: $font-lead;
  font-size: $size-lead;
  color: $n2-grey-color;
  line-height: $line-height-lead;
  b,strong {
    color: $n2-grey-color;
  }
  @media (max-width: 767px){
    font-size: $size-lead-mobile;
    line-height: $line-height-lead-mobile;
  }
}

.body {
  font-family: $font-body;
  font-size: $size-body;
  color: $n2-grey-color;
  line-height: $line-height-body;
  b,strong {
    color: $n2-grey-color;
  }
 }

.caption {
  font-family: $font-caption;
  font-size: $size-caption;
  color: $n2-grey-color;
  line-height: $line-height-caption;
  b,strong {
    color: $n2-grey-color;
  }
}

.pull-quote {
  font-family: $font-pull-q;
  font-size: $size-pull-q;
  color: $p1c;
  line-height: $line-height-pull-q;
  b,strong {
    color: $p1c;
    font-family: $font-pull-q;
  }
}

.code {
  font-family: $font-code;
  font-size: $size-code;
  color: $n2-grey-color;
  line-height: $line-height-code;
}

.black {
  color: $n1;
}
.white {
  color: $white;
}
.blue {
  color: $blue;
}
.red {
  color: $secondary-color1;
}