{
  "swagger" : "2.0",
  "info" : {
    "description" : "Publish API",
    "version" : "v2",
    "title" : "ticketmaster publish api",
    "termsOfService" : "This is the term of service",
    "contact" : {
      "name" : "Sylvain Gilbert",
      "url" : "http://developer.ticketmaster.com/",
      "email" : "sylvain.gilbert@ticketmaster.com"
    }
  },
  "host" : "www.ticketmaster.com",
  "basePath" : "/publish/v2",
  "paths" : {
    "/discovery/v2/attractions" : {
      "post" : {
        "summary" : "Publish an attractions",
        "description" : "Since 1.0.0",
        "operationId" : "publishAttraction",
        "parameters" : [ {
          "in" : "body",
          "name" : "data",
          "description" : "Attraction",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Attraction"
          }
        }, {
          "name" : "TMPS-Correlation-Id",
          "in" : "header",
          "description" : "Unique correlation id to be able to trace the request in our system",
          "required" : true,
          "type" : "string",
          "default" : ""
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IngestionResult"
            }
          }
        }
      }
    },
    "/discovery/v2/attractions/{id}" : {
      "patch" : {
        "summary" : "Publish a path on an attraction",
        "description" : "Since 1.0.0",
        "operationId" : "patchAttraction",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID of the attraction the patch will be applied",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "data",
          "description" : "Patch to apply",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AugmentationData"
          }
        }, {
          "name" : "TMPS-Correlation-Id",
          "in" : "header",
          "description" : "Unique correlation id to be able to trace the request in our system",
          "required" : true,
          "type" : "string",
          "default" : ""
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IngestionResult"
            }
          }
        }
      }
    },
    "/discovery/v2/events" : {
      "post" : {
        "summary" : "Publish an event",
        "description" : "Since 1.0.0",
        "operationId" : "publishEvent",
        "parameters" : [ {
          "in" : "body",
          "name" : "data",
          "description" : "Event",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Event"
          }
        }, {
          "name" : "TMPS-Correlation-Id",
          "in" : "header",
          "description" : "Unique correlation id to be able to trace the request in our system",
          "required" : true,
          "type" : "string",
          "default" : ""
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IngestionResult"
            }
          }
        }
      }
    },
    "/discovery/v2/events/{id}" : {
      "patch" : {
        "summary" : "Publish a path on an event",
        "description" : "Since 1.0.0",
        "operationId" : "patchEvent",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID of the event the patch will be applied",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "data",
          "description" : "Patch to apply",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AugmentationData"
          }
        }, {
          "name" : "TMPS-Correlation-Id",
          "in" : "header",
          "description" : "Unique correlation id to be able to trace the request in our system",
          "required" : true,
          "type" : "string",
          "default" : ""
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IngestionResult"
            }
          }
        }
      }
    },
    "/discovery/v2/extensions" : {
      "post" : {
        "summary" : "Publish extension on an entity",
        "description" : "Since 1.0.0",
        "operationId" : "publishExtension",
        "parameters" : [ {
          "in" : "body",
          "name" : "data",
          "description" : "Extension information to add to the entity",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Extension"
          }
        }, {
          "name" : "TMPS-Correlation-Id",
          "in" : "header",
          "description" : "Unique correlation id to be able to trace the request in our system",
          "required" : true,
          "type" : "string",
          "default" : ""
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IngestionResult"
            }
          }
        }
      }
    },
    "/discovery/v2/venues" : {
      "post" : {
        "summary" : "Publish a venue",
        "description" : "Since 1.0.0",
        "operationId" : "publishVenue",
        "parameters" : [ {
          "in" : "body",
          "name" : "data",
          "description" : "Venue",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Venue"
          }
        }, {
          "name" : "TMPS-Correlation-Id",
          "in" : "header",
          "description" : "Unique correlation id to be able to trace the request in our system",
          "required" : true,
          "type" : "string",
          "default" : ""
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IngestionResult"
            }
          }
        }
      }
    },
    "/discovery/v2/venues/{id}" : {
      "patch" : {
        "summary" : "Publish a path on a venue",
        "description" : "Since 1.0.0",
        "operationId" : "patchVenue",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID of the venue the patch will be applied",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "data",
          "description" : "Patch to apply",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AugmentationData"
          }
        }, {
          "name" : "TMPS-Correlation-Id",
          "in" : "header",
          "description" : "Unique correlation id to be able to trace the request in our system",
          "required" : true,
          "type" : "string",
          "default" : ""
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/IngestionResult"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "AccessDates" : {
      "type" : "object",
      "properties" : {
        "startDateTime" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "since[1.0.0]||Event's start access time"
        },
        "startApproximate" : {
          "type" : "boolean",
          "description" : "since[1.0.0]||Boolean flag to indicate whether or not the access start date is approximated",
          "default" : false
        },
        "endDateTime" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "since[1.0.0]||Event's end access time"
        },
        "endApproximate" : {
          "type" : "boolean",
          "description" : "since[1.0.0]||Boolean flag to indicate whether or not the access end date is approximated",
          "default" : false
        }
      },
      "description" : "This class defines Event's Access Date on the Discovery API"
    },
    "Address" : {
      "type" : "object",
      "properties" : {
        "line1" : {
          "type" : "string",
          "description" : "Address first line"
        },
        "line1s" : {
          "type" : "object",
          "example" : "en-us: line1",
          "description" : "Aaddress first line - multi-lingual fields",
          "additionalProperties" : {
            "type" : "string"
          }
        },
        "line2" : {
          "type" : "string",
          "description" : "Address second line"
        },
        "line2s" : {
          "type" : "object",
          "example" : "en-us:line2",
          "description" : "Address second line - multi-lingual fields",
          "additionalProperties" : {
            "type" : "string"
          }
        }
      },
      "description" : "This class defines an Address on the Discovery/Publish API"
    },
    "Area" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string",
          "description" : "Name of the entity"
        },
        "names" : {
          "type" : "object",
          "example" : "en-us: name",
          "description" : "Names of the entity - multi-lingual fields",
          "additionalProperties" : {
            "type" : "string"
          }
        }
      },
      "description" : "This class defines an Area on the Discovery/Publish API"
    },
    "Attraction" : {
      "type" : "object",
      "required" : [ "id", "type" ],
      "properties" : {
        "extensions" : {
          "type" : "object",
          "additionalProperties" : {
            "$ref" : "#/definitions/Extension"
          }
        },
        "name" : {
          "type" : "string",
          "description" : "Name of the entity"
        },
        "names" : {
          "type" : "object",
          "example" : "en-us: name",
          "description" : "Names of the entity - multi-lingual fields",
          "additionalProperties" : {
            "type" : "string"
          }
        },
        "active" : {
          "type" : "boolean",
          "description" : "Indicate if the entity is active, inactive entity won't appear in Discovery API",
          "default" : false
        },
        "type" : {
          "type" : "string",
          "description" : "Type of the entity",
          "enum" : [ "event venue attraction" ]
        },
        "id" : {
          "type" : "string",
          "description" : "Unique id of the entity in the discovery API",
          "minLength" : 1
        },
        "test" : {
          "type" : "boolean",
          "description" : "Indicate if this is a test entity, by default test entities won't appear in discovery API",
          "default" : false
        },
        "description" : {
          "type" : "string",
          "description" : "Description's of the entity"
        },
        "descriptions" : {
          "type" : "object",
          "example" : "en-us: description",
          "description" : "Descriptions of the entity - multi-lingual fields",
          "additionalProperties" : {
            "type" : "string"
          }
        },
        "additionalInfo" : {
          "type" : "string",
          "description" : "Additional information of the entity"
        },
        "additionalInfos" : {
          "type" : "object",
          "example" : "en-us: additionalInfo",
          "description" : "Additional informations of the entity - multi-lingual fields",
          "additionalProperties" : {
            "type" : "string"
          }
        },
        "url" : {
          "type" : "string",
          "description" : "URL of a web site detail page of the entity"
        },
        "source" : {
          "description" : "Source of the entity, where the entity comes from",
          "$ref" : "#/definitions/Source"
        },
        "references" : {
          "type" : "object",
          "example" : "sourceName: id",
          "description" : "References of this entity in an other system. Reference is the exact same entity",
          "additionalProperties" : {
            "type" : "string"
          }
        },
        "version" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Version of the entity. Version is to avoid updated an entity with an older version"
        },
        "locale" : {
          "type" : "string",
          "description" : "Locale in which the content is returned"
        },
        "lastUpdate" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "The entity last update date"
        },
        "entityChanges" : {
          "description" : "Fields changes on the last update",
          "$ref" : "#/definitions/EntityChanges"
        },
        "relationships" : {
          "type" : "array",
          "description" : "Relationships on the entity, like if the entity is a duplicate of another one",
          "items" : {
            "$ref" : "#/definitions/Relationship"
          }
        },
        "discoverable" : {
          "type" : "boolean",
          "description" : "True if the entity is dicoverable in discovery API",
          "default" : false
        },
        "images" : {
          "type" : "array",
          "description" : "Images of the entity",
          "uniqueItems" : true,
          "items" : {
            "$ref" : "#/definitions/Image"
          }
        },
        "classifications" : {
          "type" : "array",
          "description" : "Attraction's classifications",
          "items" : {
            "$ref" : "#/definitions/Classification"
          }
        }
      },
      "description" : "This class defines an Attraction on the Discovery/Publish API"
    },
    "AugmentationData" : {
      "type" : "object",
      "required" : [ "changes", "version" ],
      "properties" : {
        "relatedEntityId" : {
          "type" : "string",
          "description" : "since[2.0.0]||The related entity Id",
          "minLength" : 1
        },
        "relatedEntityType" : {
          "type" : "string",
          "description" : "since[2.0.0]||The related entity type",
          "minLength" : 1
        },
        "source" : {
          "type" : "string",
          "description" : "since[2.0.0]||The source sending this augmentation",
          "minLength" : 1
        },
        "version" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "since[2.0.0]||The source version of this augmentation"
        },
        "score" : {
          "description" : "since[2.0.0]||The score of this augmentation. The higher, the better",
          "$ref" : "#/definitions/Number"
        },
        "changes" : {
          "type" : "array",
          "description" : "since[2.0.0]||The patch to apply to the related entity",
          "items" : {
            "$ref" : "#/definitions/Change"
          }
        }
      }
    },
    "Change" : {
      "type" : "object",
      "properties" : {
        "op" : {
          "type" : "string",
          "description" : "since[2.0.0]||Indicates the operation to perform.",
          "enum" : [ "add", "remove", "replace", "move", "copy", "test" ]
        },
        "from" : {
          "type" : "string",
          "description" : "since[2.0.0]||Json path of the source object when using the move operation."
        },
        "path" : {
          "type" : "string",
          "description" : "since[2.0.0]||Json path from the root of the document to the place where the change should be applied."
        },
        "value" : {
          "type" : "object",
          "description" : "since[2.0.0]||Change data."
        }
      }
    },
    "Chronology" : {
      "type" : "object",
      "properties" : {
        "zone" : {
          "$ref" : "#/definitions/DateTimeZone"
        }
      }
    },
    "City" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string",
          "description" : "Name of the entity"
        },
        "names" : {
          "type" : "object",
          "example" : "en-us: name",
          "description" : "Names of the entity - multi-lingual fields",
          "additionalProperties" : {
            "type" : "string"
          }
        }
      },
      "description" : "This class defines a City on the Discovery/Publish API"
    },
    "Classification" : {
      "type" : "object",
      "properties" : {
        "type" : {
          "$ref" : "#/definitions/Level"
        },
        "primary" : {
          "type" : "boolean",
          "description" : "True if this is the entity's primary classification",
          "default" : false
        },
        "segment" : {
          "description" : "A Segment is a primary genre for an entity (Music, Sports, Arts, etc)",
          "$ref" : "#/definitions/This class defines Genre on the Discovery/Publish API"
        },
        "genre" : {
          "description" : "Secondary Genre to further describe an entity (Rock, Classical, Animation, etc)",
          "$ref" : "#/definitions/Level"
        },
        "subGenre" : {
          "description" : "Tertiary Genre for additional detail when describring an entity (Alternative Rock, Ambient Pop, etc)",
          "$ref" : "#/definitions/Level"
        },
        "subType" : {
          "description" : "Secondary Type to further categorize an entity (Band, Choir, Chorus, etc)",
          "$ref" : "#/definitions/Level"
        }
      },
      "description" : "This class defines a Classification on the Discovery/Publish API"
    },
    "Country" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string",
          "description" : "Name of the entity"
        },
        "names" : {
          "type" : "object",
          "example" : "en-us: name",
          "description" : "Names of the entity - multi-lingual fields",
          "additionalProperties" : {
            "type" : "string"
          }
        },
        "countryCode" : {
          "type" : "string",
          "description" : "Country code (ISO 3166)"
        }
      },
      "description" : "This class defines a country on the Discovery/Publish API"
    },
    "DateTimeField" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "type" : {
          "$ref" : "#/definitions/DateTimeFieldType"
        },
        "supported" : {
          "type" : "boolean",
          "default" : false
        },
        "lenient" : {
          "type" : "boolean",
          "default" : false
        },
        "durationField" : {
          "$ref" : "#/definitions/DurationField"
        },
        "minimumValue" : {
          "type" : "integer",
          "format" : "int32"
        },
        "maximumValue" : {
          "type" : "integer",
          "format" : "int32"
        },
        "rangeDurationField" : {
          "$ref" : "#/definitions/DurationField"
        },
        "leapDurationField" : {
          "$ref" : "#/definitions/DurationField"
        }
      }
    },
    "DateTimeFieldType" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "durationType" : {
          "$ref" : "#/definitions/DurationFieldType"
        },
        "rangeDurationType" : {
          "$ref" : "#/definitions/DurationFieldType"
        }
      }
    },
    "DateTimeZone" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "fixed" : {
          "type" : "boolean",
          "default" : false
        }
      }
    },
    "Dma" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "DMS's id"
        }
      },
      "description" : "This class defines a DMA on the Discovery/Publish API"
    },
    "DurationField" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "type" : {
          "$ref" : "#/definitions/DurationFieldType"
        },
        "supported" : {
          "type" : "boolean",
          "default" : false
        },
        "precise" : {
          "type" : "boolean",
          "default" : false
        },
        "unitMillis" : {
          "type" : "integer",
          "format" : "int64"
        }
      }
    },
    "DurationFieldType" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        }
      }
    },
    "EndDates" : {
      "type" : "object",
      "properties" : {
        "localTime" : {
          "description" : "since[1.0.0]||The event end time in local time hh:mm:ss",
          "$ref" : "#/definitions/LocalTime"
        },
        "dateTime" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "since[1.0.0]||The event end date time"
        },
        "approximate" : {
          "type" : "boolean",
          "description" : "since[1.0.0]||Boolean flag to indicate whether or not the end date is approximated",
          "default" : false
        }
      },
      "description" : "This class defines Event's End Dates on the Discovery API"
    },
    "EntityChanges" : {
      "type" : "object",
      "properties" : {
        "newlyCreated" : {
          "type" : "boolean",
          "default" : false
        },
        "changes" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "type" : "string"
          }
        }
      }
    },
    "Event" : {
      "type" : "object",
      "required" : [ "id", "type" ],
      "properties" : {
        "extensions" : {
          "type" : "object",
          "additionalProperties" : {
            "$ref" : "#/definitions/Extension"
          }
        },
        "parking" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "$ref" : "#/definitions/Parking"
          }
        },
        "name" : {
          "type" : "string",
          "description" : "Name of the entity"
        },
        "names" : {
          "type" : "object",
          "example" : "en-us: name",
          "description" : "Names of the entity - multi-lingual fields",
          "additionalProperties" : {
            "type" : "string"
          }
        },
        "active" : {
          "type" : "boolean",
          "description" : "Indicate if the entity is active, inactive entity won't appear in Discovery API",
          "default" : false
        },
        "type" : {
          "type" : "string",
          "description" : "Type of the entity",
          "enum" : [ "event venue attraction" ]
        },
        "id" : {
          "type" : "string",
          "description" : "Unique id of the entity in the discovery API",
          "minLength" : 1
        },
        "test" : {
          "type" : "boolean",
          "description" : "Indicate if this is a test entity, by default test entities won't appear in discovery API",
          "default" : false
        },
        "description" : {
          "type" : "string",
          "description" : "Description's of the entity"
        },
        "descriptions" : {
          "type" : "object",
          "example" : "en-us: description",
          "description" : "Descriptions of the entity - multi-lingual fields",
          "additionalProperties" : {
            "type" : "string"
          }
        },
        "additionalInfo" : {
          "type" : "string",
          "description" : "Additional information of the entity"
        },
        "additionalInfos" : {
          "type" : "object",
          "example" : "en-us: additionalInfo",
          "description" : "Additional informations of the entity - multi-lingual fields",
          "additionalProperties" : {
            "type" : "string"
          }
        },
        "url" : {
          "type" : "string",
          "description" : "URL of a web site detail page of the entity"
        },
        "source" : {
          "description" : "Source of the entity, where the entity comes from",
          "$ref" : "#/definitions/Source"
        },
        "references" : {
          "type" : "object",
          "example" : "sourceName: id",
          "description" : "References of this entity in an other system. Reference is the exact same entity",
          "additionalProperties" : {
            "type" : "string"
          }
        },
        "version" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Version of the entity. Version is to avoid updated an entity with an older version"
        },
        "locale" : {
          "type" : "string",
          "description" : "Locale in which the content is returned"
        },
        "lastUpdate" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "The entity last update date"
        },
        "entityChanges" : {
          "description" : "Fields changes on the last update",
          "$ref" : "#/definitions/EntityChanges"
        },
        "relationships" : {
          "type" : "array",
          "description" : "Relationships on the entity, like if the entity is a duplicate of another one",
          "items" : {
            "$ref" : "#/definitions/Relationship"
          }
        },
        "discoverable" : {
          "type" : "boolean",
          "description" : "True if the entity is dicoverable in discovery API",
          "default" : false
        },
        "images" : {
          "type" : "array",
          "description" : "Images of the entity",
          "uniqueItems" : true,
          "items" : {
            "$ref" : "#/definitions/Image"
          }
        },
        "venue" : {
          "description" : "Venue information",
          "$ref" : "#/definitions/Venue"
        },
        "place" : {
          "description" : "Place has the information on where the event happens. It can be set if there is no venue",
          "$ref" : "#/definitions/Place"
        },
        "attractions" : {
          "type" : "array",
          "description" : "Ordered Attraction related to the event",
          "items" : {
            "$ref" : "#/definitions/Attraction"
          }
        },
        "sales" : {
          "description" : "Event's sales dates information",
          "$ref" : "#/definitions/EventSalesDates"
        },
        "dates" : {
          "description" : "Event's dates information",
          "$ref" : "#/definitions/EventDates"
        },
        "publicVisibility" : {
          "description" : "Event's public visibility dates",
          "$ref" : "#/definitions/PublicVisibility"
        },
        "classifications" : {
          "type" : "array",
          "description" : "Event's classifications",
          "items" : {
            "$ref" : "#/definitions/Classification"
          }
        },
        "promoter" : {
          "description" : "Event's promoter",
          "$ref" : "#/definitions/Promoter"
        },
        "info" : {
          "type" : "string",
          "description" : "Any information related to the event"
        },
        "infos" : {
          "type" : "object",
          "example" : "en-us: info",
          "description" : "Any information related to the event - multi-lingual fields",
          "additionalProperties" : {
            "type" : "string"
          }
        },
        "pleaseNote" : {
          "type" : "string",
          "description" : "Any notes related to the event"
        },
        "pleaseNotes" : {
          "type" : "object",
          "example" : "en-us: note",
          "description" : "Any notes related to the event - multi-lingual fields",
          "additionalProperties" : {
            "type" : "string"
          }
        },
        "priceRanges" : {
          "type" : "array",
          "description" : "Price ranges of this event",
          "uniqueItems" : true,
          "items" : {
            "$ref" : "#/definitions/PriceRange"
          }
        }
      },
      "description" : "This class defines an Event on the Discovery/Publish API"
    },
    "EventDates" : {
      "type" : "object",
      "properties" : {
        "accessDates" : {
          "description" : "Event's access dates. The date and time the fan can access the event",
          "$ref" : "#/definitions/AccessDates"
        },
        "startDates" : {
          "description" : "Event's start dates. The date and time when the event will start",
          "$ref" : "#/definitions/StartDates"
        },
        "endDates" : {
          "description" : "Event's end dates. The date and time when the event will end",
          "$ref" : "#/definitions/EndDates"
        },
        "timezone" : {
          "type" : "string",
          "description" : "Event's timezone"
        },
        "status" : {
          "description" : "Status of the event",
          "$ref" : "#/definitions/EventStatus"
        }
      },
      "description" : "This class defines Event's Dates on the Discovery/Publish API"
    },
    "EventSalesDates" : {
      "type" : "object",
      "properties" : {
        "publicSale" : {
          "description" : "Event's public onsale dates. The date and time when the event will be onsale for everyone",
          "$ref" : "#/definitions/PublicSaleDates"
        }
      },
      "description" : "This class defines Event's Sales Dates on the Discovery/Publish API"
    },
    "EventStatus" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "since[1.0.0]||The event's status code"
        }
      },
      "description" : "This class defines Event's Status on the Discovery API"
    },
    "Extension" : {
      "type" : "object"
    },
    "Image" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "locale" : {
          "$ref" : "#/definitions/Locale"
        },
        "ratio" : {
          "type" : "string",
          "description" : "Image's ratio",
          "enum" : [ "16_9", "3_2" ]
        },
        "url" : {
          "type" : "string",
          "description" : "Image's absolute public URL"
        },
        "width" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Image width"
        },
        "height" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Image height"
        },
        "fallback" : {
          "type" : "boolean",
          "description" : "True if the image is not the entity's image but a fallbak image",
          "default" : false
        }
      },
      "description" : "This class defines an Image on the Discovery/Publish API"
    },
    "IngestionResult" : {
      "type" : "object",
      "properties" : {
        "status" : {
          "type" : "string"
        },
        "message" : {
          "type" : "string"
        },
        "id" : {
          "type" : "string"
        },
        "missingProperties" : {
          "type" : "object",
          "additionalProperties" : {
            "type" : "object"
          }
        },
        "unknownProperties" : {
          "type" : "object",
          "additionalProperties" : {
            "type" : "object"
          }
        }
      }
    },
    "Level" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The ID of the classification's level"
        },
        "name" : {
          "type" : "string",
          "description" : "The Name of the classification's level"
        },
        "names" : {
          "type" : "object",
          "description" : "The Name of the classification's level - multi-lingual fields",
          "additionalProperties" : {
            "type" : "string"
          }
        }
      }
    },
    "LocalTime" : {
      "type" : "object",
      "properties" : {
        "millisOfDay" : {
          "type" : "integer",
          "format" : "int32"
        },
        "minuteOfHour" : {
          "type" : "integer",
          "format" : "int32"
        },
        "hourOfDay" : {
          "type" : "integer",
          "format" : "int32"
        },
        "millisOfSecond" : {
          "type" : "integer",
          "format" : "int32"
        },
        "secondOfMinute" : {
          "type" : "integer",
          "format" : "int32"
        },
        "chronology" : {
          "$ref" : "#/definitions/Chronology"
        },
        "fields" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/DateTimeField"
          }
        },
        "values" : {
          "type" : "array",
          "items" : {
            "type" : "integer",
            "format" : "int32"
          }
        },
        "fieldTypes" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/DateTimeFieldType"
          }
        }
      }
    },
    "Locale" : {
      "type" : "object",
      "properties" : {
        "language" : {
          "type" : "string"
        },
        "country" : {
          "type" : "string"
        },
        "displayCountry" : {
          "type" : "string"
        },
        "displayLanguage" : {
          "type" : "string"
        },
        "displayName" : {
          "type" : "string"
        },
        "displayScript" : {
          "type" : "string"
        },
        "displayVariant" : {
          "type" : "string"
        },
        "extensionKeys" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "type" : "string"
          }
        },
        "iso3Country" : {
          "type" : "string"
        },
        "iso3Language" : {
          "type" : "string"
        },
        "script" : {
          "type" : "string"
        },
        "unicodeLocaleAttributes" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "type" : "string"
          }
        },
        "unicodeLocaleKeys" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "type" : "string"
          }
        },
        "variant" : {
          "type" : "string"
        }
      }
    },
    "Location" : {
      "type" : "object",
      "properties" : {
        "longitude" : {
          "type" : "number",
          "description" : "Longitude"
        },
        "latitude" : {
          "type" : "number",
          "description" : "Latitude"
        }
      },
      "description" : "This class defines a Location on the Discovery/Publish API"
    },
    "Market" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "Market's id"
        }
      },
      "description" : "This class defines a Market on the Discovery/Publish API"
    },
    "Number" : {
      "type" : "object"
    },
    "Parking" : {
      "type" : "object",
      "properties" : {
        "url" : {
          "type" : "string",
          "description" : "Url to the web page of the parking"
        },
        "name" : {
          "type" : "string",
          "description" : "Name of the entity"
        },
        "names" : {
          "type" : "object",
          "example" : "en-us: name",
          "description" : "Names of the entity - multi-lingual fields",
          "additionalProperties" : {
            "type" : "string"
          }
        }
      },
      "description" : "This class defines a parking on the Discovery/Publish API"
    },
    "Place" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string",
          "description" : "Name of the entity"
        },
        "names" : {
          "type" : "object",
          "example" : "en-us: name",
          "description" : "Names of the entity - multi-lingual fields",
          "additionalProperties" : {
            "type" : "string"
          }
        },
        "city" : {
          "description" : "City of the Place",
          "$ref" : "#/definitions/City"
        },
        "country" : {
          "description" : "Country of the place",
          "$ref" : "#/definitions/Country"
        },
        "address" : {
          "description" : "Address of the place",
          "$ref" : "#/definitions/Address"
        },
        "location" : {
          "description" : "Location of the place",
          "$ref" : "#/definitions/Location"
        },
        "area" : {
          "description" : "Area of the place",
          "$ref" : "#/definitions/Area"
        },
        "state" : {
          "description" : "State / Province of the place",
          "$ref" : "#/definitions/State"
        },
        "postalCode" : {
          "type" : "string",
          "description" : "Postal code / zipcode of the place"
        }
      },
      "description" : "This class defines a Place on the Discovery/Publish API"
    },
    "PriceRange" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string",
          "description" : "Name of the entity"
        },
        "names" : {
          "type" : "object",
          "example" : "en-us: name",
          "description" : "Names of the entity - multi-lingual fields",
          "additionalProperties" : {
            "type" : "string"
          }
        },
        "type" : {
          "type" : "string",
          "description" : "Type of price",
          "enum" : [ "standard" ]
        },
        "currency" : {
          "type" : "string",
          "description" : "Currency"
        },
        "min" : {
          "type" : "number",
          "format" : "double",
          "description" : "Minimum price"
        },
        "max" : {
          "type" : "number",
          "format" : "double",
          "description" : "Maximum price"
        }
      },
      "description" : "This class defines an PriceRange on the Discovery/Publish API"
    },
    "Promoter" : {
      "type" : "object",
      "properties" : {
        "internalProperties" : {
          "type" : "object",
          "additionalProperties" : {
            "type" : "object"
          }
        },
        "id" : {
          "type" : "string",
          "description" : "Id of the Promoter"
        }
      },
      "description" : "This class defines a Promoter on the Discovery/Publish API"
    },
    "PublicSaleDates" : {
      "type" : "object",
      "properties" : {
        "startDateTime" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "The start date and time of the Public Onsale period"
        },
        "startTBD" : {
          "type" : "boolean",
          "description" : "True if public onsale date is to be defined",
          "default" : false
        },
        "endDateTime" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "The end date and time of the Public Onsale period"
        }
      },
      "description" : "This class defines Event's Public Onsales Dates on the Discovery/Publish API"
    },
    "PublicVisibility" : {
      "type" : "object",
      "properties" : {
        "startDateTime" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "The start of the public visibility. The date and time when the event will be public visible"
        },
        "endDateTime" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "The end of the public visibility. The date and time when the event will be public visible"
        },
        "visible" : {
          "type" : "boolean",
          "description" : "True if you want to have the event visible in the discovery API",
          "default" : false
        }
      },
      "description" : "The class defines the public visibility period on the Discovery/Publish API."
    },
    "Relationship" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The ID of the related entity"
        },
        "source" : {
          "type" : "string",
          "description" : "The source name of the related entity"
        },
        "type" : {
          "type" : "string",
          "description" : "The type of the relationship",
          "enum" : [ "duplicate" ]
        }
      },
      "description" : "This class defines a Relationship on the Discovery/Publish API"
    },
    "Source" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string",
          "description" : "Source's name",
          "minLength" : 1,
          "pattern" : "^[a-zA-Z0-9_-]*$"
        },
        "id" : {
          "type" : "string",
          "description" : "ID of the entity in the source's system",
          "minLength" : 1,
          "pattern" : "^[a-zA-Z0-9_-]*$"
        }
      },
      "description" : "This class defines a source on the Discovery/Publish API"
    },
    "StartDates" : {
      "type" : "object",
      "properties" : {
        "localDate" : {
          "type" : "string",
          "format" : "date",
          "description" : "since[1.0.0]||The event start date in local date yyyy-MM-dd"
        },
        "localTime" : {
          "description" : "since[1.0.0]||The event end time in local time hh:mm:ss",
          "$ref" : "#/definitions/LocalTime"
        },
        "dateTime" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "since[1.0.0]||The event start datetime"
        },
        "dateTBD" : {
          "type" : "boolean",
          "description" : "since[1.0.0]||Boolean flag to indicate whether or not the start date is TBD",
          "default" : false
        },
        "dateTBA" : {
          "type" : "boolean",
          "description" : "since[1.0.0]||Boolean flag to indicate whether or not the start date is TBA",
          "default" : false
        },
        "timeTBA" : {
          "type" : "boolean",
          "description" : "since[1.0.0]||Boolean flag to indicate whether or not the start time is TBA",
          "default" : false
        },
        "noSpecificTime" : {
          "type" : "boolean",
          "description" : "since[1.0.0]||Boolean flag to indicate whether or not the event has no specific time",
          "default" : false
        }
      },
      "description" : "This class defines Event's Starts Dates on the Discovery API"
    },
    "State" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string",
          "description" : "Name of the entity"
        },
        "names" : {
          "type" : "object",
          "example" : "en-us: name",
          "description" : "Names of the entity - multi-lingual fields",
          "additionalProperties" : {
            "type" : "string"
          }
        },
        "stateCode" : {
          "type" : "string",
          "description" : "State code"
        }
      },
      "description" : "This class defines a State on the Discovery/Publish API"
    },
    "This class defines Genre on the Discovery/Publish API" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The ID of the classification's level"
        },
        "name" : {
          "type" : "string",
          "description" : "The Name of the classification's level"
        },
        "names" : {
          "type" : "object",
          "description" : "The Name of the classification's level - multi-lingual fields",
          "additionalProperties" : {
            "type" : "string"
          }
        }
      }
    },
    "Venue" : {
      "type" : "object",
      "required" : [ "id", "type" ],
      "properties" : {
        "extensions" : {
          "type" : "object",
          "additionalProperties" : {
            "$ref" : "#/definitions/Extension"
          }
        },
        "name" : {
          "type" : "string",
          "description" : "Name of the entity"
        },
        "names" : {
          "type" : "object",
          "example" : "en-us: name",
          "description" : "Names of the entity - multi-lingual fields",
          "additionalProperties" : {
            "type" : "string"
          }
        },
        "active" : {
          "type" : "boolean",
          "description" : "Indicate if the entity is active, inactive entity won't appear in Discovery API",
          "default" : false
        },
        "type" : {
          "type" : "string",
          "description" : "Type of the entity",
          "enum" : [ "event venue attraction" ]
        },
        "id" : {
          "type" : "string",
          "description" : "Unique id of the entity in the discovery API",
          "minLength" : 1
        },
        "test" : {
          "type" : "boolean",
          "description" : "Indicate if this is a test entity, by default test entities won't appear in discovery API",
          "default" : false
        },
        "description" : {
          "type" : "string",
          "description" : "Description's of the entity"
        },
        "descriptions" : {
          "type" : "object",
          "example" : "en-us: description",
          "description" : "Descriptions of the entity - multi-lingual fields",
          "additionalProperties" : {
            "type" : "string"
          }
        },
        "additionalInfo" : {
          "type" : "string",
          "description" : "Additional information of the entity"
        },
        "additionalInfos" : {
          "type" : "object",
          "example" : "en-us: additionalInfo",
          "description" : "Additional informations of the entity - multi-lingual fields",
          "additionalProperties" : {
            "type" : "string"
          }
        },
        "url" : {
          "type" : "string",
          "description" : "URL of a web site detail page of the entity"
        },
        "source" : {
          "description" : "Source of the entity, where the entity comes from",
          "$ref" : "#/definitions/Source"
        },
        "references" : {
          "type" : "object",
          "example" : "sourceName: id",
          "description" : "References of this entity in an other system. Reference is the exact same entity",
          "additionalProperties" : {
            "type" : "string"
          }
        },
        "version" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Version of the entity. Version is to avoid updated an entity with an older version"
        },
        "locale" : {
          "type" : "string",
          "description" : "Locale in which the content is returned"
        },
        "lastUpdate" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "The entity last update date"
        },
        "entityChanges" : {
          "description" : "Fields changes on the last update",
          "$ref" : "#/definitions/EntityChanges"
        },
        "relationships" : {
          "type" : "array",
          "description" : "Relationships on the entity, like if the entity is a duplicate of another one",
          "items" : {
            "$ref" : "#/definitions/Relationship"
          }
        },
        "discoverable" : {
          "type" : "boolean",
          "description" : "True if the entity is dicoverable in discovery API",
          "default" : false
        },
        "images" : {
          "type" : "array",
          "description" : "Images of the entity",
          "uniqueItems" : true,
          "items" : {
            "$ref" : "#/definitions/Image"
          }
        },
        "postalCode" : {
          "type" : "string",
          "description" : "Postal code / zipcode of the venue"
        },
        "timezone" : {
          "type" : "string",
          "description" : "Timezone of the venue"
        },
        "city" : {
          "description" : "City of the venue",
          "$ref" : "#/definitions/City"
        },
        "state" : {
          "description" : "State / Province of the venue",
          "$ref" : "#/definitions/State"
        },
        "country" : {
          "description" : "Country of the venue",
          "$ref" : "#/definitions/Country"
        },
        "address" : {
          "description" : "Address of the venue",
          "$ref" : "#/definitions/Address"
        },
        "location" : {
          "description" : "Location of the venue",
          "$ref" : "#/definitions/Location"
        },
        "currency" : {
          "type" : "string",
          "description" : "Default currency of ticket prices for events in this venue"
        },
        "markets" : {
          "type" : "array",
          "description" : "Markets of he venue",
          "items" : {
            "$ref" : "#/definitions/Market"
          }
        },
        "dma" : {
          "type" : "array",
          "description" : "The list of associated DMAs (Designated Market Areas) of the venue",
          "items" : {
            "$ref" : "#/definitions/Dma"
          }
        }
      },
      "description" : "This class defines a Venue on the Discovery/Publish API"
    }
  }
}