/* FONTS */
/*TMSans*/
@font-face {
    font-family: "TMSans-Regular";
    src: url("http://developer.ticketmaster.com/assets/fonts/tmSans/tmSans_Web/TMSans-Regular.eot");
    src: url("http://developer.ticketmaster.com/assets/fonts/tmSans/tmSans_Web/TMSans-Regular.eot?") format("embedded-opentype"), url("http://developer.ticketmaster.com/assets/fonts/tmSans/tmSans_Web/TMSans-Regular.woff") format("woff"), url("http://developer.ticketmaster.com/assets/fonts/tmSans/tmSans_Web/TMSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; }
@font-face {
    font-family: "TMSans-Light";
    src: url("http://developer.ticketmaster.com/assets/fonts/tmSans/tmSans_Web/TMSans-Light.eot");
    src: url("http://developer.ticketmaster.com/assets/fonts/tmSans/tmSans_Web/TMSans-Light.eot?") format("embedded-opentype"), url("http://developer.ticketmaster.com/assets/fonts/tmSans/tmSans_Web/TMSans-Light.woff") format("woff"), url("http://developer.ticketmaster.com/assets/fonts/tmSans/tmSans_Web/TMSans-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; }
@font-face {
    font-family: "TMSans-Italic";
    src: url("http://developer.ticketmaster.com/assets/fonts/tmSans/tmSans_Web/TMSans-Italic.eot");
    src: url("http://developer.ticketmaster.com/assets/fonts/tmSans/tmSans_Web/TMSans-Italic.eot?") format("embedded-opentype"), url("http://developer.ticketmaster.com/assets/fonts/tmSans/tmSans_Web/TMSans-Italic.woff") format("woff"), url("http://developer.ticketmaster.com/assets/fonts/tmSans/tmSans_Web/TMSans-Italic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; }
@font-face {
    font-family: "TMSans-Bold";
    src: url("http://developer.ticketmaster.com/assets/fonts/tmSans/tmSans_Web/TMSans-Bold.eot");
    src: url("http://developer.ticketmaster.com/assets/fonts/tmSans/tmSans_Web/TMSans-Bold.eot?") format("embedded-opentype"), url("http://developer.ticketmaster.com/assets/fonts/tmSans/tmSans_Web/TMSans-Bold.woff") format("woff"), url("http://developer.ticketmaster.com/assets/fonts/tmSans/tmSans_Web/TMSans-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; }


/* Common styles for all themes  */
div[w-tmapikey]{
    position: relative;
    height: 200px;
    width: 150px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    font-family: 'TMSans-Regular';
    padding-bottom: 41px;
}


div[w-tmapikey] .event-message {
    position: absolute;
    padding: 16px 46px 16px 52px;
    left: 10px;
    right: 10px;
    top: -50%;
    border-radius: 4px;
    font-family: "TMSans-Bold";
    font-size: 14px;
    line-height: 1.6;
    color: #ffffff;
    opacity: 0;
    z-index: 10;
    /* TODO: update after release to  http://developer.ticketmaster.com/*/
    background: #7356a5 url("http://ticketmaster-api-staging.github.io/assets/img/widgets/message_logo.svg") no-repeat 16px 50%;
    -webkit-transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    -moz-transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

div[w-tmapikey] .event-message-visible {
    top: 10px;
    opacity: 1;
}

div[w-tmapikey] .event-message__btn {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 15px;
    top: 15px;
    cursor: pointer;
    /* TODO: update after release to  http://developer.ticketmaster.com/*/
    background: url("http://ticketmaster-api-staging.github.io/assets/img/widgets/ic-close-small-white.svg") no-repeat 50% 50%;
}

div[w-tmapikey] .events-root-container{
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: #e5e5e5;
}

div[w-tmapikey] ul{
    margin: 0;
    padding: 0;
    -webkit-transition: margin 0.5s ease-in-out;
    -moz-transition: margin 0.5s ease-in-out;
    transition: margin 0.5s ease-in-out;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


div[w-tmapikey] .event-question {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    /* TODO: update after release to  http://developer.ticketmaster.com/*/
    background: url("http://ticketmaster-api-staging.github.io/assets/img/widgets/question-ic.svg") no-repeat 50% 50%;
}

/* slider controls */
div[w-tmapikey] .events_control {
    position: absolute;
    cursor: pointer;
    -webkit-transition: width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out;
    overflow: hidden;
}

div[w-tmapikey] .events_control-horizontal {
    top: 50%;
    width: 13px;
    height: 56px;
    margin-top: -28px;
}

div[w-tmapikey] .events_control-vertical {
    left: 50%;
    width: 56px;
    height: 13px;
    margin-left: -28px;
}

div[w-tmapikey] .events_control:before {
    content: '';
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 28px;
    /* TODO: update after release to  http://developer.ticketmaster.com/*/
    background: rgba(146, 146, 146, 0.5) url("http://ticketmaster-api-staging.github.io/assets/img/widgets/arrows-small-white.svg") no-repeat 13px 50%/12px 12px;
}

div[w-tmapikey] .events_control-left {
    left: 0;
}

div[w-tmapikey] .events_control-left:before {
    right: 0;
    top: 0;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

div[w-tmapikey] .events_control-right {
    right: 0;
}

div[w-tmapikey] .events_control-right:before {
    left: 0;
    top: 0;
}

div[w-tmapikey] .events_control-top {
    top: 0;
}

div[w-tmapikey] .events_control-top:before {
    left: 0;
    bottom: 0;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

div[w-tmapikey] .events_control-bottom {
    bottom: 0;
}

div[w-tmapikey] .events_control-bottom:before {
    left: 0;
    top: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

div[w-tmapikey] .events_control-vertical:hover {
    height: 28px;
}

div[w-tmapikey] .events_control-horizontal:hover {
    width: 28px;
}


div[w-tmapikey] .events_control-vertical.events_control-hidden {
    height: 0;
}

div[w-tmapikey] .events_control-horizontal.events_control-hidden {
    width: 0;
}

div[w-tmapikey] .bg-cover {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* Theme special styles */
div[w-theme="simple"] .event-wrapper {
    position: relative;
    height: 200px;
    width:150px;
    float: left;
    overflow: hidden;
    font-size: 12px;
    line-height: 1.3;
    color: #fff;
}

div[w-theme="simple"] .event-content-wraper,
div[w-theme="simple"] .event-wrapper:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

div[w-theme="simple"] .event-wrapper:before {
    content: '';
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 30%, rgba(0,0,0,0.9) 100%), -moz-linear-gradient(top, rgba(0,0,0,0.12) 0%, rgba(0,0,0,0) 15%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 30%,rgba(0,0,0,0.9) 100%), -webkit-linear-gradient(top, rgba(0,0,0,0.12) 0%,rgba(0,0,0,0) 15%);
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 30%, rgba(0,0,0,0.9) 100%), linear-gradient(to bottom, rgba(0,0,0,0.12) 0%, rgba(0,0,0,0) 15%);
}

div[w-theme="simple"] .event-content-wraper {
    width: 100%;
    padding: 287px 30px 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
}

div[w-theme="simple"] .event-name{
    display: block;
    display: -webkit-box;
    text-transform: uppercase;
    font-size: 24px;
    font-family: "TMSans-Bold";
    margin-bottom: 20px;
    line-height: 31px;
    height: 62px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

div[w-theme="simple"] .event-date-wraper{
    display: block;
    font-family: "TMSans-Bold";
    margin-bottom: 11px;
}

div[w-theme="simple"] .address-wrapper{
    display: block;
    font-family: "TMSans-Light";
}

div[w-theme="simple"] .event-address{
    display: block;
}

div[w-theme="simple"] .category-wrapper{
    display: block;
    font-family: "TMSans-Bold";
}

div[w-theme="simple"] .address-wrapper,
div[w-theme="simple"] .category-wrapper{
    opacity: 0.7;
}

div[w-theme="simple"] .event-category:before{
    content: ', ';
}

div[w-theme="simple"] .event-category:first-child:before{
    content: '';
}

div[w-theme="simple"] .legal-notice {
    position: absolute;
    left: 30px;
    bottom: 83px;
    font-size: 16px;
    line-height: 24px;
}

div[w-theme="simple"] .legal-notice,
div[w-theme="simple"] .legal-notice:hover,
div[w-theme="simple"] .legal-notice:focus,
div[w-theme="simple"] .legal-notice:active{
    color: #019cde;
    text-decoration: none;
}

div[w-theme="simple"] .events-counter {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 9px;
    font-size: 16px;
    line-height: 19px;
    color: #b7c9d3;
    text-align: center;
    font-family: "TMSans-Bold";
}

div[w-theme="simple"] .event-logo-box {
    position: absolute;
    bottom: 36px;
    left: 0;
    width: 100%;
    height: 36px;
    background-color: rgba(255, 255, 255, 0.8);
}

div[w-theme="simple"] .event-logo {
    display: block;
    position: absolute;
    top: 8px;
    right: 10px;
    width: 129px;
    height: 18px;
    /* TODO: update after release to  http://developer.ticketmaster.com/*/
    background: url("http://ticketmaster-api-staging.github.io/assets/img/widgets/tm-logo-gray.svg") no-repeat;
}

/*group*/
div[w-theme="simple"] .event-group {
    width: 100%;
}

/* BUY NOW */
div[w-theme="simple"] .event-buy-btn {
    position: absolute;
    left: 30px;
    bottom: 96px;
    width: 74px;
    height: 24px;
    padding-top: 5px;
    border-radius: 4px;
    background-color: #009cde;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "TMSans-Bold";
    font-size: 11px;
    line-height: 16px;
    color: #ffffff;
    text-align: center;
    -webkit-transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

div[w-theme="simple"] .event-buy-btn[href=''] {
    background-color: #ccc;
    cursor: default;
    opacity: 0.5;
}

/*  LAYOUT  */
div[w-theme="simple"][w-layout="horizontal"] .event-content-wraper {
    padding-top: 29px;
}

div[w-theme="simple"][w-layout="horizontal"] .event-name{
    margin-bottom: 17px;
    padding-right: 64px;
    max-width: 560px;
}

div[w-theme="simple"][w-layout="horizontal"] .legal-notice {
    left: 119px;
}

div[w-theme="simple"][w-layout="horizontal"] .event-buy-btn {
    bottom: 42px;
}

div[w-theme="simple"][w-layout="horizontal"] .event-wrapper:before {
    background: -moz-linear-gradient(right, rgba(0,0,0,0) 30%, rgba(0,0,0,0.9) 100%), -moz-linear-gradient(top, rgba(0,0,0,0.12) 0%, rgba(0,0,0,0) 15%);
    background: -webkit-linear-gradient(right, rgba(0,0,0,0) 30%,rgba(0,0,0,0.9) 100%), -webkit-linear-gradient(top, rgba(0,0,0,0.12) 0%,rgba(0,0,0,0) 15%);
    background-image: linear-gradient(to left, rgba(0,0,0,0) 30%, rgba(0,0,0,0.9) 100%), linear-gradient(to bottom, rgba(0,0,0,0.12) 0%, rgba(0,0,0,0) 15%);
}

