#ticketmaster-config{
    position: relative;
    height: 200px;
    width: 150px;
    overflow: hidden;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

#ticketmaster-config.border{
    border: 1px solid #768692;
}

#ticketmaster-config ul{
    margin: 0;
    padding: 0;
    -webkit-transition: margin-left 0.5s ease-in-out;
    -moz-transition: margin-left 0.5s ease-in-out;
    transition: margin-left 0.5s ease-in-out;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#ticketmaster-config .event-wrapper {
    position: relative;
    height: 200px;
    width:150px;
    float: left;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    font-size: 16px;
    line-height: 1.2;
    color: #fff;
}

#ticketmaster-config .event-content-wraper,
#ticketmaster-config .event-wrapper:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#ticketmaster-config .event-wrapper:before {
    content: '';
    background-color: rgba(0, 0, 0, 0.2);
}


#ticketmaster-config .event-content-wraper {
    padding: 28px 28px 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#ticketmaster-config .event-logo {
    position: absolute;
    right: 25px;
    bottom: 23px;
    width: 127px;
    height: 17px;
    background: url("http://developer.ticketmaster.com/assets/img/footer/ticketmaster-logo-white.svg") no-repeat;
}

#ticketmaster-config .event-name{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;

}

#ticketmaster-config .event-date-wraper{
    font-weight: bold;
    margin-bottom: 15px;
}

#ticketmaster-config .legal-notice{
    position: absolute;
    left: 28px;
    bottom: 21px;
    color: #019cde;
}