/* FONTS */
@font-face {
    font-family: "TMSans-Regular";
    src: url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/fonts/tmSans/tmSans_Web/TMSans-Regular.eot");
    src: url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/fonts/tmSans/tmSans_Web/TMSans-Regular.eot?") format("embedded-opentype"), url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/fonts/tmSans/tmSans_Web/TMSans-Regular.woff") format("woff"), url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/fonts/tmSans/tmSans_Web/TMSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; }
@font-face {
    font-family: "TMSans-Light";
    src: url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/fonts/tmSans/tmSans_Web/TMSans-Light.eot");
    src: url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/fonts/tmSans/tmSans_Web/TMSans-Light.eot?") format("embedded-opentype"), url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/fonts/tmSans/tmSans_Web/TMSans-Light.woff") format("woff"), url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/fonts/tmSans/tmSans_Web/TMSans-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; }
@font-face {
    font-family: "TMSans-Italic";
    src: url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/fonts/tmSans/tmSans_Web/TMSans-Italic.eot");
    src: url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/fonts/tmSans/tmSans_Web/TMSans-Italic.eot?") format("embedded-opentype"), url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/fonts/tmSans/tmSans_Web/TMSans-Italic.woff") format("woff"), url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/fonts/tmSans/tmSans_Web/TMSans-Italic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; }
@font-face {
    font-family: "TMSans-Bold";
    src: url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/fonts/tmSans/tmSans_Web/TMSans-Bold.eot");
    src: url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/fonts/tmSans/tmSans_Web/TMSans-Bold.eot?") format("embedded-opentype"), url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/fonts/tmSans/tmSans_Web/TMSans-Bold.woff") format("woff"), url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/fonts/tmSans/tmSans_Web/TMSans-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; }


/* Common styles for all themes  */
div[w-theme="calendar"]{
    position: relative;
    height: 200px;
    width: 150px;
    overflow: hidden;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    font-family: 'TMSans-Regular';
}

div[w-theme="calendar"] a,
div[w-theme="calendar"] a:hover,
div[w-theme="calendar"] a:focus,
div[w-theme="calendar"] a:active{
    text-decoration: none;
}

div[w-theme="calendar"] .event-pretended-link {
    cursor: pointer;
    -webkit-transition: background 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    -webkit-transition: background 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

div[w-theme="calendar"] .event-pretended-link:hover {
    opacity: 0.7;
}

div[w-theme="calendar"] .event-message-container {
    width: 100%;
    height: 273px;
    overflow: hidden;
    position: absolute;
}

div[w-theme="calendar"] .event-message-container.hide {
    display: none;
}

div[w-theme="calendar"] .event-message,
div[w-theme="calendar"] .event-message_ {
    position: absolute;
    padding: 16px 46px 16px 52px;
    left: 10px;
    right: 10px;
    top: -50%;
    border-radius: 4px;
    font-family: "TMSans-Bold";
    font-size: 14px;
    line-height: 1.6;
    color: #ffffff;
    opacity: 0;
    z-index: 10;
    background: #7356a5 url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/img/message_logo.svg") no-repeat 16px 50%;
    -webkit-transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    -moz-transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

div[w-theme="calendar"] .event-message_-visible {
    top: 10px;
    opacity: 1;
}

div[w-theme="calendar"] .event-message-visible {
    top: 10px;
    opacity: 1;
}

div[w-theme="calendar"] .event-message__btn {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 15px;
    top: 15px;
    cursor: pointer;
    background: url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/img/ic-close-small-white.svg") no-repeat 50% 50%;
}

div[w-theme="calendar"] .events-root-container{
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #e5e5e5;
    border-style: solid;
    border-color: #ccc;
}

div[w-theme="calendar"] ul{
    margin: 0;
    padding: 0;
    -webkit-transition: margin 0.5s ease-in-out;
    -moz-transition: margin 0.5s ease-in-out;
    transition: margin 0.5s ease-in-out;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/*  question  */
div[w-theme="calendar"] .event-question {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    opacity: 0.7;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

div[w-theme="calendar"] .event-question:before,
div[w-theme="calendar"] .event-question:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

div[w-theme="calendar"] .event-question:before {
    opacity: 0;
    background-image: url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/img/question-ic-blue.svg");
}

div[w-theme="calendar"] .event-question:after {
    opacity: 0.7;
    background-image: url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/img/question-ic-grey.svg");
}

div[w-theme="calendar"] .event-question:hover:before {
    opacity: 1;
}

div[w-theme="calendar"] .event-question:hover:after {
    opacity: 0;
}


/* slider controls */
div[w-theme="calendar"] .events_control {
    position: absolute;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    -webkit-transition: opacity 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out, border-color 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out, border-color 0.2s ease-in-out;
    z-index: 10;
}


div[w-theme="calendar"] .events_control-horizontal {
    top: 50%;
    margin-top: -13px;
}

div[w-theme="calendar"] .events_control-vertical {
    left: 50%;
    margin-left: -13px;
}

div[w-theme="calendar"] .events_control-left {
    left: 0;
    border-width: 13px 8px 13px 5px;
    border-color: transparent rgba(255, 255, 255, 0.5) transparent transparent;
}

div[w-theme="calendar"] .events_control-left:hover {
    border-color: transparent #009cde transparent transparent;
}

div[w-theme="calendar"] .events_control-right {
    right: 0;
    border-width: 13px 5px 13px 8px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.5);
}

div[w-theme="calendar"] .events_control-right:hover {
    border-color: transparent transparent transparent #009cde;
}

div[w-theme="calendar"] .events_control-top {
    top: 0;
    border-width: 5px 13px 8px 13px;
    border-color: transparent transparent rgba(255, 255, 255, 0.5) transparent;
}

div[w-theme="calendar"] .events_control-top:hover {
    border-color: transparent transparent #009cde transparent;
}

div[w-theme="calendar"] .events_control-bottom {
    bottom: 0;
    border-width: 8px 13px 5px 13px;
    border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
}

div[w-theme="calendar"] .events_control-bottom:hover {
    border-color: #009cde transparent transparent transparent;
}

div[w-theme="calendar"] .events_control-hidden {
    display: none;
}

div[w-theme="calendar"] .events_control-hidden:hover {
    border-color: transparent;
    cursor: default;
    display: block;
}


div[w-theme="calendar"] .bg-cover {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}


/* Theme special styles */
div[w-theme="calendar"] .event-wrapper {
    display: block;
    position: relative;
    height: 200px;
    width:150px;
    float: left;
    overflow: hidden;
    font-size: 12px;
    line-height: 1.3;
    color: #fff;
}

div[w-theme="calendar"] .event-content-wraper,
div[w-theme="calendar"] .event-wrapper:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

div[w-theme="calendar"] .event-wrapper:before {
    content: '';
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 30%, rgba(0,0,0,0.9) 100%), -moz-linear-gradient(top, rgba(0,0,0,0.12) 0%, rgba(0,0,0,0) 15%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 30%,rgba(0,0,0,0.9) 100%), -webkit-linear-gradient(top, rgba(0,0,0,0.12) 0%,rgba(0,0,0,0) 15%);
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 30%, rgba(0,0,0,0.9) 100%), linear-gradient(to bottom, rgba(0,0,0,0.12) 0%, rgba(0,0,0,0) 15%);
}

div[w-theme="calendar"] .event-content-wraper {
    width: 100%;
    padding: 115px 30px 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    text-align: left;
}

div[w-theme="calendar"] .event-name{
    display: block;
    display: -webkit-box;
    text-transform: uppercase;
    font-size: 24px;
    font-family: "TMSans-Bold";
    margin-bottom: 20px;
    line-height: 31px;
    max-height: 62px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

div[w-theme="calendar"] .event-date-wraper{
    display: block;
    font-family: "TMSans-Bold";
    margin-bottom: 11px;
}

div[w-theme="calendar"] .address-wrapper{
    display: block;
    display: -webkit-box;
    height: 30px;
    font-family: "TMSans-Light";
    line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

div[w-theme="calendar"] .event-address{
    display: inline;
}

div[w-theme="calendar"] .event-address:after{
    content: ',\00a0';
    display: inline-block;
}

div[w-theme="calendar"] .address-wrapper .event-address:last-child:after{
    display: none;
}

div[w-theme="calendar"] .category-wrapper{
    display: block;
    font-family: "TMSans-Bold";
}

div[w-theme="calendar"] .address-wrapper,
div[w-theme="calendar"] .category-wrapper{
    opacity: 0.7;
}

div[w-theme="calendar"] .event-category:before{
    content: ', ';
}

div[w-theme="calendar"] .event-category:first-child:before{
    content: '';
}

div[w-theme="calendar"] .legal-notice {
    display: block;
    float: left;
    margin: 0 0 0 15px;
    color: #b7c9d3;
    font-size: 14px;
    line-height: 2.8;
}

div[w-theme="calendar"] .legal-notice:hover,
div[w-theme="calendar"] .legal-notice:focus,
div[w-theme="calendar"] .legal-notice:active{
    color: #019cde;
}

div[w-theme="calendar"] .events-counter {
    display: block;
    float: right;
    margin: 0 15px 0 0;
    font-size: 14px;
    line-height: 2.8;
    color: #b7c9d3;
    font-family: "TMSans-Bold";
    text-align: right;
}

div[w-theme="calendar"] .event-logo-box {
    position: absolute;
    bottom: 16px;
    left: 0;
    width: 100%;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
}

div[w-theme="calendar"] .event-logo {
    display: block;
    position: absolute;
    top: 15px;
    right: 19px;
    width: 160px;
    height: 18px;
    font-size: 11px;
    color: #768692;
    text-align: left;
}

div[w-theme="calendar"] .event-logo:before {
    content: '';
    position: absolute;
    left: 60px;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

div[w-theme="calendar"] .event-logo:before {
    background-image: url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/img/tm-gray-logo.svg");
    background-size: 98px;
}

div[w-theme="calendar"] .event-logo-box-c {
    text-align: center;
    width: 100%;
    height: 20px;
    margin-top: 12px;
}

div[w-theme="calendar"] .event-logo-c {
    display: block;
    position: relative;
    width: 160px;
    height: 18px;
    font-size: 11px;
    color: #768692;
    text-align: left;
    margin: 0 auto;
}

div[w-theme="calendar"] .event-logo-c:after {
    content: '';
    position: absolute;
    left: 60px;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

div[w-theme="calendar"] .event-logo-c:after {
    background-image: url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/img/tm-gray-logo.svg");
    background-size: 98px;
}

/*group*/
div[w-theme="calendar"] .event-group {
    width: 100%;
}

/* BUY NOW */
div[w-theme="calendar"] .event-buy-btn {
    z-index: 15;
    position: absolute;
    left: 30px;
    bottom: 27px;
    width: 74px;
    height: 24px;
    padding-top: 5px;
    border-radius: 4px;
    background-color: #009cde;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "TMSans-Bold";
    font-size: 11px;
    line-height: 16px;
    color: #ffffff;
    text-align: center;
    -webkit-transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

div[w-theme="calendar"] .event-buy-btn:hover {
    background-color: #2A7CC7;
}

div[w-theme="calendar"] .event-buy-btn[href=''],
div[w-theme="calendar"] .event-buy-btn[href='']:hover {
    /*background-color: #ccc;*/
    cursor: default;
    /*opacity: 0.5;*/
    opacity: 0;
}


/* Common styles for all themes */
div[w-theme="calendar"]{
    position: relative;
    height: 400px;
    width: 300px;
    overflow: hidden;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    font-family: 'TMSans-Regular', Arial, serif;
    border: 1px solid #b2c3cb;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index:10;
}

div[w-theme="calendar"] .tabs {
    height: 70px;
    padding-top: 5px;
    background: #f1f4f6;
}

div[w-theme="calendar"] .tabs span {
    font-family: 'TMSans-Bold', Arial, serif;
    font-size: 11px;
    text-transform: uppercase;
    padding: 2px 10px 0 10px;
    color: #b7c9d3;
    border: 1px solid #b7c9d2;
    border-left: none;
    display: inline-block;
    cursor: pointer;
}

div[w-theme="calendar"] .tabs span:first-child {
    border-left: 1px solid #b7c9d2;
    border-radius: 4px 0 0 4px;
}

div[w-theme="calendar"] .tabs span:last-child {
    border-radius: 0 4px 4px 0;
}

div[w-theme="calendar"] .tabs span.active {
    background: #b7c9d2;
    color: #fff;
}

div[w-theme="calendar"] .tab.active {
    display: block;
}
div[w-theme="calendar"] .tab {
    display: none;
}

div[w-theme="calendar"] .weekSсheduler {
    background: #fff;
    padding-top: 0;
    height: 273px;
    position: relative;
}

div[w-theme="calendar"] .weekSсheduler .days {
    width: 270px;
    height: 258px;
    margin-left: 17px;
    padding-top: 15px;
}

div[w-theme="calendar"] .weekSсheduler .days .d {
    display: inline-block;
    width: 25px;
    height: 28px;
    text-align: center;
    font-size: 12px;
    color: #b7c9d3;
    margin: 0 5px;
}

div[w-theme="calendar"] .weekSсheduler .days .d .round {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #009cde;
    display: block;
    margin-left: -1px;
    margin-top: 2px;
}

div[w-theme="calendar"] .weekSсheduler .days .d .round:hover {
    cursor: pointer;
}

div[w-theme="calendar"] .weekSсheduler .days .popup {
    width: 265px;
    height: 185px;
    overflow: hidden;
    padding: 13px 10px;
    position: absolute;
    background: #768692;
    color: #fff;
    left: 0;
    top: 25px;
    z-index: 10;
    display: none;
    text-align: left;
    border-radius: 4px;
}

div[w-theme="calendar"] .weekSсheduler .days .popup.single,
div[w-theme="calendar"] .weekSсheduler .days .popup-up.single {
    height: auto;
    max-height: 187px;
}

div[w-theme="calendar"] .weekSсheduler .days .popup-up {
    width: 265px;
    height: 190px;
    overflow: hidden;
    padding: 13px 10px;
    position: absolute;
    background: #768692;
    color: #fff;
    left: 0;
    bottom: 24px;
    z-index: 10;
    display: none;
    text-align: left;
    border-radius: 4px;
}

div[w-theme="calendar"] .weekSсheduler .days .tail {
    width:10px;
    height: 5px;
    display: block;
    position: absolute;
    margin: 7px 0 0 2px;
    display: none;
    z-index: 10;
}

div[w-theme="calendar"] .weekSсheduler .days .tail-up {
    width:10px;
    height: 5px;
    display: block;
    position: absolute;
    margin: -17px 0 0 2px;
    display: none;
    z-index: 10;
}

div[w-theme="calendar"] .tail.show, div[w-theme="calendar"] .tail-up.show {
    display: block !important;
}

div[w-theme="calendar"] .popup, div[w-theme="calendar"] .popup-up {
    box-sizing: border-box;
}

div[w-theme="calendar"] .weekSсheduler .days .tail:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #768692 transparent;
    position: absolute;
    top: -5px;
}

div[w-theme="calendar"] .weekSсheduler .days .tail-up:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #768692 transparent transparent transparent;
    position: absolute;
    top: -5px;
}

div[w-theme="calendar"] .weekSсheduler .days .popup .event,
div[w-theme="calendar"] .weekSсheduler .days .popup-up .event {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid rgba(65, 65, 65, 0.2);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

div[w-theme="calendar"] .weekSсheduler .days .popup .event:last-child,
div[w-theme="calendar"] .weekSсheduler .days .popup-up .event:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

div[w-theme="calendar"] .weekSсheduler .days .popup .event .img,
div[w-theme="calendar"] .weekSсheduler .days .popup-up .event .img {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
    display: block;
    margin-top: 2px;
}

div[w-theme="calendar"] .weekSсheduler .days .popup .event .event-holder,
div[w-theme="calendar"] .weekSсheduler .days .popup-up .event .event-holder {
    overflow: hidden;
    display: block;
}

div[w-theme="calendar"] .weekSсheduler .days .popup .event .event-holder .name,
div[w-theme="calendar"] .weekSсheduler .days .popup .event .event-holder .name:hover,
div[w-theme="calendar"] .weekSсheduler .days .popup-up .event .event-holder .name,
div[w-theme="calendar"] .weekSсheduler .days .popup-up .event .event-holder .name:hover {
    font-family: "TMSans-Bold";
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    display: block;
    color: #fff;
    margin-bottom: 7px;
    max-height: 33px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

div[w-theme="calendar"] .weekSсheduler .days .popup .event .event-holder .date,
div[w-theme="calendar"] .weekSсheduler .days .popup-up .event .event-holder .date {
    font-family: "TMSans-Bold";
    font-size: 11px;
    line-height: 14px;
    color: #fff;
    opacity: 0.7;
    display: block;
    margin-bottom: 4px;
}

div[w-theme="calendar"] .weekSсheduler .days .popup .event .event-holder .place,
div[w-theme="calendar"] .weekSсheduler .days .popup-up .event .event-holder .place {
    font-family: "TMSans-Light";
    font-size: 11px;
    line-height: 14px;
    color: #fff;
    opacity: 0.7;
    display: block;
}

div[w-theme="calendar"] .weekSсheduler .days .popup:focus,
div[w-theme="calendar"] .weekSсheduler .days .popup-up:focus {
    outline: none;
    border: none;
}

div[w-theme="calendar"] .weekSсheduler .days .popup.show,
div[w-theme="calendar"] .weekSсheduler .days .popup-up.show {
    display: block;
}

div[w-theme="calendar"] .weekSсheduler .days .d:first-child {
    margin-left: 24px;
}

div[w-theme="calendar"] .weekSсheduler .days .d:nth-child(7) {
    margin-right: 0;
}

div[w-theme="calendar"] .weekSсheduler .days .time-wrapper .time-holder .d:last-child {
    margin-right:0;
    border-right: none;
}

div[w-theme="calendar"] .weekSсheduler .days .d.active {
    font-family: 'TMSans-Bold', Arial, serif;
    color: #768692;
}

div[w-theme="calendar"] .weekSсheduler .days .d .num {
    display: block;
}

div[w-theme="calendar"] .weekSсheduler .ss-wrapper {
    overflow : hidden;
    height   : 100%;
    position : relative;
    z-index  : 1;
    float: left;
}

div[w-theme="calendar"] .weekSсheduler .ss-content {
    height          : 100%;
    width           : 100%;
    padding         : 0 32px 0 0;
    position        : relative;
    overflow        : auto;
    -moz-box-sizing : border-box;
    box-sizing      : border-box;
}

div[w-theme="calendar"] .weekSсheduler .ss-scroll {
    position            : relative;
    background          : rgba(153, 153, 153, .2);
    width               : 6px;
    border-radius       : 4px;
    top                 : 0;
    z-index             : 2;
    cursor              : pointer;
    opacity: 0;
    transition: opacity 0.25s linear;
}

div[w-theme="calendar"] .weekSсheduler .ss-container:hover .ss-scroll {
    opacity: 1;
}

div[w-theme="calendar"] .weekSсheduler .popup .ss-content,
div[w-theme="calendar"] .weekSсheduler .popup-up .ss-content {
    width: 120% !important;
}

div[w-theme="calendar"] .weekSсheduler .popup.single .ss-content,
div[w-theme="calendar"] .weekSсheduler .popup-up.single .ss-content {
    width: 110% !important;
}

div[w-theme="calendar"] .weekSсheduler .popup .ss-scroll,
div[w-theme="calendar"] .weekSсheduler .popup-up .ss-scroll {
    right: -243px !important;
    background-color: rgba(255,255,255,0.2);
}

div[w-theme="calendar"] .weekSсheduler .ss-grabbed {
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

div[w-theme="calendar"] .weekSсheduler .days .time-wrapper {
    width: 275px;
    height: 220px;
    margin: 0 auto;
}

div[w-theme="calendar"] .weekSсheduler .days .time-wrapper .time-holder {
    width:280px;
    height: auto;
}

div[w-theme="calendar"] .weekSсheduler .days .time-wrapper .time-holder .t {
    width: 272px;
    border-top: 1px dashed rgba(183, 201, 211, 0.6);
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
    overflow: visible;
}

div[w-theme="calendar"] .weekSсheduler .days .time-wrapper .time-holder .tl {
    display: block;
    float: left;
    text-align: left;
    width: 30px;
    height: 20px;
    font-size: 8px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

div[w-theme="calendar"] .weekSсheduler .days .time-wrapper .time-holder .d {
    display: block;
    float: left;
    width: 24px;
    height: 20px;
    border-right: 1px solid rgba(118, 134, 146, 0.1);
    margin: 0 5px;
    padding: 0;
}

/* Selectors */
div[w-theme="calendar"] .sliderLeftSelector,
div[w-theme="calendar"] .sliderRightSelector {
    position: absolute;
    float: left;
    left: 10px;
    top: 35px;
}

div[w-theme="calendar"] .sliderRightSelector {
    left: auto;
    right: 10px;
    width: 122px;
}

div[w-theme="calendar"] .selector-title {
    text-align: left;
    font-family: 'TMSans-Bold', Arial, serif;
    font-size: 14px;
    display: inline-block;
    position: relative;
    clear: both;
    font-size: 14px;
    line-height: 2em;
    padding-right: 2em;
    padding-left: 0;
    color: #b7c9d3;
    border-bottom: 2px solid #f1f5f7;
    -webkit-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
	  text-shadow: none;
}

div[w-theme="calendar"] .sliderRightSelector .selector-title {
}

div[w-theme="calendar"] .selector-title:before,
div[w-theme="calendar"] .selector-title:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 15px;
    height: 10px;
    margin-top: -5px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

div[w-theme="calendar"] .selector-title:before {
    opacity: 0;
    background-image: url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/img/small-shevron-hover.svg");
}

div[w-theme="calendar"] .selector-title:after {
    background-image: url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/img/small-shevron.svg");

}

div[w-theme="calendar"] .selector-title.open:after,
div[w-theme="calendar"] .selector-title.open:before {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

div[w-theme="calendar"] .selector-title.open:hover:after {
    opacity: 0;
}

div[w-theme="calendar"] .selector-title:hover {
    color: #189ddc;
    cursor: pointer;
}

div[w-theme="calendar"] .selector-title:hover:before {
    opacity: 1;
}

div[w-theme="calendar"] .selector-title:hover:after {
    opacity: 0;
}

div[w-theme="calendar"] .selector-content {
    font-family: 'TMSans-Bold', Arial, serif;
    font-size: 14px;
    display: none;
    width: auto;
    background: #b7c9d2;
    position: absolute;
    z-index: 10;
    left: -15px;
    border-radius: 0 0 4px 4px;
    padding: 10px 0 10px 0;
    outline: none;
}

div[w-theme="calendar"] .selector-content.show {
    display: block;
}

div[w-theme="calendar"] .selector-content span {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0 1em;
    box-sizing: content-box;
    margin: 0 1%;
    text-align: left;
    line-height: 1.92em;
    white-space: nowrap;
    min-width: 86px;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div[w-theme="calendar"] .sliderRightSelector .selector-content span {
    min-width: 120px;
}

div[w-theme="calendar"] .selector-content span:hover {
    color: #189ddc;
    cursor: pointer;
}

div[w-theme="calendar"] .monthScheduler {
    position: relative;
	  height: 273px;
}

div[w-theme="calendar"] .monthScheduler .calendar {
	margin: 0px auto;
	padding: 0;
	height: 273px;
}

div[w-theme="calendar"] .monthScheduler .calendar table {
    width: 100%;
    border: 0;
}

div[w-theme="calendar"] .monthScheduler .calendar table td,
div[w-theme="calendar"] .monthScheduler .calendar table th {
    width: 36px;
    height: 36px;
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline-block;
    border: 0;
    padding-top: 7px;
    font-size: 14px;
    line-height: 24px;
    margin: 0 2px;
}

div[w-theme="calendar"] .monthScheduler .calendar table th {
    font-weight: normal;
    background: none;
    text-transform: uppercase;
    color: #b7c9d3;
    margin-top: 21px;
}

div[w-theme="calendar"] .monthScheduler .calendar table tr {
    position: relative;
    display: block;
}

div[w-theme="calendar"] .monthScheduler .calendar table td {
    position: static;
    vertical-align: middle;
    box-sizing: border-box;
}

div[w-theme="calendar"] .monthScheduler .calendar table tr:nth-child(even) {
    background: none;
}

div[w-theme="calendar"] .monthScheduler .calendar td.dis {
    color: #d9d9d9;
}

div[w-theme="calendar"] .monthScheduler .calendar table td.today,
div[w-theme="calendar"] .monthScheduler .calendar table td.today .round {
    color: #208dcf;
    font-family: "TMSans-Bold", Helvetica, Arial, sans-serif;
}

div[w-theme="calendar"] .monthScheduler .calendar .round-holder {
    width: 33px;
    height: 33px;
    display: block;
    position: relative;
}
div[w-theme="calendar"] .monthScheduler .calendar .round {
    width: 30px;
    height: 30px;
    background: #fff;
    color: #768692;
    border-radius: 50%;
    border: 1px solid #208dcf;
    display: block;
    position: absolute;
    font-weight: normal;
    top: -4px;
    padding-top: 3px;
    box-sizing: border-box;
}

div[w-theme="calendar"] .monthScheduler .calendar .round .count {
    display: block;
    position: absolute;
    padding: 3px 5px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 10px;
    right: -7px;
    background: #208dcf;
    font-weight: normal;
    font-family: "TMSans-Regular", Helvetica, Arial, sans-serif;
    border-radius: 12px;
    top: -6px;
    line-height: 10px;
}

div[w-theme="calendar"] .monthScheduler .calendar .round:hover,
div[w-theme="calendar"] .monthScheduler .calendar .round:hover .count,
div[w-theme="calendar"] .monthScheduler .calendar .round-holder.active .round,
div[w-theme="calendar"] .monthScheduler .calendar .round-holder.active .count {
    cursor: pointer;
    background: #ba1079;
    color: #fff !important;
    border-color: #ba1079;
}

div[w-theme="calendar"] .monthScheduler .calendar .round:hover .count,
div[w-theme="calendar"] .monthScheduler .calendar .round-holder.active .count {
    border-color: #fff;
}

div[w-theme="calendar"] .monthScheduler .calendar .popup {
    width: 265px;
    height: 185px;
    overflow: hidden;
    padding: 13px 10px;
    position: absolute;
    background: #768692;
    color: #fff;
    left: 17px;
    top: 41px;
    z-index: 10;
    display: none;
    text-align: left;
    border-radius: 4px;
}

div[w-theme="calendar"] .monthScheduler .calendar .popup.single,
div[w-theme="calendar"] .monthScheduler .calendar .popup-up.single {
    height: auto;
    max-height: 185px;
}

div[w-theme="calendar"] .monthScheduler .calendar .popup-up {
    width: 265px;
    height: 185px;
    overflow: hidden;
    padding: 13px 10px;
    position: absolute;
    background: #768692;
    color: #fff;
    left: 17px;
    bottom: 37px;
    z-index: 10;
    display: none;
    text-align: left;
    border-radius: 4px;
}

div[w-theme="calendar"] .monthScheduler .calendar .tail {
    width:10px;
    height: 5px;
    display: block;
    position: absolute;
    margin: 1px 0 0 12px;
    display: none;
    z-index: 10;
}

div[w-theme="calendar"] .monthScheduler .calendar .tail-up {
    width:10px;
    height: 5px;
    display: block;
    position: absolute;
    margin: -38px 0 0 12px;
    display: none;
    z-index: 10;
}

div[w-theme="calendar"] .monthScheduler .calendar .tail:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #768692 transparent;
    position: absolute;
    top: -5px;
}

div[w-theme="calendar"] .monthScheduler .calendar .tail-up:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #768692 transparent transparent transparent;
    position: absolute;
    top: -5px;
}

div[w-theme="calendar"] .monthScheduler .calendar .popup .event,
div[w-theme="calendar"] .monthScheduler .calendar .popup-up .event {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid rgba(65, 65, 65, 0.2);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

div[w-theme="calendar"] .monthScheduler .calendar .popup .event:last-child,
div[w-theme="calendar"] .monthScheduler .calendar .popup-up .event:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

div[w-theme="calendar"] .monthScheduler .calendar .popup .event .img,
div[w-theme="calendar"] .monthScheduler .calendar .popup-up .event .img {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
    display: block;
    margin-top: 2px;
}

div[w-theme="calendar"] .monthScheduler .calendar .popup .event .event-holder,
div[w-theme="calendar"] .monthScheduler .calendar .popup-up .event .event-holder {
    overflow: hidden;
    display: block;
}

div[w-theme="calendar"] .monthScheduler .calendar .popup .event .event-holder .name,
div[w-theme="calendar"] .monthScheduler .calendar .popup .event .event-holder .name:hover,
div[w-theme="calendar"] .monthScheduler .calendar .popup-up .event .event-holder .name,
div[w-theme="calendar"] .monthScheduler .calendar .popup-up .event .event-holder .name:hover {
    font-family: "TMSans-Bold";
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    display: block;
    color: #fff;
    margin-bottom: 7px;
    max-height: 33px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

div[w-theme="calendar"] .monthScheduler .calendar .popup .event .event-holder .date,
div[w-theme="calendar"] .monthScheduler .calendar .popup-up .event .event-holder .date {
    font-family: "TMSans-Bold";
    font-size: 11px;
    line-height: 14px;
    color: #fff;
    opacity: 0.7;
    display: block;
    margin-bottom: 4px;
}

div[w-theme="calendar"] .monthScheduler .calendar .popup .event .event-holder .place,
div[w-theme="calendar"] .monthScheduler .calendar .popup-up .event .event-holder .place {
    font-family: "TMSans-Light";
    font-size: 11px;
    line-height: 14px;
    color: #fff;
    opacity: 0.7;
    display: block;
}

div[w-theme="calendar"] .monthScheduler .calendar .popup:focus,
div[w-theme="calendar"] .monthScheduler .calendar .popup-up:focus {
    outline: none;
    border: none;
}

div[w-theme="calendar"] .monthScheduler .calendar .popup.show,
div[w-theme="calendar"] .monthScheduler .calendar .popup-up.show {
    display: block;
}

div[w-theme="calendar"] .monthScheduler .calendar .ss-wrapper {
    overflow : hidden;
    height   : 100%;
    position : relative;
    z-index  : 1;
    float: left;
}

div[w-theme="calendar"] .monthScheduler .calendar .ss-content {
    height          : 100%;
    width           : 100%;
    padding         : 0 32px 0 0;
    position        : relative;
    overflow        : auto;
    -moz-box-sizing : border-box;
    box-sizing      : border-box;
}

div[w-theme="calendar"] .monthScheduler .calendar .ss-scroll {
    position            : relative;
    background          : rgba(153, 153, 153, .2);
    width               : 6px;
    border-radius       : 4px;
    top                 : 0;
    z-index             : 2;
    cursor              : pointer;
    opacity: 0;
    transition: opacity 0.25s linear;
}

div[w-theme="calendar"] .monthScheduler .calendar .ss-container:hover .ss-scroll {
    opacity: 1;
}

div[w-theme="calendar"] .monthScheduler .calendar .popup .ss-content,
div[w-theme="calendar"] .monthScheduler .calendar .popup-up .ss-content {
    width: 120% !important;
}

div[w-theme="calendar"] .monthScheduler .calendar .popup.single .ss-content,
div[w-theme="calendar"] .monthScheduler .calendar .popup-up.single .ss-content {
    width: 110% !important;
}

div[w-theme="calendar"] .monthScheduler .calendar .popup .ss-scroll,
div[w-theme="calendar"] .monthScheduler .calendar .popup-up .ss-scroll {
    right: -243px !important;
    background-color: rgba(255,255,255,0.2);
}

div[w-theme="calendar"] .monthScheduler .calendar .ss-grabbed {
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

div[w-theme="calendar"] .monthScheduler .calendar .month-update {
    display: none;
}

div[w-theme="calendar"] .year {
    margin: 0px auto;
    padding: 0;
    height: 273px;
    text-align: center;
    position: relative;
}

div[w-theme="calendar"] .year .monthes-container {
    width: 225px;
    margin: 0 auto;
    font-size: 14px;
    color: #b7c9d3;
    padding-top: 20px;
}

div[w-theme="calendar"] .year .month {
    display: block;
    float: left;
    width: 70px;
    height: 65px;
    font-size: 14px;
    text-align: center;
}

div[w-theme="calendar"] .year .month .name {
    display: block;
    text-align: center;
    clear: both;
    margin: 0 auto 2px auto;
}

div[w-theme="calendar"] .year .month .name.current {
    font-family: "TMSans-Bold", Helvetica, Arial, sans-serif;
    color: #768692;
}

div[w-theme="calendar"] .year .month .count {
    display: inline-block;
    clear: both;
    padding: 5px 7px;
    font-size: 12px;
    font-family;
    color: #fff;
    background: #208dcf;
    font-family: "TMSans-Bold", Helvetica, Arial, sans-serif;
    border-radius: 15px;
    min-width: 28px;
    min-height: 28px;
    box-sizing: border-box;
}

/* Dark Theme */
div[w-theme="calendar"][w-colorscheme="dark"] {
    background: #48494a;
}

div[w-theme="calendar"][w-colorscheme="dark"] .events-root-container{
    background-color: #414141;
    border-style: solid;
    border-color: transparent;
}

div[w-theme="calendar"][w-colorscheme="dark"] .tabs {
    background: #48494a;
}

div[w-theme="calendar"][w-colorscheme="dark"] .tabs span {
    color: #919192;
    border: 1px solid #919192;
}

div[w-theme="calendar"][w-colorscheme="dark"] .tabs span:first-child {
    border-left: 1px solid #919192;
}

div[w-theme="calendar"][w-colorscheme="dark"] .tabs span.active {
    background: #919192;
    color: #48494a;
}

div[w-theme="calendar"][w-colorscheme="dark"] .selector-title {
    color: #c8c8c9;
    border-bottom: none;
}

div[w-theme="calendar"][w-colorscheme="dark"] .selector-title:hover {
    color: #189ddc;
    cursor: pointer;
}

div[w-theme="calendar"][w-colorscheme="dark"] .selector-content {
    background: #768692;
}

div[w-theme="calendar"][w-colorscheme="dark"] .weekSсheduler {
    background: #414141;
}

div[w-theme="calendar"][w-colorscheme="dark"] .weekSсheduler .days .time-wrapper .time-holder .t {
    border-top: 1px dashed rgba(255, 255, 255, 0.2);
}

div[w-theme="calendar"][w-colorscheme="dark"] .weekSсheduler .days .time-wrapper .time-holder .d {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

div[w-theme="calendar"][w-colorscheme="dark"] .weekSсheduler .days .d,
div[w-theme="calendar"][w-colorscheme="dark"] .weekSсheduler .days .d.active,
div[w-theme="calendar"][w-colorscheme="dark"] .weekSсheduler .days .time-wrapper .time-holder .tl {
    color: #c8c8c9;
}

div[w-theme="calendar"][w-colorscheme="dark"] .weekSсheduler .days .time-wrapper .time-holder .d:last-child {
    border-right: 0;
}

div[w-theme="calendar"][w-colorscheme="dark"] .monthScheduler .calendar table tr:nth-child(odd) {
    background: none;
}

div[w-theme="calendar"][w-colorscheme="dark"] .monthScheduler .calendar .round {
    color: #d9d9d9;
    background: none;
    border: 1px solid rgba(255,255,255,0.3);
}

div[w-theme="calendar"][w-colorscheme="dark"] .monthScheduler .calendar .round .count {
    border-color: #414141;
}

div[w-theme="calendar"][w-colorscheme="dark"] .monthScheduler .calendar .round:hover,
div[w-theme="calendar"][w-colorscheme="dark"] .monthScheduler .calendar .round:hover .count,
div[w-theme="calendar"][w-colorscheme="dark"] .monthScheduler .calendar .round-holder.active .round,
div[w-theme="calendar"][w-colorscheme="dark"] .monthScheduler .calendar .round-holder.active .count {
    cursor: pointer;
    background: #ba1079;
    color: #fff !important;
    border-color: #ba1079;
}

div[w-theme="calendar"][w-colorscheme="dark"] .monthScheduler .calendar .round:hover .count {
    border-color: #414141;
}

div[w-theme="calendar"][w-colorscheme="dark"] .monthScheduler .calendar td.dis {
    color: #696969;
}

div[w-theme="calendar"][w-colorscheme="dark"] .monthScheduler .calendar table th {
    color: #c8c8c9;
}

div[w-theme="calendar"][w-colorscheme="dark"] .monthScheduler .calendar table td {
    color: #8d8d8d;
}

div[w-theme="calendar"][w-colorscheme="dark"] .year .month .name,
div[w-theme="calendar"][w-colorscheme="dark"] .year .month .name.current {
    color: #c8c8c9;
}

div[w-theme="calendar"][w-colorscheme="dark"] .event-logo-box {
    background: rgba(0,0,0,0.2);
}

div[w-theme="calendar"][w-colorscheme="dark"] .event-logo {
    color: #fff;
}

div[w-theme="calendar"][w-colorscheme="dark"] .event-logo:before {
    background-image: url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/img/tm-logo-white.svg");
    background-size: 98px;
}

div[w-theme="calendar"][w-colorscheme="dark"] .event-logo-c {
    color: #fff;
}

div[w-theme="calendar"][w-colorscheme="dark"] .event-logo-c:after {
    background-image: url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/img/tm-logo-white.svg");
    background-size: 98px;
}

div[w-theme="calendar"][w-colorscheme="dark"] .spinner-container {
    width: 100%;
    height: 275px;
    margin: 0 auto;
    text-align: center;
    background: #48494a;
    display: block;
    position: absolute;
    z-index: 10;
}

div[w-theme="calendar"] .spinner > div {
    opacity: 0.5;
}

div[w-theme="calendar"] .spinner-container {
    width: 100%;
    height: 275px;
    margin: 0 auto;
    text-align: center;
    background: #e5e5e5;
    display: block;
    position: absolute;
    z-index: 10;
}

div[w-theme="calendar"] .spinner-container.hide {
    display: none;
}

div[w-theme="calendar"] .spinner {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 10px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;
}

div[w-theme="calendar"] .spinner > div {
    background-color: #f1f4f6;
    height: 100%;
    width: 6px;
    display: inline-block;
    margin: 0 1px;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

div[w-theme="calendar"] .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

div[w-theme="calendar"] .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

div[w-theme="calendar"] .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

div[w-theme="calendar"] .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}
