.base-content-wrapper {
  @media #{$max-1200} {
    max-width: 1200px;
  }

  @media #{$max-768} {
    margin-top: -45px;
  }


  max-width: 1146px;
  overflow: hidden;
  margin: auto;
  position: relative;

  &>.col-lg-9 {
    float: right;
    @media #{$max-1200} {
      float: left;
    }
  }
  
  .fixed {
    position: fixed !important;
    top: 0px;
    &.below-footer{
      position: absolute !important;
    }
  }

  .menu {
    outline: none;
    @media #{$max-1200} {
      z-index: 1;
      left: 0;
      width: 100%;
      position: absolute;
      padding-top: 10px;
      background-color: rgba(255, 255, 255, 0.9);
      &.expanded {
        background-color: $aside-menu-background;
        height: 100%;
        width:50%;
        overflow-y: scroll;
      }
    }

    @media #{$max-768} {
      z-index: 1;
      left: 0;
      width: 100%;
      position: absolute;
      padding-top: 10px;
      &.expanded {
        background-color: $aside-menu-background;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
      }
    }

  }

  .menu-header {
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 10px;
    @media (min-width: 1200px) {
      margin-top: 30px;
    }
    @media #{$max-1200} {
      width: 50%;
    }
    @media #{$max-768} {
      width: 100%;
    }
  }

  .content {
    @media #{$max-1200} {
      padding-top: 64px;
    }
    @media #{$max-768} {
      padding-top: 52px;
    }
  }

  .row-container{
    @media #{$max-1200} {
      padding: 0;
    }
  }

  .column {
    @media (max-width: 767px) {
      text-align: center;
    }
    &:first-child {
      @media (min-width: 768px) {
        margin-left: -15px;
      }
    }
    &:last-child{
      @media (min-width: 768px){
        margin-right: -15px;
      }
    }
  }

}

.link-inline > a {
  display: block;
  margin: 7px 0;
}

.left-margin {
  padding-left: 30px;
}

.clear-margin {
  margin: 0;
}

.left-border {
  border-left: 2px solid $border-color;
}


