.top-bar {
  &.bg-header {
    &.blogs {
      background-image: url("/assets/img/blogs/bg2x.png");
      height: 1000px;
      overflow: hidden;
      @media #{$max-1200} {
        height: auto;
        background-image: url("/assets/img/blogs/bg.png");
      }
      @media #{$max-768} {
        height: auto;
        background-image: url("/assets/img/blogs/bg.png");
      }
      .body-wrapper {
        margin-bottom: 0;
      }
      .row-blogs {
        margin: 94px auto 238px auto;
        @media #{$max-1200} {
          margin: 94px auto 0 auto;
        }
        @media #{$max-768} {
          margin: 53px auto 0 auto;
        }
        .row-container-blogs {
          width: 1140px;
          margin: 0 auto;
          @media #{$max-1200} {
            width: 100%;
            text-align: center;
          }
          @media #{$max-768} {
            width: 100%;
            text-align: center;
          }
          .box-left,
          .box-right {
            width:750px;
            height:472px;
            background: white;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            padding: 40px 97px;
            img {
              @media #{$max-1200} {
                width: 255px;
              }
              @media #{$max-768} {
                width: 150px;
              }
            }
            @media #{$max-1200} {
              width: 95%;
              height: 440px;
              float: none;
              margin: 0 auto;
              padding: 40px 40px;
            }
            @media #{$max-768} {
              width: 90%;
              height: 432px;
              float: none;
              margin: 0 auto;
              padding: 40px 40px;
            }
            .lead {
              margin-top: 40px;
              margin-bottom: 81px;
              @media #{$max-1200} {
                margin-bottom: 50px;
              }
              @media #{$max-768} {
                margin-bottom: 50px;
              }
            }
          }
          .box-right {
            width: 360px;
            float: right;
            padding: 75px 40px;
            text-align: center;
            img {
                @media #{$max-1200} {
                  width: 208px;
                }
                @media #{$max-768} {
                  width: 208px;
                }
            }
            @media #{$max-1200} {
              width: 95%;
              height: 348px;
              float: none;
              margin: 20px auto 114px auto;
              padding: 37px 40px;
            }
            @media #{$max-768} {
              width: 90%;
              height: 412px;
              float: none;
              margin: 20px auto 90px auto;
              padding: 47px 40px;
            }
            .right-lead {
              margin: 78px 0 45px 0;
              @media #{$max-1200} {
                margin-top: 47px;
              }
              @media #{$max-768} {
                margin-top: 52px;
              }
            }
          }
        }
      }
    }
  }
}

#footer-blogs.slice-top-right {
  @media #{$max-1200} {
    padding-top: 0;
    margin-top: -60px;
  }
  @media #{$max-768} {
    padding-top: 0;
    margin-top: -60px;
  }
  @media (max-width: 767px) {
    padding-top: 0;
    margin-top: -60px;
  }
}

#footer-blogs {
  background-image: none;
  color: $white-70;
  padding-top: 48px;
  &.slice-top-right{
    &:before {
      margin: -140px 0;
    }
  }
  .bottom-logo a {
    color: $n3;
    margin-right: 30px;
  }
  @media #{$max-768} {
    background-position: right 60% center;
  }
  a {
    color: $n2-grey-color;
    &:hover,
    &:active,
    &:focus{
      color: $p1a;
      outline: none;
    }
  }
  span {
    font-family: $font-body;
    font-size: $size-body;
    color: $n3;
    line-height: $font-body;
  }
  .footer-nav{
    margin: 0 0 70px;
    @media #{$max-1200} {
      margin-top: 23px;
    }
    @media #{$max-768} {
      margin-top: 23px;
    }
    ul {
      margin-top: 17px;
    }
    h4 {
      margin-bottom: 8px;
      &:hover,
      &:active,
      &:focus{
        color: $p1b;
        outline: none;
      }
    }
  }
  &.menu-bg{
    &:before{
      @include component-menu-bg-top();
    }
  }
}

@media (max-width: 767px) {
  .xs-center li:not(:last-child):after {
    border: 1px solid #768692;
    }
  #footer-blogs {
    .footer-nav {
      margin: 48px 0 50px;
      h4 {
        margin-top: 0;
        margin-bottom: 9px;
      }
      ul {
        margin-top: 0;
      }
    }
    img {
      display: block;
      margin: 0 auto 12px auto;
    }
  }
}