.page_center_content {
  width: 556px;
  @media (max-width: 1199px){
    width: auto;
  }
}
.content {
  ul,
  ol {
    &.outside_list {
      padding-left: 20px;
      &>li {
        list-style-position: outside;
      }
    }
  }
}

.branding_gallery {
  @include clearfix();

  &__item {
    float: left;
    text-align: center;
  }
}

