/*.samples{
     //here will be custom styles for 1-column page
}*/

/*
  Desktop
*/
.single-column {
  p {
    width: 50%;
    &.lead {
      width: 100%;
    }
    &.medium {
      width: 40.5%;
    }
  }
  table {
    width: 85%;
  }
}


@media (max-width: 1199px) {
  .single-column {
    p {
      width: 70%;
      &.lead {
        width: 100%;
      }
      &.medium {
        width: auto;
      }
    }
    table {
      width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .single-column {
    p {
      width: 100%;
      &.lead {
        width: 100%;
      }
    }
    .table-wrapper{
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
    }
    .table-wrapper table {
      width: 100%;
      min-width: 600px;
    }
  }
}

.mobile {
  display: none;
  @media #{$max-1200} {
    display: none;
  }
  @media #{$max-768} {
    display: none;
  }
  @media (max-width: 767px) {
    display: block;
  }
}

.no-mobile {
  @media (max-width: 767px) {
    display: none;
  }
}

.noupper {
  text-transform: none;
}

.content {
  .body-100 {
  font-family: "TMSans-Regular",Helvetica,Arial,sans-serif;
    @media #{$max-1200} {
      width: 100%;
    }
    @media #{$max-768} {
      width: 100%;
    }
  }
}

.grey-box {
  width: 847px;
  padding: 46px 46px 26px 46px;
  background: #f1f4f6;
  margin-top: 75px;
  @media #{$max-1200} {
    width: 100%;
    margin-bottom: 80px;
  }
  @media #{$max-768} {
    width: 100%;
  }
  h3 {
    margin-top: 0;
  }
  &.android {
    background-color: #f1f4f6;
    background-image: url('/assets/img/products-and-docs/android-mock-i-o-s-mock.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    @media #{$max-768} {
      background-image: none;
    }

    .body {
      @media #{$max-1200} {
        width: 50%;
      }
      @media #{$max-768} {
        width: 100%;
      }
    }
    .body+p {
      @media #{$max-768} {
        text-align: center;
      }
    }
  }
  &.mask {
    background-color: #f1f4f6;
    background-image: url('/assets/img/products-and-docs/mask-bitmap.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    padding-bottom: 70px;
    margin-bottom: 118px;
    @media #{$max-1200} {
      padding-bottom: 26px;
      margin-bottom: 40px;
    }
    @media #{$max-768} {
      background-image: none;
      padding-bottom: 5px;
    }

    .body {
      @media #{$max-1200} {
        width: 50%;
      }
      @media #{$max-768} {
        width: 100%;
      }
    }
    .body+p {
      @media #{$max-768} {
        text-align: center;
      }
    }
  }
  .button-grey, .button-blue {
    margin-top: 27px;
    @media #{$max-768} {
      margin: 27px auto;
    }
  }
}


.discovery_widget_box {
  width: 847px;
  min-height: 262px;
  background-repeat: no-repeat;
  background-position: right top;
  @include img-retina("/assets/img/products-and-docs/event-discovery-img.png", "/assets/img/products-and-docs/event-discovery-img@2x.png", 362px, 262px);

  @media #{$max-1200} {
    width: auto;
  }

  @media #{$max-768} {
    background-image: none;
    min-height: 0;
  }


  h2{
    margin-top: 0;
  }
  .button_set {
    .button {
      min-width: 166px;
      text-align: center;
      padding-right: 10px;
      padding-left: 10px;
      @media #{$max-1200} {
        min-width: 150px;
      }

      @media #{$max-768} and (orientation: portrait) {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  p,
  h2 {
    width: 48%;
    @media #{$max-768} {
      width: auto;
    }
  }
}

.content {
  .button-grey,
  .button-grey:hover,
  .button-grey:focus {
    color: #fff;
    background: #d8dee1;
    text-decoration: none;
    padding: 12px 26px;
    cursor: default;
  }
  .code {
    word-wrap: break-word;
  }
}