.documentation{
    .content {
        blockquote {
            .highlighter-rouge {
                position: inherit;
                display: inherit;
                width: 100%;
            }
        }
        h3.menu-header {
            width: 100%;
            color: $n3;
        }

        h4 > .right-col {
            padding-top: 10px;
            border-top: 1px solid $code-border;
        }

        hr {
            clear: both;
            border: 0;
        }

        blockquote {
            h1, h2, h3, h4, h5, h6,
            p, table, ul, ol, aside, dl, figure {
                display: block;
                width: 55%;
                float: left;
                @media (max-width: 767px) {
                    width: 100%;
                }
            }
            border-left: 0;
            padding-left: 0;
            font-size: inherit;
            letter-spacing: 0;
            font-style: normal;

            & .side-comment,
            blockquote {
                float: right;
                margin: 0px;
                padding-left: 20px;
                padding-top: 0px;
                padding-bottom: 10px;
                font-size: inherit;
                letter-spacing: 0;
                font-style: normal;
                border-left: 2px solid $n3;

                width: calc(44% - 2px);

                h1, h2, h3, h4, h5, h6,
                p, table, ul, ol, aside, dl,
                pre, code, blockquote, figure {
                    width: 100%;
                }
                @media (max-width: 767px) {
                    float: inherit;
                    width: 100%;
                    border: 0;
                }
            }

            .lang-selector {
                a {
                    color: $n2-grey-color;
                    font-size: $size-h3;
                    border-bottom: 3px solid $n2-grey-color;
                    text-decoration: none;
                    display: block;
                    width: 30%;
                    float: left;
                    margin: 0 5px 20px 5px;
                    text-align: center;
                    line-height: 2em;
                    &:hover {
                        color: $s1a;
                        border-color: $s1a;
                    }
                }
                .active {
                    color: $p1a;
                    border-bottom: 3px solid $p1a;
                }
            }

            /*TO align header and code example*/
            @media (min-width: 768px) {
                h2 {
                    float: left;
                }
            }
        }

        .side-box {
            width: 44%;
            border-left: 2px solid lighten($n2-grey-color, 35);;
            position: absolute;
            right: 0;
            top: 280px;
            bottom: 0;
            z-index: -1;
            @media (max-width: 767px) {
                display: none;
            }
        }

        h1, h2, h3, h4, h5, h6,
        p, table, ul, ol, aside, dl, figure {
            display: block;
            width: 55%;
            float: left;
            @media (max-width: 767px) {
                width: 100%;
            }
        }

        /*new*/
        h2 {
            float: left;
            width: 55%;
        }

        blockquote {
            float: right;
            margin: 0px;
            padding-left: 20px;
            padding-top: 0px;
            padding-bottom: 10px;
            font-size: inherit;
            letter-spacing: 0;
            font-style: normal;
            /*border-left: 2px solid $n3;*/
            width: calc(44% - 2px);

            h1, h2, h3, h4, h5, h6,
            p, table, ul, ol, aside, dl,
            pre, code, blockquote, figure {
                width: 100%;
            }

            .main-description-console {
                border-left: 0px solid $n3;
            }

            @media (max-width: 767px) {
                float: inherit;
                width: 100%;
                border: 0;
            }
        }

        .dev-console-header {
            h1, h2, h3 {
                width: 100%;
            }
            h3 {
                color: $n3;
                width: 100% !important;
            }
            p {
                width: 100%;

                &.main-description {
                    font-size: 1.3em;
                }
            }
        }

    }
}
