.documentation{
    .maincontent{
        margin-top: 55px;
    }
    /*
     * Sidebar
     *
     * Flexible banner for housing site name, intro, and "footer" content. Starts
     * out above content in mobile and later moves to the side with wider viewports.
     */
    h4>.right-col{
        padding-top: 10px;
        border-top: 1px solid $code-border;
    }

    .sidebar {
        &.is-fixed{
            //position: fixed;
            top: 0px;
        }
        h1 {
            color: #fff;
            margin-top: 0;
            font-family: "Abril Fatface", serif;
            font-size: 3.25rem;
        }
        ul:first-child{
            margin-left: 0;
        }
        ul{
            & .lvl-1{
            margin-left: 0;
            }
            & .lvl-2 {
                margin-left: 10px;
                li {
                    color: $n2-grey-color;
                    line-height: 1.9em;
                    a{
                        color: $n2-grey-color;
                    }
                    a:hover {
                        color: $p1a;
                    }
                }
            }
            & .lvl-3 {
                a{
                    color: $n2-grey-color;
                }
                a:hover {
                    color: $p1a;
                }
                padding-left: 20px;
                border-left: 2px solid lighten( $n2-grey-color, 35);
            }
        }


    }
    @media (min-width: 768px) {
        .sidebar.is-fixed {
            position: fixed;
        }
    }
    @media (max-width: 768px) {
        .is-fixed {
            position: relative;
        }
    }

    /* Sidebar nav */
    .sidebar-nav {
        margin-bottom: 1rem;
    }
    .sidebar-nav-item {
        display: block;
        line-height: 1.75;
        .active {
            font-weight: bold;
        }
    }
    a.sidebar-nav-item:hover,
    a.sidebar-nav-item:focus {
        text-decoration: underline;
    }
    /* Sticky sidebar
     *
     * Add the `sidebar-sticky` class to the sidebar's container to affix it the
     * contents to the bottom of the sidebar in tablets and up.
     */

    @media (min-width: 1000px) {
        .sidebar-sticky {
            position: absolute;
            right:  1rem;
            bottom: 1rem;
            left:   1rem;
        }
    }

    hr{
        clear: both;
        border: 0;
        padding-top: 20px;
    }
    .block-central{
        h1, h2, h3, h4, h5, h6,
        p, table, ul, ol, aside, dl, figure{
            display: block;
            width: 55%;
            @media (max-width: 767px) {
                width: 100%;
            }
        }

        //& .side-comment,
        blockquote{
            float: right;
            width: calc(40% - 2px);

            h1, h2, h3, h4, h5, h6,
            p, table, ul, ol, aside, dl,
            pre, code, blockquote, figure{
                width: 100%;
            }
            @media (max-width: 767px) {
                float: inherit;
                width: 100%;
            }
        }

        .lang-selector{
            a{
                color: $n2-grey-color;
                font-size: $size-h3;
                border-bottom: 3px solid $n2-grey-color;
                text-decoration: none;
                display: block;
                width: 30%;
                float: left;
                margin: 0 5px 20px 5px;
                text-align: center;
                line-height: 2em;
                &:hover{
                    color: $s1a;
                    border-color: $s1a;
                }
            }
            .active{
                color: $p1a;
                border-bottom: 3px solid $p1a;
            }
        }

        /*TO align header and code example*/
        @media (min-width: 768px) {
            h2{
                float: left;
            }
        }
    }

    .side-box {
        width: 43%;
        //background-color: #ccc;
        border-left:2px solid lighten( $n2-grey-color, 35); ;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        @media (max-width: 768px) {
            display: none;
        }
    }

    p.main-description{
        font-size: 1.3em;
    }


}
