.documentation{
  .content {
    hr {
      display: initial;
      clear: both;
      border: 0;
      content: '';

    }
    .article-wrapper {
      //background-color: lemonchiffon;
      display: table;
      width: 100%;
      margin-bottom: 10px;

      h1, h2, h3, h4, h5, h6,
      p, table, ul, ol, aside, dl, figure {
        display: block;

        @media (max-width: 767px) {
          width: 100%;
        }
      }

      .aside-wrapper {
        //background-color: yellowgreen;
        width: 50%;
        float: right;
        margin-top: 15px;
        padding-left: 20px;

        h1, h2, h3, h4, h5, h6,
        iframe,
        p, table, ul, ol, aside, dl, figure {
          display: block;
          width: 100%;

          @media (max-width: 767px) {
            width: 100%;
          }
        }
        blockquote {
          border-left: 0;
          padding: 0;
          margin: 0;
          font-size: 16px;
          letter-spacing: -1px;
          display: inline-block;
          width: 100%;
          font-style: normal;
        }
        blockquote ~ blockquote {
          border-bottom: 2px solid $n2-grey-color;
        }
        .lang-selector {
          a {
            color: $n2-grey-color;
            font-size: $size-h3;
            border-bottom: 2px solid $n2-grey-color;
            text-decoration: none;
            display: block;
            width: 30%;
            float: left;
            margin: 0 5px 20px 5px;
            text-align: center;
            line-height: 2em;
            &:hover {
              color: $s1a;
              border-color: $s1a;
            }
          }
          .active {
            color: $p1a;
            border-bottom: 2px solid $p1a;
          }
        }
      }

      .left-wrapper {
        width: 50%;
        float: left;
        margin-top: 15px;

        h3 {
          color: $n3;
        }
        iframe{
          width: 100%;
        }
      }

      .dev-console-header {
        h1, h2, h3 {
          width: 100%;
        }
        h3 {
          color: $n3;
          width: 100% !important;
        }
        p {
          width: 100%;

          &.main-description {
            font-size: 1.3em;
          }
        }
      }

      .underline {
        border-bottom: 2px solid $n3;
      }

    }
  }
}
