
/*
  Desktop
*/
.single-column {
  padding-top: $fixed-header-height - $base-margin; /*header height*/

  p {
    width: 85%;
    &.medium {
      width: 40.5%;
    }
  }
  table {
    width: 85%;
  }
}


@media (max-width: 1199px) {
  .single-column {
    p {
      width: 70%;
      &.lead {
        width: 100%;
      }
      &.medium {
        width: auto;
      }
    }
    table {
      width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .single-column {
    p {
      width: 100%;
      &.lead {
        width: 100%;
      }
    }
    .table-wrapper{
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
    }
    .table-wrapper table {
      width: 100%;
      min-width: 600px;
    }
  }
}

.mobile {
  display: none;
  @media #{$max-1200} {
    display: none;
  }
  @media #{$max-768} {
    display: none;
  }
  @media (max-width: 767px) {
    display: block;
  }
}

.no-mobile {
  @media (max-width: 767px) {
    display: none;
  }
}

.no-desktop {
  display: none;
  @media (min-width: 320px) and (max-width: 1199px) {
    display: block;
  }
}
.desktop {
  display: none;
  @media (min-width: 1199px) {
    display: block;
  }
}


.noupper {
  text-transform: none;
}

.content {
  .body-100 {
  font-family: "TMSans-Regular",Helvetica,Arial,sans-serif;
    @media #{$max-1200} {
      width: 100%;
    }
    @media #{$max-768} {
      width: 100%;
    }
  }
  &.sdks {
    .tiles-wrapper {
      max-width: 876px;
      .flipper {
        border: 0;
        height: 263px;
        width: 263px;
      }
      .img-wrapper {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          border: 0;
        }
      }
    }
    @media (max-width: 768px) {
      .tutorials-article  {
        margin-bottom: 0;
        .announcement {
          padding-left: 0;
        }
      }
    }

    @media (min-width: 1200px) {
      .col-lg-10 {
        width: 88.33333%;
      }
    }
    @media (max-width: 1199px) {
      .tiles-wrapper {
        max-width: 100%;
      }
    }
  }
}

.grey-box {
  clear: both;
  width: 847px;
  padding: 46px 46px 26px 46px;
  background: #f1f4f6;
  margin-top: $base-margin;
  @media #{$max-1200} {
    width: 100%;
    margin-bottom: 80px;
  }
  @media #{$max-768} {
    width: 100%;
  }
  h3 {
    margin-top: 0;
    &:target:before {
      content: "";
      display: block;
      height: 138px;
      margin: -138px 0 0;
    }
  }
  &.android {
    background-color: #f1f4f6;
    background-image: url('/assets/img/products-and-docs/android-mock-i-o-s-mock.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    overflow: hidden;
    @media #{$max-768} {
      background-image: none;
      margin-top: 10px;
      padding-left: 15px;
      padding-right: 15px;
      margin-left: -15px;
      width: calc(100% + 30px);
    }

    .body {
      width: 50%;
      @media #{$max-1200} {
        width: 50%;
      }
      @media #{$max-768} {
        width: 100%;
      }
    }
    .body+p {
      @media #{$max-768} {
        text-align: left;
      }
    }
  }
  &.mask {
    background-color: #f1f4f6;
    background-image: url('/assets/img/products-and-docs/mask-bitmap.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    padding-bottom: 70px;
    margin-bottom: 118px;
    @media #{$max-1200} {
      padding-bottom: 26px;
      margin-bottom: 40px;
    }
    @media #{$max-768} {
      background-image: none;
      padding-bottom: 5px;
    }

    .body {
      @media #{$max-1200} {
        width: 50%;
      }
      @media #{$max-768} {
        width: 100%;
      }
    }
    .body+p {
      @media #{$max-768} {
        text-align: center;
      }
    }
  }
  .button-grey, .button-blue {
    margin-top: 27px;
    @media #{$max-768} {
      margin: 27px auto;
    }
  }
}

//widgets box
//.discovery_widget_box {
#direct-payments {
  @media #{$max-1200} {
    font-size: 36px;
    line-height: 46px;
  }
}

.widget_box {
  width: 850px;
  min-height: 438px;
  margin-bottom: $base-margin*3;
  background-repeat: no-repeat;
  background-position: right top;

  &__discovery{
    /* @include img-retina("/assets/img/products-and-docs/event-discovery-widget-image.png", "/assets/img/products-and-docs/event-discovery-widget-image.png", 362px, 262px); */
    background: url("/assets/img/products-and-docs/event-discovery-widget-image.png");
    background-size: contain;
    @media #{$max-1200} {
      min-height: auto;
      background-size: cover;
    }
    @media #{$max-768} {
      background: url("/assets/img/products-and-docs/event-discovery-widget-image-m.png") top right;
      background-size: cover;
    }
  }

  &__countdown{
    /* @include img-retina("/assets/img/products-and-docs/countdown-widget-image.png", "/assets/img/products-and-docs/countdown-widget-image@2x.png", 362px, 262px); */
    background: url("/assets/img/products-and-docs/countdown-widget-image.png");
    background-size: contain;
    @media #{$max-1200} {
      min-height: auto;
      background-size: cover;
    }
    @media #{$max-768} {
      background: url("/assets/img/products-and-docs/countdown-widget-image-m.png") top right;
      background-size: cover;
    }
  }

  @media #{$max-1200} {
    width: auto;
  }

  @media #{$max-768} {
    min-height: 0;
    width: 111%;
    position: relative;
    left: -15px;
    text-align: center;
    padding: 0 15px 20px 15px;
  }


  h2{
    padding: $base-margin*3 0 0 $base-margin*2;
    color: #fff;
    font-size: 54px;
    line-height: 66px;
    font-family: "InterstateWGL-Black", Arial, serif;
    @media #{$max-1200} {
      font-size: 36px;
      line-height: 46px;
      width: 40% !important;
      padding-top: 66px;
    }
    @media #{$max-768} {
      font-size: 24px;
      line-height: 32px;
      padding-left: 0;
      width: 60% !important;
      margin: 0 auto;
    }
  }

  #countdown-widget {
    padding-top: 105px;
    @media #{$max-1200} {
      padding-top: 82px;
    }
    @media #{$max-768} {
      padding-top: 48px;
    }
  }
  .button_set {
    .button {
      min-width: 166px;
      text-align: center;
      padding-right: 10px;
      padding-left: 10px;
      @media #{$max-1200} {
        min-width: 150px;
      }

      @media #{$max-768} and (orientation: portrait) {
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }
    margin-top: 37px;
    margin-left: 48px;

    @media #{$max-1200} {
      padding-bottom: 50px;
    }

    @media #{$max-768} {
      margin-left: 0;
      padding-bottom: 0;
    }
  }

  p,
  h2 {
    width: 48%;
    @media #{$max-768} {
      width: auto;
    }
  }
}

.content {
  .button-grey,
  .button-grey:hover,
  .button-grey:focus {
    color: #fff;
    background: #d8dee1;
    text-decoration: none;
    padding: 12px 26px;
    cursor: default;
  }
  .code {
    word-wrap: break-word;
  }
}

.changelog-section {
  /*min-height: 500px;*/
  margin-bottom: $base-margin;
  overflow: hidden;
  strong {
    font-family: $font-body;
    color: $secondary-color1;
    font-weight: normal;
  }

  h3,h4,h5 {
    line-height: 32px;
  }

  /*offset for fixed header*/
  h2:target:before {
    content: "";
    display: block;
    height: 100px;
    margin: -100px 0 0;

    @media #{$max-1200} {
      height: 154px;
      margin-top: -154px;
    }
  }/*offset END*/

}

.getting-started {
  h2 {
    margin-top: $base-margin*3;
  }
  h3 {
    margin-top: $base-margin*2;
  }
  .lead {
    margin-bottom: 0;
  }
  /*offset for fixed header*/
  h2:target:before,
  h3:target:before {
    content: "";
    display: block;
    height: 100px;
    margin: -100px 0 0;

    @media #{$max-1200} {
      height: 154px;
      margin-top: -154px;
    }
  }/*offset END*/
}