#upcoming{
  margin-top: 30px;
}

#event-header {
  text-transform: capitalize;
}


.bg-header-events {

  background-image: url("/assets/img/events/banner.jpeg") !important;
  &.small-h {
    background-image: url("/assets/img/events/top-curtain.png") !important;
  }

  .events-wrapper {
    max-width: 950px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 48px;
    overflow: hidden;
    padding: 0 24px;

    h1 {
      color: #FFF;
      text-transform: none;
    }
    .description {
      padding-left: 0;
      color: rgba(250,250,250,.7);

      @media #{$max-768}{
        padding: 0;
      }
    }
    .trans-btn {
      color: #FFF;
      padding: 2px 8px;
      border: 1px solid rgba(250,250,250,.7);
      border-radius: 2px;
      background-color: transparent;
      outline: none;
      margin-right: 20px;
    }
    .des-address {
      padding-right: 0;
      color: rgba(250,250,250,.7);
      @media #{$max-768}{
        padding: 0;
      }
      h4 {
        color: rgba(250,250,250,.7);
      }
      h5 {
        color: #FFF;
        margin-bottom: 0px;
      }

      p {
        margin-top: 0;
        margin-bottom: 30px;
      }
    }
  }
}
.event {
  margin-bottom: 70px;
  overflow: hidden;
  .image {
    width: 100%;
    margin-bottom: 48px;
  }
  button.tag-btn {
    color: $p1;
    padding: 2px 8px;
    border: 1px solid rgba(0, 155, 222, .2);
    border-radius: 2px;
    background-color: #fff;
    float: left;
    margin-right: 20px;
    margin-bottom: 24px;
    outline: none;
    &.active{
      background: #009cde;
      color: #FFF;
    }
  }
  .comntent {
    /*width: 550px;*/
    float: left !important;
    padding: 0;
    padding-right: 15px;

    h2 {
      margin-top: 0;
    }
    .tags {
      width: 100%;
      overflow: hidden;
      clear: both;
    }
  }
  .location {
    border: 1px solid rgba(118, 134, 146, 0.20);
    /*width: 245px;
    margin-left: 30px;
    float: left;*/
    padding: 24px;
    .date {
      font-family: $font-lead-bold;
      margin-bottom: 15px;
    }
    .blue-btn {
      margin-top: 25px;
    }
  }

}

.blue-btn {
  color: #FFF;
  border-radius: 4px;
  padding: 14px 24px;
  background-color: $p1;
  display: inline-block;
}


