@mixin social-link() {
  position: relative;
  display: inline;
  margin-right: 27px;
  top: 43px;
  &:after {
    display: none;
  }
  &:last-child{
    margin-right: 0;
  }
}

#top-promo {
  margin-bottom: 40px;
  background-image: url('/assets/img/home/bg-football-p-1.png');
  @media #{$max-1200} {
    margin-bottom: 30px;
    .row-container{
      &>div{
        padding: 0;
      }
    }
  }
  @media #{$max-768} {
    margin-bottom: 25px;
  }
  h1 {
    font-size: 81px;
    line-height: 88px;
    padding-top: 73px;
    @media #{$max-1200} {
      font-size: $size-h1;
      line-height: $line-height-h1;
      padding-top: 21px;
    }
    @media #{$max-768} {
      font-size: $size-h3;
      line-height: $line-height-h3;
    }
  }
  p{
    font-size: $size-lead;
    line-height: $line-height-h3;
    @media #{$max-768} {
      font-size: $size-h4;
      line-height: $line-height-h4;
      letter-spacing: 0.8px;
    }
  }
  .button-block{
    margin: 37px 0 49px;
    @media #{$max-1200}{
      margin: 37px 0 3px;
    }
    @media #{$max-768} {
      margin: 54px 0 -9px;
    }
  }
  .description {
    margin: 11px 0 -3px;
    @media #{$max-1200} {
      margin: -9px 0 -3px;
    }
    @media #{$max-768} {
      margin: -15px 0 -3px;
    }
  }
}

#promo-social {
  margin-bottom: 102px;
  @media #{$max-1200} {
    margin-bottom: 52px;
    .row-container {
      & > div {
        margin-bottom: 40px;
      }
    }
  }
}

#bottom-promo {
  text-align: center;
  background-image: url('/assets/img/home/bg-baseball-p-1-a.png');
  margin: 22px 0 69px;
  @media #{$max-1200} {
    margin: 22px 0 61px;
  }
  .row-container {
    max-width: 820px;
    h2 {
      margin-bottom: 22px;
    }
    @media #{$max-1200} {
      &>div:first-child {
        padding-top: 21px !important;
      }
    }
  }
  .button-block {
    margin: 50px 0 85px;
    @media #{$max-1200} {
      margin: 66px 0 85px;
    }
  }
}

.social-buttons {
  margin-bottom: 27px;
  a {
    padding: 0 13px;
  }
  img {
    vertical-align: middle;
  }
}

.tm-btn {
  position: relative;
  display: inline-block;
  border-radius: 5px;
  padding: 14px 30px 10px;
}

.tm-btn-white {
  background-color: $white;
  font-family: $font-h4;
  &:hover {
    color: $brand-color;
  }
  &:visited {
    color: $brand-color;
  }
}

.tm-btn-transparent {
  border: 2px solid $white-70;
  font-family: $font-h4;
  color: $white-70;
  padding: 12px 34px 9px;
  &:hover{
    color: $white-70;
  }
  &:visited{
    color: $white-70;
  }
}

li{
  &.social-link {
    @include social-link();
  }
}

.promo {
  p{
    color: $white-70;
  }
  h1,
  h2 {
    color: $white;
  }
  .rightarrow {
    margin-right: 60px;
    &:after{
      content: '';
      background: url("/assets/img/home/ic-rightarrow.svg") no-repeat;
      width: 40px;
      height: 40px;
      position: absolute;
      right: -65px;
      top: 17px;
    }
  }
}

.columns {
  @media #{$max-1200} {
    .row-container{
      max-width: 720px;
      &>div{
        margin-bottom: 69px;
      }
    }
  }
  .content {
    &>.row {
      &>div{
        padding: 0;
      }
    }
    h3 {
      text-align: center;
      margin: 0;
      @media #{$max-1200} and (min-width: 768px) {
        text-align: left;
      }
    }
    ul {
      margin-top: -2px;
      li {
        padding: 4px 0;
        @media #{$max-1200} {
          @include inline-list(14px);
        }
      }
    }
    &.social {
      li {
        @include social-link();
      }
    }
    p {
      &>img {
        height: 94px;
        display: block;
        margin: 0 auto 22px;
        @media #{$max-1200} {
          margin: -13px 0 22px 42px;
        }
        @media #{$max-768} {
          margin: -11px auto 26px;
        }
      }
    }
  }
}

@media #{$max-1200}{
  #promo-social,
  #bottom-promo {
    .row-container {
      max-width: 540px;
    }
  }
}

@media #{$max-768} {
  .rightarrow {
    margin: 0 !important;
    &:after {
      display: none;
    }
  }
  .tm-btn-transparent {
    display: none;
  }
  #bottom-promo,
  #promo-social {
    display: none;
  }
}