.xs-padding {
  @media #{$max-1200}{
    padding-left: 15px;
    padding-right: 15px;
  }
}

#console-instructions{
  ol{
    margin-left: 20px;
    li{
      list-style: inherit;
      padding-left: 0.5em;
    }
  }
}

#get-key-callout{
  position: absolute;
  top: 65px;
  right: 0;
  text-align: center;
  border: 2px solid $border-color;
  padding: 5px 30px 30px;
  @media #{$max-1200}{
    display: none;
  }
  h3{
    color: $blue;
  }
  .tm-btn{
    color: $n3;
    border: 2px solid $n3;
  }
}