.xs-padding {
  @media #{$max-1200}{
    padding-left: 15px;
    padding-right: 15px;
  }
}

#instructions-header {
  width: 50%;
  cursor: pointer;
  display: inline-block;
  margin-top: $base-margin;
  @media #{$max-1200} {
    width: 100%;
  }
  p {
    display: inline;
  }
  h3 {
    margin-bottom: 0;
    margin-top: 0;
  }
  .instructions-chevron {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 10px;
    background: url('../../assets/controls/ic-shevron-down.svg') no-repeat;
    margin: 12px 12px 0 4px;
    @include tm-transition();
    @media #{$max-768} {
      margin-top: 6px;
    }
  }
  &.expanded {
    .instructions-chevron {
      @include rotate(180deg);
    }
  }
}
.pantheon-api-key{
  border: solid 1px rgba(21, 140, 210, 0.2);
  color: $n3;
  font-family: "TMSans-Bold", Helvetica, Arial, sans-serif;
  padding: ($base-margin - 4) $base-margin*2 ($base-margin - 4) $base-margin;
  position: absolute;
  right: 15px;
    span {
      color:$n2;
    }

    .copy-btn {
      right: 20px;
      margin-top: -$base-margin;
    }

  @media #{$max-1200} {
    position: relative;
    margin-top: 0;
    left: 0;
    font-size: 12px;
    text-align: center;
    padding: ($base-margin - 4) $base-margin;
    .copy-btn {
      display: none;
    }
  }
}

#console-instructions{
  ol{
    margin-left: 47px;
    li{
      list-style: inherit;
      padding-left: 0.5em;
    }
  }
}

#get-key-callout{
  position: absolute;
  top: 110px;
  right: 0;
  @media #{$max-1200}{
    display: none;
  }
  .tm-btn{
    color: $n3;
    border: 2px solid $n3;
    &:hover {
      color: $p1;
      border-color: $p1;
    }
  }
}