.nexus-form {
  label {
    color: $n3;
    margin-bottom: 8px;
  }
  input {
    margin-bottom: 24px;
    border-radius: 4px;
  }
  input[type="radio"] {
    width: inherit;
    margin-right: 6px;
  }
  input[type=radio] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    border-color: #ddd;
  }
  textarea {
    height: 96px;
  }
  input,textarea {
    width: 100%;
    border: 1px solid #CCCCCC;
    padding: 8px 16px;
  }
  span {
    width: 74px;
  }
  .col-left,
  .col-right {
    float: left;
    width: 50%;
  }
  .col-right {
    margin-left: 5%;
    width: 45%;
  }
  .label-radio{
    width: 100%;
  }
  .company-detail {
    font-family: $font-h5;
    font-size: $size-h6;
    line-height: $line-height-h6;
  }
  .button {
    background-color: $p1a;
    border: 2px solid;
    border-radius: 4px;
    font-family: $font-bold-p;
    font-size: $size-h4;
    margin-top: 30px;
    padding: 10px 40px;
    color: $white;
    display: inline-block;
    width: 100%;

    &:hover,
    &:focus,
    &:active {
      color: $p1a;
      border-color: $n3;
      background-color: $white;
      outline: none;
      text-decoration: none;
    }
  }
}