body .top-bar.bg-header {
    background-image: url("/assets/img/partners/top-curtain.png");
}

.base-content-wrapper.partners-lnd {
  max-width: 100%;
  .content {
    padding: 0;
  }
}

.top-content {
  text-align: center;
  h1, h2 {
    font-size: 54px;
    color: #fff;
  }
  .white {
    float: none;
    margin: 35px auto 0 auto;
  }
  .description {
    font-size: 1.5em;
    line-height: 32px;
    color: rgba(255,255,255,0.7);
    float: none;
    margin: 50px auto 150px auto;
  }
}

.row-partners {
  max-width: 1010px;
  text-align: center;
  h3 {
    margin-bottom: 14px;
  }
  h4 {
    text-transform: uppercase;
    font-size: 11px;
    line-height: 16px;
    margin: 0 0 10px 0;
    padding: 0;
    color: #b7c9d3;
  }
  div {
    text-align: center;
  }
  .image {
    width: 458px;
    height: 232px;
    line-height: 232px;
    border: 1px solid #e4e7e9;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    @media #{$max-1200} {
      width: 100%;
    }
    @media #{$max-768} {
      width: 100%;
    }
    img {
      vertical-align: middle;
      margin: 0 0 0.25em 0;
      @media #{$max-1200} {
        width: 85%;
      }
      @media #{$max-768} {
        width: 85%;
      }
    }
  }
  .body.p {
    width: 85%;
    margin: 0 auto;
  }
  p {
    a {
      display: block;
      margin-bottom: 10px;
    }
  }
}

.slice-left {
  background-image: url("/assets/img/partners/mask.png");
}

.slice-left .row-affilate {
  max-width: 1010px;
  h2 {
    text-align: left;
  }
  div {
    float: left;
    text-align: left;
  }
  .c {
    text-align: center;
  }
  .body.p {
    width: 70%;
  }
  .image {
    width: 165px;
    height: 165px;
    line-height: 165px;
    border: 1px solid #e4e7e9;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    background: #fff;
    display: inline-block;
    margin: 0 0 30px 0;
      &:nth-child(odd) {
        margin: 0 28px 30px 0;
      }
      img {
        vertical-align: middle;
        margin: 0 0 0.25em 0;
      }
  }
}

.row-developers {
  max-width: 755px;
  text-align: center;
  h4 {
    text-transform: uppercase;
    font-size: 11px;
    line-height: 16px;
    margin: 0 0 10px 0;
    padding: 0;
    color: #b7c9d3;
    border-bottom: 1px solid #f1f3f4;
    padding: 0 15px;
  }
  .image {
    width: 165px;
    height: 165px;
    line-height: 165px;
    border: 1px solid #e4e7e9;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    background: #fff;
    display: inline-block;
    margin: 0 0 30px 0;
    &:first-child {
      margin: 0 28px 30px 0;
    }
    &:last-child {
      margin: 0 0 30px 0;
    }
    img {
      vertical-align: middle;
      margin: 0 0 0.25em 0;
    }
  }
}