body .top-bar.bg-header {
    background-image: url("/assets/img/partners/top-curtain.png");
}

.base-content-wrapper.partners-lnd {
  max-width: 100%;
  .content {
    padding: 0;
  }
}

.top-content {
  text-align: center;
  h1, h2 {
    font-size: 54px;
    color: #fff;
    @media (max-width: 767px) {
      font-size: 1.5em;
    }

  }
  .white {
    float: none;
    margin: 35px auto 0 auto;
  }
  .description {
    font-size: 1.5em;
    line-height: 32px;
    color: rgba(255,255,255,0.7);
    float: none;
    margin: 50px auto 150px auto;
    @media #{$max-1200} {
      width: 80%;
      margin-bottom: 100px;
    }
    @media #{$max-768} {
      width: 80%;
      margin-bottom: 100px;
    }
    @media (max-width: 767px) {
      width:95%;
      font-size: 1em;
      line-height: 24px;
      margin-top: 24px;
      margin-bottom: 90px;
    }
  }
}

.row-partners {
  max-width: 1010px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
  h3 {
    margin-bottom: 14px;
    @media (max-width: 767px) {
      font-size: 1.5em;
      line-height: 1.2em;
    }

  }
  h4 {
    text-transform: uppercase;
    font-size: 11px;
    line-height: 16px;
    margin: 0 0 13px 0;
    padding: 0;
    color: #b7c9d3;
  }
  div {
    text-align: center;
  }
  .image {
    width: 458px;
    height: 232px;
    border: 1px solid $white;
    border-top: 1px solid $borderGrayColor;
    margin: 0 auto;
    position: relative;
    .logo-container {
      @include vertical-align();
    }
    img {
      vertical-align: middle;
      margin: 0 0 0.25em 0;
    }
    @media (max-width: 488px) {
      width: 100% !important;
    }
  }
  .show-more{
    border-bottom: 1px solid $borderGrayColor;
    min-height: 1px;
    max-height: 1px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    @include tm-transition();
    &.expanded {
      max-height: 500px;
    }
    @media (min-width: 488px) {
      width: 458px;
    }
  }
  .show-more-link {
    position: relative;
    background: $white;
    top: -38px;
    padding: 0 35px 0 15px;
    color: $n3;
    display: inline-block;
    font-family: $font-h4;
    font-size: $font-size-h6;
    text-decoration: none !important;
    &:after {
      content: '';
      position: absolute;
      display: block;
      background: url('../../assets/img/partners/chevron.svg') no-repeat;
      width: 10px;
      height: 6px;
      right: 12px;
      top: 7px;
      @include tm-transition();
    }
    &.expanded {
      &:after {
        @include rotate(180deg);
      }
    }
  }
  .body.p {
    width: 85%;
    margin: 0 auto;
    @media #{$max-1200} {
      width: 55%;
    }
    @media #{$max-768} {
      width: 55%;
    }
    @media (max-width: 767px) {
      width: 95%;
    }
  }
  p {
    &.logo {
      margin: 0;
      a {
        line-height: 60px;
      }
      &:after {
        content: '';
        display: table;
        clear: both;
      }
    }
  }
  .italic {
    font-style: italic;
  }
  .no-margin-top {
    margin-top: 10px;
  }
}

.slice-left.partn {
  background-image: url("/assets/img/partners/mask.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 190px;
  padding-bottom: 190px;
  @media #{$max-1200} {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @media #{$max-768} {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @media (max-width: 767px) {
    padding-top: 30px;
    padding-bottom: 60px;
  }
}

.slice-left .row-affilate {
  position: relative;
  max-width: 750px;
  h2 {
    text-align: left;
    margin-top: 64px;
    @media #{$max-768} {
      text-align: center;
    }
    @media (max-width: 767px) {
      font-size: 2.2em;
      text-align: center;
    }
  }
  div {
    float: left;
    text-align: left;
    @media #{$max-768} {
      text-align: center;
    }
    @media (max-width: 767px) {
      text-align: center;
    }
  }
  .body.p {
    width: 80%;
    @media #{$max-768} {
      margin: 0 auto;
    }
    @media (max-width: 767px) {
      width: 95%;
      margin: 0 auto;
    }
  }
  .button-blue {
    margin-top: 0;
  }
  .pics {
    text-align: center;
    .image {
      background: $white;
      border-radius: 50%;
      border: solid 1px $border-color;
      width: 264px;
      height: 264px;
      position: relative;
      margin: 60px 0;
      float: right;
      img {
        position: relative;
        top: 50%;
        margin-top: -45px;
      }
      @media #{$max-768} {
        display: none;
      }
    }
  }
}

.row-developers {
  text-align: center;
  margin: 75px auto;
    @media (max-width: 767px) {
      margin: 75px auto 30px auto;
    }
  h4 {
    text-transform: uppercase;
    font-size: 11px;
    line-height: 16px;
    margin: 0 0 24px 0;
    padding: 0 0 12px 0;
    color: #b7c9d3;
    border-bottom: 1px solid #f1f3f4;
  }
  .image {
    display: block;
    margin: 0 10px;
  }
  img {
    max-height: 500px;
    max-width: 700px;
  }
  #slider {
    max-width: 774px;
    display: inline-block;
    float: none;
    .slick-arrow {
      @media #{$max-1200} {
        display: none !important;
      }
      &:before {
        content: '';
      }
      &.slick-prev {
        left: -55px;
      }
      &.slick-next {
        @include rotate(180deg);
        right: -55px;
      }
      &:hover {
        opacity: 1;
      }
      opacity: 0.7;
      width: 23px;
      height: 25px;
      background: url('../../assets/img/partners/arrows.svg');
    }
    .slick-dots {
      bottom: -60px;
      left: 0;
      @media (min-width: 1200px) {
        display: none !important;
      }
    }
  }
}

.nexus-form-wrapper {
  font-family: $font-body;
  margin-bottom: 96px;
  textarea {
    height: 96px;
    resize: vertical;
  }
  .col-sm-12,
  .col-sm-6 {
    padding-left: 0;
  }
  .message-green {
    margin: 0;
    padding: 0;
    color: $apple-green;
    //position: absolute;
    display: none;
    font-weight: normal;
    font-family: $font-bold-p;
  }
  .label-radio-group{
    width: 100%;
  }
  .label-radio {
    display: inline;
    label {
      margin-bottom: 0;
      margin-right: 55px;
      font-family: $font-body;
      font-size: $size-h4;
      line-height: 28px;
      font-weight: normal;
      color: $n2;
    }
    @media (min-width: 1199px) {
      label {
        display: inline;
      }
    }
  }
  .label-required {
    font-family: $font-body;
  }
  .company-detail {
    font-family: $font-h5;
    font-size: $size-h6;
    line-height: $line-height-h6;
    margin-top: $base-margin;
    margin-bottom: $base-margin/2;

    @media (max-width: 1199px) {
      color: $n1;
      font-family: $font-h5;
      font-size: $size-h4;
      line-height: $line-height-h5;
    }
  }
  .button-blue {
    border: none;
    border-radius: 4px;
    font-family: $font-bold-p;
    font-size: $size-h4;
    margin-bottom: 0;
    padding: 10px 40px;
    color: $white;
    display: inline-block;
    width: 100%;

    &:hover,
    &:focus,
    &:active {
      outline: none;
      text-decoration: none;
      background-color: $p1b;
    }
  }

  @media (min-width: 767px) {
    padding: 0 10%;
  }
  @media (min-width: 1199px) {
    padding: 0 15px;
    margin: 0;
    margin-bottom: 96px;
  }
  @media (max-width: 767px) {
    /* 44px - footer top margin */
    margin-bottom: calc(96px - 44px);
    .col-sm-6,
    .col-sm-12 {
      padding-right: 0;
    }
  }
}

.distribution {
  .grey-box {
    position: relative;
    &:after,
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 15px;
      height: 100%;
      background: $white;
      top: 0;
    }
    &:after{
      right: 0px;
    }
    &:before{
      left: 0px;
    }
    @media #{$max-768} {
      margin: 75px 0 0 0;
      padding: 46px 0 0 0;
      &:after,
      &:before {
        background: $code-background-color;
      }
      &:after{
        right: -15px;
      }
      &:before{
        left: -15px;
      }
    }
    &.after-phone {
      .phone {
        img {
          position: relative;
          top: -221px;
          margin-bottom: -370px;
        }
        @media #{$max-768} {
          text-align: center !important;
          img {
            top: 0;
            margin-bottom: 20px;
          }
        }
      }
      .phone-right {
        text-align: right;
      }
      .phone-left {
        text-align: left;
      }
    }
  }
  .content-container {
    margin-top: 140px;
    @media #{$max-768} {
      margin-top: 40px;
    }
  }
  .pull-quote {
    line-height: 26px;
    margin-bottom: 0;
  }
  @media #{$max-768} {
    .text-right,
    .text-left {
      text-align: center;
    }
  }
  .button:not(.button-blue) {
    &:hover {
      color: $p1a;
      border-color: $p1a;
      outline: none;
      text-decoration: none;
    }
    border: 2px solid $n3;
    border-radius: 4px;
    font-family: $font-h2;
    padding: 10px 40px;
    color: $n3;
    display: inline-block;
  }
  #bottom-partner {
    text-align: center;
    &>* {
      float: none;
      display: inline-block;
    }
  }
  .button-blue {
    margin-top: 0;
  }
  .nexus-form-wrapper .button-blue {
    margin-top: 30px;
  }
}