.big-tile {
  margin: 0 0 30px;
  .content-box{
    width: 100%;
    height: 265px;
    @media #{$max-768}{
      height: 500px;
    }

    border: 1px solid rgba(118, 134, 146, 0.2);
    .logo-box {
      height:100%;
      @media (min-width: 768px){
        margin-left: 48px;
      }
      @media #{$max-768}{
        height: 215px;
      }
    }
    .description{
      @media (min-width: 768px){
        margin-right: 30px;
      }

      float:right;
      color: $white-70;
      top: 50%;
      transform: translateY(-50%);
      @media #{$max-768}{
        top: 0;
        transform: none;
      }
      h3 {
        color: #FFF;
        @media #{$max-768}{
          text-align: center;
          font-size: 24px;
          line-height: 32px;
        }
      }
    }
  }
}

/* entire container, keeps perspective */
/*.flip-container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}*/

.partner-logo img{
  width: 100%;
  max-width: 450px;
	&.small {
		max-width: 130px;
	}
}
.wrapper-nexus {
	padding: $base-margin*1.5 $base-margin;
	background-color: rgb(255, 255, 255);
	border: solid 1px rgba(21, 140, 210, 0.2);
	margin-bottom: $base-margin;
	.button-blue {
		line-height: $base-font-size;
		font-size: 12px;
		font-family: $font-bold-p;
		padding: 7px 48px;
		margin-top: 0;
	}
}

/* flip speed goes here */
.flipper {
  height: 265px;
  border: 1px solid $steel-20;
  //transition: 0.6s;
  margin-bottom: 15px;

  // flipper rect styles
  &.flipper-rect {
    float: left;
    border: none;
    .img-wrapper {
      height: 166px;
      img {
        background: #fff;
        margin: 0 auto;
        min-width: 166px;
        min-height: 166px;
        padding: 49px;
        @media #{$max-1200} {
          padding: 44px 59px 74px;
        }
      }
      @media #{$max-768} {
        height: 136px;
        img {
          min-width: 136px;
          min-height: 136px;
          padding: 33px 44px 55px;
        }
      }
    }
    &, .front, .back {
      width: 166px;
      height: 166px;
      min-height: 0;
      @media #{$max-768} {
        height: 136px;
        width: 136px;
      }
    }
    .front {
      background: none;
      position: relative;
      .flipper-title {
        margin: -75px auto 0;
        text-align: center;
        max-width: 140px;
        @media #{$max-768} {
          max-width: 120px;
          margin-top: -55px;
          font-size: 12px;
          font-weight: bold;
          line-height: 1.33;
          text-align: center;
          color: #768692;
        }
      }
    }
    .back {
      border: solid 1px #768692;
    }
    .flipper-title {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.5;
      color: #768692;
      margin: 0 0 6px 0;
    }
    .flipper-description {
      font-size: 12px;
      line-height: 1.67;
      color: #768692;
      margin: 5px 0;
    }
    &.flipper-rect-margin {
      margin: 0 0 30px 30px;
      &:first-child {
        margin-left: 0;
      }
      @media #{$max-768} {
        margin: 0 0 20px 20px;
      }
    }
  }
}

.tiles-wrapper{
  margin: $base-margin*2 -15px;
	.tiles-group-title {
		color: $n3;
		border-top: solid 2px $steel-20;
		margin: $base-margin 15px;
		padding-top: 5px;
	}
}

.img-wrapper {
  img {
    max-width: 100%;
  }
}


/*cards*/
.card {
  height: 100%;
  margin: 0 auto;
}

.card a.thumb {
  float: left;
  width: 100px;
  height: 60px;
  margin: 0 5px 10px 0;
}

.card a.thumb img {
  max-width: 100%;
  max-height: 100%;
}

/* hide front of pane during swap */
.front, .back {
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-color: white;
}
.back {
  padding: 20px;
  border: 1px solid $n3;
  min-height: 263px;
  &:hover {
    border-color: $n2;
  }
  a {
  display: block;
  height: 100%;
  }
  h3 {
    margin-top:0;
  }
  h3,p {
    width: 100%;
  }
}
/*cards END*/
