.row-container {
    @media #{$max-1200} {
        padding: 0;
    }
    @media #{$max-768} {
        padding: 0;
    }
}

.documentation{
    h1 {
        @media #{$max-1200} {
            font-size: $size-h1;
            line-height: $line-height-h1;
        }
        @media #{$max-768} {
            font-size: $size-h3;
            line-height: $line-height-h3;
        }
    }
}

.lead {
    font-size: $size-lead;
    line-height: $line-height-h3;
    @media #{$max-768} {
        font-size: $size-h4;
        line-height: $line-height-h4;
        letter-spacing: 0.8px;
    }
}

.triple-margin-top {
    /*
    BUG WITH TRIPLE MARGIN - MUST BE 96px
    margin-top: 96px;
    */
    margin-top: 72px;
    @media #{$max-1200} {
        margin-top: 0;
    }
    @media #{$max-768} {
        margin-top: 0;
    }
}

.partner {
    margin-top: 74px;
    padding: 37px 34px 50px 34px;
    text-align: center;
    border: 1px solid #d5e9f6;
    h2 {
        font-family: "TMSans-Bold", Helvetica, Arial, sans-serif;
        font-size: 1.5em;
        line-height: 32px;
        color: #009cde;
        margin: 0 0 10px 0;
    }
    p {
        margin: 0;
    }
}

.slice-left {
    background: #f0f4f7;
    margin-top: 54px;
    .row, .row-container  {
        text-align: center;
        &>div {
            margin: 0 auto;
            float: none;
            img {
                margin: 25px 22px 14px 22px;
            }
            .lead {
                margin-bottom: 24px;
            }
        }
    }
    h2 {
        text-align: center;
    }
}

.sdk {
    margin-top: 50px;
    text-align: center;
    @media #{$max-768}{
      .sdk-elem{
        margin-bottom: 23px;
        p {
            margin-left: auto;
            margin-right: auto;
        }
      }
    }
    .row-sdk {
        max-width: 802px;
        p {
            width: 100%;
        }
    }
    h2 {
        margin-top: 20px;
        margin-bottom: 0;
    }
    .lead {
        margin-top: 15px;
        @media (min-width: 768px){
          margin-bottom: 73px;
        }
    }

    & .col-md-6:nth-child(odd) {
        padding: 0;
        p {
            margin-top: 0;
            margin-bottom: 0;
        }
        h3 {
            margin-top: 18px;
            margin-bottom: 14px;
        }
    }
    & .col-md-6:nth-child(even) {
        padding: 0;
        p {
            margin-top: 0;
            margin-bottom: 0;
        }
        h3 {
            margin-top: 18px;
            margin-bottom: 14px;
        }
    }
}



.slice-left.affilated {
    background-image: url('/assets/img/products-and-docs/img-get-affiliated.png');
    background-color: #585c9c;
    background-repeat: no-repeat;
    background-position: left top;
    h2 {
        color: $white;
        margin-bottom: 0;
    }
    p {
        color: $white-70;
        margin-top: 15px;
    }
}

.button {
    border-radius: 4px;
    display: inline-block;
    padding: 14px 30px;
    font-family: "TMSans-Bold", Helvetica, Arial, sans-serif;
}

.button-blue {
    color: $white;
    background: $p1;
    text-decoration: none;
    padding: 12px 26px;
    margin-top: 27px;
    border: 0;
    border-radius: 4px;

    &:hover,
    &:focus,
    &:active {
        outline: none;
        text-decoration: none;
        background-color: $p1b;
        color: $white;
    }
}

.button-white {
    color: #6165b0;
    background: $white;
    text-decoration: none;
    margin-top: 17px;
    padding: 12px 26px;
    &:hover,
    &:focus,
    &:active {
        outline: none;
        text-decoration: none;
        background-color: $white-70;
    }
}

.button-default{
    color: $n3;
    border: solid 2px $n3;
    text-decoration: none;
    margin-top: 27px;
    padding: 10px 24px;
    border-radius: 4px;
    &:hover{
        color: $p1a;
        border-color: $p1a;
    }
}

.button_set{
    margin-bottom: 0;
    br {
        display: none;
    }
    @media #{$max-768} {
        text-align: center;
    }
    .button {
        margin-left: 30px;
        margin-top: 10px;
        margin-bottom: 24px;
        &:first-child{
            margin-left: 0;
        }
    }
}