$cerulean: #009cde;
$steel-20: rgba(118, 134, 146, 0.2);
@mixin size($w: 100px, $h: auto, $d: block) {
	width: $w;
	height: $h;
	display: $d;
}

@mixin colset($margin, $bottom, $cols-quantity: 4) {
	margin: 0 $margin $bottom;
	&:nth-child(#{$cols-quantity}n + 1) {
		margin-left: 0;
		margin-right: $margin;
	}
	&:nth-child(#{$cols-quantity}n + #{$cols-quantity}) {
		margin-left: $margin;
		margin-right: 0;
	}
}

@mixin strech($t: 0, $l: false, $b: false, $r: false) {
	@if ($l == false and $b == false and $r == false) {
		@include _position($t, $t, $t, $t);
	} @else if ($b == false and $r == false) {
		@include _position($t, $l, $t, $l);
	} @else {
		@include _position($t, $r, $b, $l);
	}
}

@mixin _position($t, $r, $b, $l) {
	position: absolute;
	overflow: hidden;
	height: auto;
	top: $t;
	right: $r;
	bottom: $b;
	left: $l;
}

.slider-header {
	position: relative;
	overflow: hidden;
}

.startups-and-developers {
	.header-title {
		font: {
			size: 36px;
			weight: bold;
			style: normal;
			stretch: normal;
		}
		line-height: 1.33;
		text-align: center;
		color: #414141;
	}
	header.top-bar.bg-header {
		background: none;
		padding: 0;
		min-height: 703px;
		&::before {
			display: none;
		}
		.body-wrapper {
			position: relative;
			top: 0;
			z-index: 1;
			margin-top: 0;
			.search-container {
				margin: 11px 0 0;
				right: -92px;
			}
		}
		.gray {
			border-top: none;
		}

	}
	.slick-slider {
		@include strech(0);
		margin: 0;
		z-index: 0;
		.slide-content-wrapper {
			max-width: 924px;
			margin: 0 15% 0;
			padding: 105px 9.2% 275px;
			.slide-title {
				max-width: 458px;
				font-size: 54px;
				font-weight: 900;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.19;
				text-align: left;
				color: #ffffff;
				margin: 23px 0 47px;
			}
			.slide-descr {
				max-width: 270px;
				min-height: 64px;
				font-size: 24px;
				font-weight: bold;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.33;
				color: #ffffff;
			}
		}
		.slick-arrow {
			$distance: 19%;
			background: none !important;
			top: 50%;
			margin: -45px 0 0;
			&.slick-prev {
				left: $distance;
			}
			&.slick-next {
				right: $distance;
			}
		}
		.item.slick-slide {
			background-size: cover !important;
		}
		.slick-dots {
			bottom: 80px;
			top: initial;
			z-index: 1;
			max-width: 400px;
			margin-left: -200px;
			left: 50%;
			li {
				button {
					&::before {
						font-size: 9px;
						opacity: 0.4;
						color: #88979f;
					}
				}
				&.slick-active {
					button {
						&::before {
							opacity: 0.9;
							color: #ffffff;
						}
					}
				}
			}
		}
		.btn-transparent {
			background: transparent;
			color: #fff;
			text-transform: uppercase;
			font: {
				size: 16px;
				weight: bold;
				style: normal;
				stretch: normal;
			}
			line-height: 1.5;
			letter-spacing: 0.2px;
			text-align: center;
			width: 230px;
			height: 48px;
			border-radius: 4px;
			border: solid 2px #ffffff;
		}
	}
	.products-and-application {
		margin: 64px auto 35px;
		position:relative;
		&::before {
			content: '';
			@include strech(auto, -5%, 90%, -5%);
			@include size(110%, 250px);
			z-index: 0;
			background: #fff;
			@include rotate(-5deg);
		}
		header {
			position: relative;
			z-index: 0;
		}
		&-header {
			@include size(555px, 96px);
			font: {
				size: 36px;
				weight: bold;
				style: normal;
				stretch: normal;
			}
			line-height: 1.33;
			text-align: center;
			color: #414141;
			margin: auto;
		}
		&-wrapper {
			text-align: center;
			margin: auto;
    	max-width: 1146px;
			.nav-tabs {
				border-bottom: 2px solid rgba(183, 201, 211, 0.2);
				display: inline-block;
				margin: 41px auto 37px;
				text-align: center;
				li {
					margin-bottom: -2px;
					a {
						border: none;
						background: none;
						color: #b7c9d3;
						font: {
							size: 24px;
							weight: normal;
							style: normal;
							stretch: normal;
						}

						line-height: 1.33;
						text-align: left;
					}
					&.active {
						a {
							color: $cerulean;
						}
						border-bottom: 2px solid $cerulean;
					}
				}
			}

			.grid {
				margin: -15px;
				max-height: 690px;
				overflow: hidden;
				&.more {
					max-height: none;
				}
				/* clearfix */
				&::after {
					content: '';
					display: block;
					clear: both;
				}
				/* ---- grid-item ---- */
				&-item {
					@include size(293px, 230px);
					float: left;
					margin: 0;
					border: 15px solid #fff;
					&--width2 {
						width: 586px;
					}
					&--height2 {
						height: 460px;
					}
					.card {
						.front.cardFront {
							background-size: cover;
							position: relative;
							.front-title {
								font-size: 32px;
								font-weight: bold;
								font-style: normal;
								font-stretch: normal;
								line-height: 0.94;
								color: #ffffff;
								margin: 0;
								@include strech(auto, 30px, 30px, 30px);
							}
						}
						.back.cardBack {
							min-height: 0;
							background-color: rgba(183, 201, 211, 0.2);
							border: solid 1px rgba(118, 134, 146, 0.4);
							a {
								@include strech(0);
								padding: 30px;
							}
						}
						&-title {
							font: {
								size: 24px;
								weight: bold;
								style: normal;
								stretch: normal;
							}
							line-height: 1.25;
							color: #414141;
							margin: 0 auto 10px;
						}
						&-summary {
							font: {
								size: 16px;
								weight: normal;
								style: normal;
								stretch: normal;
							}
							line-height: 1.5;
							color: #768692;
						}
					}
				}
			}
		}
	}
	.top-section {
		margin: 40px auto 230px;
		&-title {
			max-width: 555px;
			margin: auto;
			font: {
				size: 24px;
				weight: bold;
				style: normal;
				stretch: normal;
			}
			line-height: 1.33;
			text-align: center;
			color: #414141;
		}
		&-description {
			max-width: 556px;
			margin: 25px auto;
			font-size: 16px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.5;
			text-align: center;
			color: #768692;
		}
		&-main {
			max-height: 1830px;
			overflow: hidden;
			margin-bottom: 60px;
			&.more {
				max-height: none;
			}
			.top-section-item {
				clear: both;
				position: relative;
				@include size(1140px, 560px);
				border: solid 1px #979797;
				margin-bottom: 70px;
				&:last-child {
					margin-bottom: 0;
				}
				.cover {
					@include strech(0);
					background-size: cover;
				}
				.controll-fold {
					float: right;
					width: 264px;
					height: 100%;
					opacity: 0.8;
					background-color: #414141;
					padding: 48px 20px ;
					text-align: center;
					position: relative;
					.top-item-title {
						margin: 0 auto 24px;
						font-size: 24px;
						font-weight: bold;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.33;
						text-align: center;
						color: #ffffff;
					}
					.top-item-descr {
						margin: 0 auto 24px;
						font-size: 16px;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.5;
						text-align: center;
						color: #ffffff;
					}
					.btn-see-more {
						border-radius: 4px;
						border: solid 1px #ffffff;
						font-size: 16px;
						font-weight: bold;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.5;
						letter-spacing: 0.2px;
						text-align: center;
						color: #ffffff;
						padding: 11px 52px;
						text-transform: uppercase;
					}
					.tags-section {
						margin: 90px auto 25px;
						position: absolute;
						bottom: 77px;
						.btn-tag {
							border-radius: 2px;
							border: solid 1px rgba(255, 255, 255, 0.2);
							opacity: 0.7;
							font-size: 16px;
							font-weight: normal;
							font-style: normal;
							font-stretch: normal;
							color: #ffffff;
							padding: 0px 8px;
						}
					}
					.top-section-hr {
						width: 224px;
						height: 2px;
						opacity: 0.7;
						border-top: solid 1px #ffffff;
						color: transparent;
						position: absolute;
						bottom: 75px;
					}
					.like-and-share {
						position: absolute;
						bottom: 25px;
						left: 30px;
						right: 73px;
						.btn {
							outline: none;
							background: {
								color: transparent;
								position: 50% 50%;
								size: cover;
								repeat: no-repeat;
							}
							padding: 13px;
							&[disabled] {
								opacity: 0.2;
							}
							&-like{
								background-image: url('/assets/img/ic-like-white.svg');
								float: right;
							}
							&-share{
								float: right;
								background-image: url('/assets/img/ic-share-partners-white.svg');
							}
						}
						.like {
							float: right;
							margin-right: 23px;
							.count {
								opacity: 0.7;
								font-size: 16px;
								font-weight: normal;
								font-style: normal;
								font-stretch: normal;
								line-height: 1.8;
								color: #ffffff;
								float: right;
								padding: 0 5px 0;
								min-width: 37px;
								text-align: right;
							}
						}
					}
				}
			}
		}
	}
	.tm-api-docs {
		position: relative;
		text-align: center;
		background: #f1f4f6;
		padding: 96px 0 50px;
		&::before {
			content: '';
			@include strech(-82px, -5%, auto, -5%);
			@include size(110%, 250px);
			z-index: -1;
			background: #f1f4f6;
			@include rotate(-5deg);
		}
		&-title {
			max-width: 613px;
			margin: auto;
		}
		&-main {
			padding: 25px 0 0;
			.content {
				max-width: 390px;
				font: {
					size: 16px;
					weight: normal;
					style: normal;
					stretch: normal;
				}
				line-height: 1.5;
				text-align: center;
				color: #768692;
				margin: 0 auto 23px;
			}
			.get-tm-api-docs {
				padding: 15px 40px;
				border-radius: 4px;
				background-color: $cerulean;
				margin: auto;
				&:hover {
					border-color: inherit;
					color: inherit;
				}
			}
		}
	}
	footer.slice-top-left::before {
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 10000px 917px 0;
		border-color: transparent #f1f4f6 transparent transparent;
	}
	.show-more {
		text-align: center;
		margin: 15px 0 7px;
		.btn {
			color: $cerulean;
			font: {
				size: 16px;
				weight: normal;
				style: normal;
				stretch: normal;
			}
			line-height: 1.5;
			text-align: center;
			color: $cerulean;
			&:active {
				box-shadow: none;
			}
		}
	}
	&__article {
		width: 556px;
		p:not(.lead) {
			font-size: 16px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.5;
			color: #768692;
			&:first-child {
				margin-top: 0;
			}
		}
		.aside-block {
			margin-left: 586px;
			width: 262px;
			&.as-bordered {
				height: 144px;
				border: solid 1px $steel-20;
				padding: 15px;
				.as-title {
					font-size: 16px;
					font-weight: bold;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.5;
					text-align: left;
					color: #414141;
					margin: 0 0 15px;
				}
				p {
					font-size: 16px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.5;
					text-align: left;
					color: #414141;
				}
			}
		}
		.row {
			margin-right: -15px;
			margin-left: -15px;
		}
		&--title {
			max-width: 445px;
			text-transform: none;
		}
		.echo {
			width: 555px;
			height: 425px;
			border: solid 1px #e4e7e9;
		}
		.rect-image {
			width: 262px;
			height: 180px;
		}
		.video {
			width: 556px;
			height: 320px;
		}
		.article-tags {
			width: 100%;
			overflow: hidden;
			margin: 50px 0;
		}
	}
}

@media #{$max-1200} {
	.startups-and-developers {
		header.top-bar.bg-header {
			min-height: 596px;
			padding: 0;
			margin: 0;
			.body-wrapper {
				.search-container {
					margin: auto;
					right: 13px;
				}
			}
			.gray {
				margin: 7px 0 0 -8px;
			}
			#header-logo {
				top: 15px;
				left: 25px;
			}
		}
		.slick-slider {
			.slide-content-wrapper {
				margin: 0 1%;
				padding: 105px 9.2% 170px;
			}
			.slick-arrow {
				$distance: 15px;
				display: inline-block !important;
				margin: -13px 0 0;
				&.slick-prev {
					left: $distance;
				}
				&.slick-next {
					right: $distance;
				}
			}
			.slick-dots {
				bottom: 57px;
				max-height: 55px;
			}
		}
		.products-and-application {
			margin: 20px auto 35px;
			padding: 0 15px;
			&::before {
				height: 165px;
			}
			&-header {}
			&-wrapper {
				.nav-tabs {
					margin: 42px auto 40px;
					li[role="presentation"] {
						a.tab {
							font-size: 16px;
							font-weight: normal;
							font-style: normal;
							font-stretch: normal;
							line-height: 1.5;
							text-align: left;
							color: $cerulean;
						}
					}
				}
				.grid {
					max-height: 590px;
					&-item {
						@include size(250px, 195px);
						border: 15px solid #fff;
						&--width2 {
							width: 500px;
						}
						&--height2 {
							height: 390px;
						}
						.card {
							.front.cardFront {
								.front-title {
									font-size: 26px;
									line-height: 1.15;
								}
							}
							.back.cardBack {
								a {}
							}
							&-title {
								font-size: 16px;
								line-height: 1.5;
							}
							&-summary {
								font-size: 16px;
								line-height: 1.5;
							}
						}
					}
				}
			}
		}
		.top-section {
			margin: 40px auto 167px;
			&-title {}
			&-description {}
			&-main {
				max-height: 1488px;
				.top-section-item {
					@include size(720px, 448px);
					margin: 0 auto 72px;
					.controll-fold {
						@include size(220px, 100%);
						.top-item-title {
							margin: 0 auto 24px;
						}
						.top-item-descr {
							display: none;
						}
						.tags-section {
							margin: 90px auto 25px;
							bottom: 77px;
							.btn-tag {
								padding: 0 8px;
							}
						}
						.top-section-hr {
							width: 224px;
							height: 2px;
							opacity: 0.7;
							border-top: solid 1px #ffffff;
							color: transparent;
							position: absolute;
							bottom: 75px;
						}
						.like-and-share {
							position: absolute;
							bottom: 25px;
							left: 30px;
							right: 73px;
							.btn {
								outline: none;
								background: {
									color: transparent;
									position: 50% 50%;
									size: cover;
									repeat: no-repeat;
								}
								padding: 13px;
								&[disabled] {
									opacity: 0.2;
								}
								&-like{
									background-image: url('/assets/img/ic-like-white.svg');
									float: right;
								}
								&-share{
									float: right;
									background-image: url('/assets/img/ic-share-partners-white.svg');
								}
							}
							.like {
								float: right;
								margin-right: 23px;
								.count {
									opacity: 0.7;
									font-size: 16px;
									font-weight: normal;
									font-style: normal;
									font-stretch: normal;
									line-height: 1.8;
									color: #ffffff;
									float: right;
									padding: 0 5px 0;
									min-width: 37px;
									text-align: right;
								}
							}
						}
					}
				}
			}
		}
		.tm-api-docs {
			padding: 66px 0 72px;
			&::before {
				@include strech(auto, -5%, 78%, -5%);
				@include size(110%, 132px);
			}
		}
	}
}

@media #{$max-768} {
	.startups-and-developers {
		
		.header-title {
			font: {
				size: 36px;
				weight: bold;
				style: normal;
				stretch: normal;
			}
			line-height: 1.33;
			text-align: center;
			color: #414141;
		}
		header.top-bar.bg-header {
			min-height: 530px;
			&::before {
				display: none;
			}
			.body-wrapper {
				position: relative;
				top: 0;
				z-index: 1;
				margin-top: 0;
				.search-container {
					margin: 11px 0 0;
					right: -92px;
				}
			}
			.gray {
				border-top: none;
			}

		}
		.slick-slider {
			@include strech(0);
			margin: 0;
			z-index: 0;
			.slide-content-wrapper {
				.slide-title {
					max-width: 268px;
					font-size: 24px;
					font-weight: 900;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.33;
					text-align: center;
					color: #ffffff;
					text-align: center;
					color: #ffffff;
				}
				.slide-descr {
					min-height: 48px;
					font-size: 16px;
					font-weight: bold;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.5;
					text-align: center;
				}
			}
			.slick-arrow {
				$distance: 19%;
				background: none !important;
				top: 50%;
				margin: -45px 0 0;
				&.slick-prev {
					left: $distance;
				}
				&.slick-next {
					right: $distance;
				}
			}
			.item.slick-slide {
				background-size: cover !important;
			}
			.slick-dots {
				bottom: 80px;
				top: initial;
				z-index: 1;
				max-width: 400px;
				margin-left: -200px;
				left: 50%;
				li {
					button {
						&::before {
							font-size: 9px;
							opacity: 0.4;
							color: #88979f;
						}
					}
					&.slick-active {
						button {
							&::before {
								opacity: 0.9;
								color: #ffffff;
							}
						}
					}
				}
			}
			.btn-transparent {
				background: transparent;
				color: #fff;
				text-transform: uppercase;
				font: {
					size: 16px;
					weight: bold;
					style: normal;
					stretch: normal;
				}
				line-height: 1.5;
				letter-spacing: 0.2px;
				text-align: center;
				width: 230px;
				height: 48px;
				border-radius: 4px;
				border: solid 2px #ffffff;
			}
		}
		.products-and-application {
			margin: 64px auto 35px;
			position:relative;
			&::before {
				content: '';
				@include strech(auto, -5%, 90%, -5%);
				@include size(110%, 250px);
				z-index: 0;
				background: #fff;
				@include rotate(-5deg);
			}
			header {
				position: relative;
				z-index: 0;
			}
			&-header {
				@include size(555px, 96px);
				font: {
					size: 36px;
					weight: bold;
					style: normal;
					stretch: normal;
				}
				line-height: 1.33;
				text-align: center;
				color: #414141;
				margin: auto;
			}
			&-wrapper {
				text-align: center;
				margin: auto;
				max-width: 1146px;
				.nav-tabs {
					border-bottom: 2px solid rgba(183, 201, 211, 0.2);
					display: inline-block;
					margin: 41px auto 37px;
					text-align: center;
					li {
						margin-bottom: -2px;
						a {
							border: none;
							background: none;
							color: #b7c9d3;
							font: {
								size: 24px;
								weight: normal;
								style: normal;
								stretch: normal;
							}

							line-height: 1.33;
							text-align: left;
						}
						&.active {
							a {
								color: $cerulean;
							}
							border-bottom: 2px solid $cerulean;
						}
					}
				}

				.grid {
					margin: -15px;
					max-height: 690px;
					overflow: hidden;
					&.more {
						max-height: none;
					}
					/* clearfix */
					&::after {
						content: '';
						display: block;
						clear: both;
					}
					/* ---- grid-item ---- */
					&-item {
						@include size(293px, 230px);
						float: left;
						margin: 0;
						border: 15px solid #fff;
						&--width2 {
							width: 586px;
						}
						&--height2 {
							height: 460px;
						}
						.card {
							.front.cardFront {
								background-size: cover;
								position: relative;
								.front-title {
									font-size: 32px;
									font-weight: bold;
									font-style: normal;
									font-stretch: normal;
									line-height: 0.94;
									color: #ffffff;
									margin: 0;
									@include strech(auto, 30px, 30px, 30px);
								}
							}
							.back.cardBack {
								min-height: 0;
								background-color: rgba(183, 201, 211, 0.2);
								border: solid 1px rgba(118, 134, 146, 0.4);
								a {
									@include strech(0);
									padding: 30px;
								}
							}
							&-title {
								font: {
									size: 24px;
									weight: bold;
									style: normal;
									stretch: normal;
								}
								line-height: 1.25;
								color: #414141;
								margin: 0 auto 10px;
							}
							&-summary {
								font: {
									size: 16px;
									weight: normal;
									style: normal;
									stretch: normal;
								}
								line-height: 1.5;
								color: #768692;
							}
						}
					}
				}
			}
		}
		.top-section {
			margin: 40px auto 230px;
			&-title {
				max-width: 555px;
				margin: auto;
				font: {
					size: 24px;
					weight: bold;
					style: normal;
					stretch: normal;
				}
				line-height: 1.33;
				text-align: center;
				color: #414141;
			}
			&-description {
				max-width: 556px;
				margin: 25px auto;
				font-size: 16px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.5;
				text-align: center;
				color: #768692;
			}
			&-main {
				max-height: 1830px;
				overflow: hidden;
				margin-bottom: 60px;
				&.more {
					max-height: none;
				}
				.top-section-item {
					clear: both;
					position: relative;
					@include size(1140px, 560px);
					border: solid 1px #979797;
					margin-bottom: 70px;
					&:last-child {
						margin-bottom: 0;
					}
					.cover {
						@include strech(0);
						background-size: cover;
					}
					.controll-fold {
						float: right;
						width: 264px;
						height: 100%;
						opacity: 0.8;
						background-color: #414141;
						padding: 48px 20px ;
						text-align: center;
						position: relative;
						.top-item-title {
							margin: 0 auto 24px;
							font-size: 24px;
							font-weight: bold;
							font-style: normal;
							font-stretch: normal;
							line-height: 1.33;
							text-align: center;
							color: #ffffff;
						}
						.top-item-descr {
							margin: 0 auto 24px;
							font-size: 16px;
							font-weight: normal;
							font-style: normal;
							font-stretch: normal;
							line-height: 1.5;
							text-align: center;
							color: #ffffff;
						}
						.btn-see-more {
							border-radius: 4px;
							border: solid 1px #ffffff;
							font-size: 16px;
							font-weight: bold;
							font-style: normal;
							font-stretch: normal;
							line-height: 1.5;
							letter-spacing: 0.2px;
							text-align: center;
							color: #ffffff;
							padding: 11px 52px;
							text-transform: uppercase;
						}
						.tags-section {
							margin: 90px auto 25px;
							position: absolute;
							bottom: 77px;
							.btn-tag {
								border-radius: 2px;
								border: solid 1px rgba(255, 255, 255, 0.2);
								opacity: 0.7;
								font-size: 16px;
								font-weight: normal;
								font-style: normal;
								font-stretch: normal;
								color: #ffffff;
								padding: 0px 8px;
							}
						}
						.top-section-hr {
							width: 224px;
							height: 2px;
							opacity: 0.7;
							border-top: solid 1px #ffffff;
							color: transparent;
							position: absolute;
							bottom: 75px;
						}
						.like-and-share {
							position: absolute;
							bottom: 25px;
							left: 30px;
							right: 73px;
							.btn {
								outline: none;
								background: {
									color: transparent;
									position: 50% 50%;
									size: cover;
									repeat: no-repeat;
								}
								padding: 13px;
								&[disabled] {
									opacity: 0.2;
								}
								&-like{
									background-image: url('/assets/img/ic-like-white.svg');
									float: right;
								}
								&-share{
									float: right;
									background-image: url('/assets/img/ic-share-partners-white.svg');
								}
							}
							.like {
								float: right;
								margin-right: 23px;
								.count {
									opacity: 0.7;
									font-size: 16px;
									font-weight: normal;
									font-style: normal;
									font-stretch: normal;
									line-height: 1.8;
									color: #ffffff;
									float: right;
									padding: 0 5px 0;
									min-width: 37px;
									text-align: right;
								}
							}
						}
					}
				}
			}
		}
		.tm-api-docs {
			position: relative;
			text-align: center;
			background: #f1f4f6;
			padding: 96px 0 50px;
			&::before {
				content: '';
				@include strech(-82px, -5%, auto, -5%);
				@include size(110%, 250px);
				z-index: -1;
				background: #f1f4f6;
				@include rotate(-5deg);
			}
			&-title {
				max-width: 613px;
				margin: auto;
			}
			&-main {
				padding: 25px 0 0;
				.content {
					max-width: 390px;
					font: {
						size: 16px;
						weight: normal;
						style: normal;
						stretch: normal;
					}
					line-height: 1.5;
					text-align: center;
					color: #768692;
					margin: 0 auto 23px;
				}
				.get-tm-api-docs {
					padding: 15px 40px;
					border-radius: 4px;
					background-color: $cerulean;
					margin: auto;
					&:hover {
						border-color: inherit;
						color: inherit;
					}
				}
			}
		}
		footer.slice-top-left::before {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10000px 917px 0;
			border-color: transparent #f1f4f6 transparent transparent;
		}
		.show-more {
			text-align: center;
			margin: 15px 0 7px;
			.btn {
				color: $cerulean;
				font: {
					size: 16px;
					weight: normal;
					style: normal;
					stretch: normal;
				}
				line-height: 1.5;
				text-align: center;
				color: $cerulean;
				&:active {
					box-shadow: none;
				}
			}
		}

		.slick-slider {
			.slide-content-wrapper {}
			.slick-arrow {
				display: none !important;
			}
			.slick-dots {}
		}
		#footer {
			margin: 0;
		}
	}
}


