.tab-buttons {
  margin-bottom: 30px;
  button {
    &.active{
      color: #019cde;
      border-bottom: 2px solid #019cde;
    }
    border: 0;
    border-bottom: 2px solid #b7c9d3;
    background-color: #FFF;
    padding: 5px 15px;
    margin-right: 2px;
  }
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  border: 0;
  padding: 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #b7c9d3;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 15px;
  border-radius: 4px;
  background: #b7c9d3;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #b7c9d3;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #b7c9d3;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 15px;
  border-radius: 4px;
  background: #b7c9d3;
  cursor: pointer;
}
input[type=range]::-moz-focus-outer {
  border: 0;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #b7c9d3;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #b7c9d3;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 15px;
  border-radius: 4px;
  background: #b7c9d3;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #b7c9d3;
}
input[type=range]:focus::-ms-fill-upper {
  background: #b7c9d3;
}