.tab-buttons {
  margin-bottom: 30px;

  button,
  input[type="radio"]{
    &+label {
      outline: none;
      border-bottom: 2px solid rgba(183, 201, 211, .2);
      background-color: $white;
      padding: 5px 15px;
      margin-right: 2px;
      margin-left: 0;
      cursor: pointer;
      font-family: Helvetica, Arial, sans-serif;
      &:last-child {
        margin-right: 0;
      }
    }
    &[disabled]+label {
      opacity: .4;
      cursor: default;
    }
  }

  button.active,
  input[type="radio"]:checked+label {
    color: $p1;
    border-bottom: 2px solid $p1;
  }

  input[type="radio"]{
    position: absolute;
    width: 0;
    height: 0;
    border: 0;
  }

}

.radio-buttons {
  padding: 0;
  input[type="radio"] {
    position: absolute;
    width: 0;
    height: 0;
    border: 0;
    & + label {
      line-height: 1.5em;
      margin: 8px 0 8px 10px;
      font-family: $font-body;
      color: #768692;
    }
  }
  input[type=radio]:not(old) + label:before {
    content: "";
    display: inline-block;

    width: 20px;
    height: 20px;

    margin-left: -24px;
    margin-top: 3px;
    position: absolute;
    border: 1px solid $n3;
    border-radius: 50%;
    &:focus {
      outline: none;
    }
  }
  input[type=radio]:not(old) + label:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
  }
  input[type=radio]:checked + label:after {
    height: 8px;
    width: 8px;
    text-align: center;
    background-color: $p1;
    border-radius: 50%;
    margin-top: -15px;
    margin-left: -18px;
    top: 32px;
  }

  label:hover:before {
    border: 1px solid $n3 !important;
    cursor: pointer;
  }
  /*turn of standart focus*/
  input[type=radio]:focus {
    outline: none;
  }
  .line {
    height: 0;
    opacity: 0.5;
    border: dashed 1px #b7c9d3;
    margin: 10px 0;
  }
}

.config-block{
  /*margin-bottom: 30px;*/
  a:hover {
    cursor: pointer;
  }

  @media (max-width: 1199px){
    padding-right: 24px;
    padding-left: 24px;
  }

  @media (min-width: 1200px){
    margin-bottom: 60px;
    border-right: 1px solid $n3;
    padding-right: 20px;
    padding-left: 15px;
  }

  label {
    .config_field__description {
      font-family: $font-lead-regular;
    }
  }

  select::-ms-expand {
    display: none;
  }

  input[type=number] {
    -moz-appearance:textfield;
    -webkit-box-shadow: none;
    box-shadow: none;
    &.error{
      border-color: $red;
    }
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .modal-body {
    .get_eventId_results {
      margin-top: -24px;
      font-size: 0.75em;
      span {
        font-weight: bold;
      }
    }
    #overlay #spinner {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 110%;
      background: url("../../assets/img/loader.gif");
      background-size: 40px 40px;
      border: 0 solid #fff;
    }
    .list-group {
      overflow-y: scroll;
      max-height: 500px;
      width: 100%;
      padding: 0 10px 0 15px;
    }
    .list-group-item {
      .thumbnail{
        position: relative;
        width: 100px;
        height: 66px;
        overflow: hidden;
        float: left;
        display: block;
        margin: 2px 12px 0 0;

        img {
          position: absolute;
          left: 50%;
          top: 50%;
          width: 100%;
          height: auto;
          -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
          margin: 0;
        }
      }
      .event-text-wrapper {
        padding-right: 110px;
        @media (max-width: 468px){
          padding-right: 0;
          margin-bottom: 10px;
        }
      }
      .event-time {
        margin-bottom: 0;
      }
      .wrapper-set-eventId_btn{
        position: absolute;
        bottom: 10px; right: 10px;
        @media (max-width: 468px){
          position: relative;
          bottom: 0;
          left: 0;
        }
        .btn-submit {
          width: auto;
          height: auto;
        }
      }
      &-heading {
        margin-left: 110px;
        min-height: 60px;
      }
    }
  }
}

.widget-container {
  float: left;
  position: relative;
  z-index: 0;

  &--discovery {
    border-bottom: 1px dashed #ccc;

    &:before,
    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      height: 60px;
      width: 0;
      border-left: 1px dashed #ccc;
      z-index: -1;
    }

      &:before{
        left: 0;
      }

      &:after{
        right: 0;
      }
    }
}

.widget-content-wrapper{
  overflow: visible;
  @include clearfix();
}

.widget-container-wrapper {
  text-align: left;
  display: inline-block;
  margin-bottom: 34px;
  -webkit-transition-duration: .3s;
  -webkit-transition-timing-function: linear;
  transition-duration: .3s;
  transition-timing-function: linear;

  @media (min-width: 1200px){
    width: auto;
    margin-left: 10px;
  }
}

.widget_config__btn {
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
  @media (max-width: 768px) {
    margin-bottom: 24px;
  }
}

.row-native {
  margin-left: -15px;
  margin-right: -15px;
}

.col-lg-widget {
  text-align: center;
  @media (min-width: 1200px){
    text-align: left;
  }

  @media (max-width: 1199px){
    padding-right: 0;
    padding-left: 0;
    overflow: hidden;
  }
}

.row-mobile-control{
  padding-top: 23px;
  margin-right: 24px;
  margin-left: 24px;
  margin-bottom: 30px;
  border-top: solid 2px $n3;
}

.widget__color_scheme_control{
  text-align: left;
}

.widget__color_scheme_control{
  display: block;
}

.widget__layout_control {
  margin-bottom: 24px;
}
@media (min-width: 768px){
  .widget__color_scheme_control{
    display: inline-block;
  }
}

@media (min-width: 1200px){
  .col-sm-layout,
  .col-sm-theme{
    width: 100%;
  }

  .widget__layout_control {
    float: none;
  }

  .col-sm-color_scheme{
    text-align: left;
  }

  .widget__color_scheme_control{
    display: block;
  }
}

//  API Key
.widget_api_key {
  padding-right: 16px;
  &__field{
    position: relative;
  }

  &__question {
    position: absolute;
    top: 16px;
    right: -24px;
    width: 16px;
    height: 16px;
    opacity: 0.7;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-repeat: no-repeat;
      background-position: center;
      -webkit-transition: opacity 0.2s ease-in-out;
      -moz-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out;
    }

    &:before {
      opacity: 0;
      background-image: url("/assets/widgets/1.0.0/img/question-ic-blue.svg");
    }

    &:after {
      opacity: 0.7;
      background-image: url("/assets/widgets/1.0.0/img/question-ic-grey.svg");
    }

    &:hover{
      &:before {
        opacity: 1;
      }
      &:after {
        opacity: 0;
      }
    }
  }
}
.widget__various-min-width {
  min-width: 100px;
}
.widget__various-width {
  min-width: 100px;
  max-width: 130px;

  @media (min-width: 1200px){
    .js_numeric-input-group input.js_numeric_input {
      padding-right: 26px;
      padding-left: 12px;
    }
    .js_numeric-input-group .arrow {
      right: 10px;
    }
  }
}
.main-widget-config-form .country-select .custom_select__item {
  list-style: none;
}

.loclatlong {
	border-top: 2px dotted #cccccc;
	border-bottom: 2px dotted #cccccc;
	padding-bottom: 10px;
	margin-bottom: 23px;
}

.widget__location, .widget__latlong {
	  height: auto;
	  -webkit-transition: opacity 0.7s linear;
	  -moz-transition: opacity 0.7s linear;
	  -ms-transition: opacity 0.7s linear;
	  -o-transition: opacity 0.7s linear;
	  transition: opacity 0.7s linear;
	  opacity: 1;
	  p {
	    font-family: "TMSans-Regular",Helvetica,Arial,sans-serif;
		  display: block;
			width: 100%;
			margin: 0;
			padding: 10px 0 23px 0;
			span {
				color: #009cde;
				cursor: pointer;
			}
	  }
}

.widget__location.hidn,
.widget__latlong.hidn {
	overflow: hidden;
	opacity: 0;
	height: 0;
	margin: 0;
	padding: 0;
	border: none;
}

#w-latlong {
	padding-right: 40px;
}

.widget__latlong {
	.latlong-holder {
		position: relative;
	}
	.latlong-picker {
		position: absolute;
		width: 28px;
		height: 28px;
		display: block;
		background: url('/assets/widgets/1.0.0/img/ic-show-map.svg') 0 0 no-repeat;
		bottom: 34px;
		right: 23px;
		&:hover {
			background: url('/assets/widgets/1.0.0/img/ic-show-map.svg') 0 -28px no-repeat;
		}
	}
}

.tab-content {
	.required {
		label {
			color: #d0021b;
		}
		input {
			border: 1px solid #d0021b;
		}
	}
}

#js_widget_modal_map {
  .modal-body {
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
  .col-lg-12 {
		margin: 0;
		padding: 0;
	}
	.map-holder {
		overflow: hidden;
		margin-bottom:30px;
	}
	#map_latlong {
		width: 100%;
		height: 450px;
	}
	#map_address {
		float: left;
		float: left;
		max-width: 300px;
		text-align: left;
		#map_address_country {
			display: block;
			font-family: 'TMSans-Bold',Helvetica,Arial,sans-serif;
		}
	}
	#js_widget_modal_map__close {
		float: right;
	}
}

#pac_input {
	width: 96%;
	margin: 0 auto;
	font-family: 'TMSans-Regular', Helvetica, Arial, sans-serif;
	font-size: 16px;
	left: 0;
	right: 0;
	top: 15px !important;
	padding: 5px 10px;
}

.pac-container {
	font-family: 'TMSans-Regular', Helvetica, Arial, sans-serif;
	font-size: 14px;
	z-index: 1051 !important;
}

.widget-wordpress-page {
  h2 {
    margin-top: $base-margin*2;
  }
  h6 {
    width: 85%;
  }
  .margin-bottom {
    margin-bottom: $base-margin;
  }

  .list-inset-bullet {
    li{
      &:before {
        content: "\2022";
        font-size: 11px;
        line-height: 24px;
        margin-right: 10px;
      }
    }
  }
}

#js_widget_modal {
  .copy-btn {
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    margin-top: -38px;
    right: 15px;
    cursor: pointer;
    @include transition(background-color $btn-transition-speed $btn-transition-timing-function);

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-position: center center;
      background-repeat: no-repeat;
      @include transition(opacity $btn-transition-speed $btn-transition-timing-function);
    }

    &:before {
      opacity: 0;
      background-image: url("/assets/img/products-and-docs/ic_copy-active.svg");
    }

    &:after {
      opacity: 1;
      background-image: url("/assets/img/products-and-docs/ic-copy.svg");
    }

    &:hover{
      background-color: $p1b;

      &:before {
        opacity: 1;
      }
      &:after {
        opacity: 0;
      }
    }

    @media #{$max-1200} {
      display: none;
    }
  }

}

input[type=checkbox]:not(:checked)+label,
input[type=checkbox]:checked+label {
	padding-left: 30px;
	padding-right: 0px;
}

input[type="checkbox"]:not(:checked)+label:before,
input[type="checkbox"]:checked+label:before {
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 24px;
	height: 24px;
	background: #fff;
	right: auto;
	top: auto;
	left: 0px;
}

input[type="checkbox"]:not(:checked)+label:hover:before,
input[type="checkbox"]:not(:checked)+label:focus:before,
input[type="checkbox"]:checked+label:hover:before,
input[type="checkbox"]:checked+label:focus:before {
	outline: none;
	border: 1px solid #ccc !important;
}

input[type="checkbox"]:not(:checked)+label:after,
input[type="checkbox"]:checked+label:after {
	width: 13px;
	height: 10px;
	background: url("/assets/controls/ic-chekmark-blue.svg") center center no-repeat;
	left: 6px;
	top: 7px;
}

