/**
* Custom select component
*/
.cusotm-textarea-wrapper {
	clear: left;
	
}
.api-exp-custom-input {
	position: relative;
	padding-top: $custom-inpt-title-height;
	padding-bottom: 23px;
	// clean
	.custom-input {
		&__inner-wrapper {
			position: relative;
			.latlong-picker {
				position: absolute;
				width: 28px;
				height: 28px;
				display: block;
				background: url("/assets/widgets/1.0.0/img/ic-show-map.svg") 0 0 no-repeat;
				bottom: 10px;
				right: 12px;
			}
		}
		&__field {
			padding: 0 15px;
			margin: 0;
			height: 48px;
			color: $slate-gray;
			opacity: 0.7;
			line-height: 1.5;
			text-align: left;
			background-color: transparent;
			box-shadow: 0 0 0 0;
			border: {
				radius: 4px;
				style: solid;
				width: 1px;
				color: $slate-gray-07;
			}
			font: {
				size: 16px;
				weight: normal;
				style: normal;
				stretch: normal;
				family: "TMSans-Regular", Helvetica, Arial, sans-serif;
			}
			&:focus,
			&:active {
				border-color: $cerulean !important;
			}
			&:hover {
				border-color: $mariner;
			}
			&.custom-textarea {
				height: 200px;
				padding: 15px;
				line-height: 2.3rem;
			}
		}
		&__validation-message {
			display: block;
			max-width: 100%;
			position: absolute;
			left: 0;
			bottom: 4px;
			margin: 0;
			padding: 0;
			font: {
				size: 11px;
				weight: normal;
				style: normal;
				stretch: normal;
			}
			line-height: 1.45;
			color: $monza;
		}
		&__placeholder {
			position: absolute;
			z-index: -1;
			top: 50%;
			left: 15px;
			margin-top: -11px;
			display: block;
			font: {
				size: 16px;
				weight: normal;
				style: normal;
				stretch: normal;
			}
			line-height: 1.5;
			text-align: left;
			font-size: 16px;
			color: $heather;
			&.required {
				color: $slate-gray;
			}
		}
		&__button {
			display: none;
			background: none;
			border: none;
			outline: none;
			position: absolute;
			top: 10px;
  			right: 7px;
			width: 20px;
			height: 20px;
			z-index: 1;
		}
		&__title {
			position: absolute;
			top:0;
			color: #b7c9d3;
			font: {
				size: 11px;
				family: "TMSans-Bold", Helvetica, Arial, sans-serif;
			}
		}
	}

	// not valid
	.not-valid {
		.custom-input {
			&__field {
				border-color: $monza  !important;
			}
			&__placeholder {}
			&__button {}
		}
	}

	// dirty
	&.dirty {
		.custom-input__placeholder {
			display: none;
		}
	}
	// has calendar
	&.calendar {
		.custom-input__button {
			display: block;
			background: url($img-calendar) 50% 50% no-repeat;
			padding: 14px;
			&:hover, &:active {
			  background-color: #2a7cc7;
			  text-decoration: none;
			}
		}
	}
	// has popup
	&.popup {
		.custom-input__button {
			display: block;
			background: url($img-id) 50% 50% no-repeat;
		}
	}
	// padding for inputs with btns
	&.calendar,
	&.popup {
		.custom-input__field {
			padding: 0 40px 0 15px;
		}
	}

	//tablet
	@media #{$max-1200} {}

	//mobile
	@media #{$max-768} {}
}
