/**
*
**/

.api-exp-get-btn {
	padding: 48px 0 42px;
	&__button {
		clear: both;
		float: right;
		width: 264px;
		height: 48px;
		border-radius: 4px;
		background-color: $cerulean;
		text-align: center;
		margin: 0;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.5;
		letter-spacing: 0.8px;
		position: relative;
		&[disabled] {
			background-color: rgba($cerulean, 0.5);
		}
	}
	&-validation-message {
		float: right;
		font: {
			size: 11px;
			weight: normal;
			style: italic;
			stretch: normal;
		}
		line-height: 1.45;
		color: #414141;
		width: 264px;
		padding-bottom: 16px;
	}

	//tablet
	@media #{$max-1200} {
		padding: 48px 0 40px;
		&__button,
		&-validation-message {
			width: 220px;
		}
	}

	//mobile
	@media #{$max-768} {
		padding: 60px 0 50px;
		&__button,
		&-validation-message {
			width: 100%;
		}
	}
}

.spinner {
		width: 60px;
		height: 42px;
		text-align: center;
		font-size: 10px;
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -20px 0 0 -30px;
		& > .rect {
			background-color: #f1f4f6;
			height: 100%;
			width: 6px;
			display: inline-block;
			margin: 0 1px;
			@include animation(sk-stretchdelay 1.2s infinite ease-in-out);
			&-2 {
				@include animation-delay(-1.1s);
			}
			&-3 {
				@include animation-delay(-1.0s);
			}
			&-4 {
				@include animation-delay(-0.9s);
			}
			&-5 {
				@include animation-delay(-0.8s);
			}
		}
	}

@-webkit-keyframes sk-stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
	0%, 40%, 100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}
	20% {
	 transform: scaleY(1.0);
	 -webkit-transform: scaleY(1.0);
	}
}
