/**
* Params styles
**/

.api-exp-params {
	padding: 1px 0;
	clear: both;
	position: relative;
	border-top: 2px dotted $heather;
	&.closed {
		.api-exp-params-wrapper {
			display: none;
			opacity: 0;
		}
	}
	&-headline {
		position: absolute;
		top: -20px;
		left: 0;
		background: $white;
		padding: 5px 5px 0 0;
		&__title {
			margin: 0 10px 0 0;
			font-size: 16px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.7;
			text-align: left;
			color: $heather;
			float: left;
		}
		&-edit {
			float: right;
			display: none;
			opacity: 0;
			@include transition(all, 300ms)
		}
		&__btn {
			width: 16px;
			height: 16px;
			padding: 0;
			border: none;
			display: inline-block;
			&-copy {
				background: url($img-copy_grey) no-repeat;
				display: none;
			}
			&-clear {
				width: 28px;
				height: 28px;
				background: url($img-clear) no-repeat;
			}
		}
	}
	&-wrapper {
		opacity: 1;
		border-bottom: 2px dotted $heather;
		padding: 35px 0;
		clear: both;
	}
	&-filter {
		margin-right: 264px;
		&-fields {
			margin-right: 30px;
		}
		&__field {
			width: 262px;
			min-height: 71px +$custom-inpt-title-height;
			float: left;
			margin-right: 30px;
			position: relative;
			&:nth-child(3n+3) {
				margin-right: 0;
			}
		}
	}
	&.dirty {
		.api-exp-params-headline-edit {
			display: block;
			opacity: 1;
			margin: 0 0 0 0;
		}
	}

	//tablet
	@media #{$max-1200} {
		&-wrapper {
			padding-bottom: 20px;
		}
		&-headline {
			&:before {}
			&__title {}
			&-edit {}
			&__btn {
				&-copy {}
				&-clear {}
			}
		}
		&-filter {
			margin: 0;
			&-fields {}
			&__field {
				$margin: 1%;
				width: 23.5%;
				margin: 0 $margin;
				&:nth-child(3n+3) {
					margin: 0 $margin;
				}
				&:nth-child(4n+4) {
					margin-left: $margin;
					margin-right: 0;
				}
				&:nth-child(4n+1) {
					margin-left: 0;
					margin-right: $margin;
				}
				input[type="text"] {}
			}
		}
		&.api-exp-params--dirty {
			.api-exp-params-headline-edit {}
		}
	}

	@media (max-width: 983px) {
		&-filter {
			&__field {
				$margin: 1.15%;
				width: 31.8%;
				margin: 0 $margin 0;
				&:nth-child(4n+4),
				&:nth-child(4n+1) {
					margin: 0 $margin 0;
				}
				&:nth-child(3n+3) {
					margin-left: $margin;
					margin-right: 0;
				}
				&:nth-child(3n+1) {
					margin-left: 0;
					margin-right: $margin;
				}
			}
		}
	}

	//mobile
	@media #{$max-768} {
		&-wrapper {
		}
		&-headline {
			&:before {
			}
			&__title {
			}
			&-edit {
			}
			&__btn {
				&-copy {
				}
				&-clear {
				}
			}
		}
		&-filter {
			&-fields {
				margin: 0;
			}
			&__field {
				width: 100%;
				margin: 0 0 25px !important;
				input[type="text"] {
				}
			}
		}
		&.api-exp-params--dirty {
			.api-exp-params-headline-edit {
			}
		}
	}
}
