$colors: #768692,
#7d3e9b,
#c05785,
#a3a64f,
#d0236f,
#a61f84,
#4fb9b5,
#b94f5e,
#545db1,
#57ad56,
#dba555,
#db6b55;

$side-menu-bg: rgba(183, 201, 211, 0.1);
$menu-width: 293px;

// bg images
$img-question-grey: '../assets/img/api-explorer/question-ic-grey.svg';
$img-question-blue: '../assets/img/api-explorer/question-ic-blue.svg';
$img-shevron-down-blue: '../assets/controls/ic-shevron-down.svg';
$img-info: '../assets/img/api-explorer/ic-info.svg';
$img-shevron-up-gray: '../assets/img/api-explorer/chevron-copy-6.svg';
$img-shevron-right-blue: '../assets/img/ic-shevron-right.svg';
$img-shevron-down-white: '../assets/img/ic-shevron-down-white.svg';
$img-clear: '../assets/img/api-explorer/ic-clear.svg';
$img-calendar: '../assets/img/api-explorer/ic-calendar.svg';
$img-id: '../assets/img/api-explorer/ic-id.svg';
$img-share_grey: '../assets/img/api-explorer/ic-share.svg';
$img-share_white: '../assets/img/api-explorer/ic-share-white.svg';
$img-copy_grey: '../assets/img/api-explorer/ic-copy.svg';
$img-copy_white: '../assets/img/api-explorer/ic-copy-white.svg';
$img-raw_grey: '../assets/img/api-explorer/ic-view-in-raw.svg';
$img-raw_white: '../assets/img/api-explorer/ic-view-in-raw-white.svg';
$img-parameters_grey: '../assets/img/ic-parameters.svg';
$img-parameters_white: '../assets/img/ic-parameters-white.svg';
$img-more_grey: '../assets/img/api-explorer/menu-dots-mobile.svg';
$img-more_grey_active: '../assets/img/api-explorer/menu-dots-mobile-selected.svg';
$img-parameters-active: '../assets/img/ic-parameters-hover.svg';
$img-arrows-left: '../assets/img/arrows-left-small.svg';
$img-arrows-right: '../assets/img/arrows-right-small.svg';
$img-checkmark_green: '../assets/img/ic-chekmark.svg';
$img-alert: '../assets/img/ic-allert-red.svg';
$img-attention: '../assets/img/ic-attention.svg';

// colors
$monza: #d0021b;
$slate-gray: #768692;
$slate-gray-07: rgba(118, 134, 146, 0.7);
$heather: #b7c9d3;
$white: #fff;
$black: #000;
// hover state for form field
$mariner: #2A7CC7;
// active state for form field
$cerulean: #009cde;

$custom-inpt-title-height: 20px;
