$img: './../assets/img/ic-shevron-right-white.svg';
$border-radius: 7px;
.tab-content {
	.panel-group {
		.panel {
			width: 340px;
			margin: auto;
			border-radius: 0;
			background: none !important;
			ul {
				margin: 0;
			}
			& + .panel {
				margin-top: 1px;
			}
			&:first-child {
				border-radius: $border-radius $border-radius 0 0;
			}
			&:last-child {
				border-radius: 0 0 $border-radius $border-radius;
			}
			&:hover,
			&.active {
				.panel-heading {
					opacity: 1;
				}
			}
			.panel-heading {
				padding: 0;
				height: 40px;
				.panel-title {
					position: relative;
					.btn {
						margin: 0;
						font: {
							weight: bold;
							size: 20px;
							style: normal;
							stretch: normal;
						}
						line-height: 1;
						&:hover, &:active, &:focus {
							color: #fff;
						}
						.white-shevron-up {
							float: left;
							margin: 0 10px 0 0;
						}
						.title {
							margin: 0;
							color: #fff;
							&:first-letter {
								text-transform: uppercase;
							}
						}
					}
					.counter {
						position: absolute;
						right: 16px;
						top: 50%;
						margin-top: -10px;
						opacity: 0.7;
						font: {
							size: 20px;
							weight: bold;
							style: normal;
							stretch: normal;
						}
						line-height: 16px;
						display: block;
						color: #fff;
					}
				}
				.navigation {
					width: 0;
					height: 0;
					border-style: solid;
					background: none;
					outline: none;
					&[disabled]{
						opacity: 0.3;
					}
					&-wrapper {
						float: right;
						margin: 3px 3px 0;
					}
					&.prev {
						border: {
							width: 7.5px 8px 7.5px 0;
							color: transparent #fff transparent transparent
						}
						margin-right: 15px;
					}
					&.next {
						border:{
							width: 7.5px 0 7.5px 8px;
							color: transparent transparent transparent #fff;
						}
					}
				}
			}

			.panel-body {
				border-top: none !important;
				overflow: hidden;
				.list-group {
					margin: 0;
					.list-group-item {
						position: relative;
						padding-right: 40px;
						clear: both;
						overflow: hidden;
						color: #768692;
						border: none;
						border-radius: 0;
						display: table;
						width: 100%;
						&:not(:first-child) {
							border-top: solid 1px #b7c9d3;
						}
						&:hover,
						&.active {
							color: $white;
							background: #009cde;
							.btn {
								background: {
									image: url($img) !important;
								}
							}
						}
						.name {
							display: inline-block;
							font: {
								size: 14px;
								weight: normal;
								style: normal;
								stretch: normal;
							}
							line-height: 1.57;
							width: 230px;
							padding: 0 10px 0 0;
						}
						.additional-info {
							font: {
								style: normal;
								stretch: normal;
							}
							color: #b7c9d3;
							display: table-cell;
							vertical-align: middle;
							clear: both;
							width: 134px;
							p {
								margin: 0;
							}
							.date {
								font: {
									size: 10px;
									weight: bold;
								}
								line-height: 10px;
							}
							.venue {
								font: {
									size: 12px;
									weight: normal;
								}
								line-height: 12px;
							}
							clear: both;
						}
						.btn {
							position: absolute;
							top: 50%;
							right: 5px;
							z-index: 5;
							margin-top: -10px;
						}

						.img {
							max-width: 50px;
							max-height: 35px;
						}
					}
				}

				.clear {
					padding: 15px;
					* {
						margin: 0 0 5px;
					}
				}

				.value {
					font-size: 14px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.57;
					color: #768692;
					overflow-wrap: break-word;
					display: inline-block;
					max-width: 310px;
					word-break: break-all;
				}
				.key {
					font-size: 14px;;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.57;
					color: #768692;
					font-weight: bold;
				}
				.img {
					max-width: 100%;
				}
				.form-inline {
					display: inline-block;
					margin: 0;
					padding: 0;
					width: 50px;
					background: #fff;

					#pagination-input {
						width: 100%;
						padding: 0 7px;
						height: 30px;
						font-size: 12px;
					}
				}
				.btn-copy {
					@include transition(all, 300ms);
					&.copied {
						background: {
							image: url($img-green-checkmark) !important;
							repeat: no-repeat;
						}
					}
					&.error {
						background: {
							image: url($img-green-error) !important;
							repeat: no-repeat;
						}
					}
				}
			}

			&:last-child {
				.panel-body {
					.list-group {
						.list-group-item {
							border-bottom-right-radius: 4px;
							border-bottom-left-radius: 4px;
						}
					}
				}
			}
		}
	}
}
