{% assign sorted_article = (site.pages | sort: 'order') %}
{% assign partner_full = "" | split:"|"  %}
{% assign groups_names = "" | split:"|"  %}

{% for partner in sorted_article %}
	{% if partner.categories[0] == "partner" and partner.categories[1] == "certified" %}
		{% if partner.group %}
			{% assign groups_names = groups_names | push: {{partner.group}} | uniq %}
		{% endif %}
		{% assign partner_full = partner_full | push: {{partner}}  %}
	{% endif %}
{% endfor %}

{% if groups_names.size <=1 %}
{%comment%}<!--SHOW ALL CARDS-->{%endcomment%}
<div class="tiles-wrapper">
	{% for partner in partner_full %}
		{% include partials/certified-partner-card.html %}
	{% endfor %}
</div>
{% else %}

{%comment%} <!-- SHOW CARDS BY GROUP --> {%endcomment%}
{% for group in groups_names %}{%comment%} <!-- Loop through out-and-outer groups --> {%endcomment%}
<div class="tiles-wrapper" >
	{% if groups_names.size >=2 %}<h4 class="tiles-group-title" id="{{group | lstrip
																																					| downcase
																																					| replace: ' ' , '-'
																																					| replace: '[' , '-'
																																					| replace: ']' , '-'
																																					| replace: '/' , '-'
																																					| replace: '\' , '-'
																																					| replace: '(' , '-'
																																					| replace: ')' , '-'}}">{{group}}</h4>{% endif %}
		{% for partner in partner_full %} {%comment%} <!-- Loop through array again to sort cards--> {%endcomment%}
			{% if partner.group == group %} {%comment%} <!-- SHOW this GROUP --> {%endcomment%}
				{% include partials/certified-partner-card.html %}
			{% endif %}
		{% endfor %}
</div>
<div class="clearfix"></div>
{% endfor %}

{% endif %}

