<div class="body-wrapper">
    <div class="row">
        <div class="col-xs-7 col-lg-2 gray">
            <a id="header-logo" href="{{"/" | prepend: site.baseurl}}">
            {% if page.category == "home" %}
            <img src="/assets/img/header/tm-developer-logo-p-1.svg">
            {% else %}
            <img src="/assets/img/header/tm-developer-logo.svg">
            {% endif %}
            </a>
        </div>
        <nav id="menu" class="col-xs-12 col-lg-8">
            <!-- links put into single line intentionally to avoid browser rendered spaces -->
            <a  {% if page.category == "home" or page.category == "documentation" or page.categories[0] == "documentation" or page.category == "products-and-docs" %} class="one nav-item" {% else %} class="gray" {% endif %} href="{{"/products-and-docs/" | prepend: site.baseurl}}">Products & Docs</a><a
                {% if page.category == "home" or page.category == "partners" or page.category == "null" %} class="two nav-item" {% else %} class="gray" {% endif %} href="{{"/partners/" | prepend: site.baseurl}}">Partners</a><a
                {% if page.category == "home" or page.category == "support" or page.categories[0] == "support" %} class="three nav-item" {% else %} class="gray" {% endif %} href="{{"/support/" | prepend: site.baseurl}}">Support</a><a
                {% if page.category == "home" or page.category == "blogs" or page.category == "blogs" %} class="four nav-item" {% else %} class="gray" {% endif %} href="{{"/blogs/" | prepend: site.baseurl}}">Blogs</a><a
                {% if page.category == "home" or page.category == "events" or page.categories[0] == "events" %} class="five nav-item" {% else %} class="gray" {% endif %} href="{{"/events" | prepend: site.baseurl}}">Events</a><a
                {% if page.category == "home" or page.category == "opensource" or page.category == "null" %} class="six nav-item" {% else %} class="gray" {% endif %} href="http://code.ticketmaster.com/">Open Source</a>
        </nav>
        <div class="col-xs-5 col-lg-2 gray">
            <a id="menu-btn" {% if page.category != "home" %} class="white"{% endif %}></a>
            <div id="search" {% if page.category != "home" %} class="white"{% endif %}>
                <div class="search-button"></div>
                <script>
                /*
                    (function() {
                        var cx = '005729231290321871364:pb-ym0dnvm4';
                        var gcse = document.createElement('script');
                        gcse.type = 'text/javascript';
                        gcse.async = true;
                        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                                '//cse.google.com/cse.js?cx=' + cx;
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(gcse, s);
                    })();
                */
                </script>
                <!-- <gcse:searchbox-only></gcse:searchbox-only> -->


                <form action="http://ticketmaster-api-staging.github.io/search/" id="cse-search-box">
                    <div>
                        <input type="hidden" name="cx" value="005729231290321871364:pb-ym0dnvm4" />
                        <input type="hidden" name="ie" value="UTF-8" />
                        <input class="q" type="text" name="q" size="14" placeholder="Search for ..."/>
                        <input class="sa" type="submit" name="sa" value="" />
                    </div>
                </form>
                <script type="text/javascript" src="//www.google.com/jsapi"></script>
                <script type="text/javascript" src="//www.google.com.ua/cse/brand?form=cse-search-box&lang=en"></script>
                <!-- <span tabindex="-1" id="search-alert" style="display: none;">Whoa! Search isn't quite ready yet! We're still working on it.</span> -->
            </div>
            <a class="apigee-login {% if page.category != "home" %} white{% endif %}" href="https://dev-livenation.devportal.apigee.com/user/login">Login</a>
        </div>
        <div id="rainbow">
            <span class="one"></span>
            <span class="two"></span>
            <span class="three"></span>
            <span class="four"></span>
            <span class="five"></span>
            <span class="six"></span>
        </div>
    </div>
</div>