<div class="body-wrapper">
    <div class="row">
        <div class="col-xs-7 col-lg-2 gray">
            <a id="header-logo" href="{{"/" | prepend: site.baseurl}}">
            {% if page.category == "home" %}
            <img alt="Ticketmaster logo" src="/assets/img/header/tm-developer-logo-p-1.svg">
            {% else %}
            <img alt="Ticketmaster logo" src="/assets/img/header/tm-developer-logo.svg">
            {% endif %}
            </a>
        </div>
        <nav id="menu" class="col-xs-12 col-lg-8">
            <!-- links put into single line intentionally to avoid browser rendered spaces -->
            <a  {% if page.category == "home" or page.category == "documentation" or page.categories[0] == "documentation" or page.category == "products-and-docs" %} class="one nav-item expandable" {% else %} class="gray expandable" {% endif %} data-expands-to="one" href="{{"/products-and-docs/" | prepend: site.baseurl}}">Products & Docs <span class="header-chevron pull-right"></span></a><a
                {% if page.category == "home" or page.category == "partners" or page.category == "null" %} class="two nav-item expandable" {% else %} class="gray expandable" {% endif %} data-expands-to="two" href="{{"/partners/" | prepend: site.baseurl}}">Partners<span class="header-chevron pull-right"></span></a><a
                {% if page.category == "home" or page.category == "support" or page.categories[0] == "support" %} class="three nav-item expandable" {% else %} class="gray expandable" {% endif %} data-expands-to="three" href="{{"/support/" | prepend: site.baseurl}}">Support<span class="header-chevron pull-right"></span></a><a
                {% if page.category == "home" or page.category == "blogs" or page.category == "blogs" %} class="four nav-item" {% else %} class="gray" {% endif %} data-expands-to="four" href="{{"/blogs/" | prepend: site.baseurl}}">Blogs</a><a
                {% if page.category == "home" or page.category == "events" or page.categories[0] == "events" %} class="five nav-item expandable" {% else %} class="gray expandable" {% endif %} data-expands-to="five" href="{{"/events/" | prepend: site.baseurl}}">Events<span class="header-chevron pull-right"></span></a><a
                {% if page.category == "home" or page.category == "opensource" or page.category == "null" %} class="six nav-item" {% else %} class="gray" {% endif %} data-expands-to="six" href="http://code.ticketmaster.com/">Open Source</a>
        </nav>
        <div class="col-xs-5 col-lg-2 gray">
            <a id="menu-btn" {% if page.category != "home" %} class="white"{% endif %}></a>
            <div id="search" {% if page.category != "home" %} class="white"{% endif %}>
                <div class="search-button"></div>
                <form action="/search/" id="cse-search-box" autocomplete="off">
                    <div>
                        <input type="hidden" name="cx" value="000111791941460729347:zmu0d7yvkfq" />
                        <input type="hidden" name="ie" value="UTF-8" />
                        <input class="q" type="text" name="q" size="14" placeholder="Search for ..."/>
                        <input class="sa" type="submit" name="sa" value="" />
                    </div>
                </form>
                <script type="text/javascript" src="//www.google.com/jsapi"></script>
                <script type="text/javascript" src="//www.google.com.ua/cse/brand?form=cse-search-box&lang=en"></script>
                <!--<span tabindex="-1" id="search-alert" style="display: none;">Whoa! Search isn't quite ready yet! We're still working on it.</span>-->
            </div>
            <a class="apigee-login {% if page.category != "home" %} white{% endif %}" href="https://live-livenation.devportal.apigee.com/user/login">Login</a>
        </div>
        <div id="rainbow">
            <span class="one"></span>
            <span class="two"></span>
            <span class="three"></span>
            <span class="four"></span>
            <span class="five"></span>
            <span class="six"></span>
        </div>
    </div>
</div>