<ul id="menu-dropdown" class="col-xs-12 col-sm-5 col-lg-3 closed" tabindex="-1">
    <li><a class="apgee-login" href="https://dev-livenation.devportal.apigee.com/user/login">Login</a></li>
    <li><a href="{{"/products-and-docs/" | prepend: site.baseurl}}">Products & Docs</a></li>
    <li><a href="{{"/partners/" | prepend: site.baseurl}}">Partners</a></li>
    <li><a href="{{"/support/" | prepend: site.baseurl}}">Support</a></li>
    <li><a href="{{"/blogs/" | prepend: site.baseurl}}">Blogs</a></li>
    <li><a href="{{"/events/" | prepend: site.baseurl}}">Events</a></li>
    <li><a href="http://code.ticketmaster.com/">Open Source</a></li>
</ul>
