<div class="row dev-console-header">
    <h1>API DOCUMENTATION</h1>
    <div class="col-xs-12 page-column col-sm-7">
        <p class="main-description">Hella narwhal Cosby dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        </p>
    </div>
    <div class="col-xs-12 page-column col-sm-5">
        <h3> Developer Console</h3>
        <p>Test this endpoint right now in the interactive docs:</p>
        <button class="btn btn-default" >INTERACTIVE DOCS</button>
    </div>
</div>
