<div id="expand-menu" class="row" tabindex="-1" {% if page.categories[0] == "documentation" or page.category == "documentation"  or page.categories[0] == "tutorials" %} style="position:fixed" {% endif %}>
    <div class="row-container">
        <div id="expand-one" class="expand-section" style="display: none;">
            <div class="col-xs-2 expand-column">
                <a href="/products-and-docs/apis/getting-started/">
                    <h4>APIs</h4>
                </a>
                <ul>
                    <li>
                        <a href="/products-and-docs/apis/getting-started/">Getting started</a>
                    </li>
                    <li>
                        <a href="/products-and-docs/apis/interactive-console/">Interactive Docs</a>
                    </li>
                    <li>
                        <a href="/api-explorer/">API Explorer</a>
                    </li>
                    <li>
                        <a href="/products-and-docs/apis/changelog/">Changelog</a>
                    </li>

                    <li>
                        <h4>OPEN APIs</h4>
                    </li>
                    <li>
                        <a class="star" href="/products-and-docs/apis/discovery/">Discovery API</a>
                    </li>
                    <li>
                        <a class="star" href="/products-and-docs/apis/commerce/">Commerce API</a>
                    </li>
                    <li>
                        <a href="/products-and-docs/apis/publish/">Publish API</a>
                    </li>
                    <li>
                        <a href="/products-and-docs/apis/oauth/"> OAuth API</a>
                    </li>

                    <li>
                        <h4>PARTNER APIs</h4>
                    </li>
                    <li>
                        <a href="/products-and-docs/apis/partner/">Partner API</a>
                    </li>
                    <li>
                        <a href="/products-and-docs/apis/top-picks/">Top Picks API</a>
                    </li>
                    <li>
                        <a href="/products-and-docs/apis/inventory-status/">Inventory Status API</a>
                    </li>
                    <li>
                        <a href="/products-and-docs/apis/deals-api/">Deals API</a>
                    </li>
                    <li>
                        <a href="/products-and-docs/apis/international-discovery/">International Discovery API</a>
                    </li>
                    <li>
                        <a href="/products-and-docs/apis/season-ticketing/">Season Ticketing API</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-2 expand-column">
                <a href="/products-and-docs/sdks/">
                    <h4>SDKs</h4>
                </a>
                <ul>
                    <li>
                        <a href="https://github.com/ticketmaster-api/sdk-java">Java-SDK</a>
                    </li>
                    <li>
                        <a href="https://github.com/ticketmaster-api/sdk-javascript">JavaScript-SDK</a>
                    </li>
                    <li>
                        <a href="https://github.com/ticketmaster-api/sdk-scala">Scala-SDK</a>
                    </li>
                    <li>
                        <a href="/products-and-docs/sdks/#account-manager">Account Manager</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-2 expand-column">
                <a href="/products-and-docs/widgets/">
                    <h4>WIDGETS</h4>
                </a>
                <ul>
                    <li>
                        <a href="/products-and-docs/widgets/checkout/">Ticketmaster Universal Checkout</a>
                    </li>
                    <li>
                        <a href="/products-and-docs/widgets/event-discovery/">Event Discovery Widget</a>
                    </li>
                    <li>
                        <a href="/products-and-docs/widgets/countdown/">Countdown Widget</a>
                    </li>
                    <li>
                        <a href="/products-and-docs/widgets/calendar/">Calendar Widget</a>
                    </li>
                    <li>
                        <a href="/products-and-docs/widgets/wordpress/">WordPress Widget</a>
                    </li>
                    <li>
                        <a href="/products-and-docs/widgets/">Direct Payments</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-2 expand-column" style="margin-right: -50px;">
                <a href="/products-and-docs/tutorials/">
                    <h4>TUTORIALS</h4>
                </a>
                <ul>
                    <li>
                        <a href="/products-and-docs/tutorials/events-search/">Events Search</a>
                    </li>
                    <li>
                        <a href="/products-and-docs/tutorials/widgets/">Widgets</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="expand-two" class="expand-section" style="display: none;">
            <div class="col-xs-2 expand-column" style="margin-right: 20px;">
                <a href="/partners/distribution-partners/">
                    <h4>Distribution Partners</h4>
                </a>
                <ul>
                    <li>
                        <a href="https://member.impactradius.com/bla/Ticketmasterdirect/login.user">Affiliate Sign In</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-2 expand-column">
                <a href="/partners/certified-partners/">
                    <h4>Certified Partners</h4>
                </a>
                <ul>
                    <li>
                        <a href="/partners/certified-partners/nexus/">Join the Nexus program</a>
                    </li>
                </ul>
            </div>
            <!--<div class="col-xs-1 expand-column" style="margin-right: 20px;">
                <a href="https://member.impactradius.com/bla/Ticketmasterdirect/login.user">
                    <h4>Affiliates</h4>
                </a>
            </div>-->
            <div class="col-xs-3 expand-column" style="margin-right: -120px;">
                <a href="/partners/startups-and-developers/">
                    <h4>Startups & Developers</h4>
                </a>
                <ul>
                    <li>
                        <a href="/partners/startups-and-developers/#web">Web</a>
                    </li>
                    <li>
                        <a href="/partners/startups-and-developers/#heatmap">Heatmap</a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="expand-three" class="expand-section" style="display: none;">
            <div class="col-xs-1 expand-column" style="margin-right: 30px;">
                <a href="/support/faq/">
                    <h4>FAQ</h4>
                </a>
                <ul>
                    <li>
                        <a href="/support/faq/#general-a">General</a>
                    </li>
                    <li>
                        <a href="/support/faq/#account-a">Data</a>
                    </li>
                    <li>
                        <a href="/support/faq/#affiliates-a">Affiliates</a>
                    </li>
                    {% assign faq_items = site.pages | sort: 'title' %}
                    {%for item in faq_items %}
                        {% if item.categories[0] == "faq-api" and item.content.size > 1 and item.questions and item.title %}
                            <li><a href="/support/faq/#{{ item.titleId }}">{{item.title}}</a></li>
                        {% endif %}
                    {%endfor%}
                </ul>
            </div>
            {% comment %}
            <div class="col-xs-2 expand-column" style="margin-right: -10px;">
                <a href="#">
                    <h4>Forums</h4>
                </a>
                <ul>
                    <li>
                        <a href="#">General Discussion</a>
                    </li>
                    <li>
                        <a href="#">API Forums</a>
                    </li>
                    <li>
                        <a href="#">SDK Forums</a>
                    </li>
                    <li>
                        <a href="#">Widget Forums</a>
                    </li>
                    <li>
                        <a href="#">Affiliate Topics</a>
                    </li>
                </ul>
            </div>
            {% endcomment %}
            <div class="col-xs-2 expand-column" style="margin-right: 20px;">
                <a href="/support/terms-of-use/">
                    <h4>General Terms of Use</h4>
                </a>
                <ul>
                    <li>
                        <a href="/support/terms-of-use/#license">Licensed Uses and Restrictions</a>
                    </li>
                    <li>
                        <a href="/support/terms-of-use/#ownership">Ownership and Relationship of Parties</a>
                    </li>
                    <li>
                        <a href="/support/terms-of-use/#support">Support</a>
                    </li>
                    <li>
                        <a href="/support/terms-of-use/#warranty">Warranty Disclaimer</a>
                    </li>
                    <li>
                        <a href="/support/terms-of-use/#release">Release and Waiver</a>
                    </li>
                    <li>
                        <a href="/support/terms-of-use/#indemnity">Hold Harmless and Indemnity</a>
                    </li>
                    <li>
                        <a href="/support/terms-of-use/#terms">General Terms</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-3 expand-column" style="margin-right: -40px;">
                <a href="/support/terms-of-use/partner/">
                    <h4>Partner API Terms of Use</h4>
                </a>
                <ul>
                    <li>
                        <a href="/support/terms-of-use/partner/#licensed-uses-and-restrictions">Licensed Uses and Restrictions</a>
                    </li>
                    <li>
                        <a href="/support/terms-of-use/partner/#ownership-and-relationship-of-parties">Ownership and Relationship of Parties</a>
                    </li>
                    <li>
                        <a href="/support/terms-of-use/partner/#support">Support</a>
                    </li>
                    <li>
                        <a href="/support/terms-of-use/partner/#warranty-disclaimer">Warranty Disclaimer</a>
                    </li>
                    <li>
                        <a href="/support/terms-of-use/partner/#release-and-waiver">Release and Waiver</a>
                    </li>
                    <li>
                        <a href="/support/terms-of-use/partner/#hold-harmless-and-indemnity">Hold Harmless and Indemnity</a>
                    </li>
                    <li>
                        <a href="/support/terms-of-use/partner/#general-terms">General Terms</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-2 expand-column" style="margin-right: -25px;">
                <a href="/support/branding-guide/">
                    <h4>Branding Guide</h4>
                </a>
                <ul>
                    <li>
                        <a href="/support/branding-guide/#brand-logo">Logo</a>
                    </li>
                    <li>
                        <a href="/support/branding-guide/#verified-tickets">Verified Tickets</a>
                    </li>
                    <li>
                        <a href="/support/branding-guide/#legal-stuff">Legal Stuff</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-2 expand-column" style="margin-right: -50px;">
                <a href="/support/contact-us/">
                    <h4>Contact Us</h4>
                </a>
            </div>

        </div>
        <div id="expand-four" class="expand-section" style="display: none;">
            <div class="col-xs-2 expand-column">
                <a href="/blogs/">
                    <h4>Blogs</h4>
                </a>
            </div>
        </div>
        <div id="expand-five" class="expand-section" style="display: none;">
            <div class="col-xs-1 expand-column">
                <a href="/events/">
                    <h4>Events</h4>
                </a>
                <ul>
                    <li>
                        <a href="/events/#upcoming">Upcoming</a>
                    </li>
                    <li>
                        <a href="/events/#past">Past</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="expand-six" class="expand-section" style="display: none;">
            <div class="col-xs-2 expand-column">
                <a href="http://code.ticketmaster.com/">
                    <h4>Open Source</h4>
                </a>
            </div>
        </div>
    </div>
</div>
