<div id="expand-menu" class="row" tabindex="-1">
    <div class="row-container">
        <div id="expand-one" class="expand-section" style="display: none;">
            <div class="col-xs-2 expand-column">
                <a href="/products-and-docs/apis/getting-started/">
                    <h4>APIs</h4>
                </a>
                <ul>
                    <li>
                        <a href="/products-and-docs/apis/getting-started/">Getting started</a>
                    </li>
                    <li>
                        <a href="/products-and-docs/apis/discovery/">Discovery API</a>
                    </li>
                    <li>
                        <a href="/products-and-docs/apis/commerce/">Commerce API</a>
                    </li>
                    <li>
                        <a href="/products-and-docs/apis/partner/">Partner API</a>
                    </li>
                    <li>
                        <a href="/products-and-docs/apis/deals-api/">Deals API</a>
                    </li>
                    <li>
                        <a href="/products-and-docs/apis/international-discovery/">International Discovery API</a>
                    </li>
                    <li>
                        <a href="/products-and-docs/apis/interactive-console/">Interactive Docs</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-2 expand-column">
                <a href="/products-and-docs/sdks/">
                    <h4>SDKs</h4>
                </a>
                <ul>
                    <li>
                        <a href="/products-and-docs/sdks/">Account Manager</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-2 expand-column">
                <a href="/products-and-docs/widgets/">
                    <h4>WIDGETS</h4>
                </a>
                <ul>
                    <li>
                        <a href="/products-and-docs/widgets/">Direct Payments</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="expand-two" class="expand-section" style="display: none;">
            <div class="col-xs-2 expand-column">
                <a href="/partners/distribution-partners/">
                    <h4>Distribution Partners</h4>
                </a>
            </div>
            <div class="col-xs-2 expand-column">
                <a href="/partners/certified-partners/">
                    <h4>Certified Partners</h4>
                </a>
                <ul>
                    <li>
                        <a href="/partners/certified-partners/nexus/">Join the Nexus program</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-1 expand-column" style="margin-right: 20px;">
                <a href="https://darwin.affiliatewindow.com/login">
                    <h4>Affiliates</h4>
                </a>
            </div>
            <div class="col-xs-3 expand-column">
                <a href="/partners/startups-and-developers/">
                    <h4>Startups & Developers</h4>
                </a>
                <ul>
                    <li>
                        <a href="/partners/startups-and-developers/#web">Web</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="expand-three" class="expand-section" style="display: none;">
            <div class="col-xs-1 expand-column">
                <a href="/support/faq/">
                    <h4>FAQ</h4>
                </a>
                <ul>
                    <li>
                        <a href="/support/faq/#general-a">General</a>
                    </li>
                    <li>
                        <a href="/support/faq/#account-a">Data</a>
                    </li>
                    <li>
                        <a href="/support/faq/#affiliates-a">Affiliates</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-1 expand-column">
                <a href="http://stackoverflow.com/questions/tagged/ticketmaster-api">
                    <h4>Forums</h4>
                </a>
            </div>
            <div class="col-xs-2 expand-column">
                <a href="/support/terms-of-use/">
                    <h4>General Terms of Use</h4>
                </a>
            </div>
            <div class="col-xs-2 expand-column">
                <a href="/support/terms-of-use/partner/">
                    <h4>Partner API Terms of Use</h4>
                </a>
            </div>
            <div class="col-xs-2 expand-column">
                <a href="/support/branding-guide/">
                    <h4>Branding Guide</h4>
                </a>
                <ul>
                    <li>
                        <a href="/support/branding-guide/#brand-logo">Logo</a>
                    </li>
                    <li>
                        <a href="/support/branding-guide/#verified-tickets">Verified Tickets</a>
                    </li>
                    <li>
                        <a href="/support/branding-guide/#legal-stuff">Legal Stuff</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-2 expand-column">
                <a href="/support/contact-us/">
                    <h4>Contact Us</h4>
                </a>
            </div>
        </div>
        <div id="expand-four" class="expand-section" style="display: none;">
            <div class="col-xs-2 expand-column">
                <a href="/blogs/">
                    <h4>Blogs</h4>
                </a>
            </div>
        </div>
        <div id="expand-five" class="expand-section" style="display: none;">
            <div class="col-xs-2 expand-column">
                <a href="/events/">
                    <h4>Events</h4>
                </a>
                <ul>
                    <li>
                        <a href="/events/#upcoming">Upcoming</a>
                    </li>
                    <li>
                        <a href="/events/#past">Past</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="expand-six" class="expand-section" style="display: none;">
            <div class="col-xs-2 expand-column">
                <a href="http://code.ticketmaster.com/">
                    <h4>Open Source</h4>
                </a>
            </div>
        </div>
    </div>
</div>