<div class="article">
{% assign files = site.pages | sort : 'title'%}

{% for file in files %}
    {% if 'faq-api' == file.categories[0] and file.content.size > 1 and file.questions and file.title %}
    <h2 class="double-margin" id="{{ file.title }}">{{ file.title }}</h2>
        <!--{% if file.questions %}
            {% for question in file.questions %}
                {{question | markdownify }}
            {% endfor %}
        {% endif %}-->
        {{ file.content }}
    {% endif %}
{% endfor %}
</div>