<div class="row footer-nav">
    <div class="row-container">
        <div class="col-xs-12 col-sm-2">
            <a href="{{"/products-and-docs/" | prepend: site.baseurl}}"><h4 class="white">Products & Docs</h4></a>
            <ul>
                <li><a href="{{"/products-and-docs/apis/getting-started/" | prepend: site.baseurl}}">APIs</a></li>
                <li><a href="{{"/products-and-docs/sdks/" | prepend: site.baseurl}}">SDKs</a></li>
                <li><a href="{{"/products-and-docs/widgets/" | prepend: site.baseurl}}">Widgets</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-2">
            <a href="{{"/partners/" | prepend: site.baseurl}}"><h4 class="white">Partners</h4></a>
            <ul>
                <li><a href="{{"/partners/distribution-partners/" | prepend: site.baseurl}}">Distribution Partners</a></li>
                <li><a href="{{"/partners/certified-partners/" | prepend: site.baseurl}}">Certified Partners </a></li>
                <li><a href="{{"https://darwin.affiliatewindow.com/login" | prepend: site.baseurl}}">Affiliates</a></li>
                <li><a href="{{"/partners/startups-and-developers/" | prepend: site.baseurl}}">Startups & Developers</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-2">
            <a href="{{"/support/" | prepend: site.baseurl}}"><h4 class="white">Support</h4></a>
            <ul>
                <li><a href="{{"/support/faq/" | prepend: site.baseurl}}">FAQ</a></li>
                <li><a href="http://stackoverflow.com/questions/tagged/ticketmaster-api/ ">Forums</a></li>
                <li><a href="{{"/support/terms-of-use/" | prepend: site.baseurl}}">General Terms of Use</a></li>
                <li><a href="{{"/support/terms-of-use/partner/" | prepend: site.baseurl}}">Partner API Terms of Use</a></li>
                <li><a href="{{"/support/branding-guide/" | prepend: site.baseurl}}">Branding Guide</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-2">
            <a href="{{"/blogs/" | prepend: site.baseurl}}"><h4 class="white">Blogs</h4></a>
            <ul>
                <li><a href="http://tech.ticketmaster.com/">Tech Blog</a></li>
                <li><a href="https://medium.com/ticketmaster-tech/">Medium Publication</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-2">
            <a href="{{"/events/" | prepend: site.baseurl}}"><h4 class="white">Events</h4></a>
            <ul>
                <li><a href="{{"/events/#hackathon" | prepend: site.baseurl}}">hackatons</a></li>
                <li><a href="{{"/events/#devjam" | prepend: site.baseurl}}">devjam</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-2">
            <a href="http://code.ticketmaster.com/"><h4 class="white">Open Source</h4></a>
            <ul>
                <li><a href="http://code.ticketmaster.com/#android-projects">Android</a></li>
                <li><a href="http://code.ticketmaster.com/#backend-projects">Backend</a></li>
                <li><a href="http://code.ticketmaster.com/#iOS-projects">iOS</a></li>
                <li><a href="http://code.ticketmaster.com/#web-projects">Web</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row bottom-logo" style="margin-bottom: 10px;">
    <div class="row-container">
        <div class="col-xs-12">
            <a href="{{"/" | prepend: site.baseurl}}">
            <img alt="Ticketmaster logo" src="/assets/img/footer/ticketmaster-logo-white.svg">
            </a>
            <span>© 1976–2016 Ticketmaster. All rights reserved.</span>
        </div>
    </div>
</div>