<div class="form">
<form class="nexus-form" accept-charset="UTF-8" action="" method="POST">
    <div class="col-left">
        <input type="text" name="name" maxlength="255" placeholder="First name" autofocus tabindex="1">
        <input type="email" name="email" placeholder="Email address" required tabindex="3">
    </div>
    <div class="col-right">
        <input type="text" name="name" maxlength="255" placeholder="Last Name" tabindex="2">
        <input type="tel" name="phone" placeholder="Contact number" tabindex="4">
    </div>
    <input type="text" name="organization" placeholder="Organization name" tabindex="5">
    <div class="col-left">
        <label >Number of Ticketmaster clients</label>
        <input type="number" min="0" name="ticketsNumber" placeholder="0000000" tabindex="6">
    </div>
    <div class="col-right">
        <label >Company annual revenue ($)</label>
        <input type="number" min="0" name="ticketsNumber" placeholder="0000000" tabindex="7">
    </div>

    <label class="label-radio">Is product offering free or paid?</label>
    <span>
        <input type="radio" id="radio-yes" name="radio" tabindex="8"/><label >Yes</label>
    </span>
    <span>
        <input type="radio" id="radio-no" name="radio" tabindex="9"/>No
    </span>
    
    <p class="company-detail">Please provide some detail on your company’s expected integration with Ticketmaster (e.g. any specific type of data, frequency, flow of data)</p>
    <textarea name="" id="" cols="30" rows="10" tabindex="10"></textarea>

    <div class="col-left">
        <button type="submit" class="button">SEND</button>
    </div>
</form>
</div>