{% if gallery_array.size != 0 %}
<article class="products-and-application">
	<header>
		<h3 class="header-title products-and-application-header">Products and Applications made with Ticketmaster’s API</h3>
	</header>
	<section class="products-and-application-wrapper">
		{% assign tab_array = tab_array | uniq %}
		
		<!-- Nav tabs -->
		<ul id="tab-controlls" class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active hidden-xs"><a class="tab" href="#all" aria-controls="all" role="tab" data-toggle="tab">All</a></li>
			{% for tab in tab_array %}
			<li role="presentation" class="hidden-xs"><a class="tab" href="#{{tab}}" aria-controls="{{tab}}" role="tab" data-toggle="tab">{{tab}}</a></li>
			{% endfor %}
		</ul>
		
		<div id="tab-dropdown" class="dropdown mobile-dropdown">
			<a id="tab-dropdown-label" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
			<ul class="dropdown-menu">
				<li role="presentation">
					<a class="tab" href="#all" aria-controls="all" role="tab" data-toggle="tab">All</a>
				</li>
				{% for tab in tab_array %}
				<li role="presentation">
					<a class="tab" href="#{{tab}}" aria-controls="{{tab}}" role="tab" data-toggle="tab">{{tab}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		
		
		<!-- Tab panes -->
		<section class="tab-content clearfix">
			<div role="tabpanel" class="tab-pane active" id="all">
				<section class="grid" id="grid-all">
					{% for item in gallery_array %}
						<section class="grid-item flipper">
							<div class="card">
								<div class="content">
									<section class="front cardFront" style="background-image: url('{{item.img}}');">
										<h3 class="front-title">{{item.title}}</h3>
										<a href="{{item.url}}">
											<h3 class="front-title">{{item.title}}</h3>
										</a>
									</section>
									<section class="back cardBack">
										<a href="{{item.url}}">
											<h3 class="card-title">{{item.title}}</h3>
											<p class="card-summary">{{item.summary}}</p>
										</a>
									</section>
								</div>
							</div>
						</section>
					{% endfor %}
				</section>
				<div class="show-more clearfix hide">
					<button class="btn btn-link" id="gallery-show-more" aria-controls="#grid-all">Show more</button>
				</div>
			</div>
			
			{% for tab in tab_array %}
			<div role="tabpanel" class="tab-pane" id="{{tab}}">
				<section class="grid" id="grid-{{tab}}">
					{% assign array = "" | split: "|"  %}
					
					{% for item in gallery_array %}
						{% if item.tab == tab %}
							{% assign category_items = array | push: {{item}} %}
							<section class="grid-item flipper">
								<div class="card">
									<div class="content">
										<section class="front cardFront" style="background-image: url('{{item.img}}');">
											<h3 class="front-title">{{item.title}}</h3>
											<a href="{{item.url}}">
												<h3 class="front-title">{{item.title}}</h3>
											</a>
										</section>
										<section class="back cardBack">
											<a href="{{item.url}}">
												<h3 class="card-title">{{item.title}}</h3>
												<p class="card-summary">{{item.summary}}</p>
											</a>
										</section>
									</div>
								</div>
							</section>
						{% endif %}
					{% endfor %}
				</section>
				
				<div class="show-more clearfix hide">
					<button class="btn btn-link" id="gallery-show-more" aria-controls="#grid-{{tab}}">Show more</button>
				</div>
			</div>
			{% endfor %}
		</section>
	</section>
</article>
{% endif %}

{% if topApp_array.size != 0 %}
<article class="base-content-wrapper top-section">
	<header>
		<h3 class="top-section-title">Our Last Top Applications</h3>
		<p class="top-section-description">
			Short description about Top Applications in general, Selvage jean shorts 90's,
			Vice American Apparel try-hard food truck Shoreditch fap lomo Wes Anderson.
		</p>
	</header>
	<section class="top-section-main" id="top-section-main">
		{% for item in topApp_array %}
			<section class="top-section-item">
				<section class="cover" style="background-image: url('{{item.img}}');"></section>
				<section class="controll-fold">
					<div class="controll-fold-content">
						<h3 class="top-item-title">{{item.title}}</h3>
						<p class="top-item-descr">{{item.summary}}</p>
						<a href="{{item.url}}" class="btn tm-btn-transparent btn-see-more">See more</a>
					</div>
					<!--<section class="tags-section">
						{% for tag in item.tags %}
							<span class="btn tm-btn-transparent btn-tag">{{tag}}</span>
						{% endfor %}
					</section>
					<hr class="top-section-hr">
					<section class="like-and-share">
						<button class="btn btn-share" type="button"></button>
						<div class="like">
							<span class="count">524</span>
							<button class="btn btn-like" type="button"></button>
						</div>
					</section>-->
				</section>
			</section>
		{% endfor %}
	</section>
	<div class="show-more clearfix">
		<button class="btn btn-link" id="top-show-more" aria-controls="#top-section-main">Show more</button>
	</div>
</article>
{% endif %}

<article class="tm-api-docs slice-top-right">
	<header>
		<h3 class="header-title tm-api-docs-title">Got awesome ideas? Try to bring it to life with our APIs!</h3>
	</header>
	<section class="tm-api-docs-main">
		<p class="content">Selvage jean shorts 90's, Vice American Apparel try-hard food å Shoreditch fap lomo Wes Anderson.</p>
		<a href="#" role="button" class="btn btn-primary get-tm-api-docs" id="get-tm-api-docs">TICKETMASTER API DOCS</a>
	</section>
</article>
