/* FONTS */
/* TODO: update after release to  https://developer.ticketmaster.com/*/
@font-face {
    font-family: "TMSans-Regular";
    src: url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/fonts/tmSans/tmSans_Web/TMSans-Regular.eot");
    src: url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/fonts/tmSans/tmSans_Web/TMSans-Regular.eot?") format("embedded-opentype"), url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/fonts/tmSans/tmSans_Web/TMSans-Regular.woff") format("woff"), url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/fonts/tmSans/tmSans_Web/TMSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; }
@font-face {
    font-family: "TMSans-Light";
    src: url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/fonts/tmSans/tmSans_Web/TMSans-Light.eot");
    src: url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/fonts/tmSans/tmSans_Web/TMSans-Light.eot?") format("embedded-opentype"), url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/fonts/tmSans/tmSans_Web/TMSans-Light.woff") format("woff"), url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/fonts/tmSans/tmSans_Web/TMSans-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; }
@font-face {
    font-family: "TMSans-Italic";
    src: url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/fonts/tmSans/tmSans_Web/TMSans-Italic.eot");
    src: url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/fonts/tmSans/tmSans_Web/TMSans-Italic.eot?") format("embedded-opentype"), url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/fonts/tmSans/tmSans_Web/TMSans-Italic.woff") format("woff"), url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/fonts/tmSans/tmSans_Web/TMSans-Italic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; }
@font-face {
    font-family: "TMSans-Bold";
    src: url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/fonts/tmSans/tmSans_Web/TMSans-Bold.eot");
    src: url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/fonts/tmSans/tmSans_Web/TMSans-Bold.eot?") format("embedded-opentype"), url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/fonts/tmSans/tmSans_Web/TMSans-Bold.woff") format("woff"), url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/fonts/tmSans/tmSans_Web/TMSans-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; }


/* Common styles for all themes  */
/*
.widget-container {
    border: none;
}

.widget-container:before,
.widget-container:after {
    width: 0;
    height: 0;
    border: none;
}
*/

.widget-container--discovery.listview-after,
.widget-container--discovery.listview-after:before,
.widget-container--discovery.listview-after:after {
    border: none;
}

div[w-theme="listview"]{
    position: relative;
    height: 200px;
    width: 150px;
    overflow: hidden;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    font-family: 'TMSans-Regular';
}

div[w-theme="listview"] a,
div[w-theme="listview"] a:hover,
div[w-theme="listview"] a:focus,
div[w-theme="listview"] a:active{
    text-decoration: none;
}

div[w-theme="listview"] .event-pretended-link {
    cursor: pointer;
    -webkit-transition: background 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    -webkit-transition: background 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

div[w-theme="listview"] .event-pretended-link:hover {
    color: #009CDE;
}

div[w-theme="listview"] .event-message {
    position: absolute;
    padding: 16px 46px 16px 52px;
    left: 10px;
    right: 10px;
    top: -50%;
    border-radius: 4px;
    font-family: "TMSans-Bold";
    font-size: 14px;
    line-height: 1.6;
    color: #ffffff;
    opacity: 0;
    z-index: 10;
    /* TODO: update after release to  https://developer.ticketmaster.com/*/
    background: #7356a5 url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/img/message_logo.svg") no-repeat 16px 50%;
    -webkit-transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    -moz-transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

div[w-theme="listview"] .event-message-visible {
    top: 10px;
    opacity: 1;
}

div[w-theme="listview"] .event-message__btn {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 15px;
    top: 15px;
    cursor: pointer;
    /* TODO: update after release to  https://developer.ticketmaster.com/*/
    background: url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/img/ic-close-small-white.svg") no-repeat 50% 50%;
}

div[w-theme="listview"] .events-root-container{
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    border-style: solid;
    border-color: #ccc;
}

div[w-theme="listview"] .ss {
    margin: 35px auto 0 auto;
    height: 85%;
    width: 96% !important;
}

div[w-theme="listview"] ul {
    margin: 0 auto;
    padding: 0;
    margin-left: 0 !important;
    width: 102% !important;
}

div[w-theme="listview"] ul li ul {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-left: 0 !important;
    width: 100% !important;
}

/*  question  */
div[w-theme="listview"] .event-question {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    opacity: 0.7;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
		cursor: pointer;
}

div[w-theme="listview"] .event-question:before,
div[w-theme="listview"] .event-question:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

div[w-theme="listview"] .event-question:before {
    opacity: 0;
    /* TODO: add https://developer.ticketmaster.com/*/
    background-image: url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/img/question-ic-blue.svg");
}

div[w-theme="listview"] .event-question:after {
    opacity: 0.7;
    /* TODO: add https://developer.ticketmaster.com/*/
    background-image: url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/img/question-ic-grey.svg");
}

div[w-theme="listview"] .event-question:hover:before {
    opacity: 1;
}

div[w-theme="listview"] .event-question:hover:after {
    opacity: 0;
}


/* slider controls */
div[w-theme="listview"] .events_control {
    display: none;
}

div[w-theme="listview"] .bg-cover {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}


/* Theme special styles */
div[w-theme="listview"] .event-wrapper {
    display: block;
    position: relative;
    height: auto !important;
    width: 100% !important;
    float: left;
    overflow: hidden;
    font-size: 12px;
    line-height: 1.3;
    color: #fff;
    border-bottom: 2px solid rgba(65,65,65,0.2);
    padding-bottom: 13px;
    margin-bottom: 15px;
}

div[w-theme="listview"] .event-wrapper:last-child {
    /* border: none; */
}

div[w-theme="listview"] .event-group-wrapper {
    border: 0;
    padding: 0;
    margin: 0;
}

div[w-theme="listview"] .event-content-wraper,
div[w-theme="listview"] .event-wrapper:before {
}

div[w-theme="listview"] .event-content-wraper {
    width: 100%;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #414141;
}

div[w-theme="listview"] .event-name{
    display: block;
    display: -webkit-box;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "TMSans-Bold", Arial;
    margin-bottom: 11px;
    line-height: 22px;
    max-height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

div[w-theme="listview"] .event-date-wraper{
    display: block;
    font-family: "TMSans-Bold", Arial;
    font-size: 10px;
}

div[w-theme="listview"] .address-wrapper{
    display: block;
    overflow: hidden;
    display: -webkit-box;
    max-height: 13px;
    font-family: "TMSans-Light", Arial;
    line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 10px;
}

div[w-theme="listview"] .event-address{
    display: inline;
}

div[w-theme="listview"] .event-address:after{
    content: ',\00a0';
    display: inline-block;
}

div[w-theme="listview"] .address-wrapper .event-address:last-child:after{
    display: none;
}

div[w-theme="listview"] .category-wrapper{
    display: block;
    font-family: "TMSans-Bold", Arial;
}

div[w-theme="listview"] .address-wrapper,
div[w-theme="listview"] .category-wrapper{
    opacity: 1;
}

div[w-theme="listview"] .event-category:before{
    content: ', ';
}

div[w-theme="listview"] .event-category:first-child:before{
    content: '';
}

div[w-theme="listview"] .legal-notice {
    position: absolute;
    left: 30px;
    bottom: 36px;
    font-size: 11px;
    line-height: 20px;
    color: #fff;
}

div[w-theme="listview"][w-colorscheme="dark"] .legal-notice {
    color: #768692;
}

div[w-theme="listview"] .legal-notice:hover,
div[w-theme="listview"] .legal-notice:focus,
div[w-theme="listview"] .legal-notice:active{
    color: #019cde;
}

div[w-theme="listview"] .events-counter {
    display: none;
}

div[w-theme="listview"] .event-logo-box {
    z-index: 10;
    position: absolute;
    bottom: 22px;
    left: 0;
    width: 100%;
    height: 44px;
    background-color: #b7c9d3;
}

div[w-theme="listview"] .event-logo {
    display: block;
    position: absolute;
    top: 15px;
    right: 10px;
    width: 160px;
    height: 18px;
    font-size: 11px;
	  line-height: 18px;
    color: #fff;
}

div[w-theme="listview"][w-colorscheme="dark"] .event-name {
	color: #fff;
}

div[w-theme="listview"][w-colorscheme="dark"] .event-name:hover {
	color: #009cde;
}

div[w-theme="listview"][w-colorscheme="dark"] .event-logo {
    color: #768692;
}

div[w-theme="listview"] .event-logo:before {
    content: '';
    position: absolute;
    left: 60px;
    right: 0;
    top: -1px;
    bottom: 0;
    background-repeat: no-repeat;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

div[w-theme="listview"] .event-logo:before {
    /* TODO: add https://developer.ticketmaster.com/*/
    background-image: url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/img/tm-white-logo.svg");
    background-size: 98px;
}

div[w-theme="listview"][w-colorscheme="dark"] .event-logo:before {
    background-image: url("https://ticketmaster-api-staging.github.io/assets/widgets/1.0.0/img/tm-gray-logo.svg");
}

/*group*/
div[w-theme="listview"] .event-group {
    width: 100%;
}

/* BUY NOW */
div[w-theme="listview"] .event-buy-btn {
    width: 74px;
    height: 24px;
    padding-top: 5px;
    border-radius: 4px;
    background-color: #009cde;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "TMSans-Bold";
    font-size: 11px;
    line-height: 16px;
    color: #ffffff;
    text-align: center;
    -webkit-transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    float: left;
    margin-right: 15px;
}

div[w-theme="listview"] .event-buy-btn:hover {
    background-color: #2A7CC7;
}

div[w-theme="listview"] .event-buy-btn[href=''],
div[w-theme="listview"] .event-buy-btn[href='']:hover {
    background-color: #ccc;
    cursor: default;
    opacity: 0.5;
    display: none;
}

div[w-theme="listview"] .event-buy-btn.main-btn {
    display: none;
}

/*tooltip-version*/
div[w-theme="listview"] .tooltip-version {
	position: absolute;
	z-index: 1070;
	display: block;
	font-family: "TMSans-Light", Arial, serif;
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-break: auto;
	line-height: 1.42857;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	white-space: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	font-size: 12px;
	opacity: 0;
	filter: alpha(opacity=0);
}

div[w-theme="listview"] .tooltip-inner {
	max-width: 100%;
	padding: 3px 8px;
	color: #fff;
	text-align: center;
	background-color: #768692;
	border-radius: 4px;
}

div[w-theme="listview"] .tooltip-inner a {
	color: #fff;
	font-size: 11px;
	font-family: "TMSans-Light", Arial, serif;
}

div[w-theme="listview"] .tooltip-inner a:hover {
	text-decoration: underline;
}

div[w-theme="listview"] .tooltip-inner .place{
	font-family: "TMSans-Light", Arial, serif;
	font-size: 11px;
	line-height: 14px;
	color: #fff;
	opacity: 0.7;
	display: block;
}

div[w-theme="listview"] .tooltip-inner .place b {
	font-weight: 700;
	color: #fff;
}

div[w-theme="listview"] .tooltip-version.left {
	margin-left: -3px;
	padding: 0 5px;
	right: 28px;
	top: 6px;
	display: none;
}

div[w-theme="listview"] .tooltip-inner::before {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

div[w-theme="listview"] .tooltip-version.left .tooltip-inner::before {
	top: 30%;
	right: 0;
	margin-top: -5px;
	content: "";
	border-width: 5px 0 5px 5px;
	border-left-color: #768692;
}

div[w-theme="listview"] .tooltip-version.left.show-tip {
	opacity: 1;
	filter: alpha(opacity=1);
	display: block;
}
/*tooltip-version END*/

/*  LAYOUT  */
div[w-theme="listview"][w-layout="horizontal"] .ss {
    height: 72%;
}

div[w-theme="listview"][w-layout="horizontal"] .legal-notice {
}

div[w-theme="listview"][w-layout="horizontal"] .event-buy-btn {
    bottom: 42px;
}

div[w-theme="listview"][w-layout="horizontal"] .ss-content {
    right: -12px!important;
}

div[w-theme="listview"][w-layout="horizontal"] .event-wrapper:before {
    background: -moz-linear-gradient(right, rgba(0,0,0,0) 30%, rgba(0,0,0,0.9) 100%), -moz-linear-gradient(top, rgba(0,0,0,0.12) 0%, rgba(0,0,0,0) 20%);
    background: -webkit-linear-gradient(right, rgba(0,0,0,0) 30%,rgba(0,0,0,0.9) 100%), -webkit-linear-gradient(top, rgba(0,0,0,0.12) 0%,rgba(0,0,0,0) 20%);
    background-image: linear-gradient(to left, rgba(0,0,0,0) 30%, rgba(0,0,0,0.9) 100%), linear-gradient(to bottom, rgba(0,0,0,0.12) 0%, rgba(0,0,0,0) 20%);
}

div[w-theme="listview"][w-proportion="3x6"]  {
    width: 300px;
}

div[w-theme="listview"][w-colorscheme="dark"][w-proportion="xxl"] .event-logo {
    right: 14px;
}

div[w-theme="listview"][w-colorscheme="dark"][w-proportion="m"] .event-logo {
    right: 14px;
}

div[w-theme="listview"][w-colorscheme="dark"] .events-root-container {
    background: #5d5d5d;
    border-color: #5d5d5d;
}

div[w-theme="listview"][w-colorscheme="dark"] .event-content-wraper {
    color: #fff;
}

div[w-theme="listview"][w-colorscheme="dark"] .event-logo-box {
    background: #dedede;
    left: -2px;
    width: 102%;
}

div[w-theme="listview"][w-colorscheme="dark"] .event-wrapper {
    border-bottom: 2px solid #414141;
}

div[w-theme="listview"][w-colorscheme="dark"] .event-group-wrapper {
    border: 0;
    padding: 0;
    margin: 0;
}

div[w-theme="listview"][w-colorscheme="dark"] .event-logo {
    right: 15px;
}

div[w-theme="listview"] .ss-wrapper {
    overflow : hidden;
    width: 100%;
    height: 100%;
    position : relative;
    z-index  : 1;
    float: left;
}

div[w-theme="listview"] .ss-content {
    width: 103%;
    height: 100%;
    padding         : 0 32px 0 0;
    position        : relative;
    right           : -18px;
    overflow        : auto;
    -moz-box-sizing : border-box;
    box-sizing      : border-box;
}

div[w-theme="listview"] .ss-scroll {
    position            : relative;
    background          : rgba(0, 0, 0, .1);
    width               : 6px;
    border-radius       : 4px;
    top                 : 0;
    z-index             : 2;
    cursor              : pointer;
    opacity: 0;
    transition: opacity 0.25s linear;
}

div[w-theme="listview"] .ss-container:hover .ss-scroll {
    opacity: 1;
}

div[w-theme="listview"] .ss-grabbed {
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

div[w-theme="listview"][w-proportion="m"] .ss {
    margin-top: 25px;
    height: 73%;
}

div[w-theme="listview"][w-proportion="m"] .event-logo-box {
    bottom: 10px;
}

div[w-theme="listview"][w-proportion="m"] .legal-notice {
    bottom: 21px;
}

/*layout="fullwidth"*/
div[w-theme="listview"][w-layout="fullwidth"] .event-name {
	font-size: 30px;
	line-height: 34px;
	max-height: 34px;
	-webkit-line-clamp: 1;
}
div[w-theme="listview"][w-layout="fullwidth"] .event-date-wraper{
	font-size: 24px;
	line-height: 32px;
	color: #414141;
	margin-bottom: 12px;
}
div[w-theme="listview"][w-layout="fullwidth"] .address-wrapper {
	font-size: 16px;
	line-height: 24px;
	max-height: 24px;
	-webkit-line-clamp: 1;
}
/*w-layout fullwidth END*/

/* !!! HotFix !!! */
div[w-theme="listview"] .general-admission {
    display: none;
}

div[w-theme="listview"] .ticket-logo {
    display: none;
}
