.close-aside-menu {
  display: none;
  @media #{$max-1200} {
    display: inline-block;
  }
  @media #{$max-768}{
    position: absolute;
    right: 8px;
    top: 8px !important;
  }
  position: relative;
  right: -20px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: 0 82%;
  @include tm-transition();
  &.expanded {
    background-image: url('/assets/img/header/ic-close-grey.svg');
    top: 2px;
  }
  &.closed {
    background-image: url('/assets/img/aside-menu/ic-close-grey.svg');
  }
}

.support-aside-menu {

  list-style-type: none;

  ul {
    list-style-type: none;
  }

  margin-top: $base-margin;
  h4 {
    color: $n2-grey-color;
    margin-top: 0;
  }
  &:first-child {
    margin-left: 0;
  }
  .categories {
    margin: 0;
    &>li>a {
      color: $n2-grey-color;
      font-family: $font-tms-led-bold;
      font-size: $size-h4;
    }
  }
  li{
    line-height: 1em;
    margin-bottom: 1em;
  }
  .sections {
    padding-left: 15px;
    border-left: 2px solid $p1-border-grey;
    margin: 14px 0;
    li {
      color: $n3;
      max-width: 200px;

      &.active a {
        color: $p1a;
        text-decoration: none;
      }

      a {
        color: $n3;

        &:hover {
          color: $p1a;
        }
      }
    }
  }

  a {
    color: $n2-grey-color;

    &:hover {
      color: $p1a;
    }
    &.nav-active {
      color:$s1a;

      &:hover {
        color: $n2-grey-color;
      }
    }

    &.current {
      color: $p1 !important;
    }

  }

}






$menu-top: 10px;
$menu-bg-top-margin: 250px;

body{
  &.menu-bg {
    @media (min-width: 1200px) {
      @include aside-menu-bg(23.5%);
    }
  }
  &.no-scroll {
    @media #{$max-768} {
      overflow: hidden;
    }
  }
}

#aside-block {
  left: - 1.5%;
  padding-left: 5%;
  @include transform-3d();
  @media #{$max-1200} {
    left: -0.762%;
    position: absolute;
    z-index: 1;
    height: 100%;
  }
  @media #{$max-768} {
    left: 0;
  }
  .wrapper-aside-menu {
    @include transform-3d();
    overflow: hidden;
    @media #{$max-1200}{
      position: relative;
    }
  }
  &:not(.is-fixed){
    .wrapper-aside-menu{
      top: -60px;
    }
  }
  &.has-bg {
    background-color: $aside-menu-background;
    &:before{
      background-color: $aside-menu-background;
    }
  }
  &:before{
    content: '';
    display: block;
    position: absolute;
    height: $maincontent-margin;
    width: 100%;
    top: -$maincontent-margin;
    left: 0;
  }
  &:not(.has-bg) {
    @media #{$max-1200}{
      width: 100%;
      height: inherit;
      top: 0;
      left: 0;
      padding-left: 15px;
    }
  }
  &.is-fixed {
    .wrapper-aside-menu{
      height: 95%;
      .aside-menu{
        max-height: 88%;
        overflow: auto;
        &>li:last-child {
          margin-bottom: 15%;
        }
      }
      @media (min-width: 1200px) {
        position: fixed;
        top: 0;
        width: 21%;
      }
    }
    @media #{$max-1200}{
      top: 0;
      position: fixed;
      &:not(.has-bg) {
        background-color: $white-90;
      }
    }
  }
}

#side-menu-btn {
  display: none;
  @media #{$max-1200} {
    display: inline-block;
  }
  @media #{$max-768}{
    position: absolute;
    right: 8px;
    top: 8px !important;
  }
  position: relative;
  right: -20px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: 0 82%;
  @include tm-transition();
  &.expanded {
    background-image: url('/assets/img/header/ic-close-grey.svg');
    top: 2px;
  }
  &.closed {
    background-image: url('/assets/img/aside-menu/ic-close-grey.svg');
  }
}

h3.menu-header {
  width: 100%;
  color: $n3;
  margin-top: 10px;
  position: relative;
  cursor: pointer;
  font-size: $size-h3;
  line-height: $line-height-h3;
}

.aside-menu {
  width: 107%;
  margin-top: 0;
  padding-top: $menu-top;
  display: block;
  float: inherit;
  @media (min-width: 1200px){
    display: block !important;
  }
  h4 {
    color: $n2-grey-color;
    margin-top: 0;
  }
  &:first-child {
    margin-left: 0;
  }
  .categories {
    margin-top: 0;
    margin-left: 10px;
  }
  li{
    list-style: none;
    line-height: 1em;
    margin-bottom: 1em;
  }
  .sections {
    padding-left: 12px;
    border-left: 2px solid $p1-border-grey;
    margin: 14px 0;
    li {
      color: $n3;

      &.active a {
        color: $p1a;
        text-decoration: none;
      }

      a {
        color: $n3;

        &:hover {
          color: $p1a;
        }
      }
    }
  }

  a {
    color: $n2-grey-color;

    &:hover {
      color: $p1a;
    }
    &.nav-active {
      color:$s1a;

      &:hover {
        color: $n2-grey-color;
      }
    }

    &.current {
      color: $p1 !important;
    }

  }
}

