$menu-top: 10px;
$menu-bg-top-margin: 250px;

.wrapper-aside-menu{
  background-color: #F7F9FA;
}

h3.menu-header {
  width: 100%;
  color: $n3;
  margin-bottom: 10px;
}

.aside-menu {
  width: 100%;
  margin-top: 0;
  padding-top: $menu-top;
  display: block;
  float: inherit;

  //padding-top: $menu-bg-top-margin;
  //margin-top: -$menu-bg-top-margin;
  //z-index: 0;

  h4 {
    color: $n2-grey-color;
    margin-top: 0;
  }

  &:first-child {
    margin-left: 0;
  }

  &.is-fixed {
    top: 0px;
    position: fixed;
    @include transition(2.35s);
  }

  .categories {
    margin-left: 10px;
  }
  .sections {
    padding-left: 20px;
    border-left: 2px solid lighten($n2-grey-color, 35);
    margin: 10px 0;
    li {
      color: $n2-grey-color;
      line-height: 2em;
      a {
        color: $n2-grey-color;

        &:hover {
          color: $p1a;
        }
      }
    }
  }

  a {
    color: $n2-grey-color;

    &:hover {
      color: $p1a;
    }
    &.nav-active {
      color:$s1a;

      &:hover {
        color: $n2-grey-color;
      }
    }
  }

}

@media (max-width: 985px) {
  .aside-menu.is-fixed {
    max-width: 20%;
  }
}

@media (min-width: 768px) {
  .aside-menu.is-fixed {
    position: fixed;
    max-width: 20%;
  }
}

@media (max-width: 767px) {
  .aside-menu .sections {
    display: none;
  }
  .aside-menu.is-fixed {
    position: relative;
    max-width: 100%;
  }
}

