#footer{
  background-image: url('/assets/img/footer/bg-die-antwoord-p-1.png');
  color: $white-70;
  .bottom-logo a {
    margin-right: 30px;
  }
  a {
    color: $white-70;
    &:hover,
    &:active,
    &:focus{
      color: $white;
    }
  }
  span {
    font-family: $font-body;
    font-size: $size-body;
    color: $white-70;
    line-height: $font-body;
  }
  .footer-nav{
    margin-bottom: 70px;
    a > h4{
      &:hover,
      &:active,
      &:focus{
        color: $white-70;
        outline: none;
      }
    }
  }
  &.menu-bg{
    &:before{
      @include component-menu-bg-bottom();
    }
  }
}

@media #{$max-1200} {
  #footer {
    .footer-nav{
      margin: 25px 0 44px 0;
    }
    .bottom-logo {
      margin-left: 0;
    }
  }
}

@media #{$max-768} {
  #footer{
    background-position: right 60% center;
    margin-top: 44px;
    &.xs-center{
      li:not(:last-child):after{
        border-color: $white;
      }
    }
    img{
      display: block;
      margin: 0 auto 10px;
    }
    .bottom-logo {
      margin-left: 0;
    }
    .footer-nav {
      margin: 23px 0 44px;
      h5,
      .row-container>div{
        margin-bottom: -5px;
      }
    }
  }
}


#footer-white.slice-top-right {
  @media #{$max-1200} {
    padding-top: 0;
  }
  @media #{$max-768} {
    padding-top: 37px;
  }
  @media (max-width: 767px) {
    padding-top: 0;
  }
}

#footer-white{
  background-image: none;
  color: $white-70;
  .bottom-logo a {
    color: $n3;
    margin-right: 30px;
  }
  @media #{$max-768} {
    background-position: right 60% center;
  }
  a {
    color: $n2-grey-color;
    &:hover {
      color: $p1a;
    }
  }

  span {
    font-family: $font-body;
    font-size: $size-body;
    color: $n3;
    line-height: $font-body;
  }
  .footer-nav{
    margin: -33px 0 70px;
    @media #{$max-1200} {
      margin-top: 48px;
    }
  }
  &.menu-bg{
    &:before{
      @include component-menu-bg-bottom();
    }
  }
}