#footer{
  background-image: url('/assets/img/footer/bg-die-antwoord-p-1.png');
  color: $white;
  a {
    color: $white;
  }
  img{
    margin-right: 30px;
  }
  .footer-nav{
    margin: 198px 0 70px;
  }
}

@media (max-width: 1199px) {
  #footer {
    .footer-nav{
      margin: 155px 0 44px -23px;
    }
    .bottom-logo {
      margin-left: -24px;
    }
  }
}

@media (max-width: 767px) {
  #footer{
    img{
      display: block;
      margin: 0 auto 10px;
    }
    .footer-nav {
      margin: 120px 0 44px;
      h5,
      .row-container>div{
        margin-bottom: -5px;
      }
    }
  }
}