#footer{
  background-image: url('/assets/img/footer/bg-die-antwoord-p-1.png');
  color: $white;
  a {
    color: $white;
  }
  img{
    margin-right: 30px;
  }
  .footer-nav{
    margin: 198px 0 70px;
  }
}

@media (max-width: 768px) {
  #footer{
    img{
      display: block;
      margin: 0 auto 10px;
    }
  }
}