.card {
  display: block!important;
	@include perspective(1000px);
  position:relative;
	.content {
		@include transition(0.5s ease-out);
		@include transform-style(preserve-3d);

		/* content backface is visible so that static content still appears */
		@include backface-visibility(visible);
		position:relative;
		width: 100%;
		height: 100%;

		.cardFront,
		.cardBack {
			background-color: #fff;

			/* Backface visibility works great for all but IE. As such, we mark the backface visible in IE and manage visibility ourselves */
			@include backface-visibility(hidden);
			-ms-backface-visibility: visible;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}
		.cardFront {
			@include transform(rotateY(0deg));
			/* IE Hack. Halfway through the card flip, set visibility. Keep other browsers visible throughout the card flip. */
			@include flip-animation(stayvisible 0.5s both);
			-ms-animation: donothing 0.5s;
			-ms-transition: visibility 0s linear 0.17s;
			visibility: visible;
		}
		.cardBack {
			@include transform(rotateY(-180deg));
			/* IE Hack. Halfway through the card flip, set visibility. Keep other browsers visible throughout the card flip. */
			@include flip-animation(stayvisible 0.5s both);
			-ms-animation: donothing 0.5s;
			-ms-transition: visibility 0s linear 0.17s;
			visibility: hidden;
		}
	}

	&.applyflip {
		.content {
			@include transform(rotateY(180deg));

			.cardFront {
				@include transform(rotateY(0deg));
				/* IE Hack. Halfway through the card flip, set visibility. Keep other browsers visible throughout the card flip. */
				@include flip-animation(stayvisible 0.5s both);
				-ms-animation: donothing 0.5s;
				-ms-transition: visibility 0s linear 0.17s;
				visibility: hidden;
			}
			.cardBack {
				@include transform(rotateY(-180deg));
				/* IE Hack. Halfway through the card flip, set visibility. Keep other browsers visible throughout the card flip. */
				@include flip-animation(stayvisible 0.5s both);
				-ms-animation: donothing 0.5s;
				-ms-transition: visibility 0s linear 0.17s;
				visibility: visible;
			}
		}
	}
}

@keyframes stayvisible { from { visibility: visible; } to { visibility: visible; } }
@-webkit-keyframes stayvisible { from { visibility: visible; } to { visibility: visible; } }
@-moz-keyframes stayvisible { from { visibility: visible; } to { visibility: visible; } }
@-o-keyframes stayvisible { from { visibility: visible; } to { visibility: visible; } }
@-ms-keyframes donothing { 0% { } 100% { } }
