
.lazy-selector-wrapper {
  position: relative;
  //margin-bottom: 24px;
  input {
    padding: 8px 31px 8px 16px;
  }
  .icon {
    content: '';
    position: absolute;
    top: 15px;
    right: 8px;
    width: 30px;
    height: 30px;
    margin-top: -5px;
    cursor: pointer;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      @include transition(opacity 0.2s ease-in-out);
    }

    &:before {
      background: url("/assets/controls/ic-id.svg") no-repeat;
      opacity: 0;
    }

    &:after {
      background: url("/assets/controls/ic-id.svg") no-repeat;
    }
  }

  @media (min-width: 767px) {  }

}

#js_ls-modal {
  .close {
    opacity: inherit;
  }

  .btn-submit,
  .btn-transparent {
    border-radius: 4px;
    padding: 2px 6px;
    text-transform: uppercase;
    font-family: $font-lead-bold ;
    font-size: 12px;
  }
  .btn-transparent{
    border: solid 2px #b7c9d3;
    background-color: transparent;
    color: $n1-grey-color;

    &:focus,
    &:active,
    &:hover{
      color: $n1;
      background-color: $white;
      outline: none;
    }
  }

  .modal-dialog{
    @media (min-width: 768px) {
      width: 740px;
    }
  }
  .modal-header {
    padding-bottom: 9px;
  }

  .modal-content {
    border: 0;
    margin-left: 0;
    transition-duration: 1s;
    z-index: 1;
    width:100%;

    .ms-selection .btn-submit,
    form .btn-transparent{
      height: 50px;
      transition-duration: 1s;
      //width: 100%;
      @media (min-width: 768px) {
        width: 110px;
        margin-right: 16px;
      }
    }

    &.narrow {
      width: 60%;
      .btn-submit,
      .btn-transparent{
        max-width: 165px;
        width: 100%;
      }
      #js_ls-more_btn {
        width: auto;
        max-width: initial;
      }
    }

    .ms-selection {
      .ms-list{
        margin-top: 0;
        max-height: 76px;
        overflow-y: auto;
        .ms-elem-selection{
          display: inline-block;
          background-color: $n3;
          color: $white;
          padding: 4px 28px 4px 16px;
          border-radius: 16px;
          font-family: $font-lead-bold;
          font-size: $size-h6;
          margin: 0px 5px 5px 0px;
          position: relative;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 320px;
          border: 1px $n3 solid;
          span{
            width: 10px;
            height: 10px;
            position: absolute;
            margin-left: 5px;
            margin-top: 3px;
            right: 12px;
            &:after{
              content: '';
              height: 10px;
              width: 10px;
              display: block;
              background-image: url("../../assets/controls/ic-close-small-grey.svg");
            }
            &:hover:after{
              cursor: pointer;
              opacity: 0.7;
            }
          }
          &[data-isable="false"]{
            //border: 1px $n1 dashed;
          }

        }
      }
      .btn-submit {
        margin-bottom: 48px;

      }
    }
  }

  .modal-body {
    .clear-padding {
      padding: 0;
      &-right {
        padding-right: 0;
        @media (max-width: 768px) {
          padding-right: 15px;
        }
      }
    }
    hr {
      min-width: calc(100% + 30px);
      border-top: 2px solid $n3;
      margin: 0 -15px;
      text-align: center;
      float: left;
    }
    .get_eventId_results {
      margin-top: -24px;
      font-size: 0.75em;
      span {
        font-weight: bold;
      }
    }
    #spinner-ls {
      width: 100px;
      height: 100px;
      position: fixed;
      top: 50%;
      left: 50%;
      margin-top: -50px;
      margin-left: -50px;
      background: url("../../assets/img/loader.gif");
      background-size: 100px 100px;
      z-index: 1000;
    }
    .wrapper-list-group {
      overflow-y: auto;
      overflow-x: hidden;
      max-height: 500px;
      width: 100%;
      margin: 0;
      &.low-height {
        max-height: 400px;
      }
    }
    .list-group {
      overflow: hidden;
      padding: 0 15px;
      margin: 0;

      &.no-scroll {
        padding-right: 31px;
      }
    }
    .list-group-item {
      border: 0;
      border-radius: 0;
      border-top: 1px solid $n3;
      padding: 24px 0;

      &:first-child{
        border-top: 0;
      }

      .thumbnail {
        position: relative;
        width: 120px;
        height: 120px;
        overflow: hidden;
        float: left;
        display: block;
        margin: 2px 20px 0 0;
        min-height: 120px;
        border-radius: 0px;

        img {
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          margin: 0;
          width: auto;
          height: 100%;
          object-fit: cover;
        }
        @media (max-width: 468px) {
          display: none;
        }
      }
      .event-text-wrapper {
        margin-right: 110px;
        //margin-left: 140px;
        //left: 140px;
        //right: 110px;
        @media (max-width: 560px) {
          width: 100%;
          margin-left: 0;
          margin-right: 0;
          margin-bottom: 16px;
          padding: 0;
        }
        &.clear-margin-left {
          margin-left: 0;
        }
        .classifications-name,
        .country-name {
          margin: 5px 0;
          line-height: 1em;
          .add-dot{
            margin-left: 12px;
            &:before {
              background-color: $n2;
              content: '';
              position: absolute;
              width: 3px;
              height: 3px;
              display: inline-block;
              margin-top: 7px;
              margin-left: -7px;
              border-radius: 50%;
            }
          }
        }
        .classifications-name .add-dot:before { margin-top: 10px; }
      }
      .event-time {
        margin-bottom: 0;
      }
      .wrapper-btns {
        width: 110px;
        right: 0;
        position: absolute;
        top: 24px;
        @media (max-width: 560px) {
          position: relative;
          bottom: 0;
          left: 0;
          top: 0;
          text-align: left;
        }
        .btn-submit,
        .btn-transparent {
          width: 110px;
          height: 24px;
          //border-radius: 4px;
          //padding: 2px 6px;
          //text-transform: uppercase;
          //font-family: $font-lead-bold ;
          //font-size: 12px;
        }
        .btn-transparent{
          margin-top: 10px;
          /*border: solid 2px #b7c9d3;
          background-color: transparent;
          color: $n1-grey-color;

          &:focus,
          &:active,
          &:hover{
            color: $n1;
            background-color: $white;
            outline: none;
          }*/
        }
        //.checked {
        //  background-color: $n3;
        //}
      }

    }
  }

  .list-footer {
    height: 74px;
    margin: 0;
    border-top: 3px solid $n3;
    padding: 24px 0 0;
    button.btn-submit {
      height: 24px;
      border-radius: 4px;
      border: solid 2px #b7c9d3;
      background-color: transparent;
      color: $n1-grey-color;
      padding: 0 20px;
      margin: 0;
      width: inherit;
      &:focus,
      &:active,
      &:hover{
        color: $n1;
        background-color: $white;
        outline: none;
      }
    }
  }

  .wrapper-map-canvas {
    width:100%;
    height:100%;
    background-color: blue;
    position: relative;
    min-height: 100%;
    border-left: 1px solid #fff;
    left: -1px;
  }

  #map-canvas {
    position: absolute;
    height: 100%;
    width: 40%;
    left: 60%;
    top: 0;
  }

  .button-close-map {
    position: absolute;
    top: 14px;
    right: 12px;
    border: 0;
    outline: none;
    background-color: #ffffff;
    height: 24px;
    width: 24px;
    z-index: 9999;
    background-image: url("/assets/controls/ic-close-grey.svg");

    &:hover {
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("/assets/controls/ic-close-grey-hover.svg");
    }
  }

}