table{
  font-family: $font-body;
  border-collapse: collapse;
  border: 1px solid $table-body-border;
}
th {
  /* background-color: $table-head-bg; //#E9EEF1 */
  background-color: #e9eef1;
}
tr:nth-child(even) {background: $table-body-even-bg}
tr:nth-child(odd) {background: $table-body-odd-bg}

table {

}
table td, table th {
  border: 1px solid $table-body-border;
  padding: 15px;

}
table tr:first-child th {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}
