@mixin rainbowAfter(){
  content: '';
  width: 100%;
  height: $borderHeight;
  position: absolute;
  top: -$borderHeight;
  left: 0;
}

#menu-btn,
#search{
  float: right;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  position: relative;
  top: 23px;
  left: 6px;
}

#menu-btn{
  display: none;
  background-image: url('/assets/img/header/ic-menu-p-1.svg');
  &.white{
    background-image: url('/assets/img/header/ic_menu_white.png');
    background-position: 5px 5px;
  }
  cursor: pointer;
  &.tm-close{
    background-image: url('/assets/img/header/ic_close.png');
    background-size: 18px 18px;
    background-position: 4px 4px;
    &.white{
      background-image: url('/assets/img/header/ic_close_white.png');
    }
  }
}

#search{
  background-image: url('/assets/img/header/ic-search-p-1.svg');
  &.white{
    background-image: url('/assets/img/header/ic_search_white.png');
  }
}

#rainbow{
  display: none;
  position: absolute;
  width: 100%;
  height: $borderHeight;
  &>span{
    height: $borderHeight;
    position: relative;
    display: table-cell;
    &:after{
      @include rainbowAfter();
    }
  }
}

#menu-dropdown{
  display: none;
  overflow-y: hidden;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.33, 0.01, 0.32, 0.48);
  &.expanded{
    max-height: 500px;
    box-shadow: 2px 8px 9px 0px rgba(0, 0, 0, 0.68);
  }
  background: $white;
  min-height: 0;
  max-height: 0;
  position: absolute;
  z-index: 1;
  top: 60px;
  right: 0px;
  outline: none;
  li{
    padding: 6px 10px;
    a{
      color: $n3;
    }
  }
}

nav{
  display: table;
  padding: 0 !important;
  a {
    font-family: $font-body;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    display: table-cell;
    width: 1px;
    text-align: center;
    padding: 25px 0;
    white-space: nowrap;
  }
}

.top-bar {
  border-top: $borderHeight solid $n2-grey-color;
  overflow: visible;
  .body-wrapper {
    margin-top: -$borderHeight;
    max-width: 1400px;
  }
  &.bg-header{
    background-image: url('/assets/img/home/bg-football-p-1.png');
    padding-bottom: 130px;
    nav{
      &>a {
        color: $white !important;
      }
    }
  }
  &>.row{
    position: relative;
  }
  #header-logo{
    position: relative;
    top: 15px;
    left: -5px;
  }
  .gray{
    border-top: $borderHeight solid $n2-grey-color;
  }
  nav{
    &>a{
      position: relative;
      color: $n3 !important;
    }
    .nav-item{
      &:after{
        @include rainbowAfter();
      }
    }
  }
  .one {
    border-top: $borderHeight solid $p1;
  }
  .two {
    border-top: $borderHeight solid $p1;
    &:after {
      background: rgba(208, 0, 110, 0.1);
    }
  }
  .three {
    border-top: $borderHeight solid $p1;
    &:after {
      background: rgba(208, 0, 110, 0.2);
    }
  }
  .four {
    border-top: $borderHeight solid $secondary-color1;
    &:after {
      background: rgba(0, 155, 222, 0.2);
    }
  }
  .five {
    border-top: $borderHeight solid $secondary-color1;
    &:after {
      background: rgba(0, 155, 222, 0.1);
    }
  }
  .six {
    border-top: $borderHeight solid $secondary-color1;
  }
}

@media (max-width: 1199px) {
  #menu {
    display: none;
  }
  #menu-btn {
    display: inline;
  }
  #rainbow{
    display: table;
  }
  #menu-dropdown {
    display: block;
  }
  #header-logo{
    left: 8px !important;
  }
  #menu-btn{
    left: 9px !important;
    top: 24px !important;
  }
  #search{
    top: 26px !important;
    left: -11px !important;
    background-image: url('/assets/img/header/ic-search-mobile.svg') !important;
  }
}