.modal-common .modal-content .modal-footer .btn-submit {
  width: 165px;
  height: 50px;
  color: $white;
  font-family: "TMSans-Bold", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  background-color: $p1;
}