<!DOCTYPE html>
<html>
{% include head.html %}
<body>
<div id="spinner hide"></div>
{% include home-header.html %}

<error-pop-up params="onError: onError"></error-pop-up>

<div id="api-explorer-v2" class="api-explorer-v2">
	<div class="row-container api-exp-content">
		<!--page header-->
		<section class="api-exp-header">
			<h1 class="api-exp-header__title">TICKETMASTER API EXPLORER V2.0</h1>
			<p class="api-exp-header__sub-title">Make live API calls without writing a single line of code! The API Explorer currently works with the
				<a class="api-exp-header__link" href="/products-and-docs/apis/discovery/v2">Discovery API</a>,
				<a class="api-exp-header__link" href="/products-and-docs/apis/commerce/">Commerce API</a> and
				<a class="api-exp-header__link" href="/products-and-docs/apis/publish/">Publish API</a>.
			</p>
		</section>
		<!--event counter bar-->
		{% assign initialValue = site.data.variables.summaryWidget %}
		<section class="horizontal-events-tracker">
			<div class="col-xs-12 horizontal-events-tracker__section">
				<span class="horizontal-events-tracker__title">
					<b class="visible-lg-inline-block title-adds">Number of </b>&nbsp;Events:
					<b id="js-events-counter" class="horizontal-events-tracker__counter">{{initialValue.events}}</b>
				</span>
				<span class="horizontal-events-tracker__title">
					<b class="visible-lg-inline-block title-adds">Number of </b>&nbsp;Attractions:
					<b id="js-attractions-counter" class="horizontal-events-tracker__counter">{{initialValue.attractions}}</b>
				</span>
				<span class="horizontal-events-tracker__title">
					<b class="visible-lg-inline-block title-adds">Number of </b>&nbsp;Venues:
					<b id="js-venues-counter" class="horizontal-events-tracker__counter">{{initialValue.venues}}</b>
				</span>
				<span class="horizontal-events-tracker__title">
					<b class="visible-lg-inline-block title-adds">Number of </b>&nbsp;Countries:
					<b id="js-countries-counter" class="horizontal-events-tracker__counter">{{initialValue.countries}}</b>
				</span>
			</div>
		</section>
		
		<!--main filter-->
		<div class="api-exp-container clearfix">
			<about-method params="selectedMethodData: selectedMethodData"></about-method>

			<!--content-wrapper-->
			<section class="api-exp-main">
				<!--menu-->
				<category-menu params="data: base, selectedCategory: selectedCategory">
					<custom-select params="options: categories, onselect: selectCategory"></custom-select>
				</category-menu>
				
				<!--api key-->
				<section class="api-exp-key">
					<input data-bind="value: apiKey.value" type="text" id="api-key" class="form-control api-exp-key_input" placeholder="Api key">
				</section>

				<!--filter-->
				<methods-filter params="data: base, selectedCategory: selectedCategory, selectedMethodType: selectedMethodType, selectedMethod: selectedMethod">
					<radio-filter params="data: data, selectedCategory: selectedCategory, selectedMethodType: selectedMethodType"></radio-filter>
					<custom-select params="options: methodsViewModel, onselect: onSelectMethod, selected: selectedMethodName"></custom-select>
				</methods-filter>
			</section><!--content-wrapper-->
		</div>
		
		<!--params-->
		<params-filter params="selectedMethodData: selectedMethodData, selectedMethod: selectedMethod, selectedParams: selectedParams"></params-filter>
		
		<!--request btn-->
		<section class="api-exp-get-btn clearfix">
			<button data-bind="text: sendButtonText, css: sendButtonText, click: onClickSendBtn" class="api-exp-get-btn__button button button-blue" id="api-exp-get-btn">Get</button>
		</section>
	</div>

	<!--request list-->
	<section data-bind="with: requestsList" class="clearfix">
		<!--ko if: clearBtnIsVisible-->
			<!--headline-->
			<section class="row-container api-exp-request-list-headline">
				<h4 class="title">Request list</h4>
				<div class="headline-edit">
					<button data-bind="click: onClearRequests, popover: {type: 'tooltip', title: 'Clear requests history'}" class="btn btn-icon btn-clear" type="button"></button>
				</div>
			</section>

			<!--requests-->
			<section>
				<ul data-bind="foreach: viewModel" class="panel-group api-exp-request-list" id="response" role="tablist" aria-multiselectable="true">
					<li data-bind="css: {active: active}" class="panel panel-default api-exp-request-list-item clearfix">

						<section class="row-container request" data-bind="attr: {id: $parent.getStr('heading', $index)}" role="tab">
							<div class="edit-controls">
								<button data-bind="click: $parent.setParamsFromHere, css: {'active': paramsAreSeted}, popover: {type: 'tooltip', title: 'Repeat settings of this request'}"
								        class="btn btn-icon btn-preset"
								        type="button"></button>
								<button data-bind="event: {mouseover: $parent.copyUrl, mouseout: $parent.removeHandler},
																	css: {'copied': copiedForShare}, attr: {'data-clipboard-text': $parent.sharePath},
																	popover: {type: 'tooltip', title: 'Copy request share link'}"
								        class="btn btn-icon btn-share"
								        type="button"></button>
								<button data-bind="event: {mouseover: $parent.copyUrl, mouseout: $parent.removeHandler},
																	popover: {type: 'tooltip', title: 'Copy request URL'},
																	css: {'copied': copiedUrl},
																	attr: {'data-clipboard-text': req}"
								        class="btn btn-icon btn-copy"
								        type="button"></button>
								<button data-bind="click: $parent.getRawData,
																	popover: {type: 'tooltip', title: 'Show raw response data'}"
								        class="btn btn-icon btn-raw"
								        type="button"
								        data-toggle="tooltip"></button>
							</div>
							
							<div class="panel-title">
								<!-- ko if: !!$data.response -->
								<button class="btn btn-icon shevron shevron-up blue view-control"
								        type="button"
								        data-bind="click: $parent.getDetails,
								                    attr: {id: $parent.getStr('show-details', $index),'data-target': $parent.getStr('#collapse', $index),'aria-controls': $parent.getStr('collapse', $index)}"
								        data-toggle="collapse"
								        data-parent="#response"
								        aria-expanded="false">
								</button>
								<!-- /ko -->
								<!-- ko if: !$data.response -->
								<button data-bind="popover: {type: 'popover', trigger: 'click', data: error}" class="btn btn-icon btn-alert view-control"></button>
								<!-- /ko -->
							</div>
							<span data-bind="css: color" class="color-indicator view-control"></span>
							<p data-bind="text: req" class="item_text"></p>
						</section>
						
						<!-- ko if: !!$data.response -->
						<section class="response collapse" data-bind="attr: {id: $parent.getStr('collapse', $index), 'aria-labelledby': $parent.getStr('heading', $index)}" role="tabpanel">
							<div class="">
								<div class="row-container">
									
									<!-- Nav tabs -->
									<ul class="nav nav-tabs" role="tablist">
										<li role="presentation" class="tab">
											<a data-bind="attr: {href: '#json-' + $index(), 'aria-controls': 'json-' + $index()}" class="tab-btn" href="#json" aria-controls="json" role="tab" data-toggle="tab">Json</a>
										</li>
										<li role="presentation" class="tab active">
											<a data-bind="attr: {href: '#slider-' + $index(), 'aria-controls': 'blocks-' + $index()}" class="tab-btn" href="#blocks" aria-controls="blocks" role="tab" data-toggle="tab">Blocks</a>
										</li>
									</ul>
									<ul class="nav nav-tabs info">
										<li class="tab">
											<span class="tab-label">Structure:</span>
										</li>
										<li class="tab">
											<span class="tab-label breadcrumbs truncate">… Events /er.com/discovery/v1/events/1D004F92642F0C7D.json?{apikey} / https://app.ticketmaster.com/discovery/v1/events/1D004F926</span>
										</li>
									</ul>

									<!-- Tab panes -->
									<div class="row">
										<div class="tab-content col-xs-12">
											<div data-bind="scroll: {x:false, y:true}, attr: {id: 'json-' + $index()}" role="tabpanel" class="tab-pane prety-json" id="json">
												<p data-bind="html: resHTML"></p>
											</div>
											<div data-bind="attr: {id: 'slider-' + $index()}" role="tabpanel" class="tab-pane blocks active" id="blocks">
												<panel-group params="
													category: category,
													method: method,
													methodId: methodId,
													params: params,
													setParams: $parent.setParams,
													
													data: response,
													filter: $root.config,
													colorClass: color,
													sectionIndex: $index,
													getMore: $parent.getMore">
												</panel-group>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<!-- /ko-->
					</li>
				</ul>
			</section>
		<!-- /ko -->
	</section>

</div>

<div id="footer" class="xs-center slice-top-left">
	{% include partials/footer.html %}
</div>

<div id="back-top">
	<a href="#"><span></span></a>
</div>

<script src="{{'/scripts/components/api-key-service.js' | prepend: site.baseurl }}"></script>
<script src="{{'/scripts/components/events-counter.js' | prepend: site.baseurl }}" async></script>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3-oFbQWw_jEcG7r7WGdi99jNT3DqvRas&libraries=visualization"></script>
<script src="{{'/scripts/api-explorer/v2/script.js' | prepend: site.baseurl }}"></script>
<script src="{{'/scripts/components/scroll-top.js' | prepend: site.baseurl }}"></script>
{% include feedback.html %}
<script src="{{'/scripts/load-api-key.js' | prepend: site.baseurl }}"></script>
</body>
</html>
