<!DOCTYPE html>
<html>
{% include head.html %}
<body class="no-js">
<div id="spinner" style="display: none;"></div>
{% include home-header.html %}
{{content}}
<div style="max-width: 1170px; margin: 0 auto; overflow: hidden;">
  <div class="col-xs-12">
    <div id="disqus_thread"></div>
  </div>
</div>

{%if site.local_test_apikeys == 'true' %}
<script src="{{'/scripts/components/api-key-service-testKeys.js' | prepend: site.baseurl }}"></script>
{%else%}
<script src="{{'/scripts/components/api-key-service.js' | prepend: site.baseurl }}"></script>
{%endif%}
<script src="{{'/scripts/components/events-counter.js' | prepend: site.baseurl }}" async></script>

{% include disqus.html %}

{% include home-footer.html %}
<div id="back-top">
  <a href="javascript:void(0)"><span></span></a>
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3-oFbQWw_jEcG7r7WGdi99jNT3DqvRas&libraries=visualization"></script>
<script src="{{'/scripts/api-explorer/config.js' | prepend: site.baseurl }}"></script>
<script src="{{'/scripts/vendors/jquery-1.11.3.min.js' | prepend: site.baseurl }}"></script>
<script src="{{'/scripts/vendors/jquery-migrate-1.3.0.min.js' | prepend: site.baseurl }}"></script>
<script src="{{'/scripts/components/intro.js' | prepend: site.baseurl }}"></script>
<script src="{{'/scripts/vendors/bootstrap.min.js' | prepend: site.baseurl }}"></script>
<script src="{{'/scripts/vendors/slick.min.js' | prepend: site.baseurl }}"></script>
<script src="{{'/scripts/vendors/datetimepicker.js' | prepend: site.baseurl }}"></script>
<script src="{{'/scripts/components/api-explorer-datetimepicker.js' | prepend: site.baseurl }}"></script>
  {% include lazy-selector-modal.html %}
  <script src="{{'/scripts/components/lazy-selector.js' | prepend: site.baseurl }}"></script>
  {% include classification-selector-modal.html %}
	<script src="{{'/scripts/vendors/jstree.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{'/scripts/components/classification-selector.js' | prepend: site.baseurl }}"></script>
  <script src="{{'/scripts/components/application-selector.js' | prepend: site.baseurl }}"></script>
  <script>
    /**
     * add classification selector to api-explorer v1 (made by V.Menshutin)
     */
    $(document).on( "finishInit", function( event, flag ) {
      $('#classificationName').classificationSelector({selector:'classifications', use:'name'});
      $('#classificationId').classificationSelector({selector:'classifications', use:'id'});
      $('#classificationID').classificationSelector({selector:'classifications', use:'id'});
    });
  </script>
  <!--<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBQrJ5ECXDaXVlICIdUBOe8impKIGHDzdA'></script>-->
<script src="{{'/scripts/api-explorer/script.js' | prepend: site.baseurl }}"></script>
<script src="{{'/scripts/components/scroll-top.js' | prepend: site.baseurl }}"></script>
{% include feedback.html %}
<script src="{{'/scripts/components/custom-select.js' | prepend: site.baseurl }}"></script>
<script src="{{'/scripts/components/feedback.js' | prepend: site.baseurl }}"></script>
<script src="{{'/scripts/load-api-key.js' | prepend: site.baseurl }}"></script>

<script>

function checkUserKey() {
  var userKey = sessionStorage.getItem('tk-api-key'),
      _inputApiKey = 'input#api-key';
  if (userKey !== null) {
    replaceApiKey({userKey: userKey, inputApiKey: _inputApiKey })
  } else {
    /**
     * check if user logged just before enter api-explorer page
     */
    $(window).on('login', function (e, data) {
      replaceApiKey({
        userKey: data.key,
        inputApiKey: _inputApiKey
      });
    });
  }
}

function replaceApiKey(options) {
  document.querySelector(options.inputApiKey).value = options.userKey;
}

checkUserKey();


</script>
<!--<script src="{{'/scripts/components/feedback.js' | prepend: site.baseurl }}"></script>-->
</body>
</html>
