---
layout: default
---

{% include home-header.html %}

<div class="base-content-wrapper">
    <div class="col-lg-3 menu" tabindex="-1">
        {% include support-side-menu.html %}
    </div>
    <div class="col-lg-9 col-md-12 col-sm-12 content {% if page.categories[0] == "support" && page.categories[1] == "contact-us" %}contact-us{% endif %}">
        {{ content }}
    </div>
</div>

<div id="footer" class="xs-center slice-top-left">
    {% include partials/footer.html %}
</div>


<script src="{{"/scripts/components/support-side-menu.js" | prepend: site.baseurl }}"></script>
<script src="{{"/scripts/components/menu-highlight.js" | prepend: site.baseurl }}"></script>

<!--google map -->
<script>
    $(document).ready( function(){
        /**/

        /**/

        var map,
            cities = {
                phoenix : {
                    position: {lat: 33.533482, lng: -112.107254},
                    tooltip: "1375 N Scottsdale Rd, Scottsdale, AZ 85257, US"
                },
                losAngeles : {
                    position: {lat: 34.052235, lng: -118.243683},
                    tooltip: "7060 Hollywood Blvd, Los Angeles, California, 90028, US"
                }
            },
            markers =[ losAngeles, phoenix ],
            centerMap = {
                lat: 33.520,
                lng: -116.410
            };
        // Adds a marker to the map.
        function addMarker(location, map, name) {
            name = document.getElementById('address-office').value;
            location = cities.phoenix.position;
            // Add the marker at the clicked location, and add the next-available label
            // from the array of alphabetical characters.
            var marker = new google.maps.Marker({
                position: location,
                label: name,
                map: map
            });
            console.log('addMarker',name);
        }

        var onChangeHandler = function(val) {
            console.log('onChangeHandler', val);
            //addMarker({lat:0, lng:0}, map);
        };
        document.getElementById('address-office').addEventListener('change', onChangeHandler);
        console.log($('#address-office'));
        $('#address-office').on('change', function(e){
            console.log( $(this).val() );
            onChangeHandler($(this).val());
        });

        function setMarker(name, position){
            console.log('selectedVal',document.getElementById('address-office').value);
        }

        (function initMap(elementId, elementHeight, center, zoom, markers) {
            console.log('start initMap');
            var element = document.getElementById(elementId);
            map = new google.maps.Map(element, {
                center: center,
                zoom: zoom
            });


            // This event listener calls addMarker() when the map is clicked.
            google.maps.event.addListener(map, 'click', function(event) {
                addMarker(event.latLng, map);
            });
            /*
            if(markers.length>0) {
                for (var i in markers) {
                    new google.maps.Marker({
                        position: {
                            lat: markers[i].lat,
                            lng: markers[i].lng
                        },
                        map: map
                    });
                }
            }
            */

            element.style.height = elementHeight+"px";

        })('js_google_map' , 240 , centerMap, 6, markers);
    });
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3-oFbQWw_jEcG7r7WGdi99jNT3DqvRas&libraries=visualization"></script>