---
layout: default
---

{% include home-header.html %}

<div class="base-content-wrapper">
    <div class="col-lg-3 menu" tabindex="-1">
        {% include support-side-menu.html %}
    </div>
    <div class="col-lg-9 col-md-12 col-sm-12 content {% if page.categories[0] == "support" && page.categories[1] == "contact-us" %}contact-us{% endif %}">
        {{ content }}
    </div>
</div>

<div id="footer" class="xs-center slice-top-left">
    {% include partials/footer.html %}
</div>


<script src="{{"/scripts/components/support-side-menu.js" | prepend: site.baseurl }}"></script>
<script src="{{"/scripts/components/menu-highlight.js" | prepend: site.baseurl }}"></script>