<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <!-- Qualaroo for ticketmaster.com -->
        <!-- Paste this code right after the <body> tag on every page of your site. -->
        <script type="text/javascript">
          var _kiq = _kiq || [];
          (function(){
            setTimeout(function(){
            var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script'); s.type = 'text/javascript';
            s.async = true; s.src = '//s3.amazonaws.com/ki.js/62776/euc.js'; f.parentNode.insertBefore(s, f);
            }, 1);
          })();
        </script>
        {{ content }}
        <div id="back-top">
            <a href="javascript:void(0)"><span></span></a>
        </div>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-72344127-1', 'auto');
            ga('send', 'pageview');
            (function () {
                // var item = sessionStorage.getItem('tk-api-email');
                var item = getCookie('tmemail');
                document.getElementsByClassName("apigee-login")[0].textContent = item && (item !== 'undefined') ?  item : "Login";
            })();
        </script>
        <script src="{{'/scripts/components/scroll-top.js' | prepend: site.baseurl }}"></script>
        <script src="{{'/scripts/vendors/bootstrap.min.js' | prepend: site.baseurl }}"></script>
        {% include feedback.html %}
        <script src="{{'/scripts/components/custom-select.js' | prepend: site.baseurl }}"></script>
        <script src="{{'/scripts/components/numeric-input.js' | prepend: site.baseurl }}"></script>
        <script src="{{'/scripts/components/feedback.js' | prepend: site.baseurl }}"></script>
        <script src="{{'/scripts/load-api-key.js?v=1' | prepend: site.baseurl }}"></script>

{% if page.category == 'products-and-docs' or page.categories[0] == "documentation" and page.categories[1] == "sdks"%}
        <script src="{{'/scripts/vendors/flip-jquery-plugin.js' | prepend: site.baseurl }}"></script>
        <script>
            //init fliper cards
            $(function() {
                var $cards = $('.card');
                $cards.fadeIn('slow');
                if (window.screen.width > 1200) {
                    var back = $('.back').css('display', 'block');
                    $cards.flip({
                        trigger: "hover"
                    });
                }
            });
        </script>
{% endif %}
    </body>
</html>
