<!DOCTYPE html>
<html>
    {% include head.html %}
    <body class="no-js">
        <!-- Qualaroo for ticketmaster.com -->
        <!-- Paste this code right after the <body> tag on every page of your site. -->
        <script type="text/javascript">
          var _kiq = _kiq || [];
          (function(){
            setTimeout(function(){
            var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script'); s.type = 'text/javascript';
            s.async = true; s.src = '//s3.amazonaws.com/ki.js/62776/euc.js'; f.parentNode.insertBefore(s, f);
            }, 1);
          })();
        </script>
        {%if page.category != "home"
            and page.category != "products-and-docs"
            and page.categories[0] != "support"
            and page.categories[0] != "documentation"
            and page.category != "search"%}
                {%include partials/no-js-alert.html%}
        {%endif%}

        {{ content }}
        <div id="back-top">
            <a href="javascript:void(0)"><span></span></a>
        </div>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-72344127-1', 'auto');
            ga('send', 'pageview');
            (function () {
                // var item = sessionStorage.getItem('tk-api-email');
                function getCookie(name) {
                    var matches = document.cookie.match(new RegExp(
                        "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
                    ));
                    return matches ? decodeURIComponent(matches[1]) : undefined;
                }
                var item = getCookie('tmemail');
                $(".apigee-login").text(item && (item !== 'undefined') ?  item : "Login");
            })();
        </script>

        {%if page.layout == 'documentation-single' or page.layout == 'home'%}
            <script src="{{"/scripts/components/api-key-service.js" | prepend: site.baseurl }}"></script>
        {% endif %}
        {% if page.category == 'home' or page.layout == 'documentation-single' %}
            <script src="{{"/scripts/components/events-counter.js" | prepend: site.baseurl }}" async></script>
        {% endif %}

        <script src="{{'/scripts/components/scroll-top.js' | prepend: site.baseurl }}"></script>
        <script src="{{'/scripts/vendors/bootstrap.min.js' | prepend: site.baseurl }}"></script>
        {% include feedback.html %}
        <script src="{{'/scripts/components/custom-select.js' | prepend: site.baseurl }}"></script>
        <script src="{{'/scripts/components/numeric-input.js' | prepend: site.baseurl }}"></script>
        <script src="{{'/scripts/components/feedback.js' | prepend: site.baseurl }}"></script>
        <script src="{{'/scripts/load-api-key.js?v=1' | prepend: site.baseurl }}"></script>

{% if page.category == 'products-and-docs' or page.categories[0] == "documentation" and page.categories[1] == "sdks"%}
    <script>
        $('.card').each(function () {
            var me = $(this);
            me.hover(function(){
                me.toggleClass('applyflip');
            });
        });
    </script>
{% endif %}

        {% if page.categories[0] == "documentation" and page.categories[1] == "widgets"%}
            {% if page.categories[2] == "widget-calendar"%}
                <script src="{{'/scripts/components/application-selector.js' | prepend: site.baseurl }}"></script>
            {%else%}
                {% include lazy-selector-modal.html %}
                <script src="{{'/scripts/components/lazy-selector.js' | prepend: site.baseurl }}"></script>
                <script src="{{'/scripts/components/application-selector.js' | prepend: site.baseurl }}"></script>
                {% if page.categories[2] == "widget-event-discovery" or page.categories[2] == "widget-map" %}
                    {% include classification-selector-modal.html %}
                    <script src="{{"/scripts/vendors/jstree.min.js" | prepend: site.baseurl }}"></script>
                    <script src="{{'/scripts/components/classification-selector.js' | prepend: site.baseurl }}"></script>
                    <script>
                        $(document).on('ready', function () {
                            $('.js_lazy-selector-classification').classificationSelector({selector:'classifications', use:'name'});
                        });
                    </script>
                {%endif%}
				        {% if page.categories[2] == "widget-map" %}
				          <script>
										function initMapLatLong() {
											var geocoder = new google.maps.Geocoder();
											var map_latlong = new google.maps.Map(document.getElementById('map_latlong'), {
												zoom: 2,
												center: {lat: 32.5468132, lng: -30.7617187},
												mapTypeId: google.maps.MapTypeId.ROADMAP,
												mapTypeControl: false,
												panControl: false,
												streetViewControl: false,
												draggableCursor: 'pointer',
												zoomControlOptions: {
													position: google.maps.ControlPosition.RIGHT_CENTER
												},
											});
											var imageMarker = {
												url: '/assets/widgets/1.0.0/img/marker-active.svg',
												size: new google.maps.Size(22, 32)
											};
											var marker_latlong = new google.maps.Marker({
												icon: imageMarker
											});

											function getAddress(latLng) {
												geocoder.geocode( {'latLng': latLng},
													function(results, status) {
														if(status == google.maps.GeocoderStatus.OK) {
															if(results[0]) {
																document.getElementById("map_address").innerHTML = results[0].formatted_address;
															}
															else {
																document.getElementById("map_address").innerHTML = "No results";
															}
														}
														else {
															document.getElementById("map_address").innerHTML = status;
														}
													});
											}

											google.maps.event.addListener(map_latlong, 'click', function (event) {
											  marker_latlong.setPosition(event.latLng);
												marker_latlong.setMap(map_latlong);
												marker_latlong.setAnimation(google.maps.Animation.DROP);
												document.getElementById('w-latlong').value = event.latLng.lat().toFixed(7) + ", " + event.latLng.lng().toFixed(7);
												getAddress(event.latLng);
											});


											var pac_input = document.getElementById('pac_input');
											var autocomplete = new google.maps.places.Autocomplete(pac_input);
											autocomplete.bindTo('bounds', map_latlong);
											map_latlong.controls[google.maps.ControlPosition.TOP_LEFT].push(pac_input);

											autocomplete.addListener('place_changed', function() {
												var place = autocomplete.getPlace();
												if (!place.geometry) {
													return;
												}
												if (place.geometry.viewport) {
													map_latlong.fitBounds(place.geometry.viewport);
												} else {
													map_latlong.setCenter(place.geometry.location);
													map_latlong.setZoom(17);
												}

												// Set the position of the marker using the place ID and location.
												marker_latlong.setPosition(place.geometry.location);
												marker_latlong.setMap(map_latlong);
												marker_latlong.setAnimation(google.maps.Animation.DROP);
												document.getElementById('w-latlong').value = place.geometry.location.lat().toFixed(7) + ", " + place.geometry.location.lng().toFixed(7);
												getAddress(place.geometry.location);
												map_latlong.setZoom(7);
											});

											$('#js_widget_modal_map').on('shown.bs.modal', function() {
											    google.maps.event.trigger(map_latlong, 'resize');
												  var tmp_currentLatLng = document.getElementById('w-latlong').value.split(',');
												  var currentLatLng = new google.maps.LatLng(parseInt(tmp_currentLatLng[0].replace(/\s+/g, '')), parseInt(tmp_currentLatLng[1].replace(/\s+/g, '')));
												  map_latlong.setCenter(currentLatLng);
											});

										}
									</script>
				          <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3-oFbQWw_jEcG7r7WGdi99jNT3DqvRas&libraries=visualization,places&callback=initMapLatLong"></script>
				        {%endif%}
            {%endif%}
        {%endif%}


    </body>
</html>
