---
layout: default
---

{% include home-header.html %}

<div class="documentation">

    <div class="maincontent">
        <div class="row" style="position: relative;">
            <div class="col-xs-12 col-sm-6 col-lg-3 has-bg" id="aside-block">
                <div class="wrapper-aside-menu">
                    <h3 class="menu-header" id="aside-heading">
                        <a href="/products-and-docs/"></a>Products &amp; Docs</a>
                        <span class="expanded" id="side-menu-btn"></span>
                    </h3>
                    {% include pd-side-menu.html %}
                </div>
            </div>

            <div class="col-xs-12 col-lg-9" id="main-block">
                <div class="content" style="display: block;">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>

</div>

{% include home-footer.html %}

<div class="modal fs-modal modal-langs" tabindex="-1" role="dialog" aria-labelledby="search-events">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                <h4 id="modal-title" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="highlight"></div>
            </div>
        </div>
    </div>
    <textarea name="copy-clip" id="copy-clip" class="copy-clip"></textarea>
</div>

<script src="{{site.baseurl }}/scripts/components/parser.js"></script>
<script src="{{"/scripts/vendors/clipboard.js" | prepend: site.baseurl }}"></script>
<script src="{{"/scripts/vendors/user-scroll-disabler.js" | prepend: site.baseurl }}"></script>
<script src="{{"/scripts/vendors/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{"/scripts/components/pd-side-menu.js" | prepend: site.baseurl }}"></script>
<script src="{{"/scripts/components/menu-highlight.js" | prepend: site.baseurl }}"></script>
<script src="{{"/scripts/components/request-response.js" | prepend: site.baseurl }}"></script>
<script src="{{"/scripts/components/table-collapse.js" | prepend: site.baseurl }}"></script>

<script>
    new Clipboard('.copy-btn');
</script>
