---
layout: default
---

{% include home-header.html %}

<div class="single-column">

    <div class="maincontent">
        <div class="row" style="position: relative;">
            <div class="col-xs-12 col-sm-5 col-lg-3 has-bg" id="aside-block">
                <div class="wrapper-aside-menu">
                    <h3 class="menu-header" id="aside-heading">
                        Products &amp; Docs
                        <span class="expanded" id="side-menu-btn"></span>
                    </h3>
                    {% include pd-side-menu.html %}
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-lg-9 page-column " id="main-block">
                <div class="content" style="display: block;">
                    {{ content }}
                <div class="side-box"></div>
                </div>
            </div>
        </div>
    </div>

</div>

{% include home-footer.html %}

<script src="{{"/scripts/vendors/user-scroll-disabler.js" | prepend: site.baseurl }}"></script>
<script src="{{"/scripts/components/pd-side-menu.js" | prepend: site.baseurl }}"></script>
<script src="{{"/scripts/components/menu-highlight.js" | prepend: site.baseurl }}"></script>