---
layout: default
---

{% include home-header.html %}

<div class="documentation {% if page.categories[1] == "oauth" %} {{page.categories[1]}} {% endif %}">

    <div class="maincontent">
        <div class="row" style="position: relative;">
            <div class="col-xs-12 col-sm-6 col-lg-3 has-bg" id="aside-block">
                <div class="wrapper-aside-menu">
                    <h3 class="menu-header" id="aside-heading">
                        Products &amp; Docs
                        <span class="expanded" id="side-menu-btn"></span>
                    </h3>
                    {% include pd-side-menu.html %}
                </div>
            </div>


            <div class="col-xs-12 col-lg-9" id="main-block">
                <div class="content" style="display: block;">

                    {% if page.categories[1] == "generated" %}
                        {% include swagger.html %}
                    {% else %}
                        {{ content }}
                    {% endif %}

                    {%include release-notes.html%}
                </div>
				<div id="disqus_thread"></div>
            </div>

        </div>
    </div>

</div>

{% include home-footer.html %}

<div class="modal modal-common fs-modal modal-langs" tabindex="-1" role="dialog" aria-labelledby="search-events">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button"></button>
                <h2 id="modal-title" class="modal-title"></h2>
            </div>
            <div class="modal-body">
                <div class="highlight"></div>
            </div>
        </div>
    </div>
    <textarea name="copy-clip" id="copy-clip" class="copy-clip"></textarea>
</div>

<script src="{{"/scripts/vendors/clipboard.js" | prepend: site.baseurl }}"></script>
<script src="{{"/scripts/components/clipboard-fallback.js" | prepend: site.baseurl }}"></script>
<script src="{{site.baseurl }}/scripts/components/parser.js"></script>
<script src="{{"/scripts/vendors/user-scroll-disabler.js" | prepend: site.baseurl }}"></script>
<script src="{{"/scripts/components/pd-side-menu.js" | prepend: site.baseurl }}"></script>
<script src="{{"/scripts/components/menu-highlight.js" | prepend: site.baseurl }}"></script>
<script src="{{"/scripts/components/request-response.js" | prepend: site.baseurl }}"></script>
<script src="{{"/scripts/vendors/jstree.min.js" | prepend: site.baseurl }}"></script>
<script src="{{'/scripts/components/list-collapse.js' | prepend: site.baseurl }}"></script>
<script src="{{'/scripts/components/user-roles.js' | prepend: site.baseurl }}"></script>

{% include disqus.html %}

{% if page.categories contains "replace_apikey" %}
{%if site.local_test_apikeys == 'true' %}
	<script src="{{'/scripts/components/api-key-service-testKeys.js' | prepend: site.baseurl }}"></script>
{%else%}
	<script src="{{'/scripts/components/api-key-service.js' | prepend: site.baseurl }}"></script>
{%endif%}
<script>
    function replaceText(selector, text, newText, flags) {
        var matcher = new RegExp(text, flags);
        $(selector).each(function () {
            var $this = $(this);
            if (!$this.children().length)
                $this.text($this.text().replace(matcher, newText));
        });
    }

    var userKey = apiKeyService.checkApiKeyCookie();
    if(userKey) {
        replaceText('*', '\{apikey\}', userKey, 'g');
    }
</script>
{% endif %}
