---
layout: default
---

<div class="top-bar bg-header bg-header-events slice-bottom-left" id="prime-bar-header">
{% include partials/common-header.html %}

{% assign tab_array = "" | split:"|"  %}
{% assign sorted_event = (site.pages | sort: 'date_start', 'last') %}
{% for event in sorted_event %}
    {% if event.category == "event" %}
        {% assign tab_array = tab_array | push: {{event}} %}
    {% endif %}
{% endfor %}
	{% assign  primeEvents_array = "" | split:"|"  %}
	{% for event in site.pages %}
		{% if event.prime %}
			{% assign primeEvents_array = primeEvents_array | push: {{event}} %}
		{% endif %}
	{% endfor %}

{% assign event_prime = "false" %}
{% assign event = primeEvents_array | last} %} {% comment %}event - is last md with 'prime:true' field {% endcomment %}
{% assign date_end = event.date_end | date: '%s' | plus: 0 %}
{% assign today = site.time | date: '%s' | plus: 0 %}

	{%comment%}
	{% if date_end > today %}
	  <p>Show event</p>
	{%endif%}
	{% if date_end < today %}
	  <p>Show default</p>
	{%endif%}
	{%endcomment%}

	{% if date_end > today %}
		{% if primeEvents_array.size > 0 %}
				<div class="events-wrapper top-event" data-event-start="{{ event.date_start }}" data-event-end="{{ event.date_end }}" >
						<h1>{{ event.title }}</h1>
						<div class="description col-xs-12 col-sm-8 col-md-8 col-lg-8">
								<p>{{ event.content }}</p>
								<div class="tags">
										{% for tag in event.tags %}
										<a href="/events/#/upcoming/{{tag}}" class="trans-btn">{{tag}}</a>
										{% endfor %}
								</div>
						</div>
						<div class="des-address col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<h4>{{ event.date }}</h4>
								<a href="{{ event.place[1] }}"><h5>{{ event.place[0] }}</h5></a>
								<p>{{ event.city }}</p>
								{% if event.rsvp %}
										<a href="{{ event.rsvp }}" class="blue-btn rsvp">RSVP</a>
								{% endif %}
						</div>
				</div>
				{% assign event_prime = "true" %}{%comment%} to hide default description {%endcomment%}
		{% endif %}
	{% endif %}

	{% if date_end < today %}
			<div class="events-wrapper top-event-default" data-event-start1="{{ event.date_start }}" data-event-end1="{{ event.date_end }}">
				<h1>Ticketmaster’s Event</h1>
				<h3>Several words about events provided by Ticketmaster. Its purposes, results and main aims.</h3>
			</div>
	{% endif %}

</div>

{% include partials/expanded-menu-header.html %}
{% include partials/common-header-small.html %}

<div class="base-content-wrapper">
    <div class="col-lg-3 menu">
        <h3 class="menu-header">
            Events
            <span class="expanded" id="side-menu-btn"></span>
        </h3>
        <ul class="support-aside-menu" id="scrollable-element">
            <li>
                <ul class="categories"></ul>
            </li>
        </ul>
    </div>
    <div class="col-lg-9 col-md-12 col-sm-12 content min-height-250">
			<div class="wrapper-no-events">
				<h3 >Upcoming</h3>
        <div class="no-events"><h1>No upcoming events yet</h1></div>
			</div>
        {{ content }}
    </div>
</div>

<div id="footer" class="xs-center slice-top-left">
{% include partials/footer.html %}
</div>

<script src="{{"/scripts/components/support-side-menu.js" | prepend: site.baseurl }}"></script>
<script src="{{"/scripts/components/menu-highlight.js" | prepend: site.baseurl }}"></script>
<script>
    var onceFlag = true, //is 'past-grid' create once
			$wrapperNoEvents = $('div.base-content-wrapper .wrapper-no-events');

		//polyfill 'includes'
		if (!String.prototype.includes) {
			String.prototype.includes = function(search, start) {
				'use strict';
				if (typeof start !== 'number') {
					start = 0;
				}

				if (start + search.length > this.length) {
					return false;
				} else {
					return this.indexOf(search, start) !== -1;
				}
			};
		}

    // Hide Past events and Remove of RSVP
    $(".event").add(".top-event").each(function(){
        var date = new Date();
        var eventDate = new Date($(this).data("eventEnd").replace(" ", "T"));
        var category = 'upcoming';
        if( eventDate.getTime() < date.getTime() ){
            if($(this).hasClass("event")){
                $(this).addClass("past").hide();
                category = 'past';
            }
            $(this).find(".rsvp").remove();
        }
        $(this).find('.tag-btn').each(function () {
            var $this = $(this);
            $this.attr('href', '#/' + category + '/' + $this.attr('href'));
        });
    });

    // Get list of upcoming events
    var uniqueUpcoming = [].map.call($(".event").not(".past").find(".tag-btn"),function(item){
        return '<li><a href="#/upcoming/' + item.textContent + '" class="tag-menu-btn">' + item.textContent + '</a></li>';
    }).filter( function(value, index, self) {
        return self.indexOf(value) === index;
    }).join("");

    if(uniqueUpcoming !== ""){
      $(".categories").append('<li class="tag-group upcoming" data-type="upcoming" ><a href="#/upcoming" class="group-title">Upcoming</a><ul class="sections menu-highlight">'+uniqueUpcoming+'</ul></li>');
    }

    // Get list of past events
    var uniquePast =[].map.call($(".event.past").find(".tag-btn"),function(item){
        return '<li><a href="#/past/' + item.textContent + '" class="tag-menu-btn">' + item.textContent + '</a></li>';
    }).filter( function(value, index, self) {
        return self.indexOf(value) === index;
    }).join("");

    if(uniquePast !== ""){
      $(".categories").append('<li class="tag-group past" data-type="past" ><a href="#/past" class="group-title">Past</a><ul class="sections menu-highlight">'+uniquePast+'</ul></li>');
    }


		if(!$(".event").is(":visible") ){
        setTimeout(checkNoEvents, 0);//show cactus and past as grid
    }else {
			//hide cactus, show upcoming on top
			var element = $(".event:visible").detach();
			$('.no-events',$wrapperNoEvents).after(element);
			$wrapperNoEvents.show();
			$('.no-events',$wrapperNoEvents).hide();
		}

    var eventsCompactAll = [
        {% for item in tab_array %}
            {link:'{{ item.link | escape }}', img: '{{ item.img | escape}}', title: '{{ item.title | escape }}'}{% unless forloop.last %},{% endunless %}
        {% endfor %}
    ];
		function chenHeaderEvent(){
			var endData = new Date('2016-10-29 23:59:00');
			var today = new Date();
			function replacePrimeHeader() {
				var $eventsWrapper = $(".events-wrapper");
				$eventsWrapper.hide();
				console.log('replacePrimeHeader');
			}
			if(endData < today){
				replacePrimeHeader();
			}
		}

		//check to show 'cactus image' and past as grid
    function checkNoEvents(){
        var $wrapper = $('div.base-content-wrapper'),
            pastEventList = $(".event.past"),
            currentImg,
            title = '<h3></h3>';
        $('h3#event-header',$wrapper).text('Past Events');
				if($(".event").length > 0) $wrapperNoEvents.show(); //show upcoming event
        pastEventList.map(function (idx, item) {
            currentImg = eventsCompactAll[idx].img || '../assets/img/events/banner.jpeg';
            $(item).addClass('compact').show();
            if(onceFlag) {
                $(item).append("<div class='wrapper-thumbnail-compact' style='background-image: url(" + currentImg + ")'></div>");
                $(item).append("<h4 class='title-compact scroll-to-item'>" + eventsCompactAll[idx].title + "</h4>");
            }
        });
        onceFlag = false;
			console.log('set checkNoEvents');
    }

    function hashParser() {
        var hash = window.location.hash;
        if(!hash) {
            return ['upcoming'];
        }
        var hashProps = hash.split('/');
        hashProps.shift();
        return hashProps;
    }

		function scrollToItemHandler(e) {
			var title = $(this).text(),
					currentSelected,
					pastEventList = $(".event.past");

			window.location += '#/past';
			pastEventList.map(function (idx, item) {
				if(title === $('.comntent h2',item).text()) {
					currentSelected = $('.comntent h2', item);
					setTimeout(function () {
						$('body').animate({
							scrollTop: currentSelected.offset().top
						}, 10);
					}, 200);
				}
			});

		}

    function hashChangeHandler() {
        var hashProps = hashParser(),
          $eventsWrapper = $(".events-wrapper"),
          $bgHeaderEvents = $(".bg-header-events"),
          activeCssClass = "active",
          headerCssClass = "small-h",
          defaultType = 'upcoming',
          validEventTypeList = ['past', 'upcoming'],
          past = $(".event.past"),
          present = $(".event").not(".past"),
          currentEventType = hashProps[0],
          isUP = currentEventType === defaultType,
          toShow = isUP ? present : past,
          toHide = isUP ? past : present;

        currentEventType = validEventTypeList.indexOf(currentEventType) >=0 ? currentEventType : defaultType;

        window.scrollTo(0,0);
        toHide.hide();
        $("#event-header").html(currentEventType);
        $(".tag-btn").add(".categories a").removeClass(activeCssClass);

        var tag = hashProps[1];
        if(tag){
            $eventsWrapper.hide();
            $bgHeaderEvents.addClass(headerCssClass);
            $(".tag-btn[tag="+tag+"]")
              .add(".categories a[href='#/"+currentEventType + '/' + tag+"']")
              .addClass("active");
        }else{
            $eventsWrapper.show();
            $bgHeaderEvents.removeClass(headerCssClass);
            toShow.show();
            $(".group-title[href='#/"+ currentEventType +"']").addClass(activeCssClass);
            return;
        }

        toShow.hide().filter(function() {
            return $(this).find("[tag="+tag+"]").size() !== 0;
        }).show();

        past.removeClass('compact');

				var str = location.hash;
				var pastEvent = str.includes("#/past/");
				// hide 'cactus image' (no events found) in 'past' pages
        if($(".event").is(":visible") && pastEvent || !location.hash){
					$wrapperNoEvents.hide();
        }
    }

		function popstateHandler() {
			var newHash = location.hash;
			if(!newHash ){
				$wrapperNoEvents.hide(); // hide 'cactus-img' if upcoming exist
				setTimeout(checkNoEvents,5); // show 'cactus-img' if upcoming exist
			}else {
				$('.event.past').removeClass('compact');
			}

			if (newHash ==='#/past' || newHash.includes('#/past')) {
				setTimeout(function () {
					$('.event.past').removeClass('compact');
					$("#event-header").show();
					$wrapperNoEvents.hide();
				},20);
			}
			if (newHash.includes('#/upcoming')) {
				setTimeout(function () {
					$('.event.past').removeClass('compact').hide();
					$("#event-header").hide();
					$wrapperNoEvents.show();
				},20);
			}
		}

		//Back button (HTML5 history) listener, IE11 unsupported
    if (window.history && window.history.pushState) {
			$(window).on('popstate', popstateHandler);
    }

		/*for IE11 support*/
		window.onhashchange = popstateHandler;

    $(window).on('hashchange', hashChangeHandler);
    hashChangeHandler();

		popstateHandler();

		//chenHeaderEvent();

		$(function() {
			setTimeout(function () {
				$('.scroll-to-item').on('click', scrollToItemHandler);
			},1);
		});
</script>
