---
layout: default
---

<div class="body-wrapper">

    {% include home-header.html %}

    <div id="top-promo" class="slice-top-right slice-bottom-right promo xs-center">
        <div class="row">
            <div class="row-container">
                <div class="col-xs-12">
                    <h1 class="white">WELCOME TO <br> THE FAN-CENTRIC <br> PLATFORM.</h1>
                </div>
                <div class="col-xs-12 col-sm-11 col-md-10">
                    <p>Join the Ticketmaster developer network, build innovative applications,
                        and help us deliver those unforgettable moments of joy to fans everywhere.
                    </p>
                </div>
                <div class="col-xs-12" style="margin-top: 40px;">
                    <a href="#" class="tm-btn tm-btn-white rightarrow">GET YOUR API KEY</a>
                    <a href="{{"/products-and-docs/apis/interactive-console/" | prepend: site.baseurl}}" class="tm-btn tm-btn-transparent">EXPLORE THE INTERACTIVE DOCS</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row xs-center columns">
        <div class="row-container">
            <div class="col-xs-12 col-sm-3 xs-border-bottom">
                <div class="content" style="display: block;">
                    {% markdown /home/columns/1.md %}
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 xs-border-bottom">
                <div class="content" style="display: block;">
                    {% markdown /home/columns/2.md %}
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 xs-border-bottom">
                <div class="content" style="display: block;">
                    {% markdown /home/columns/3.md %}
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 xs-border-bottom">
                <div class="content social" style="display: block;">
                    {% markdown /home/columns/4.md %}
                </div>
            </div>
        </div>
    </div>

    <div id="bottom-promo" class="slice-top-right promo xs-center">
        <div class="row">
            <div class="row-container">
                <div class="col-xs-12">
                    <h2 class="white">
                        Groupon is delivering game-winning value with local sports tickets.
                    </h2>
                    <p>
                        Synth polaroid bitters chillwave pickled. Vegan disrupt tousled, Portland keffiyeh aesthetic food truck sriracha cornhole single-origin coffee chu.
                    </p>
                    <div style="margin-top: 36px;">
                        <a href="#" class="tm-btn tm-btn-white">SEE HOW</a>
                    </div>
                    <div class="social-buttons">
                        <a href="#"><img src="/assets/img/home/ic_fb.png"></a>
                        <a href="#"><img src="/assets/img/home/ic_groupon.png"></a>
                        <a href="#"><img src="/assets/img/home/ic_ret.png"></a>
                        <a href="#"><img src="/assets/img/home/ic_fb.png"></a>
                        <a href="#"><img src="/assets/img/home/ic_groupon.png"></a>
                        <a href="#"><img src="/assets/img/home/ic_ret.png"></a>
                        <a href="#"><img src="/assets/img/home/ic_fb.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="promo-social" class="row">
        <div class="row-container">
            <div class="col-xs-12 col-sm-6" style="padding-top: 20px;">
                <h3 class="black">We’re rebuilding the ticketing platform.</h3>
                <p>Follow along on <a href="#">Twitter</a>, <a href="#">Facebook</a>, and <a href="#">Medium</a>.</p>
                <ul>
                    <li class="social-link">
                        <a href="https://twitter.com/tmastertech">
                            <img src="/assets/img/twitter.png">
                        </a>
                    </li>
                    <li class="social-link">
                        <a href="https://www.facebook.com/TicketmasterTech">
                            <img src="/assets/img/facebook.png">
                        </a>
                    </li>
                    <li class="social-link">
                        <a href="https://medium.com/ticketmaster-tech">
                            <img src="/assets/img/medium.png">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6">
                <blockquote class="twitter-tweet" data-conversation="none" lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/nicmcfarlanee">@nicmcfarlanee</a> Resale tickets are tickets posted by individuals who wish to sell them.</p>&mdash; Ticketmaster (@Ticketmaster) <a href="https://twitter.com/Ticketmaster/status/669885490229813248">26 Листопад 2015</a></blockquote>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>

    {% include home-footer.html %}

</div>