---
layout: default
---

<div class="body-wrapper">

    {% include home-header.html %}

    <div id="top-promo" class="slice-top-right slice-bottom-right promo xs-center">
        <div class="row">
            <div class="row-container">
                <div class="col-xs-12">
                    <h1 class="white">WELCOME TO</h1>
                    <h1 class="white">THE FAN-CENTRIC</h1>
                    <h1 class="white">PLATFORM.</h1>
                </div>
                <div class="col-xs-12 col-sm-11 col-md-10">
                    <p>Join the Ticketmaster developer network, build innovative applications,
                        and help us deliver those unforgettable moments of joy to fans everywhere.
                    </p>
                </div>
                <div class="col-xs-12" style="margin-top: 40px;">
                    <a href="#" class="tm-btn tm-btn-white rightarrow">GET YOUR API KEY</a>
                    <a href="#" class="tm-btn tm-btn-transparent">EXPLORE THE INTERACTIVE DOCS</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row xs-center">
        <div class="row-container">
            <div class="col-xs-12 col-sm-3 xs-border-bottom">
                <div class="content" style="display: block;">
                    <p>
                        <img src="/assets/img/Icon1.png" alt="" style="display: block; margin: auto; max-height: 80px;">
                    </p>

                    <h3 class="black" style="text-align: center;" rel="text-align: center;">Open Source</h3>

                    <p>
                        While we finish up the official APIs, SDKs, and widgets, check out the open
                        source offerings we have today.
                    </p>

                    <ul>
                        <li><a href="http://code.ticketmaster.com">Android</a></li>
                        <li><a href="http://code.ticketmaster.com">Backend</a></li>
                        <li><a href="http://code.ticketmaster.com">iOS</a></li>
                        <li><a href="http://code.ticketmaster.com">Web</a></li>
                    </ul>

                </div>
            </div>
            <div class="col-xs-12 col-sm-3 xs-border-bottom">
                <div class="content" style="display: block;">
                    <p>
                        <img src="/assets/img/Icon2.png" alt="" style="display: block; margin: auto; max-height: 80px;">
                    </p>

                    <h3 class="black" style="text-align: center;">Blog</h3>

                    <p>We have a ton of brilliant minds working on some incredibly challenging
                        problems. Read what they have to say about it on our blogs.
                    </p>

                    <ul>
                        <li><a href="http://tech.ticketmaster.com">Ticketmaster Tech blog</a></li>
                        <li><a href="http://tech.ticketmaster.com">Android blog</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 xs-border-bottom">
                <div class="content" style="display: block;">
                    <p>
                        <img src="/assets/img/Icon3.png" alt="" style="display: block; margin: auto; max-height: 80px;">
                    </p>

                    <h3 class="black" style="text-align: center;">Existing Affiliates</h3>

                    <p>Are you an existing partner looking for current developer resources? Look no
                        further!
                    </p>

                    <ul>
                        <li><a href="https://live-livenation.devportal.apigee.com/user/login">Sign in</a></li>
                        <li><a href="http://live-livenation.devportal.apigee.com/apis/commerce">Commerce API</a></li>
                        <li><a href="http://live-livenation.devportal.apigee.com/apis">Legacy docs</a></li>
                    </ul>

                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="content" style="display: block;">
                    <p>
                        <img src="/assets/img/Icon4.png" alt="" style="display: block; margin: auto; max-height: 80px;">
                    </p>

                    <h3 class="black" style="text-align: center;">Social</h3>

                    <p>Follow us on our magical journey of wonder as we move mountains of tech debt
                        to build the Ticketmaster developer platform.
                    </p>

                    <ul>
                        <li class="social-link">
                            <a href="https://twitter.com/tmastertech">
                                <img src="/assets/img/twitter.png">
                            </a>
                        </li>
                        <li class="social-link">
                            <a href="https://www.facebook.com/TicketmasterTech">
                                <img src="/assets/img/facebook.png">
                            </a>
                        </li>
                        <li class="social-link">
                            <a href="https://medium.com/ticketmaster-tech">
                                <img src="/assets/img/medium.png">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="bottom-promo" class="slice-top-right promo xs-center">
        <div class="row">
            <div class="row-container">
                <div class="col-xs-12">
                    <h2 class="white">
                        Groupon is delivering game-winning value with local sports tickets.
                    </h2>
                    <p>
                        Synth polaroid bitters chillwave pickled. Vegan disrupt tousled, Portland keffiyeh aesthetic food truck sriracha cornhole single-origin coffee chu.
                    </p>
                    <div style="margin-top: 36px;">
                        <a href="#" class="tm-btn tm-btn-white">SEE HOW</a>
                    </div>
                    <div class="social-buttons">
                        <a href="#"><img src="/assets/img/home/ic_fb.png"></a>
                        <a href="#"><img src="/assets/img/home/ic_groupon.png"></a>
                        <a href="#"><img src="/assets/img/home/ic_ret.png"></a>
                        <a href="#"><img src="/assets/img/home/ic_fb.png"></a>
                        <a href="#"><img src="/assets/img/home/ic_groupon.png"></a>
                        <a href="#"><img src="/assets/img/home/ic_ret.png"></a>
                        <a href="#"><img src="/assets/img/home/ic_fb.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="promo-social" class="row">
        <div class="row-container">
            <div class="col-xs-12 col-sm-6" style="padding-top: 20px;">
                <h3 class="black">We’re rebuilding the ticketing platform.</h3>
                <p>Follow along on <a href="#">Twitter</a>, <a href="#">Facebook</a>, and <a href="#">Medium</a>.</p>
                <ul>
                    <li class="social-link">
                        <a href="https://twitter.com/tmastertech">
                            <img src="/assets/img/twitter.png">
                        </a>
                    </li>
                    <li class="social-link">
                        <a href="https://www.facebook.com/TicketmasterTech">
                            <img src="/assets/img/facebook.png">
                        </a>
                    </li>
                    <li class="social-link">
                        <a href="https://medium.com/ticketmaster-tech">
                            <img src="/assets/img/medium.png">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6">
                <blockquote class="twitter-tweet" data-conversation="none" lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/nicmcfarlanee">@nicmcfarlanee</a> Resale tickets are tickets posted by individuals who wish to sell them.</p>&mdash; Ticketmaster (@Ticketmaster) <a href="https://twitter.com/Ticketmaster/status/669885490229813248">26 Листопад 2015</a></blockquote>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>

    {% include home-footer.html %}

</div>