---
layout: default
---

{% include home-header.html %}

<div class="body-wrapper documentation">

    <div class="maincontent">
        <div class="row">
            <div class="row-container xs-padding" style="position: relative;">
                {{content}}
            </div>
        </div>
    </div>

    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.page.url = document.URL || "http://developer.ticketmaster.com/";
            this.page.identifier = "{{page.title}}";
        };
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//ticketmasterapi.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>

</div>

{% include home-footer.html %}

<script src="{{"/scripts/components/interactive-console.js" | prepend: site.baseurl }}"></script>