<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
<div class="body-wrapper">
    <div class="top-bar">
        <div class="colors">
            <div class="one rainbow-element">
                <div class="inside"></div>
            </div>
            <div class="two rainbow-element">
                <div class="inside"></div>
            </div>
            <div class="three rainbow-element">
                <div class="inside"></div>
            </div>
            <div class="four rainbow-element">
                <div class="inside"></div>
            </div>
            <div class="five rainbow-element">
                <div class="inside"></div>
            </div>
            <div class="six rainbow-element">
                <div class="inside"></div>
            </div>
        </div>
    </div>
    <div class="maincontent">
        <div class="row header">
            <div class="row-container">
                <div class="col-xs-12 page-column col-sm-6">
                    <div class="content" style="display: block;">
                        <p>
                            <img class="tm-logo" src="/assets/img/devlogo.png" alt=""
                                 style="display: block; margin: auto;">
                        </p>

                        <h1>FUTURE HOME OF THE BEST LIVE EVENT TICKET PLATFORM EVER.</h1>

                        <p class="description">It’s coming. We’re building the Ticketmaster developer
                            platform—APIs, SDKs, drop-in widgets, and full documentation. In the
                            meantime, follow the play-by-play on <a
                                    href="https://twitter.com/tmastertech">Twitter</a>, <a
                                    href="https://www.facebook.com/TicketmasterTech">Facebook</a>, and
                            <a href="https://medium.com/ticketmaster-tech">Medium</a>.
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 page-column col-sm-6">
                    <div class="email-extra">
                        <div class="content" style="display: block;">
                            <div class="email">
                                <div class="subscribe">
                                    <h1 class="email-title">Early-bird list</h1>

                                    <p class="email-kicker">Give us your email and we’ll keep you updated on
                                        progress.</p>
                                    <input type="text" class="form-control input-lg"
                                           placeholder="name@domain.com">
                                    <input type="button" class="btn btn-primary btn-block" value="SIGN UP"
                                           disabled="disabled">

                                    <div class="loading-email"><i class="fa fa-spinner fa-spin"></i></div>
                                    <div class="error"><i class="fa fa-warning"></i></div>
                                </div>
                                <div class="subscription-done">
                                    <h1 class="email-title">Thank you for subscribing!</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row-container">
                <div class="col-xs-12 page-column col-sm-3">
                    <div class="content" style="display: block;">
                        <p>
                            <img src="/assets/img/Icon1.png" alt="" style="display: block; margin: auto;">
                        </p>

                        <h2 style="text-align: center;" rel="text-align: center;">Open Source</h2>

                        <p>
                            While we finish up the official APIs, SDKs, and widgets, check out the open
                            source offerings we have today.
                        </p>

                        <p><a href="http://code.ticketmaster.com">Android</a><a href="#"></a><br>
                        </p>

                        <p><a href="http://code.ticketmaster.com">Backend</a>
                        </p>

                        <p><a href="http://code.ticketmaster.com">iOS</a>
                        </p>

                        <p><a href="http://code.ticketmaster.com">Web</a>
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 page-column col-sm-3">
                    <div class="content" style="display: block;">
                        <p>
                            <img src="/assets/img/Icon2.png" alt="" style="display: block; margin: auto;">
                        </p>

                        <h2 style="text-align: center;">Blog</h2>

                        <p>We have a ton of brilliant minds working on some incredibly challenging
                            problems. Read what they have to say about it on our blogs.
                        </p>

                        <p><a href="http://tech.ticketmaster.com">Ticketmaster Tech blog</a><a
                                href="#"></a><br>
                        </p>

                        <p><a href="http://tech.ticketmaster.com">Android blog</a>
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 page-column col-sm-3">
                    <div class="content" style="display: block;">
                        <p>
                            <img src="/assets/img/Icon3.png" alt="" style="display: block; margin: auto;">
                        </p>

                        <h2 style="text-align: center;">Existing Affiliates</h2>

                        <p>Are you an existing partner looking for current developer resources? Look no
                            further!
                        </p>

                        <p><a href="https://live-livenation.devportal.apigee.com/user/login">Sign in</a>
                        </p>

                        <p><a href="http://live-livenation.devportal.apigee.com/apis/commerce">Commerce
                            API</a>
                        </p>

                        <p><a href="http://live-livenation.devportal.apigee.com/apis">Legacy docs</a>
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 page-column col-sm-3">
                    <div class="content" style="display: block;">
                        <p>
                            <img src="/assets/img/Icon4.png" alt="" style="display: block; margin: auto;">
                        </p>

                        <h2 style="text-align: center;">Social</h2>

                        <p>Follow us on our magical journey of wonder as we move mountains of tech debt
                            to build the Ticketmaster developer platform.
                        </p>

                        <p>
                            <a href="https://twitter.com/tmastertech"><img
                                    src="/assets/img/twitter.png"></a>
                            <a href="https://www.facebook.com/TicketmasterTech"><img
                                    src="/assets/img/facebook.png"></a>
                            <a href="https://medium.com/ticketmaster-tech"><img
                                    src="/assets/img/medium.png"></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row-container">
                <div class="col-xs-12 page-column">
                    <div class="content" style="display: block;">
                        <p>
                            <img src="/assets/img/ticketmaster.png">
                            <span>© 1999–2015 Ticketmaster. All rights reserved.</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>