---
layout: default
---

<div class="top-bar bg-header slice-bottom-left">
    {% include partials/common-header.html %}
    <div class="top-content">
        <div class="row">
            <div class="row-container">
                <div class="col-xs-10 white">
                    <h1>PEOPLE MAKE GREAT THINGS WITH GREAT DATA</h1>
                </div>
                <div class="col-xs-8 description">
                    <p>Portland ugh fashion axe Helvetica, YOLO Echo Park Austin gastropub roof party. Meggings cred before they sold out messenger bag, ugh fashion axe.</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

{% include partials/common-header-small.html %}

<div class="base-content-wrapper partners-lnd">
    <div class="col-lg-12 col-md-12 col-sm-12 content">
        {{ content }}
    </div>
</div>

<div id="footer" class="xs-center slice-top-left">
    {% include partials/footer.html %}
</div>

<script src="{{"/scripts/vendors/slick.min.js" | prepend: site.baseurl }}"></script>
<script src="{{"/scripts/components/partners.js" | prepend: site.baseurl }}"></script>