---
layout: default
category: partners
---

<div class="top-bar bg-header bg-header-partners slice-bottom-left">
    {% include partials/common-header.html %}
</div>

{% include partials/expanded-menu-header.html %}
{% include partials/common-header-small.html %}

<div class="base-content-wrapper">
    <div class="col-lg-3 menu" tabindex="-1">
        {% include partners-menu.html %}
    </div>
    <div class="col-lg-9 col-md-12 col-sm-12 content{% if page.categories[0] == "partners" and page.categories[1] == "distribution" %} distribution{% endif %}">
        {{ content }}
    {% if page.categories[1] != "certified" %}
    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.page.url = document.URL || "http://developer.ticketmaster.com/";
            this.page.identifier = "{{page.title}}";
        };
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//ticketmasterapi.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    {% endif %}
    {% if page.categories[1] == "certified" %}
    <script src="{{"/scripts/vendors/flip-jquery-plugin.js" | prepend: site.baseurl }}"></script>
    <script>
    //init fliper cards
    $(document).ready(function() {
        var $cards = $('.card');
        $cards.flip({
            trigger: "hover"
        });
        $cards.fadeIn('slow');
    });
    </script>
    {% endif %}
    {% if page.categories[1] == "certified" and page.categories[2] == "nexus" %}
    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.page.url = document.URL || "http://developer.ticketmaster.com/";
            this.page.identifier = "{{page.title}}";
        };
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//ticketmasterapi.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    {% endif %}
    </div>
</div>

<div id="footer" class="xs-center slice-top-left">
    {% include partials/footer.html %}
</div>

<script src="{{"/scripts/components/support-side-menu.js" | prepend: site.baseurl }}"></script>
<script src="{{"/scripts/components/menu-highlight.js" | prepend: site.baseurl }}"></script>