<div class="row">
    <div class="row-container">
<div class="col-xs-12 col-md-8" markdown="1">
{{content}}
</div>
<div class="col-xs-12 col-md-4">
<div class="partner" markdown="1">
{{right_column}}
</div>
</div>
    </div>
</div>

<div class="slice-left slice-top-left slice-bottom-left xs-center">
    <div class="row">
        <div class="row-container">
<div class="col-xs-12 col-md-6 clear-pull" markdown="1">
{{api-lead}}
</div>

<div class="col-xs-12 col-md-12">
<div class="col-xs-12 col-md-6" markdown="1">
{{open-api-descr}}
</div>
<div class="col-xs-12 col-md-6" markdown="1">
    <div class="row tiles-wrapper desktop">
        <div class="col-md-6 col-lg-6">
            <div class="flipper flipper-rect-166">
                <div class="card">
                    <div class="front">
                      <div class="img-wrapper">
                        <img src="{{Discovery_API}}" alt="{{Discovery_API_title}}"/>
                      </div>
                    </div>
                    <div class="back">
                      <a href="{{Discovery_API_link}}">
                        <h3>{{Discovery_API_description}}</h3>
                        <p>{{Discovery_API_description}}</p>
                      </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="flipper flipper-rect-166">
                <div class="card">
                    <div class="front">
                      <div class="img-wrapper">
                        <img src="{{Commerce_API}}" alt="{{Commerce_API_title}}"/>
                      </div>
                    </div>
                    <div class="back">
                      <a href="{{Commerce_API_link}}">
                        <h3>{{Commerce_API_description}}</h3>
                        <p>{{Commerce_API_description}}</p>
                      </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="flipper flipper-rect-166">
                <div class="card">
                    <div class="front">
                      <div class="img-wrapper">
                        <img src="{{Publish_API}}" alt="{{Publish_API_title}}"/>
                      </div>
                    </div>
                    <div class="back">
                      <a href="{{Publish_API_link}}">
                        <h3>{{Publish_API_description}}</h3>
                        <p>{{Publish_API_description}}</p>
                      </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="flipper flipper-rect-166">
                <div class="card">
                    <div class="front">
                      <div class="img-wrapper">
                        <img src="{{OAuth_API}}" alt="{{OAuth_API_title}}"/>
                      </div>
                    </div>
                    <div class="back">
                      <a href="{{OAuth_API_link}}">
                        <h3>{{OAuth_API_description}}</h3>
                        <p>{{OAuth_API_description}}</p>
                      </a>
                    </div>
                </div>
            </div>
        </div>
    </div><!--tiles-wrapper-->
</div>
</div>

<div class="col-xs-12 col-md-12" markdown="1">
{{api-button}}
</div>

        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="row sdk">
  <div class="row-container row-sdk">
<div class="col-xs-12 col-md-12" markdown="1">
{{sdk}}
<div class="col-xs-12 col-sm-6 sdk-elem" markdown="1">
{{sdk_left}}
</div>
<div class="col-xs-12 col-sm-6" markdown="1">
{{sdk_right}} 
</div>
</div>
  </div>
</div>

<div class="slice-left affilated slice-top-left slice-bottom-left xs-center">
    <div class="row">
        <div class="row-container">
<div class="col-xs-12 col-md-6 clear-pull" markdown="1">
{{affilated}}
</div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
