---
layout: default
---

{% include home-header.html %}

<div class="single-column tutorials article documentation">

    <div class="maincontent">
        <div class="row" style="position: relative;">
            <div class="col-xs-12 col-sm-6 col-lg-3 has-bg" id="aside-block">
                <div class="wrapper-aside-menu">
                    <h3 class="menu-header" id="aside-heading">
                        Products &amp; Docs
                        <span class="expanded" id="side-menu-btn"></span>
                    </h3>
                    {% include pd-side-menu.html %}
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-lg-9 page-column " id="main-block">
                <div class="content" style="display: block;">
                    <div class="article-wrapper">
                        {{ content }}
                        <div class="side-box"></div>

												{% include disqus.html add_disqusDIV='true'%}

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% include home-footer.html %}

<div class="modal modal-common fs-modal modal-langs" tabindex="-1" role="dialog" aria-labelledby="search-events">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button"></button>
                <h4 id="modal-title" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="highlight"></div>
            </div>
        </div>
    </div>
    <textarea name="copy-clip" id="copy-clip" class="copy-clip"></textarea>
</div>

<!--<script src="{{site.baseurl }}/scripts/components/parser.js"></script>-->
<script src="{{"/scripts/vendors/clipboard.js" | prepend: site.baseurl }}"></script>
<script src="{{"/scripts/components/clipboard-fallback.js" | prepend: site.baseurl }}"></script>
<script src="{{"/scripts/vendors/user-scroll-disabler.js" | prepend: site.baseurl }}"></script>
<script src="{{"/scripts/components/pd-side-menu.js" | prepend: site.baseurl }}"></script>
<script src="{{"/scripts/components/menu-highlight.js" | prepend: site.baseurl }}"></script>
<script src="{{"/scripts/components/request-response.js" | prepend: site.baseurl }}"></script>
<script src="{{"/scripts/components/tutorials-code.js" | prepend: site.baseurl }}"></script>
<script src="{{"/scripts/vendors/jstree.min.js" | prepend: site.baseurl }}"></script>
<script src="{{"/scripts/components/list-collapse.js" | prepend: site.baseurl }}"></script>

<script>
    if(sessionStorage.getItem('tk-api-key') !== null) {
        document.body.innerHTML = document.body.innerHTML.replace(/\{apikey\}/g, "apikey=" + sessionStorage.getItem('tk-api-key'));
    }
</script>
