---
layout: default
---

<div class="top-bar bg-header bg-header-partners slice-bottom-left">
  {% include partials/common-header.html %}
</div>

{% include partials/common-header-small.html %}

<div class="base-content-wrapper">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <h1>WIDGETS</h1>
    <p class="lead">
      The TM Widgets allow partners to setup particular widgets and provide enhanced discovery experience for consumers within copy/paste distance. 
    </p>
    <h2>Widget: Keyword and zip code search </h2>
    <p>
      You can use the widget configurator below to customize the layout of the widget, and grab a small code snippet to insert into your website.
    </p>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 config-block">
    {% include widget-config.html %}
  </div>
  <div class="col-lg-8 col-md-8 col-sm-12">
    <div class="widget-container">
      <div id="ticketmaster-config" data-config="eyJhayI6IktSVW5qcTh5OFNnNWVEcFA5MGROek9LNzBkNFdpVXN0Iiwia3ciOiJ6eiB0b3AiLCJ0Ijp7Im4iOiJ0MSIsImIiOmZhbHNlLCJoIjo1NTAsInciOjM1MCwiYnIiOjR9fQ"></div>
    </div>
  </div>
</div>

<div id="footer" class="xs-center slice-top-left">
  {% include partials/footer.html %}
</div>

<!-- Modal widget-->
<div id="js_widget_modal" class="modal modal-common fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="modal-title col-lg-12 text-center">Title</h3>
        <h5>Sub title</h5>
        <p>In turpis. Sed mollis, eros et ultrices tempus, mauris ipsum aliquam libero, non adipiscing dolor urna a orci.</p>
        <h5>Sub title</h5>
        <p>In turpis. Sed mollis, eros et ultrices tempus, mauris ipsum aliquam libero, non adipiscing dolor urna a orci.</p>
        <div class="modal-footer">
          <button id="js_widget_modal__close" type="button" class="btn btn-submit text-center">Ok</button>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- Modal widget end-->

<script src="{{"/widgets/main/lib/main-widget.js" | prepend: site.baseurl }}"></script>
<script src="{{"/widgets/main/lib/main-widget-config.js" | prepend: site.baseurl }}"></script>

