---
layout: documentation-single
---

<link id="widget-theme-listview" rel="stylesheet" href="{{ "/products-and-docs/widgets/calendar/1.0.0/theme/calendar.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.1.5/css/bootstrap-slider.min.css">


<div class="widget-content-wrapper">
    <div class="row row-native">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1>CALENDAR WIDGET</h1>
            <p class="lead">The TM Widgets allow partners to setup particular widgets and provide enhanced discovery experience for consumers within copy/paste distance.</p>
            <h2>Widget: Keyword search</h2>
            <p>You can use the widget configurator below to customize the layout of the widget, and grab a small code snippet to insert into your website.</p>
        </div>
    </div>

    <div class="row row-native">
        <div class="col-lg-4 config-block">
            {% include widget-calendar-config.html %}
        </div>

        <div class="col-lg-8 col-lg-widget">
            <div class="widget-container-wrapper">
                <div class="widget-container widget-container--calendar">
                    <div
                      w-type="calendar"
                      w-tmapikey=""
                      w-googleapikey=""
                      w-keyword=""
                      w-theme="calendar"
                      w-colorscheme="light"
                      w-width="298"
                      w-height="400"
                      w-size="25"
                      w-border="1"
                      w-borderradius="4"
                      w-postalcode=""
                      w-radius="25"
                      w-country=""
											w-countryCode="US"
											w-city="Los Angeles"
                      w-latlong=""
                      w-period="week"
                      w-period-week="week"
                      w-layout="vertical"
                      w-classificationid=""
                      w-attractionid=""
                      w-promoterid=""
                      w-venueid=""
                      w-affiliateid=""
                      w-segmentid=""
                      w-proportion="standart"
                    ></div>
                </div>
            </div>
            <div class="row hidden-lg row-mobile-control">
                <div class="row row-native">
                    <div class="col-md-3 col-sm-3">
                        <button type="button" class="js_get_widget_code btn btn-block button button-blue widget_config__btn">GET CODE</button>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <button type="button" class="js_reset_widget btn btn-block button-white-gray-border widget_config__btn">RESET</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Modal widget-->
<div id="js_widget_modal" class="modal modal-common fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                <div class="row">
                    <h3 class="modal-title col-lg-12">Embedded code</h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <h4>HTML</h4>
                        <div class="copy-btn" rel="tooltip" data-placement="top" data-original-title="Copy to Clipboard" data-clipboard-target="#widget-code-tag"></div>
                        <code class="language-html widget_dialog__code" data-lang="html" id="widget-code-tag"></code>
                        <h4>JavaScript</h4>
                        <div class="copy-btn" rel="tooltip" data-original-title="Copy to Clipboard" data-placement="top" data-clipboard-target="#widget-code-script"></div>
                        <code class="language-js widget_dialog__code" data-lang="js" id="widget-code-script">
                            &lt;script src="https://ticketmaster-api-staging.github.io/products-and-docs/widgets/calendar/1.0.0/lib/main-widget.js"&gt;&lt;/script&gt;
                        </code>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="js_widget_modal__close" type="button" class="btn btn-submit text-center">Ok</button>
            </div>
        </div>

    </div>
</div>
<!-- Modal widget end-->


<!-- Modal has no code-->
<div id="js_widget_modal_no_code" class="modal modal-common modal-common-sm fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="modal-title col-lg-12 text-center">Warning</h3>
                <p class="text-center">There are no such events</p>
                <div class="modal-footer">
                    <button id="js_widget_modal_no_code__close" type="button" class="btn btn-submit text-center">Ok</button>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Modal has no code end-->


<!-- Modal Map -->
<div id="js_widget_modal_map" class="modal modal-common fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
				<div class="row">
					<h3 class="modal-title col-lg-12">Select Location</h3>
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12">
						<div class="map-holder">
							<input id="pac_input" class="controls" type="text" placeholder="Enter a location">
							<div id="map_latlong"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div id="map_address">
					<div id="map_address_country"></div>
					<div id="map_address_street"></div>
				</div>
				<button id="js_widget_modal_map__close" type="button" class="btn btn-submit text-center">SELECT</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Map end-->

{% include disqus.html add_disqusDIV='true'%}


<script type="text/javascript" src="{{'/scripts/vendors/datetimepicker.js' | prepend: site.baseurl }}"></script>
{%if site.local_test_apikeys == 'true' %}
	<script src="{{'/scripts/components/api-key-service-testKeys.js' | prepend: site.baseurl }}"></script>
{%else%}
	<script src="{{'/scripts/components/api-key-service.js' | prepend: site.baseurl }}"></script>
{%endif%}
<script type="text/javascript">
    // Get default widget API_KEY
    var defaultApiKey = apiKeyService.getApiWidgetsKey();
    // Set default widget API_KEY for config. input and widget
    $('[w-type=calendar]').attr('w-tmapikey', defaultApiKey);
    $('#w-tm-api-key').val(defaultApiKey);
</script>
<script src="{{'/products-and-docs/widgets/calendar/1.0.0/lib/main-widget.js?v=1' | prepend: site.baseurl }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.1.5/bootstrap-slider.min.js"></script>
<script src="{{'/products-and-docs/widgets/calendar/1.0.0/lib/main-widget-config.js?v=1' | prepend: site.baseurl }}"></script>

<!--add copy button to modal-->
<script src="{{'/scripts/vendors/clipboard.js' | prepend: site.baseurl }}"></script>
<script src="{{'/scripts/components/clipboard-fallback.js' | prepend: site.baseurl }}"></script>
<script src="{{'/scripts/components/clipboard-init.js' | prepend: site.baseurl }}"></script>
