---
layout: default
---

<div class="top-bar bg-header bg-header-partners slice-bottom-left">
  {% include partials/common-header.html %}
</div>

{% include partials/common-header-small.html %}

<div class="base-content-wrapper">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <h1>WIDGETS</h1>
    <p class="lead">
      This year, Ticketmaster will be rolling out more new technology than ever before! We want to meet with you, the developer community, to get your feedback
    </p>
    <h2>Main Widget</h2>
    <p>
      This year, Ticketmaster will be rolling out more new technology than ever before! We want to meet with you, the developer community, to get your feedback be rolling out more new technology than ever before! We want to meet with you, the developer community, to get your feedback
    </p>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 config-block">
    {% include widget-config.html %}
  </div>
  <div class="col-lg-8 col-md-8 col-sm-12">
    <div class="widget-container">
      <div id="ticketmaster-config" data-config="eyJhayI6IktSVW5qcTh5OFNnNWVEcFA5MGROek9LNzBkNFdpVXN0Iiwia3ciOiJ6eiB0b3AiLCJ0Ijp7Im4iOiJ0MSIsImIiOmZhbHNlLCJoIjo1NTAsInciOjM1MCwiYnIiOjR9fQ"></div>
    </div>
  </div>
</div>

<div id="footer" class="xs-center slice-top-left">
  {% include partials/footer.html %}
</div>
<script src="{{"/widgets/main/lib/main-widget.js" | prepend: site.baseurl }}"></script>
<script src="{{"/widgets/main/lib/main-widget-config.js" | prepend: site.baseurl }}"></script>

