$side-menu-bg: rgba(183, 201, 211, 0.1);
#api-explorer-v2.api-explorer-v2 {
  .row-container {
    max-width: 1140px;
  }
  h1 {
    margin: 72px auto 48px;
  }

  //common styles
  input[type="text"] {
    padding: 0 15px;
    font-family: "TMSans-Regular", Helvetica, Arial, sans-serif;
    color: #768692;
    font-size: 1em;
    height: 48px;
    box-shadow: 0 0 0 0;
    margin: 0;
  }

  .horizontal-events-tracker {
    margin-top: 20px;
    margin-bottom: 68px;
    max-width: 1145px;
  }

  .api-exp {
    &-side-menu-container {
      border-radius: 4px;
      background-color: $side-menu-bg;
      width: 263px;
    }
    &-main {
      overflow: hidden;
      width: 1140px;
      padding: 0 0 0 293px;
    }

    // page header
    &-header {
      &__title {}
      &__sub-title {
        max-width: 840px;
      }
      &__link {
        white-space: nowrap;
      }
    }
    // side-menu
    &-side-menu {
      width: 263px;
      float: left;
      margin-left: -293px;
      &__container {
        min-height: 458px;
        padding: 10px 0;
        margin: 0;
      }
      &__item {
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        color: #768692;
        &.active {
          color: #009cde;
          background: none;
        }
      }
      &__link {
        color: inherit;
        background: none;
        padding: 7px 21px;
        &:hover {
          color: #009cde;
        }
      }
    }

    // content part
    &-content {
      overflow: hidden;
    }
    &-main-filter {}
    &-filter {
      float: left;
      width: 553px;
      margin: 0 30px 0 0;
      &__api-key {
        max-width: 550px;
      }
    }
    &-methods {
      margin: 46px 0 0;
      &__radio-buttons {
        margin: 6px 0;
      }
      &__label {
        margin: 0;
      }
      &__select {
        float: left;
        width: 262px;
        margin: 13px 0 20px;
      }
    }
    &-method {
      float: left;
      min-width: 97px;
      &__label {
        text-transform: lowercase;
        &::first-letter {
          text-transform: uppercase;
        }
        &:before {
          margin-left: -30px;
          margin-top: 2px;
        }
        &:after {
          top: inherit;
          margin-top: -16px;
          margin-left: -24px;
        }
      }
      &__radio {
        width: 20px;
        height: 20px;
        background-color: #ffffff;
        border: solid 1px rgba(118, 134, 146, 0.7);
        opacity: 1;
      }
    }
    &-custom-select {
      position: relative;
      margin-bottom: 24px;
      &__field {
        margin-bottom: 0;
        padding-right: 50px;
        -webkit-transition: opacity 0.2s ease-in-out;
        -o-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;

        border: 0 !important;
        clip: rect(0 0 0 0) !important;
        height: 1px !important;
        margin: -1px !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: absolute !important;
        width: 1px !important;
      }
      &__placeholder {
        position: relative;
        input {
          margin-bottom: 0;
          cursor: pointer;
          -webkit-transition: opacity 0.2s ease-in-out;
          -o-transition: opacity 0.2s ease-in-out;
          transition: opacity 0.2s ease-in-out;
        }

        &::after {
          content: '';
          position: absolute;
          width: 15px;
          height: 10px;
          margin-top: -2px;
          top: 50%;
          right: 16px;
          -webkit-transition: opacity 0.2s ease-in-out;
          -o-transition: opacity 0.2s ease-in-out;
          transition: opacity 0.2s ease-in-out;
          background: url('../assets/controls/ic-shevron-down.svg') no-repeat;
        }
      }
      &__list {
        display: none;
        position: absolute;
        top: 45px;
        left: 0;
        width: 100%;
        line-height: 24px;
        color: #ffffff;
        z-index: 1051;
        background: #b7c9d3;
        padding: 12px 16px;
        margin: 0;
        font-family: "TMSans-Regular", Helvetica, Arial, sans-serif;

        border-radius: 4px;
        background-color: #b7c9d3;

        &:hover,
        &.active {
          color: #009cde;
        }
      }
      &__item {
        padding: 12px 0;
        cursor: pointer;
        list-style: none;
        -webkit-transition: color 0.1s ease;
        -o-transition: color 0.1s ease;
        transition: color 0.1s ease;

        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          right: 0;
          top: 50%;
          margin-top: -8px;
          display: block;
          width: 16px;
          height: 16px;
          object-fit: contain;
          opacity: 0.5;
          background: url('../assets/img/api-explorer/ic-info.svg') no-repeat;
        }
      }
    }
    &-about {
      float: left;
      width: 264px;
      &__title {
        margin: 13px 0;
        position: relative;
        padding-left: 28px;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        text-align: left;
        color: #b7c9d3;
        &:before {
          content: '';
          width: 20px;
          height: 20px;
          display: inline-block;
          left: 0;
          position: absolute;
          top: 2px;
          line-height: 47px;
          background: url('../assets/img/api-explorer/question-ic-grey.svg') no-repeat;
        }
      }
      &__description {
        p {
          margin: 15px 0 0;
          font-size: 14px;
          font-weight: normal;
          font-style: italic;
          font-stretch: normal;
          line-height: 1.43;
          color: #768692;
          &:first-child {
            margin: 0;
          }
        }
        &-link {
          color: #009cde;
        }
      }
    }

    // params
    &-params {
      margin: 17px 0 0;
      position: relative;
      border-top: 2px dotted #b7c9d3;
      border-bottom: 2px dotted #b7c9d3;
      padding: 35px 0;
      clear: both;
      &-headline {
        position: absolute;
        top: -20px;
        left: 0;
        background: #fff;
        padding: 5px 5px 0 15px;
        &:before {
          content: '';
          background: url('../assets/img/api-explorer/chevron-copy-6.svg') no-repeat;
          position: absolute;
          left: 0;
          top: 16px;
          width: 10px;
          height: 10px;
        }
        &__title {
          margin: 0 10px 0 0;
          font-size: 16px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.7;
          text-align: left;
          color: #b7c9d3;
          float: left;
        }
        &-edit {
          float: left;
          display: none;
        }
        &__btn {
          width: 16px;
          height: 16px;
          padding: 0;
          border: none;
          display: inline-block;
          &-copy {
            background: url('../assets/img/api-explorer/ic-copy.svg') no-repeat;
          }
          &-clear {
            width: 28px;
            height: 28px;
            background: url('../assets/img/api-explorer/ic-clear.svg') no-repeat;
          }
        }
      }

      &-filter {
        float: left;
        width: 583px;
        &-fields {
          overflow: hidden;
        }
        &__field {
          width: 262px;
          margin-bottom: 25px;
          float: left;

          &:nth-child(odd) {
            margin-right: 30px;
          }
          input[type="text"] {}
        }
      }

      &-about {
        margin-left: 583px;
        &__title {
          margin: 13px 0;
          position: relative;
          padding-left: 28px;
          font-size: 16px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          text-align: left;
          color: #b7c9d3;
          &:before {
            content: '';
            width: 20px;
            height: 20px;
            display: inline-block;
            left: 0;
            position: absolute;
            top: 2px;
            line-height: 47px;
            background: url('../assets/img/api-explorer/question-ic-grey.svg') no-repeat;
          }
        }
        &__description {
          p {
            margin: 15px 0 0;
            font-size: 14px;
            font-weight: normal;
            font-style: italic;
            font-stretch: normal;
            line-height: 1.43;
            color: #768692;
            &:first-child {
              margin: 0;
            }
          }
          &-link {
            color: #009cde;
          }
        }
      }
      &.api-exp-params--dirty {
        .api-exp-params-headline-edit {
          display: block;
        }
      }
    }
    &-get-btn {
      &__button {
        float: right;
        width: 264px;
        height: 48px;
        border-radius: 4px;
        background-color: #009cde;
        text-align: center;
        margin: 48px 0 42px;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: 0.8px;
      }
    }
  }
}