$colors: #768692,
					#7d3e9b,
					#c05785,
					#a3a64f,
					#d0236f,
					#a61f84,
					#4fb9b5,
					#b94f5e,
					#545db1,
					#57ad56,
					#dba555,
					#db6b55;

$side-menu-bg: rgba(183, 201, 211, 0.1);
$menu-width: 293px;

// bg images
$img-question-grey: '../assets/img/api-explorer/question-ic-grey.svg';
$img-question-blue: '../assets/img/api-explorer/question-ic-blue.svg';
$img-shevron-down-blue: '../assets/controls/ic-shevron-down.svg';
$img-info: '../assets/img/api-explorer/ic-info.svg';
$img-shevron-up-gray: '../assets/img/api-explorer/chevron-copy-6.svg';
$img-shevron-right-blue: '../assets/img/ic-shevron-right.svg';
$img-shevron-down-white: '../assets/img/ic-shevron-down-white.svg';
$img-copy: '../assets/img/api-explorer/ic-copy.svg';
$img-clear: '../assets/img/api-explorer/ic-clear.svg';
$img-calendar: '../assets/img/api-explorer/ic-calendar.svg';
$img-id: '../assets/img/api-explorer/ic-id.svg';
$img-share: '../assets/img/api-explorer/ic-share.svg';
$img-raw: '../assets/img/api-explorer/ic-view-in-raw.svg';
$img-arrows-left: '../assets/img/arrows-left-small.svg';
$img-arrows-right: '../assets/img/arrows-right-small.svg';
$img-green-checkmark: '../assets/img/ic-chekmark.svg';
$img-green-error: '../assets/img/ic-allert-red.svg';

@import "scroll";
@import "components/panels.component";



.truncate {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.shevron {
	@include transition(all 0.2s linear);

	&.down,
	&[aria-expanded="true"],
	.panel.panel-primary.active & {
		@include rotate(180deg);
	}
}

#api-explorer-v2.api-explorer-v2 {
	.row {
		margin-left: -15px;
		margin-right: -15px;
	}


	.row-container {
    max-width: 1140px;
  }
  h1 {
    margin: 72px auto 48px;
  }

  //common styles
  input[type="text"] {
    padding: 0 15px;
    font-family: "TMSans-Regular", Helvetica, Arial, sans-serif;
    height: 48px;
    box-shadow: 0 0 0 0;
    margin: 0;
    opacity: 0.7;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    text-align: left;
    color: #768692;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px rgba(118, 134, 146, 0.7);
  }

  .horizontal-events-tracker {
    margin-top: 20px;
    margin-bottom: 68px;
    max-width: 1145px;
    border-radius: 4px;
    &__title {
      .title-adds {
        color: #b7c9d3;
      }
    }
  }

  .api-exp {

    &-custom-select {
      &-wrapper {
        position: relative;
      }
      &-layer {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 500;
      }
      &__field {
        @include transition(opacity 0.2s ease-in-out);
        margin-bottom: 0;
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      &__placeholder {
        position: relative;
        input {
          margin-bottom: 0;
          cursor: pointer;
          -webkit-transition: opacity 0.2s ease-in-out;
          -o-transition: opacity 0.2s ease-in-out;
          transition: opacity 0.2s ease-in-out;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 0 35px 0 15px;
          background: transparent;
          &[disabled] {
            cursor: default;
            color: #b7c9d3;
          }
        }
      }
      &__chevron {
        position: absolute;
        width: 15px;
        height: 10px;
        margin-top: -2px;
        top: 50%;
        right: 16px;
        -webkit-transition: opacity 0.2s ease-in-out;
        -o-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
        background: url($img-shevron-down-blue) no-repeat;
        z-index: -1;
      }
      &__list {
        display: none;
        position: absolute;
        top: 48px;
        left: 0;
        width: 100%;
        line-height: 24px;
        color: #ffffff;
        z-index: 1051;
        background: #b7c9d3;
        padding: 12px 16px;
        margin: 0;
        font-family: "TMSans-Regular", Helvetica, Arial, sans-serif;
        border-radius: 4px;
      }
      &__item {
        cursor: pointer;
        list-style: none;
        -webkit-transition: color 0.1s ease;
        -o-transition: color 0.1s ease;
        transition: color 0.1s ease;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        position: relative;
        margin: 0 20px 0 0;
        &-label {
          color: $white;
          display: block;
          margin: 0 21px 0 0;
          padding: 12px 0;
          background: none;
          border: none;
          outline: none;
          width: 100%;
          text-align: left;

          &:hover,
          &.active {
            color: #009cde;
          }
        }
        &-link {
          position: absolute;
          right: -20px;
          top: 50%;
          margin-top: -8px;
          display: block;
          width: 16px;
          height: 16px;
          object-fit: contain;
          opacity: 0.5;
          background: url($img-info) no-repeat;
        }
      }
    }
    &-about {
      &-wrapper {
        float: right;
        width: 264px;
        margin-top: 15px;
      }
      &__content {}
      &__button {
        float: left;
        margin: 2px 0;
        padding: 10px;
        display: inline-block;
        line-height: 47px;
        background: url($img-question-grey) no-repeat;

        &.devices-button:hover,
        &.devices-button:active,
        &[href^="http"]:hover,
        &[href^="http"]:active {
          background: url($img-question-blue) no-repeat;
        }

        &.devices-button {
          display: none;
          border: none;
          outline: none;
        }
      }
      &__title {
        margin: 0 0 13px;
        padding-left: 28px;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        text-align: left;
        color: #b7c9d3;
      }
      &__description {
        p {
          margin: 15px 0 0;
          font-size: 14px;
          font-weight: normal;
          font-style: italic;
          font-stretch: normal;
          line-height: 1.43;
          color: #768692;
          &:first-child {
            margin: 0;
          }
        }
        &-link {
          display: none;
        }
      }
    }
    &-container {
      margin: 0 0 60px;
    }
    &-main {
      padding-right: 294px;
    }
    &-header {
      &__title {}
      &__sub-title {
        max-width: 840px;
      }
      &__link {
        white-space: nowrap;
      }
    }
    &-side-menu {
      width: 263px;
      float: left;
      min-height: 236px;
      background: $side-menu-bg;
      margin-right: 30px;
      border-radius: 4px;
      &__container {
        padding: 10px 0;
        margin: 0;
      }
      &__item {
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        color: #768692;
        &.active {
          color: #009cde;
          background: none;
        }
      }
      &__link {
        color: inherit;
        background: none;
        padding: 7px 21px;
        &:hover {
          color: #009cde;
        }
      }
      .api-exp-side-menu__select {}
    }
    &-key {
      margin: 0 0 0 $menu-width;
      &_input {}
    }
    &-main-filter {
      margin: 0 0 0 $menu-width;
    }
    &-filter {
      float: left;
      width: 553px;
      margin: 0 30px 0 0;
      &__api-key {
        max-width: 550px;
      }
    }
    &-methods {
      margin: 46px 0 0;
      &__radio-buttons {
        margin: 6px 0;
      }
      &__label {
        margin: 0;
      }
      &__select {
        float: left;
        width: 262px;
        margin: 13px 0 0;
      }
    }
    &-method {
      float: left;
      min-width: 97px;
      &__label {
        text-transform: lowercase;
        &::first-letter {
          text-transform: uppercase;
        }
        &:before {
          margin-left: -30px;
          margin-top: 2px;
        }
        &:after {
          top: inherit;
          margin-top: -16px;
          margin-left: -24px;
        }
      }
      &__radio {
        width: 20px;
        height: 20px;
        background-color: #ffffff;
        border: solid 1px rgba(118, 134, 146, 0.7);
        opacity: 1;
      }
    }
    &-params {
      padding: 1px 0;
      clear: both;
      position: relative;
      border-top: 2px dotted #b7c9d3;
      &.closed {
        .api-exp-params-wrapper {
          display: none;
          opacity: 0;
        }
      }
      &-headline {
        position: absolute;
        top: -20px;
        left: 0;
        background: #fff;
        padding: 5px 5px 0 0;
        &__title {
          margin: 0 10px 0 0;
          font-size: 16px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.7;
          text-align: left;
          color: #b7c9d3;
          float: left;
        }
        &-edit {
          float: right;
          display: none;
          opacity: 0;
          @include transition(all, 300ms)
        }
        &__btn {
          width: 16px;
          height: 16px;
          padding: 0;
          border: none;
          display: inline-block;
          &-copy {
            background: url($img-copy) no-repeat;
          }
          &-clear {
            width: 28px;
            height: 28px;
            background: url($img-clear) no-repeat;
          }
        }
      }
      &-wrapper {
        opacity: 1;
        border-bottom: 2px dotted #b7c9d3;
        padding: 35px 0;
        clear: both;
      }
      &-filter {
        margin-right: 264px;
        &-fields {
          //overflow: hidden;
        }
        &__field {
          width: 262px;
          margin-bottom: 25px;
          float: left;
          margin-right: 30px;
          position: relative;
          &.dirty {
            input[type="text"] {}
            span {
              display: none;
            }
          }
          input[type="text"] {
            background: transparent;
          }
        }
        &__placeholder {
          position: absolute;
          z-index: -1;
          top: 50%;
          left: 15px;
          margin-top: -11px;
          display: block;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          text-align: left;
          color: #b7c9d3;
        }
        &__button {
          display: none;
          background: none;
          border: none;
          outline: none;
          position: absolute;
          top: 15px;
          right: 15px;
          width: 20px;
          height: 20px;
          z-index: 1;
        }
        .calendar {
          .api-exp-params-filter__button {
            display: block;
            background: url($img-calendar) 50% 50% no-repeat;
          }
        }
        .popup {
          .api-exp-params-filter__button {
            display: block;
            background: url($img-id) 50% 50% no-repeat;
          }
        }
      }

      &.dirty {
        .api-exp-params-headline-edit {
          display: block;
          opacity: 1;
        }
      }
    }
    &-get-btn {
      &__button {
        float: right;
        width: 264px;
        height: 48px;
        border-radius: 4px;
        background-color: #009cde;
        text-align: center;
        margin: 48px 0 42px;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: 0.8px;
      }
    }
		&-request-list {
			margin: 0;
			&-headline {
				padding: 7px 0 25px;
				clear: both;
				overflow: hidden;
				border-bottom: 1px solid #dadddf;
				.title {
					float: left;
					font: {
						size: 16px;
						weight: bold;
						style: normal;
						stretch: normal;
						family: "TMSans-Bold", Helvetica, Arial, sans-serif;
					}
					line-height: 1.7;
					text-align: left;
					color: #b7c9d3;
					margin: 0 25px 0 0;
				}
				.headline-edit {
					float: left;
				}
			}
			&-item {
				padding-bottom: 0;
				@include transition(all, 0.4s);
				border:none;
				.request {
					position: relative;
					padding: 19px 100px 19px 78px;
					min-height: 65px;

					.edit-controls {
						position: absolute;
						top: 50%;
						right: 0;
						margin-top: -12px;
						.btn {
							margin-left: 15px;
						}
					}
					.view-control {
						position: absolute;
						top: 50%;
						margin-top: -7px;
					}
					.shevron-up {
						left: 14px;
						width: 15px;
						height: 10px;
						margin-top: -10px;
						background: {
							image: url($img-shevron-down-blue);
							position: 50% 50%;
						}
					}
					.color-indicator {
						width: 14px;
						height: 14px;
						border-radius: 100px;
						left: 48px;
					}
					.item_text {
						margin: 0;
						font-size: 16px;
						font-weight: bold;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.5;
						color: #768692;
					}
				}
				.slick-slider {
					.slick-slide {
						outline: none;
					}
					.slick-arrow {
						background: none;
						width: 20px;
						height: 40px;
						opacity: 0.4;
						border-radius: 4px;
						background: {
							color: #768692;
							repeat: no-repeat;
							position: 50% 50%;
						}
						padding: 2px;
						&:before {
							display: none;
						}
						&:active,
						&:hover {
							opacity: 1;
						}
						&.slick-prev {
							background-image: url($img-arrows-left);
							&:hover {
								left: -45px;
							}
						}
						&.slick-next {
							background-image: url($img-arrows-right);
							&:hover {
								right: -45px;
							}
						}

					}
				}
				.response {
					overflow: hidden;
					background-color: rgba(183, 201, 211, 0.1);
					//@include transition(all, 0.4s);
					.container {
						height: 100%;
						max-width: 1140px;
						border-top: 1px solid #dadddf;
						position: relative;
					}
					.nav.nav-tabs {
						margin: 0;
						padding: 15px 0 0 0;
						border-bottom: 2px solid rgba(183, 201, 211, 0.2);

						.tab {
							position: static;
							padding: 7px 23px;
							* {
								margin: 0;
								padding: 0;
							}
							&:first-child {
								margin-left: 30px;
							}
							.tab-btn {
								line-height: 1.5;
								text-align: left;
								background: none;
								color: #b7c9d3;
								outline: none;
								border: none;
								font: {
									size: 16px;
									weight: normal;
									style: normal;
									stretch: normal;
								}
								&:active,
								&:hover {
									border-bottom: 2px solid #009cde;
									margin-bottom: -2px;
									background: none;
									color: #009cde;
								}
							}
							.tab-label {
								font: {
									size: 14px;
									weight: bold;
									style: normal;
									stretch: normal;
								}
								line-height: 1.5;
								color: #b7c9d3;
							}
							.breadcrumbs {
								margin-top: 2px;
								font: {
									size: 14px;
									weight: normal;
									style: normal;
									stretch: normal;
								}
								line-height: 1.5;
								color: #768692;
								width: 770px;
							}
							&.active {
								.tab-btn {
									border-bottom: 2px solid #009cde;
									margin-bottom: -2px;
									background: none;
									color: #009cde;
								}
								.details {
									display: block;
								}
							}
						}
					}

					.prety-json {
						height: 258px;
						p {
							margin: 0;
							overflow: hidden;
						}
						.ps-scrollbar-y {
							width: 7px;
							height: 53px !important;
							border-radius: 4px;
							background-color: rgba(155, 154, 155, 0.5);
						}
						.tm-code-container {
							overflow: hidden !important;
						}
					}
					.blocks {
						padding: 47px 0;
					}
				}
				&.active {
					.response {
						border-bottom: 1px solid #dadddf;
						height: auto;
						.container {
							border: none;
						}
					}
				}
			}
		}
  }

	.btn-icon {
		padding: 10px;
		width: auto;
		height: auto;
		background: {
			color: transparent;
			position: 50% 50%;
		}
		outline: none;
		border: none;
		&:hover,
		&:active{
			box-shadow: none;
		}
	}
	.toggle-btn {
		margin: 0 10px 0 0;
		font: {
			size: 16px;
			weight: bold;
			style: normal;
			stretch: normal;
			family: "TMSans-Bold", Helvetica, Arial, sans-serif;
		}
		line-height: 1.7;
		text-align: left;
		color: #b7c9d3;
		padding: 0 10px 0 15px;
		background: {
			position: 0 50%;
		};
	}
	.shevron-up {
		background: {
			image: url($img-shevron-up-gray);
			repeat: no-repeat;
		}
	}
	.white-shevron-up {
		background: {
			image: url($img-shevron-down-white);
			repeat: no-repeat;
		}
	}
	.white-shevron-right {
		background: {
			image: url($img-shevron-down-white);
			repeat: no-repeat;
		}
	}
	.blue-shevron-right {
		background: {
			image: url($img-shevron-right-blue);
			repeat: no-repeat;
		}
	}
	.btn-clear {
		background: {
			image: url($img-clear);
			repeat: no-repeat;
		}
	}
	.btn-share {
		background: {
			image: url($img-share);
			repeat: no-repeat;
		}
	}
	.btn-copy {
		background: {
			image: url($img-copy);
			repeat: no-repeat;
		}
	}
	.btn-raw {
		background: {
			image: url($img-raw);
			repeat: no-repeat;
		}
	}

	@mixin column-color($color, $opacity: 0.7) {
		border-color: rgba($color, $opacity);
		background-color: rgba($color, $opacity);
		.panel-heading {
			background-color: rgba($color, $opacity);
			border-color: rgba($color, $opacity);
		}
		.panel-body {
			border-top-color: rgba($color, $opacity);
		}

		&.active,
		&:hover {
			border-color: $color;
			.panel-heading {
				background-color: $color;
				border-color: $color;
			}
			.panel-body {
				border-top-color: $color;
			}
		}
	}

	@for $i from 1 through length($colors) {
		.column-color-#{$i} {
			@include column-color(nth($colors, $i));
		}
	}

  //tablet
  @media #{$max-1200} {
    .horizontal-events-tracker {
      margin: 45px 0;
      &__section {
        padding: 20px 0;
      }
      &__title {
        .title-adds {}
      }
    }

    .api-exp {
      &-custom-select {
        &__field {}
        &__placeholder {
          input {}
          &::after {}
        }
        &__list {}
        &__item {
          &-label {
            &:hover,
            &.active {}
          }
          &-link {}
        }
      }

      &-about {
        &.active {
          .api-exp-about {
            &__content {
              display: block;
            }
            &__button.devices-button {
              @include transition(all, 400ms);
              background: url($img-share) 50% no-repeat;
            }
            &-layer {
              display: block;
            }
          }
        }
        &-wrapper {
          width: auto;
          position: relative;
        }
        &-layer {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 500;
          display: none;
        }
        &__button {
          display: none;
          padding: 10px;
          margin: 0 15px;
          background-position: 50%;

          &.devices-button:hover,
          &.devices-button:active,
          &[href^="http"]:hover,
          &[href^="http"]:active {
            background-position: 50%;
          }

          &.devices-button {
            display: inline-block;
          }
        }
        &__content {
          $popup-color: #768692;
          display: none;
          position: absolute;
          z-index: 550;
          width: 160px;
          right: 8px;
          top: 26px;
          height: auto;
          background: $popup-color;
          color: #fff;
          border-radius: 4px;
          padding: 10px;
          &:before {
            content: '';
            position: absolute;
            right: 10px;
            top: -7px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 7.5px 7px 7.5px;
            border-color: transparent transparent $popup-color transparent;
          }

        }
        &__title {
          display: none;
        }
        &__description {
          p {
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            color: #ffffff;
          }
          &-link {
            display: inline;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            color: #ffffff;
            text-decoration: underline;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }

      &-content {
        padding: 0 24px;
      }
      // side-menu
      &-side-menu {
        min-height: 0;
        background: none;
        max-width: 220px;
        &-container {
          width: auto;
        }
        &__container {
        }
        &__item {
          &.active {
          }
        }
        &__link {
          &:hover {
          }
        }
      }
      &-container {
      }
      &-main {
        padding-right: 65px;
      }
      // content part
      &-key {
        margin: 0 0 0 250px;
        &_input {
        }
      }
      &-main-filter {
        clear: both;
        margin: 0 -65px 0 0;
        &:before, &:after {
          content: " ";
          display: table;
        }
      }
      &-filter {
        float: none;
        width: auto;
        margin: 0;
      }
      &-methods {
        margin: 47px 0 0;
        &__radio-buttons {}
        &__label {}
        &__select {
          width: 220px;
        }
      }
      &-method {
        min-width: 125px;
        &__label {
          &::first-letter {}
          &:before {}
          &:after {}
        }
        &__radio {}
      }

      // params
      &-params {
        &-wrapper {
        }
        &-headline {
          &:before {
          }
          &__title {
          }
          &-edit {
          }
          &__btn {
            &-copy {
            }
            &-clear {
            }
          }
        }
        &-filter {
          margin: 0;
          &-fields {
            margin-left: -30px;
          }
          &__field {
            width: 220px;
            margin: 0 0 25px 30px;
            input[type="text"] {
            }
          }
        }

        &.api-exp-params--dirty {
          .api-exp-params-headline-edit {
          }
        }
      }
      &-get-btn {
        &__button {
          margin: 60px 0 98px;
          width: 220px;
        }
      }
    }
  } //tablet
  //mobile
  @media #{$max-768} {
    .horizontal-events-tracker {
      margin: 45px -15px;
      &__section {
        padding: 20px 15px;
      }
      &__title {
        width: 50%;
        float: left;
        text-align: left;
        font-size: 14px;
        .title-adds {}
      }
      &__counter {
        margin: 0;
      }
    }

    .api-exp {
      &-custom-select {
        &__field {
        }
        &__placeholder {
          input {
          }
          &::after {
          }
        }
        &__list {
        }
        &__item {
          &-label {
            &:hover,
            &.active {
            }
          }
          &-link {
          }
        }
      }

      &-about {
        position: absolute;
        top: 70px;
        right: -16px;
        &__button {
        }
        &__content {
        }
        &__title {
        }
        &__description {
          p {
          }
          &-link {
          }
        }
      }

      &-container {
        position: relative;
      }
      &-content {
        padding: 0 15px;
      }
      &-header {
        &__title {
          margin: 48px 0;
        }
        &__sub-title {}
        &__link {}
      }
      // side-menu
      &-side-menu {
        max-width: 100%;
        width: 100%;
        margin: 0;
        &-container {
        }
        &__container {
        }
        &__item {
          &.active {
          }
        }
        &__link {
          &:hover {
          }
        }
      }
      &-main {
        padding: 0;
      }
      // content part
      &-key {
        clear: both;
        padding: 23px 0 0 0;
        margin: 0 30px 0 0;
        position: relative;
        &_input {
        }
      }
      &-main-filter {
        margin: 0;
        &:before, &:after {
        }
      }
      &-filter {
      }
      &-methods {
        &__radio-buttons {
        }
        &__label {
        }
        &__select {
          width: 100%;
          float: none;
          margin: 25px 0 0;
        }
      }
      &-method {
        min-width: 105px;
        &__label {
          &::first-letter {
          }
          &:before {
          }
          &:after {
          }
        }
        &__radio {
        }
      }

      // params
      &-params {
        &-wrapper {
        }
        &-headline {
          &:before {
          }
          &__title {
          }
          &-edit {
          }
          &__btn {
            &-copy {
            }
            &-clear {
            }
          }
        }
        &-filter {
          &-fields {
            margin: 0;
          }
          &__field {
            width: 100%;
            margin: 0 0 25px;
            input[type="text"] {
            }
          }
        }

        &.api-exp-params--dirty {
          .api-exp-params-headline-edit {
          }
        }
      }
      &-get-btn {
        &__button {
          margin: 60px 0 50px;
          width: 100%;
        }
      }
    }
  } //mobile

}
@media #{$max-768} {
  .top-bar.bg-header {
    margin: 0 0 48px;
  }
}
